@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:wght@100;200;300;400&family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&family=Oswald:wght@200;300;400&family=Quicksand:wght@300;400;500;600;700&family=Roboto+Slab:wght@900&display=swap');

.App {
  text-align: center;
}

body {
  font-family: 'Oswald';
}

h1 {
  font-size: 48px;
}

p {
  font-size: 16px;
  font-weight: 100px;
  letter-spacing: 0.5px;
}

img {
  margin: 10px;
  object-fit: cover;
  border-radius: 1em;
}

hr {
  margin: 20px 25%;
}

.gallery {
  margin: 0 5%;
}

button {
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  background: none;
}

button:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.spinner-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}