.wrapper{
    align-items: center;
}
.box{
    height: 30vh;
    width: 15vw;
    position: relative;
    top: 50vh;
    border: solid 2px black;
    animation-name: moveup;
    animation-duration: 5s;
    animation-direction: alternate;

}
@keyframes moveup {
    
    from{
        to: 50vh;
        background-color: brown;
    }
    to{
        top: 0vh;
        background-color: chartreuse;
    }
}
.box2{
    height: 30vh;
    width: 15vw;
    position: absolute;
    top: 0vh;
    border: solid 2px black;
    animation-name: movedown;
    animation-duration: 5s;
    animation-direction: alternate;
    

}
@keyframes movedown {
    
    from{
        to: 0vh;
        background-color: brown;
    }
    to{
        top: 50vh;
        background-color: chartreuse;
    }
}
