//fonts from google
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
//Home
// body{
//     background-color: rgb(129, 67, 187);
// }

* {
  margin: 0;
  padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
    .dropbtn {
        background-color: #87568d;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        border-radius: 4px;
      }
      
      .dropdown_profile {
        position: relative;
        display: inline-block;
        left: 80%;
        top: -60px;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color: rgb(124, 118, 118);}
      
      .dropdown_profile:hover .dropdown-content {display: block;}
      
       .dropdown_profile:hover .dropbtn {background-color: #343634;}

}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 65px;
  background-color: black;
  color: white;
  cursor: pointer;
}

nav ul li {
  padding: 0 12px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.brand img {
  width: 44px;
  padding: 0 8px;
}

.Daily_mix_container {
  min-height: 72vh;
  background-color: black;
  color: white;
  font-family: "Varela Round", sans-serif;
  display: flex;
  margin: 10px auto;
  width: 70%;
  border-radius: 12px;
  padding: 34px;
  background-image: url("img/bg.jpg");
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  ._dailymix {
    cursor: pointer;
    margin-top: 80px;
    margin-left: -240px;
    width: 165px;
    height: 30px;
    gap: 10px;
    padding: 3vw;
    border: 2px solid white;
    img {
      position: relative;
      top: -30px;
      left: -28px;
      height: 80px;
      width: 84px;
      border-radius: 4px;
    }
    h4 {
      position: relative;
      top: -90px;
      left: 65px;
    }
  }
  ._dailymix1 {
    cursor: pointer;
    text-align: left;
    margin-top: -90px;
    margin-left: 60px;
    grid-row: 3/3;
    width: 160px;
    height: 30px;
    padding: 3vw;
    border: 2px solid white;
    img {
      position: relative;
      top: -30px;
      left: -28px;
      height: 80px;
      width: 84px;
      border-radius: 4px;
    }
    h4 {
      position: relative;
      top: -90px;
      left: 65px;
    }
  }
}

.your_top_mixes {
  position: relative;
  left: 150px;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100px;
  color: white;
  font-family: "Varela Round", sans-serif;

  .mixes {
    cursor: pointer;
    border-radius: 4px;
    border: 3px solid white;
    width: 200px;
    height: 90px;
    margin-right: 100px;
    h4 {
      position: relative;
      top: -30px;
      text-align: right;
    }
    img {
      position: relative;
      top: 0px;
      left: 0px;
      height: 80px;
      width: 84px;
      border-radius: 4px;
    }
  }
}

.bottom {
  position: sticky;
  bottom: 0;
  height: 130px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons {
  margin-top: 14px;
}
.icons i {
  cursor: pointer;
}

.songInfo {
  position: absolute;
  left: 10vw;
  font-family: "Varela Round", sans-serif;
}

.songInfo img {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

//--- search ------------------------------------

.searchPage {
  background-color: rgb(19, 20, 24);
  display: grid;
  grid-template-columns: minmax(2ch, 20ch) 1fr minmax(2ch, 20ch);
  grid-template-rows: minmax(2ch, 10ch) 1fr minmax(2ch, 10ch);
  width: 100vw;
  height: 100vh;
  &__main {
    & h1 {
      color: white;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      padding: 15px;
    }
    &--history {
      display: flex;
      gap: 1em;
      &--1 {
        width: 100px;
        height: 100px;
        background-color: rgb(47, 50, 61);
        border-radius: 0.5em;
      }
      &--2 {
        width: 100px;
        height: 100px;
        background-color: rgb(47, 50, 61);
        border-radius: 0.5em;
      }
      &--3 {
        width: 100px;
        height: 100px;
        background-color: rgb(47, 50, 61);
        border-radius: 0.5em;
      }
      &--4 {
        width: 100px;
        height: 100px;
        background-color: rgb(47, 50, 61);
        border-radius: 0.5em;
      }

      &--5 {
        width: 100px;
        height: 100px;
        background-color: rgb(47, 50, 61);
        border-radius: 0.5em;
      }

      &--6 {
        width: 100px;
        height: 100px;
        background-color: rgb(47, 50, 61);
        border-radius: 0.5em;
      }

      &--7 {
        width: 100px;
        height: 100px;
        background-color: rgb(47, 50, 61);
        border-radius: 0.5em;
      }

      &--8 {
        width: 100px;
        height: 100px;
        background-color: rgb(47, 50, 61);
        border-radius: 0.5em;
      }
    }
  }

  &__sideBar {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
    // border: 2px solid rgb(179, 255, 57);
    background-color: rgb(12, 11, 11);

    &--nav {
      display: flex;
      //   border: 2px solid rgb(169, 172, 165);
      flex-direction: column;
      padding: 15%;
      line-height: 2.5em;
      & a {
        color: rgb(212, 212, 212);
        &:link {
          text-decoration: none;
        }
      }
    }
  }

  &__searchBar {
    grid-column-start: span 2;
    // border: 2px solid rgb(49, 224, 255);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    &--search {
    //   border: 2px solid rgb(49, 224, 255);

      & input {
        border-radius: 15px;
        height: 30px;
        width: 350px;
      }
    }
    &--nav {
    //   border: 2px solid rgb(49, 224, 255);

      color: white;
    }
  }
  &__bottomBar {
    padding: 15px;
    // border: 2px solid rgb(221, 111, 194);
    grid-row: 3;
    grid-column: 1 / span 3;
    background-color: rgb(39, 39, 39);
    display: flex;
    gap: 350px;
    &--player {
    //   border: 2px solid rgb(221, 111, 194);

      & audio {
        width: 550px;
      }
    }
    &--albumInfo {
      border: 2px solid rgb(221, 111, 194);

      &--pic {
        img {
          height: 60px;
          width: 60px;
        }
      }
    }
  }
}

//library
