body {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 26vh;

  &__sort {
    margin-bottom: 70px;

    border-bottom: solid rgb(199, 199, 199) 1px;
    border-top: solid rgb(199, 199, 199) 1px;

    select {
      border: none;
      height: 44px;
      padding: 10px;
      font-size: 20px;
      margin: 7px;

      &:hover {
        border: solid 1px black;
      }
    }
  }

  .usp__bar {
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: center;
    min-height: 40px;
    max-height: 40px;
    justify-content: space-around;
    background-color: black;
    margin-bottom: 30px;

    p {
      transition: ease 1s;
      color: white;
      font-size: 10px;
      line-height: 10px;

      &:hover {
        transform: scale(1.5);

      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid rgb(199, 199, 199) 1px;
    align-items: baseline;
    height: 107px;

    &__side--menu {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 135px;
      height: 100%;
      margin-right: 35px;

      i {
        transition: ease 1s;

        &:hover {
          text-shadow: 0 0 15px rgb(119, 11, 11);
        }
      }

    }

    &--searchBar {
      padding: 2px;
      display: flex;
      align-items: center;
      margin-right: -385px;
      height: 30px;
      transition: border ease 1s;
      // border: solid thin #e9ecef;
      background-color: #e9ecef;

      &:hover {
        border: solid black 1px;
      }

      input {
        background-color: #e9ecef;
        border: none;
      }
    }

    &--logo {
      width: 90px;
      height: 90px;

      img {
        height: 100%;
        width: 100%;



      }
    }

    &--nav {
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      bottom: 30px;
      gap: 40px;
      justify-content: center;

      .nav__item {
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding-bottom: 10px;

        &:hover {
          border-bottom: solid black 3px;
        }
      }




    }
  }


}

.container {
  width: 100%;
  // height: 648px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (max-width: 150ch) {
    width: 100%;

  }

  h2 {
    margin-left: 70px;
    font-size: 50px;
  }

  p {
    margin-left: 70px;

  }

  .box {
    position: absolute;
    margin-left: 70px;
    color: white;

    button {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 200px;
      background-color: #00000040;
      color: white;
      border: none;

      &:hover {
        color: rgb(83, 81, 81);

      }

      h4 {
        font-size: 35px;
      }
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 150px;
  padding-right: 150px;

  @media only screen and (max-width: 150ch) {
    padding-left: 50px;
    padding-right: 20px;

  }

  &--header {

    h1 {
      font-size: 50px;


    }

    p {
      width: 60%;
    }

    .breadCrumbs {
      ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding: 0;

        li {


          a {
            text-decoration: none;
            color: black;

            &:hover {
              background-color: #000;
              color: white;
            }
          }

          display: flex;
          flex-direction: row;
          list-style: none;
        }

        li:nth-child(1) {
          font-size: 12px;

        }

        li:nth-child(2) {
          margin-right: 5px;
          font-weight: bold;
          text-decoration: underline;
          font-size: 25px;

        }
      }
    }
  }
}



.cards {

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  position: relative;

  @media only screen and (max-width: 225ch) {
    grid-template-columns: repeat(4, 1fr);

  }

  @media only screen and (max-width: 200ch) {
    grid-template-columns: repeat(3, 1fr);

  }

  @media only screen and (max-width: 150ch) {
    grid-template-columns: repeat(2, 1fr);

  }

  @media only screen and (max-width: 75ch) {
    grid-template-columns: repeat(1, 1fr);

  }

  &__item {
    height: fit-content;
    width: 300px;
    // height: 420px;
    transition: ease 1s;

    &:hover {
      border: 1px solid black;

    }

    .fa-heart {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 8;
      margin: 10px;

      &:active {
        background-color: red;
      }
    }


    .picture {
      transition: ease 5s;

      width: 303px;
      height: 303px;
      position: relative;
      display: inline-block;

      .img-top {
        transition: ease 5s;

        display: none;
        position: absolute;
        top: 0;
        left: 0;
      }

      &:hover .img-top {
        display: inline;
      }


      img {
        display: block;
        width: 99%;
        height: 100%;
      }
    }
  }
}

.footer {

  &__top {
    display: flex;
    flex-direction: row;
    background-color: #ede734;
    color: #000;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-around;

    button {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 200px;
      background-color: black;
      color: white;
      border: none;

      &:hover {
        color: rgb(83, 81, 81);

      }

      h4 {
        font-size: 35px;
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    ul {
      li {
        list-style-type: none;

        &:hover {
          color: #ede734;
          text-decoration: underline;
          text-decoration-color: #000;
        }

      }

      .footer--headline {
        font-size: 25px;
        font-weight: 900;

        &:hover {
          color: #000;
          text-decoration: none;
        }
      }
    }
  }

  &__lower {
    padding-top: 20px;
    border-top: 1px solid #616363;
    color: #c8cbcc;
    background-color: #363738;
    font-size: 12px;
    height: 300px;

    ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content: space-around;

      li {
        border-right: 1px solid #a2a2a2;
        width: 80px;
      }

      a {
        text-decoration: none;
        color: #c8cbcc;
      }

      img {
        width: 15px;
        height: 11px;
        margin-right: 8px;
      }
    }


  }
}