.memeCard{
    
  img{
      width:25vw;
      height:50vh;
      transition: transform .2s;
      border-radius: 5px;
     
      &:hover{
        transform: scale(1.4); 
        
        
      }
  }
  .topic{
      color:aqua;
     
  }
  .rating{
      font-size:20px;
      text-align:right;
  }
}