body,
html {
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

main {
    width: 50%;
    margin: 2% auto;
}

.info {
    background-color: rgb(255, 255, 255);
    width: 50%;
    margin: 5% auto;
    padding: 3%;
    border-radius: 0.5rem;
    position: relative;

    &__top {
        background-color: blue;
        height: 9vh;
        position: relative;

        &--p {
            color: white;
            position: absolute;
            top: 0vh;
            right: 5%;
        }
    }

    &__img {
        width: 20%;
        position: absolute;
        top: 7vh;
        left: 10%;
        background-color: rgb(197, 255, 130);
        border: 2px solid red;
        border-radius: 0.2rem;
    }

    &__nameDate {
        margin: 1% 0 0 35%;

        h3,
        p {
            padding: 0;
            margin: 0;
        }
    }

    &__dryInfo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        width: 80%;
    }
}