body{
    font-family:sans-serif;
    /*min-width:1900px;*/
    margin:0px;
    margin-top:8px;

}
.menu {
    display: grid;
    grid-template-columns: 25% 9% 10% 9% 10% 10% 10%;
    height: 31px;
}

.menu.home{
    background-color: black;
}


.nav {
    display: flex;
    height: 30px;
    width: auto;
    align-items: center;
    justify-content: center;
    border-right: 1px solid gray;
    text-decoration: none;
}

.search {
    position: relative;
    top: 13%;
    left: 10%;
}


.logo img {
    position: absolute;
    width: 80px;
    height: auto;
    left: 293px;
    /*top: -1.9%;*/
}


.logo img:hover {
    cursor: pointer;
}


.signIn, .home, .news, .sport, .reel {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.signIn:hover {
    border-bottom: 4px solid blue;
    cursor: pointer;

}

.nav.home:hover {
    border-bottom: 4px solid rgb(23, 23, 24);
    cursor: pointer;
}

.nav.news:hover {
    border-bottom: 4px solid rgb(185, 31, 31);
    cursor: pointer;
}

.sport:hover {
    border-bottom: 4px solid rgb(240, 225, 27);
    cursor: pointer;
}

.reel:hover {
    border-bottom: 4px solid rgb(7, 29, 226);
    cursor: pointer;
}




.red-strap {
    display: grid;
    grid-template-columns: 36%;
    
    justify-items: end;
    
    
}


.red-strap.home{
    color: rgb(8, 8, 8);
    font-size: 25px;
    opacity:0.7;
    background-color: #eed8d8;
    font-weight:bold;
    padding-top:30px;
    height:50px;
    

}



.contentHome {
    padding-top:20px;
    display: grid;
    grid-template-columns: 15% 35% 35% 15%;
    height: 31px;
    gap:5px;
}

p{
    font-weight:bold;
    opacity:0.8;
  }

  
  p.small.news{
      border-left: 3px solid red;
      padding-left:0px;
  }
   p.small.sport{
      border-left: 3px solid rgb(239, 243, 26);
  }
   p.small.future{
      border-left: 3px solid rgb(0, 0, 0);
  }

.big >img{
    height:auto;
    width:100%;
}

.small >img{
    height:auto;
    width:100%;
}

.small.topHome{
    display: grid;   
   grid-template-columns:1fr 1fr ;
   grid-template-rows:2;
   grid-row-gap:8px;
   grid-column-gap:8px;
   
}
.big.topHome>h1 {
    inline-size:500px;
    position:absolute;
    color:rgb(255, 254, 254);
    top:275px;
    padding-left:7px;
    font-weight:lighter;

}
.big.topHome>p {
    inline-size:500px;
    position:absolute;
    color:rgb(255, 254, 254);
    top:350px;
    padding-left:7px;
    opacity:0.9;
    
    

}
.big.topHome>p.small {
    inline-size:500px;
    position:absolute;
    color:rgb(255, 254, 254);
    top:390px; 
    opacity:0.9;   
    

}

.small.tophome>h3{
    inline-size:255px;
    position:absolute;
    color:rgb(255, 255, 255);
    top:170px;
    font-size:20px;
    font-weight:lighter;
    padding:5px;
    opacity:0.9;
    



}


p.small.news{
    position:absolute;
    color:rgb(255, 255, 255);
    top:225px;   
    font-weight:lighter;
    padding:5px;
    opacity:0.9;    
}

.small.tophome.bottom>h3{
    inline-size:255px;
    position:absolute;
    color:rgb(255, 255, 255);  
    top:340px;  
    font-size:20px;
    font-weight:lighter;
    padding:5px;
    opacity:none;   


}


p.small.sport{
    position:absolute;
    color:rgb(255, 255, 255);
    top:390px;   
    font-weight:lighter;
    padding:5px;
    opacity:0.9;    
}

p.small.future{
    position:absolute;
    color:rgb(255, 255, 255);
    top:390px;   
    font-weight:lighter;
    padding:5px;
    opacity:0.9;    
    
}

/*.newsstrip{
    display:grid;
    grid-template-columns: 25% 20% 46% 10%;
    background-color:rgb(255, 246, 246);

}
.newsstripred>h2{
    border-left: 5px solid red;
}


.thirdcontent.first>img{
    width:100%;
    height:auto;
}

.thirdcontent.second>img{
    width:100%;
    height:auto;
}

.thirdcontent.third>img{
    width:100%;
    height:200px;
}

.thirdcontent{
    display:grid;
    grid-template-columns:18% 23.3% 23.3% 23.3% 15%;
}

.News.thirdcontent.first{
    display:grid;
    grid-template-rows:1/2;
    
    
}


.sportstrip{
    display:grid;
    grid-template-columns: 25% 20% 46% 10%;
    background-color:rgb(255, 246, 246);
    margin-bottom:10px;

}
.sportstripred>h2{
    border-left: 5px solid rgb(255, 251, 0);
}*/

/*I couldnt get the news strip to be lower 
like under my top content gird
so i had to make up a space between it with nothing inside*/
.randomspace{
    width:1000px;
    height:300px;
}

 .News.strip{
     display:grid;
     grid-template-columns: 15% 35% 35% 15%;
     padding:20px;
     
     background-color: #eed8d8;
     font-size:25px;
     font-family:sans-serif;
     font-weight:bolder;
     opacity:0.7;
     
 }

 .newscontent{
     display:grid;
     grid-template-columns:15% 23.3% 23.3% 23.3% 15%;
     padding-top:15px;
     grid-gap:8px;
 }

 .newsred{
 border-left:5px solid red;
 opacity:none;
 }
 .news>img{
     height:auto;
     width:100%;
 }