.App {
    background-image: url("https://assets.nflxext.com/ffe/siteui/vlv3/6e32b96a-d4be-4e44-a19b-1bd2d2279b51/fd2d510d-0f3a-45a0-b8aa-33e4342cdf3e/IL-he-20220516-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    height: 100vh;
    max-width: fit-content;


    &__header {
        margin-left: 10px;
        display: flex;
        justify-content: space-between;

        img {
            -webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            margin-left: 80%;
            width: 20%;
        }

    }

    &__log {
        cursor: pointer;
        background-color: red;
        height: 40px;
        border-radius: 10px;
        border: none;
        font-size: 1.5em;
        margin-top: 0.3%;
        color: rgb(247, 247, 247);
    }

    &__card {
        height: 200px;
        width: 200px;
        background-color: red;
    }

}

.user {

    position: relative;
    left: 30%;
    top: 5%;
    display: flex;
    gap: 10px;
   

    img {
        width: 120px;
        height: 120px;
        border: none;
    }

    &__card {
        text-align: center;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    }

    &__h3 {
        color: white;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    &__deleteimg {
        img {
            width: 10px;
        }
    }




}

  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }

@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}