.Box {
    text-align: center;
    padding-left: 25%;
    width: 50%;
    
    font-family:  'Helvetica Neue',Helvetica,Arial,sans-serif;

    &__h1 {
        font-size: 4em;
        color: white;
        font-weight: bold;
    }

    &__h3 {
        font-size: 2em;
        color: white;
        font-weight: bold;
    }

    &__h5 {
        color: white;
        font-size: 1.5em;
        font-weight: bold;
    }

    &__input {
      
        display: flex;
        width: 100%;
        padding-left: 30%;
    }

    &__text {
        height: 50px;
        width: 80%;
        width: 30%;
        font-size: 1em;
    }

    &__submit {
        cursor: pointer;
        height: 55px;
        background-color: red;
        color: white;
        border: none;
        font-style: italic;
    }




}