.layout{
    background-image:url('https://img.freepik.com/free-vector/memphis-seamless-pattern_25819-137.jpg?w=2000') ;
    height:100vh;
    &--header{
       
        top:0px;
        height:100px;
        width:100%;
        background-color: rgb(255, 168, 168);
        text-align: center;
        &--links{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
             font-weight:bold;
               

          
          
        }
    }
    &--footer{
        position: absolute;
        bottom:0;
        height:20px;
        width:100%;
        background-color: lightcoral;
    }
}