.layout{
    &--header{
       
        top:0px;
        height:100px;
        width:100%;
        background-color: lightcoral;
        text-align: center;
        &--links{
            display:flex;
            flex-direction: row;
            justify-content: space-around;
             font-weight:bold;
               

          
          
        }
    }
    &--footer{
        position: absolute;
        bottom:0;
        height:20px;
        width:100%;
        background-color: lightcoral;
    }
}