body{
   background-color: rgb(43, 41, 41);  
}

.main {
 display: grid;
 grid-template-rows: repeat(8, 110px);
 @media only screen and(max-width:600px){
     grid-template-rows: repeat(8, 76px);
 }
   .bottom{
       grid-row: 8;
       @media only screen and(max-width:1200px) {
           grid-row: 8;
       }
       @media only screen and(max-width:900px) {
           grid-row: 6;
       }
       @media only screen and(max-width:600px){
           grid-row: 7;
       }
   }
    .header {
        display: grid;
        grid-template-columns: repeat(20, 120px);
        grid-template-rows: repeat(4, 20px);
        gap: 5px;
        background-color: black;
        height: 130px;
        width: 100vw;
  @media only screen and(max-width:1200px) {
    grid-template-columns: repeat(20, 60px);
    grid-template-rows: repeat(4, 20px);
            }
            @media only screen and(max-width:900px) {
                grid-template-columns: repeat(10, 60px);
                grid-template-rows: repeat(4, 20px);
                        }
                        @media only screen and(max-width:600px) {
                            grid-template-columns: repeat(20, 60px);
                            grid-template-rows: repeat(4, 5px);
                            display: grid!important;
                           //display: inline;
                           width: 100%;
                           height: 100px;
                           
                                    }
                                    .sidebar{
                                        display: none;
                                        width: 90px;
                                        height: 90px;
                                        @media only screen and(max-width:600px) {
                                          grid-column: 8;  
                                          grid-row: 2;
                                          display: grid;
                                            grid-template-rows: repeat(3, 15px);
                                            gap: 5px;
                                        }
                                        i.fa-bars{
                                           font-size: xx-large;
                                            display: none;
                                           
                                        
                                        @media only screen and(max-width:600px){
                                            
                                          display: block;
                                       
                                       
                                        }
                                        i.fa-times{
                                            display: none;
                                            @media only screen and(max-width:600px){
                                                display: none;
                                            }
                                        }
                                    }
                                }
                                .sidebar:hover .fa-times{
                                                display: block;
                                            }
                                            .sidebar:hover .fa-bars{
                                                display: none;
                                            }
        .button {
            border-radius: 10px;
            border: 2px solid white;
            width: 200px;
            height: 60px;
            display: grid;
            grid-template-columns: repeat(4, 20px);
            grid-template-rows: repeat(3, 10px);
            @media only screen and(max-width:1200px) {
                border-radius: 5px;
                border: 2px solid white;
                width: 100px;
                grid-template-columns: repeat(4, 20px);
                grid-template-rows: repeat(3, 10px);
            }
            @media only screen and(max-width:900px) {
               width: 50px;
               border-radius: 5px;
               grid-template-columns: repeat(3, 10px);
               grid-template-rows: repeat(3, 15px);
                        }
                 }
                 @media only screen and(max-width:600px) {
                 
                    display: none;
                            }
 .button:hover{
                border: 2px solid red;
                width: 200px;
                height: 60px;
                border-radius: 10px;
                @media only screen and(max-width:1200px) {
                    width: 100px;
                    height: 60px;
                    border-radius: 5px;  
                }
                @media only screen and(max-width:900px) {
                    width: 50px;
                    border-radius: 5px;
                    .gamepass{
                        width: 100px;
                    }
                            }
                            @media only screen and(max-width:600px) {
                              display: none;
                                        }
            }

        .logo {
            grid-column: 1/1;
            grid-row: 1;
            width: 500px;
            height: 37px;
            display: grid;
            grid-template-rows: repeat(3, 16px);

            h1 {
                grid-row: 2;
                font-size: xx-large;
                padding-left: 10px;
                align-items: center;
                color: red;
                font-family: 'Luckiest Guy', cursive; 
                @media only screen and(max-width:1200px) {
                    font-size: 23px;
                }
                @media only screen and(max-width:900px) {
                   font-size: 20px;
                            }
            }
            @media only screen and(max-width:600px) {
               text-align: center;
               font-size: x-large;
               grid-column: 4;
               width: 200px;
                        }
        }

        .search {
            background-color: rgb(54, 50, 50);
            width: 200px;
            height: 50px;
            border-radius: 10px;
            grid-column: 5/11;
            grid-row: 2;
            display: grid;
            grid-template-columns: repeat(8, 25px);
            grid-template-rows: repeat(3, 16px);
            @media only screen and(max-width:1200px) {
                width: 100px;
                grid-column: 5;
            }
            @media only screen and(max-width:900px) {
               width: 50px;
               grid-template-columns: repeat(3, 10px);
               grid-template-rows: repeat(3, 10px);
                        }
                        @media only screen and(max-width:600px) {
                            width: 50px;
                            grid-column: 2;
                            grid-row: 2;
                            grid-template-columns: repeat(3, 15px);
                            grid-template-rows: repeat(3, 15px);
                                    }
            i {
                grid-row: 2;
                grid-column: 8;
                color: red;
                @media only screen and(max-width:1200px) {
                    grid-column: 4;
                }
                @media only screen and(max-width:900px) {
                    grid-column: 2;
                    grid-row: 2;
                    display: block;
                            }
                           
            }
           
        }
         .search:hover{
            background-color: rgb(44, 42, 42);
            }
        .games {
            grid-column: 7/11;
            @media only screen and(max-width:1200px) {
                grid-column: 7;
            }
            @media only screen and(max-width:900px) {
                grid-column: 6;
                        }
                        @media only screen and(max-width:600px) {
                            display: none;
                                    }
        }
 h5 {
                grid-column: 8;
                grid-row: 1;
                color: white;
                font-family: 'Ubuntu', sans-serif;
                @media only screen and(max-width:1200px) {
                    grid-column: 4;
                    font-size: 12px;
                }
                @media only screen and(max-width:900px) {
                    display: none;
                            }
                            @media only screen and(max-width:600px) {
                                display: none;
                                        }
            } 
             i {
                grid-column: 2;
                grid-row: 2;
                color: white;
                @media only screen and(max-width:1200px) {
                    height: 50%;
                    width: 50%;
                    grid-column: 2;
                    font-size: 1.53em;
                }
                @media only screen and(max-width:900px) {
                   grid-column: 2;
                   grid-row: 2;
                            }
                            @media only screen and(max-width:600px) {
                                display: none;
                                        }
            } 
        .hot {
            grid-column: 9/11;
            grid-row: 2;
            @media only screen and(max-width:1200px) {
                grid-column: 9;
            }
            @media only screen and(max-width:900px) {
                grid-column: 7;
                        }
                        @media only screen and(max-width:600px) {
                            display: none;
                                    }
        }
        .multy {
            grid-column: 11;
            grid-row: 2;
            @media only screen and(max-width:1200px) {
                grid-column: 11;
            }
            @media only screen and(max-width:900px) {
             grid-column: 8;
                        }
                        @media only screen and(max-width:600px) {
                            display: none;
                                    }
        }
         a{
            grid-row: 2;
                text-decoration: none;
            }
        .gamepass {
            grid-column: 13/13;
            grid-row: 2;
            @media only screen and(max-width:1200px) {
                grid-column: 13;
            }
            @media only screen and(max-width:900px) {
                grid-column: 9;
                width: 100px;
                        }
                        @media only screen and(max-width:600px) {
                            display: none;
                                    }
                                
                                    
            p {
                span{
                    font-family: 'Luckiest Guy', cursive;
                }
                grid-column: 4;
                grid-row: 1;
                color: white;
                font-family: 'Ubuntu', sans-serif;
                @media only screen and(max-width:1200px) {
                    font-size: 13px;
                    grid-column: 2;
                }
            }
        }
        .gamepass:hover{
            @media only screen and(max-width:900px){
                width: 100px;;
            }
        }
        .log {
            grid-column: 15/15;
            grid-row: 1;
            display: grid;
         
            grid-template-rows: repeat(5, 20px);
            @media only screen and(max-width:1200px) {
              grid-column: 15;  
            }
            @media only screen and(max-width:900px) {
               grid-column: 11;
                        }
                        @media only screen and(max-width:600px) {
                            display: none;
                                    }

            p {
                color: white;
               text-align: center;
                 width: 80px;
                height: 20px;
                border-radius: 5px;
                font-family: 'Orbitron', sans-serif;
                font-size: 14px;
               a{
                   color: white;
               }
               @media only screen and(max-width:900px){
                   width: 50px;
                   font-size: 10px;
               }
            }

            .register {
                background-color: green; 
                grid-row: 2;
                grid-column: 1;
              
            }
            .register:hover{
                background-color: rgb(9, 80, 9);
                color: rgb(172, 180, 172);
            }
            .login {
                background-color: rgb(64, 65, 64);
                grid-row: 4;
                grid-column: 1;
               
            }
            .login:hover{
                background-color: rgb(44, 42, 42);
                color: rgb(172, 180, 172);
            }
        }

    }
    .menu{
           text-align: center;
            display: grid;
            grid-template-columns: repeat(15, 100px);
            grid-template-rows: repeat(8, 60px);
            gap: 5px;
            background-color: rgb(43, 41, 41);
           
            width: 100vW;
            @media only screen and(max-width:1200px) {
             grid-template-columns: repeat(20, 50px);   
            }
            @media only screen and(max-width:900px){
                grid-template-columns: repeat(20, 30px);   
            }
            @media only screen and(max-width:600px){
                grid-template-rows: repeat(8, 48px);
            }
            h3{
                color: white;
                width: 200px;
                grid-row: 1;
                grid-column: 1;
                font-family: 'Orbitron', sans-serif;
                @media only screen and(max-width:1200px) {
                    font-size: 15px;
                }
                @media only screen and(max-width:600px){
                    display: none;
                }
            }
            .box{
                border-radius: 10px;
                width: 200px;
                height: 200px;
            display: grid;
            grid-template-columns: repeat(3, 80px);
            grid-template-rows: repeat(9, 29px);
            gap: 5px;
            @media only screen and(max-width:1200px) {
                width: 150px;
                height: 150px;
            }
            @media only screen and(max-width:900px) {
                width: 100px;
                height: 100px;
            }
     
            }
            .big{
                background-image: url("https://img.redbull.com/images/c_fill,w_1200,h_630,g_auto,f_auto,q_auto/redbullcom/2015/09/10/1331746896846_2/mario-slipping-up-in-super-smash-bros.-for-wii-u.jpg");
                grid-column: 2/4;
                grid-row: 2/4;
                width: 450px;
                height: 450px;
                background-size: cover; 
                   display: grid;
                grid-template-columns: repeat(3, 80px);
                grid-template-rows: repeat(8, 50px);
                gap: 5px;
                @media only screen and(max-width:1200px) {
                    width: 225px;
                    height: 225px;
                }
                @media only screen and(max-width:900px) {
                    width: 120px;
                    height: 120px;
                }
                @media only screen and(max-width:600px) {
                    width: 100px;
                    height: 100px;
                }
             }
             .big:hover{
               
                background-image: url("https://www.icegif.com/wp-content/uploads/mario-icegif.gif");
             }
           
                .bigback{
                   background-color: rgb(32, 32, 32);
                    width: 450px;
                    height: 50px;
                    grid-column: 1;
                    grid-row: 9;
                    text-align: center;
                    
                    border-radius: 0 0 10px 10px;
                    @media only screen and(max-width:1200px) {
                      display: none;
                    }
                }
                .back{
                    background-color: rgb(32, 32, 32);
                     width: 200px;
                     height: 30px;
                     grid-column: 1;
                     grid-row: 6;
                     text-align: center;
                     
                     border-radius: 0 0 10px 10px;
                     @media only screen and(max-width:1200px) {
                        display: none;
                      }
                 }
                h6{
                    margin-top: 5px;
                    text-align: center;
                    color: white;
                    font-family: 'ubuntu', sans-serif;
                    font-size: 14px;
                }
               
          
            .chicken{
                background-image: url("https://images-na.ssl-images-amazon.com/images/I/81Wz8NjXn2L.png");
                grid-column: 7;
                grid-row: 2;
                background-size: cover;
                @media only screen and(max-width:1200px) {
                    grid-column: 7;
                  }
                  @media only screen and(max-width:900px) {
                  grid-column: 6;
                }
                @media only screen and(max-width:600px){
                    grid-column: 5;
                }
                
            }
            .chicken:hover{
                background-image: url("http://1.bp.blogspot.com/-YAlqr9D2nZI/TZr7YZGQ5cI/AAAAAAAACX8/uUpll-ULDJY/s1600/game+chicken+invadersr+red+eggs+happy+easter+edition+free+e-card+3d-gif-animation.blogspot.com++.gif");
            }
            .sonic{
                background-image: url("https://play-lh.googleusercontent.com/pXly8kVcgfUumyUeMuMqQbmUhZPl29U8deW-clBzowtvU6qDMvvOFTCvIu4y5Q9rYw");
                grid-column: 7;
                grid-row: 6;
                background-size: cover; 
                @media only screen and(max-width:1200px) {
                    grid-column:2;
                  }
                  @media only screen and(max-width:900px) {
                    grid-column: 6;
                    grid-row: 4;
                  }
                  @media only screen and(max-width:600px){
                      grid-column: 5;
                      grid-row: 4;
                  }
            } 
            .sonic:hover{
              background-image: url("https://i.gifer.com/fxXl.gif");  
            }
            .snake{
                background-image: url("https://penoff.files.wordpress.com/2018/11/lv_snakegame_pic1.jpg");
                grid-column: 9;
                grid-row: 2;
                background-size: cover; 
                @media only screen and(max-width:1200px) {
                    grid-column: 10;
                  }
                  @media only screen and(max-width:900px) {
                    grid-column: 9;
                  }
                  @media only screen and(max-width:600px){
                      grid-column: 8;
                  }
            }
            .snake:hover{
                background-image: url("https://c.tenor.com/1LdvUxoO-MEAAAAC/snake-game.gif");
            }
            .soliter{
                background-image: url("https://image.winudf.com/v2/image1/Y29tLm1ldGFmdW4uc29saXRhaXJlLmZyZWUuaGRfc2NyZWVuXzBfMTU1NTQ5NzAzNF8wMDc/screen-0.jpg?fakeurl=1&type=.jpg");
                grid-column: 9;
                grid-row: 6;
                background-size: cover; 
                @media only screen and(max-width:1200px) {
                    grid-column: 5;
                  } 
                  @media only screen and(max-width:900px) {
                    grid-column: 9;
                    grid-row: 4;
                  }
                  @media only screen and(max-width:600px){
                      grid-column: 8;
                  }
            }
            .soliter:hover{
                background-image: url("https://media1.giphy.com/media/Ceq96LjQ9Wmpq/giphy.gif");
            }
            .mine{
                background-image: url("https://minesweeper.online/img/homepage/intermediate.png");
                grid-column: 11;
                grid-row: 2;
                background-size: cover;
                @media only screen and(max-width:1200px) {
                    grid-column: 13;
                  } 
                  @media only screen and(max-width:900px) {
                    grid-column: 12;
                  }
                  @media only screen and(max-width:600px){
                      grid-column: 11;
                  }
            }
            .mine:hover{
                background-image: url("https://i.gifer.com/8FUh.gif");
            }
            .gold{
                background-image: url("https://images.sftcdn.net/images/t_app-cover-l,f_auto/p/1470df30-6003-11e8-84a5-659daf40e04e/4194924781/gold-miner-tycoon-screenshot.jpg");
                grid-column: 11;
                grid-row: 6;
                background-size: cover; 
                @media only screen and(max-width:1200px) {
                    grid-column: 8;
                  }
                  @media only screen and(max-width:900px) {
                    grid-column: 12;
                    grid-row: 4;
                  }
                  @media only screen and(max-width:600px){
                      grid-column: 11;
                  }
            }
            .gold:hover{
                background-image: url("https://thumbs.gfycat.com/EmotionalUncomfortableIntermediateegret-size_restricted.gif");
            }
            .trouble{
                background-image: url("https://tcf.admeen.org/game/2500/2101/320x160/bubble-trouble.jpg");
                grid-column: 13;
                grid-row: 2;
                background-size: cover; 
                @media only screen and(max-width:1200px) {
                    grid-column: 16;
                  }
                  @media only screen and(max-width:900px) {
                    grid-column: 2;
                    grid-row: 6;
                    
                  }
                  
            }
            .trouble:hover{
                background-image: url("https://i2.wp.com/cliqist.com/wp-content/uploads/2014/09/bubblestruggle1.gif");
            }
            .pacman{
                background-image: url("http://cdn.cnn.com/cnnnext/dam/assets/200518114838-05-pac-man-40.jpg");
                grid-column: 13;
                grid-row: 6;
                background-size: cover; 
                @media only screen and(max-width:1200px) {
                    grid-column: 11;
                  }
                  @media only screen and(max-width:900px) {
                    grid-column: 2;
                    grid-row: 4;
                  }
            }
            .pacman:hover{
                background-image: url("https://i.gifer.com/T7n.gif");
            }
            .mahjong{
                background-image: url("https://images.crazygames.com/mahjongclassic.png?auto=format,compress&q=75&cs=strip&ch=DPR&w=1200&h=630&fit=crop");
                grid-column: 15;
                grid-row: 2;
                background-size: cover; 
                @media only screen and(max-width:1200px) {
                    grid-column: 14;
                    grid-row: 6;
                  }
                  @media only screen and(max-width:900px) {
                    grid-column: 6;
                    grid-row: 6;
                  }
                  @media only screen and(max-width:600px){
                      grid-column: 5;
                  }
            }
            .mahjong:hover{
                background-image: url("https://home.halden.net/vkp/vkp/mahjongg_pocketpc_top321.gif");
            }
            .bubbles{
                background-image: url("https://tcf.admeen.org/game/500/307/400x246/bubble-shooter.jpg");
                grid-column: 15;
                grid-row: 6;
                background-size: cover; 
                @media only screen and(max-width:1200px) {
                    grid-column: 2;
                    grid-row: 9;
                  }
                  @media only screen and(max-width:900px) {
                    grid-column: 9;
                    grid-row: 6;
                  }
                  @media only screen and(max-width:600px){
                      grid-column: 8;
                  }
            }
            .bubbles:hover{
                background-image: url("https://thumbs.gfycat.com/HappygoluckyMeatyArmadillo-size_restricted.gif");
            }
            .fortnite{
                background-image: url("https://blog.playstation.com/uploads/2021/09/9a38099960fc9a8aacc65667fcf4adff897fefa8.jpg");
                width: 450px;
                height: 450px;
                grid-row: 2;
                grid-column: 2;
                background-size: cover; 
                display: grid;
                grid-template-columns: repeat(3, 80px);
                grid-template-rows: repeat(8, 50px);
                gap: 5px;
                @media only screen and(max-width:1200px) {
                    width: 225px;
                    height: 225px;
                  }
                  @media only screen and(max-width:900px){
                      width: 120px;
                      height: 120px;
                  }
                  @media only screen and(max-width:600px){
                      height: 100px;
                      width: 100px;
                      grid-row: 1;
                  }
             }
             .fortnite:hover{
                background-image: url("https://c.tenor.com/ebq17apWjzAAAAAd/fortnite-game.gif");
             }
             .roblox{
                background-image: url("https://play-lh.googleusercontent.com/3QAgSY5a64aDHgXNRYJJCB5vpg3E3b74741VfSUlDxY2dcENKM1lmbWsu5jazYdo_kY");
                grid-column: 7;
                grid-row: 2;
                background-size: cover; 
                @media only screen and(max-width:1200px){
                    grid-column: 7;
                }
                @media only screen and(max-width:900px){
                   grid-column: 6; 
                }
                @media only screen and(max-width:600px){
                    grid-column: 5;
                    grid-row: 1;
                }
            }
            .roblox:hover{
                background-image: url("https://c.tenor.com/k-tMDS6LtogAAAAd/roblox-video-game.gif");
            }
            .ninja{
                background-image: url("https://global-uploads.webflow.com/5fa23905123118739c5e21e2/5fa35757cd1ee8e0782115b1_GoldenEmber_2208x1242_English.png");
                grid-column: 7;
                grid-row: 6;
                background-size: cover; 
                  @media only screen and(max-width:1200px) {
                    grid-column: 2;
                }
                @media only screen and(max-width:900px){
                    grid-row: 4;
                }
                @media only screen and(max-width:600px){
                    grid-row: 3;
                }
            } 
            .ninja:hover{
                background-image: url("https://i.gifer.com/Jqfc.gif");
            }
            .kings{
                background-image: url("https://play-lh.googleusercontent.com/ydhJHwyI45Ttxgs9MPv-vKhz0St4hMSm5-OF4j4wXnfuJsuSe6WCUc8RlMLFJf-b8w");
                grid-column: 9;
                grid-row: 2;
                background-size: cover; 
                @media only screen and(max-width:1200px) {
                    grid-column: 10;
                }
                @media only screen and(max-width:900px){
                    grid-column: 9;
                }
                @media only screen and(max-width:600px){
                    grid-column: 8;
                    grid-row: 1;
                }
            }
            .kings:hover{
                background-image: url("https://ludocious.com/pics/boardkings/bk_spoiler_small.gif");
            }
            .angry{
                background-image: url("https://store-images.s-microsoft.com/image/apps.21535.13744440662592274.122321b0-7d72-42e1-9e1f-5a59e44ad1f1.459a16fe-1dde-4f14-bf95-e48f0140b1bc");
                grid-column: 9;
                grid-row: 6;
                background-size: cover; 
                @media only screen and(max-width:1200px) {
                    grid-column: 5;
                }
                @media only screen and(max-width:900px){
                    grid-column:12;
                    grid-row: 4;
                }
                @media only screen and(max-width:600px){
                    grid-column: 11;
                    grid-row: 3;
                }
            }
            .angry:hover{
                background-image: url("https://hips.hearstapps.com/digitalspyuk.cdnds.net/15/31/angry-birds-2-3.gif?resize=480:*");
            }
            .jetpack{
                background-image: url("https://play-lh.googleusercontent.com/C6yUHZ8TEnQAnO2RohIhj2jGTkViYA85nugC-RTyvM-gpTa7B1LFtnt8o3T7WZHXnw=w412-h220-rw");
                grid-column: 11;
                grid-row: 2;
                background-size: cover;
                @media only screen and(max-width:1200px) { 
                    grid-column: 13;
                }
                @media only screen and(max-width:900px){
                    grid-column: 12;
                }
                @media only screen and(max-width:600px){
                    grid-column: 11;
                    grid-row: 1;
                }
            }
            .jetpack:hover{
                background-image: url("https://i.makeagif.com/media/4-28-2016/x3WFSt.gif");
            }
            .run{
                background-image: url("https://i.pinimg.com/originals/c4/bd/5a/c4bd5a495584cff579d5a0cb39127f28.jpg");
                grid-column: 11;
                grid-row: 6;
                background-size: cover; 
                @media only screen and(max-width:1200px) {
                    grid-column: 8;
                }
                @media only screen and(max-width:900px){
                    grid-column: 6;
                    grid-row: 4;
                }
                @media only screen and(max-width:600px){
                    grid-column: 5;
                    grid-row: 3;
                }
            }
            .run:hover{
                background-image: url("https://64.media.tumblr.com/48d5b73f3bf44e16b6c499df5329ea93/tumblr_mqwxa7eUOf1rvn2ylo1_250.gifv");
            }
            .bus{
                background-image: url("https://img.poki.com/cdn-cgi/image/quality=78,width=600,height=600,fit=cover,g=0.5x0.5,f=auto/d3356dfa9e6845d4e26f779fa405bb4e.jpeg");
                grid-column: 13;
                grid-row: 2;
                background-size: cover; 
                @media only screen and(max-width:1200px) {
                    grid-column: 16;
                }
                @media only screen and(max-width:900px){
                    grid-column: 9;
                    grid-row: 6;
                }
                @media only screen and(max-width:600px){
                    grid-column: 8;
                    grid-row: 5;
                }
            }
            .bus:hover{
                background-image: url("https://i.pinimg.com/originals/82/29/af/8229afc87f2ec0e057d4c2da50c7f6d5.gif");
            }
            .candy{
                background-image: url("https://play-lh.googleusercontent.com/TLUeelx8wcpEzf3hoqeLxPs3ai1tdGtAZTIFkNqy3gbDp1NPpNFTOzSFJDvZ9narFS0");
                grid-column: 13;
                grid-row: 6;
                background-size: cover; 
                @media only screen and(max-width:1200px) {
                    grid-column: 11;
                }
                @media only screen and(max-width:900px){
                    grid-column: 9;
                    grid-row: 4;
                }
                @media only screen and(max-width:600px){
                    grid-column: 8;
                    grid-row: 3;
                }
            }
            .candy:hover{
                background-image: url("https://thumbs.gfycat.com/CostlyFrighteningHorseshoebat-size_restricted.gif");
            }
            .witch{
                background-image: url("http://thetrendingtimes.com/wp-content/uploads/2020/10/bubblewitch3.png");
                grid-column: 15;
                grid-row: 2;
                background-size: cover; 
                @media only screen and(max-width:1200px) {
                    grid-column:2;
                    grid-row: 9;
                }
                @media only screen and(max-width:900px){
                   grid-row: 6; 
                }
                @media only screen and(max-width:600px){
                    grid-row: 5;
                }
            }
            .witch:hover{
                background-image: url("https://i.gifer.com/TPrj.gif");
            }
            .water{
                background-image: url("https://imgs2.dab3games.com/tangle-master-3d-game.png");
                grid-column: 15;
                grid-row: 6;
                background-size: cover; 
                @media only screen and(max-width:1200px) {
                    grid-column: 14;
                }
                @media only screen and(max-width:900px){
                    grid-column: 6;
                    grid-row: 6;
                }
                @media only screen and(max-width:600px){
                    grid-column: 5;
                    grid-row: 5;
                }
            }
            .water:hover{
                background-image: url("https://lunalabs.io/wp-content/uploads/2020/08/ezgif.com-video-to-gif.gif");
            }
            }
          
    }

