.box{
    background-color:rgb(120, 108, 213);
    padding:10px;
    border:1px solid black;
    margin:0 auto ;
 .adjustment{
     font-size:smaller
 }
 h1{
     font-weight: 100;
 }
 .shipping{
     color:rgb(60, 194, 194)
 }
 .price{
     font-weight: bolder;
     color:black
 }

}
