body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.upperHeader {
    width: 100%;
    color: white;
    background-color: #121921;
    height: 5vh;
    display: flex;
    gap: 10vw;
    padding: 10px 0 0 10px;

    &__logo img {
        height: 5vh;
        width: 5vw;
    }

    &__searchBar {
        width: 60vw;
        padding-left: 90px;
    }

    input {
        display: inline-block;
        width: 100%;
    }

    &__flag {
        color: red;
    }
}

.lowerHeader {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    background-color: #232f3e;
    width: 100%;
    height: 5vh;
    padding: 10px 0 0 15px;

    &__item {
        padding: 0 1px;
    }

    a {
        text-decoration: none;
        color: blanchedalmond;
    }

    a:hover {
        border: white 1px solid;
    }
}

/* Service-Page */
// h1 {
//     text-align: center;
//     margin-top: 100px;
//     margin-bottom: -300px;
//     font-size: 35px;
//     font-weight: 500;
// }

h2 {
    text-align: right;
    font-weight: 500;
}
h3 {
    text-align: right;
    font-weight: 500;
    color: rgb(161, 161, 161);
}

.serviceGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 300px 370px 300px;
    gap: 10px;
    width: 50vw;
    height: 20vh;
    align-content: center;

    &__title {
        grid-column: span 3;
        text-align: center;
        & h1 {
            font-weight: 500;
        }
    }
    &__option {
        display: flex;
        flex-direction: row-reverse;
        border: 1px solid rgb(90, 90, 90);
        padding: 10px;
        border-radius: 7px;
        max-width: 300px;
        max-height: 100px;
    }
    &__option img {
        justify-content: left;
        padding-top: -100px;
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    &__option:hover {
        background-image: linear-gradient(to bottom right, rgb(255, 255, 255), rgb(154, 154, 154));
        & h2 {
            color: orange;
        }
    }
}
