body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.upperHeader{
    width: 100%;
    color: white;
    background-color: #121921;
    height: 5vh;
    display: flex;
    gap:10vw;
    padding: 10px 0 0 10px;


&__logo img{
   height: 5vh;
   width: 5vw;
}

&__searchBar{
    width: 60vw;
    padding-left: 90px;
   }

input{
    display: inline-block;
    width: 100%;
}

&__flag{
    color: red;
}
}

.lowerHeader{

    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    background-color: #232f3e;
    width: 100%;
    height: 5vh;
    padding: 10px 0 0 15px;
    
    
&__item{

    padding: 0 1px;
}

a{
    text-decoration: none;
    color: blanchedalmond;
}

a:hover{
    border: white 1px solid;
}


}

/*Gift page*/

.registryGrid{
    width: 70vw;
    height: 55vh;
    margin: 100px 300px 300px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 6fr 16fr;
    justify-content: center;
    gap: 2vw;

    &__title{
        grid-column: span 5;
        text-align: center;
    }

    &__gift{
        text-align: center;
        background-color: #eee;
        font-family: 'Oswald', sans-serif;

        img{
            width: 100%;
        }

        :hover{
            cursor: pointer;
        }
        
    }
}
    

}

/*Deal page*/

.dealGrid{
    margin-top:30px;
    display:grid;  
    border:black 2px solid;    
    grid-template-columns: repeat(12, 130px);
    grid-template-rows:160px 200px;
    justify-content: center;
     
    &__runner{
    
        grid-column:span 12;
        border:black 2px solid;    

      img{
          width:100%;
          max-height:100%;
      }  
  
    }
    &__dealbox--dealbox1{
     width:auto;
     border:black 2px solid;


    }
    &__dealbox{
        border:black 2px solid;

        img{
            width:100%;
            height:50%;
            cursor:pointer;
        }

        p{

        }

        h4{
            font-weight:normal;
            color:black;
          
        }
        h3{
            color:red
            font-weight:normal;
        }

    }
    

  }


 /* Service-Page */

