
body{
    position: relative;
}

.box{
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: relative;
    top: 50px;
    right: 20%

}

.box :nth-child(2){
    background-color: blue;
    position: relative;
    top: 50px;
    left: 20%
}