
body{
    position: relative;
}

.box{
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    top: 50px;
    right: 20%;
    
    &:nth-child(2){
        background-color: blue;
        position: relative;
        top: 50px;
        left: 20%
    }

}

