body {
    margin:0;
    padding: 0;
}
#container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
justify-content: space-around;
align-items: center;
.text{
    font-size: 3em;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 600;
}
.first{
    font-size: 2em;
    font-weight: 300;
}
.second{
    font-size: 1em;
    font-weight: 100;
}
}