.box{
    background: blue;
    min-width: 7vw;
    height: 200px;
    border: 2px solid red;
    color: red;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

}
.wrapper{
    background: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}