.box{
    background-color: rgb(148, 148, 245);
    border: 2px solid gold;
    text-align: center;
    color:indigo;
    min-height: 4vh;
    min-width: 4vw;
}

.wrapper{
    background: gray;
    padding: 20px;
    display: flex;
    flex-direction: column;
}