body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}

.Container {
    display:grid;
    height: 100vh;
    grid-template-columns: 10rem 1fr 1fr 1fr;
    grid-template-rows: 0.1fr auto;
    grid-template-areas: 
    "Header Header Header Header"
    "Navbar Roi Wil Yael";
    grid-gap:0.2rem;

    &__Header {
        border:1px solid red;
        grid-area:Header;
        
        &__HContent {
            height: 100%;
            display: grid;
            grid-template-columns: 20% auto 20%;
            border: 1px solid red;

            &__Avatar {
                display: grid;
                border: 1px solid red;
                justify-content: center;
                align-items: center;
                
                img {
                    width: 70px;
                    height: 70px;
                }
            }

            &__Welcome {
                display: grid;
                color:white;
                align-items: center;
            }
            
            &__MenuBtn {
                display: grid;
                border: 1px solid red;
                justify-content: center;
                align-items: center;
                
                img {
                    width: 70px;
                    height: 70px;
                }
            }
        }
    }
    &__Navbar {
        border:1px solid red;
        color: white;
        grid-area:Navbar;
        
        }

    &__Roi {
        border:1px solid red;
        color: white;
        grid-area:Roi;
    }
    &__Wil {
        border:1px solid red;
        color: white;
        grid-area:Wil;
    }
    &__Yael {
        border:1px solid red;
        color: white;
        grid-area:Yael;
    }

}
@media only screen and (max-width:1000px) {
    
    .Container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.8fr 0.1fr;
        grid-template-areas: 
        "Header"
        "Wil"
        "Navbar";

        &__Yael {
                display: none;
        }
        &__Roi {
                display: none;
        }
    }
}