.wrapper {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: crimson;
}

.box {
}
img {
  position: relative;
}
.boxP {
  position: absolute;
  background-color: cyan;
}
