*{
    background-color: rgb(184, 223, 223);
}
// html, body {
//     height: 100%;
// }
.book {
    width: 200px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    &-text {
        // height: 15rem;
        text-align: center;
        // border-radius: 10%;
        border: 15px double #999;
        color: rgb(66, 109, 109);
         
    }
}
.sign , .reg{
    color: rgb(24, 44, 44);
    font-size: 2em;
    border-style: inset;
 
}

h2{
    font-size: 1em;
    text-align: center;
    color: rgb(42, 42, 91);
}
.cardBook{
    display:grid;
    width: fit-content;
    border: 4px dotted blue;
}
.regNSign{

    display: flex;
    //I want that "sign N reg " will be in the right side
    justify-content: end;
    
   
}
.pAddBooks{
    font-size: 2em;
    
}