body{
    margin: 0;
}

.navbar{
    width:auto;
    height: 50px;
    background-color: rgba(26,26,26,0.9);
    position: relative;
}

.nav_option{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 750px;
    height: 50px;
    margin-left: 250px;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.option{
    width: 110px;
    text-align: center;
    color: rgba(255, 255, 255, 0.753);
}

.option>img{
    width:45px ;
    margin-top: 3px;
}
.option:hover{
    cursor: pointer;  
}
.option:nth-child(6){
    color: rgb(204, 157, 204);
}
