.usersOverView{
    border:rgb(56, 56, 56) solid 2px;
    margin:10px 0 10px 0;
    width:50vw;
}
 .scrollBar{
     height: 50vh;
      overflow-y: scroll;
  }
::-webkit-scrollbar {
     width: 10px;
    
  }
 
  /* Track */
::-webkit-scrollbar-track {
    background: #d6d6d6;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
.center{ 
      align-items: center;
   flex-direction: column;
    display: flex;

}
.allConect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 15px;
    padding-top: 10px;
    align-items: center;
}
.allConectBtn{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 5px;

}
.btnUnder{
    border: none;
    border-bottom:solid 5px rgb(172, 166, 160);
    background-color: transparent;
}
.clicked{
    border: none;
    border-bottom:solid 5px rgb(90, 88, 85);
    background-color: transparent;
}
.link{
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #D9D9D9;
    width: 150px;
height: 22px;
  border-radius: 15px;
}
h1{
    padding-left: 10px;
}