.matching {
    margin-top: 50px;
    padding: 20px;
    display: grid;
    // height: 450px;
    grid-template-columns: repeat(3, minmax(auto-fit, 80fr));
    grid-template-rows: repeat(3, 1fr);
    //     border: 1px solid black;
    height: 5px;


    &__wrapper {
        margin-top: 50px;

        display: flex;
 
        gap: 20px;
        grid-column: 2/3;
        grid-row: 2/3;
        justify-items: center;
        grid-auto-flow: row;
        flex-wrap: wrap;

        &_card {
            width: 348px;
            height: 393px;
            border-radius: 8% 8% 0 0;
            background-color: #E1E1E1;
            position: relative;

            &_select {
                position: absolute;
                top: 3%;
                left: 88%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                border-radius: 50%;
                background-color: #D9D9D9;

                width: 2rem;
                aspect-ratio: 1/1;
                cursor: pointer;
            }

            &_pic {
                width: 348px;
                height: 250px;
                object-fit: cover;
                border-radius: 8% 8% 0 0;
                cursor: pointer;

            }

            &_seen {
                position: absolute;
                background-color: #D9D9D9;
                right: 0;
                bottom: 32%;
                padding: 5px;
            }

            &_description {
                padding: 1rem;
            }

            &_footer {
                display: flex;
                justify-content: space-between;

                &_linkedin {
                    width: 30px;
                    aspect-ratio: 1/1;
                    cursor: pointer;
                }

                &_request {
                    border: none;
                    background-color: #ADADAD;
                    border-radius: 15px;
                }
            }
        }



    }

    &__search {

        grid-column: 2/2;
        grid-row: 1/2;
    }

    &__filter-menu {

        margin-top: 150px;
        margin-right: 50px;
        height: 50px;
        height: 100px;
        position: sticky;
        grid-column: 1/2;
        grid-row: 2/2;


    }

    &--wrapper {
        display: flex;
        flex-direction: column;

        top: 19vh;
        right: 34vw;
        border: 1px solid black;
        padding: 24px;
        width: 22vw;


        h1 {
            font-size: 4vw;
            border-bottom: 1px black solid;
        }
        h3{
            font-size: 2.4vw;
            border-bottom: 1px black solid;
        }

        select,
        button {
            font-size: 1.5em;
            border-radius: 30px;
            cursor: pointer;
        }
    }
}

.cardOfMentor {

    display: flex;
    flex-direction: column; 

    width: 32vw;



    &--mentor {
        background-color: blanchedalmond;
        justify-content: space-between;

        &__link {

            font-size: 2rem
        }

        &__fullName {
            font-size: 2rem
        }
    }
}

.box {
    height: 24vh;
    width: 32vw;
    border: black solid 1px;
}