.matching {
    margin-top: 50px;
     padding: 20px;
    display: grid;
    // height: 450px;
    grid-template-columns: repeat(3, minmax(auto-fit, 80fr));
    grid-template-rows: repeat(3, 1fr);
    //     border: 1px solid black;
    height: 5px;

    // grid-template-rows: 1fr 1fr 1fr;
    &__wrapper {
        margin-top: 50px;
        // background-color: rgb(173, 173, 173);
        //   grid-column: 1/2;
        //   grid-row-start:1/1;
        display: flex;
        // border: 1px solid black;
        gap: 20px;
        grid-column: 2/3;
        grid-row: 2/3;
        justify-items: center;
        grid-auto-flow: row;
        flex-wrap: wrap;

        &_card {
            width: 348px;
            height: 393px;
            border-radius: 8% 8% 0 0;
            background-color: #E1E1E1;
            position: relative;
            // grid-column: 2/2;
            // grid-row: 2/3;

            &_select {
                position: absolute;
                top: 3%;
                left: 88%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                border-radius: 50%;
                background-color: #D9D9D9;
                // border: 1px solid black;
                width: 2rem;
                aspect-ratio: 1/1;
                cursor: pointer;
            }

            &_pic {
                width: 348px;
                height: 250px;
                object-fit: cover;
                border-radius: 8% 8% 0 0;
                cursor: pointer;

            }
            &_seen{
                position: absolute;
                background-color: #D9D9D9;
                right: 0;
                bottom: 32%;
                padding: 5px;
            }

            &_description {
                padding: 1rem;
            }

            &_footer {
                display: flex;
                justify-content: space-between;

                &_linkedin {
                    width: 30px;
                    aspect-ratio: 1/1;
                    cursor: pointer;
                }

                &_request {
                    border: none;
                    background-color: #ADADAD;
                    border-radius: 15px;
                }
            }
        }



    }

    &__search {
        // border: 1px solid black;
        grid-column: 2/2;
        grid-row: 1/2;
    }

    &__filter-menu {
        // border: 1px solid black;
        margin-top: 150px;
        margin-right: 50px;
        height: 50px;
        height: 100px;
        position: sticky;
        grid-column: 1/2;
        grid-row: 2/2;


        &_section {
            &_title {}

            &_option {
                &_checkbox {}
            }

            &_more {}
        }
    }

    &--wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 19vh;
        right: 34vw;



        border: 1px solid black;
        padding: 24px;
        padding-top: 0px;
        // padding-bottom: px;

        h1 {
            border-bottom: 1px black solid;
        }

        // &__btn {
        //     font-size: 1.5em;
        //     border-radius: 30px;
        //     cursor: pointer;
        // }
        select,
        button {
            font-size: 1.5em;
            border-radius: 30px;
            cursor: pointer;
        }
    }
}