.wrapper{
    background-color: gray;
    padding: 10px;
display: flex;
flex-direction: row-reverse;
}
.box{
    width: 10vw;
    height: 10vh;
    background-color: plum;
    border: 1px solid yellow;
    text-align: center;
    color: white;
}