.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 22vh auto 22vh auto;
    gap:5px;
    margin: 5vw;
    justify-content: center;
}

.box>img {
    width: 75%;
    height: 100%;
    padding-left: 15%;
}

.box>p{
    padding: 0 17%;
}

.box4{
    grid-row: span 4;
    background-color: white;
    }

