// div {
//     border: 1px solid red;
// }


.form {
    display: flex;
    flex-direction: row;
}

.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 10px;
    outline: none;
    background-color: #1d1a1a;
    border: 1px solid rgb(78, 78, 78);
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
    cursor: pointer;

}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;

}

body {
    padding: 0px;
    padding-top: 20px;
    margin: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #1d1a1a;
    font-family: sans-serif;
}

img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.wrapper {
    font-size: 12px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.cont1 {
    display: grid;
    grid-template-rows: 60px 80px 60px;
    padding-bottom: 20px;

    &__box1 {
        background-color: #141414;
        display: grid;
        grid-template-columns: 20% 40% 40%;
        padding-left: 3%;


        &__middle {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
        }

        &__right {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            padding-right: 4px;

            &__btn {
                display: flex;
                border: 1px solid #4e4e4e;
                border-radius: 10px;
                cursor: pointer;
                font-size: 16px;
                font-weight: bolder;
                color: #ffffff;
                align-items: center;
                justify-content: center;
                margin: 0.7em 2px;
                height: 40px;
                transition: all 0.4s ease-out;
            }

            &__btn:hover {

                border: 1px solid #ff0000;
                transition: 0.3s;


            }
        }



    }

    &__box2 {
        background-color: #1a1a1a;
        border-radius: 10px;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        padding-top: 20px;
        padding-bottom: 10px;
        padding-left: 3%;


        &__btn-nav {
            display: flex;
            border: 1px solid rgb(72, 255, 0);
            border-radius: 10px;
            cursor: pointer;
            font-size: 12px;
            font-weight: bolder;
            color: #ffffff;
            align-items: center;
            justify-content: center;
            margin: 0px 2px;
            box-shadow: 2px 6px 6px rgb(0, 0, 0);

            &--1 {
                color: rgb(248, 91, 91);

            }

            &--2 {
                color: rgb(247, 117, 10);
            }

            &--3 {
                color: rgb(243, 205, 101);
            }

            &--4 {
                color: rgb(173, 245, 105);
            }

            &--5 {
                color: rgb(104, 243, 248);
            }

            &--6 {
                color: rgb(101, 166, 250);
            }

            &--7 {
                color: rgb(191, 108, 247);
            }

            &--8 {
                color: rgb(248, 116, 171);
            }

            &--9 {
                color: rgb(248, 102, 102);
            }



        }

        &__btn-nav:hover {
            color: #ffff00;
            border: 1px solid #ffff00;
            transition: 0.3s;


        }
    }

    &__box3 {
        display: grid;
        grid-template-columns: 5% 90% 5%;
        align-items: flex-end;
        background-color: #1d1a1a;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

}

.cont2 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 200px 200px;
    gap: 20px;
    color: #ffffff;
    // border: 1px solid #ffff00;


    &__box4 {
        width: 170px;
        height: auto;
        display: grid;
        grid-template-rows: 80% 20%;
        border: 1px solid #e2e2e2;
        border-radius: 10px;
        background-color: #414444;
        justify-items: center;
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.37);
        padding: 0px;
        cursor: pointer;
        font-weight: bolder;
        transition: all 0.4s ease-out;


        &__text {
            background-color: #20a705;
            display: flex;
            align-items: center;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            width: 100%;
            justify-content: center;

        }


    }

    &__box4:hover {
        transform: scale(1.2);

    }




}





.cont3 {
    display: grid;
    grid-template-rows: repeat(2, 60px);
    padding-top: 20px;
    padding-bottom: 20px;

    &__box5 {
        background-color: #1d1a1a;
        border-bottom: 6px solid rgb(170, 168, 37);

    }

    &__box6 {
        display: flex;
        align-items: flex-end;
        background-color: #1d1a1a;
        color: white;
        font-size: 20px;
        ;
    }

}