body{
    display: flex;
    justify-content: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blueviolet;
    font-size: 3rem;
    font-weight: bolder;
}

#idItem{
    margin-top: 200px;
}

#sortItem{
    margin-top: 250px; 
}

#rootLaptops{
    width: 400px;
    height: 400px;
    border: black solid 1px;
    margin-top: 320px; 
}

#filterItem{
    margin-bottom: 600px;
}