* {
  box-sizing: border-box;
  border: 1px solid salmon;
}

body {
  margin: 0;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 78px 0px;
  background-color: #191919;
  height: 100vh;
}

.About {
  display: flex;
  color: white;
  width: 70%;

  * {
    margin: 1rem;
  }
}

.aboutImg {
  height: auto;
  width: 420px;
}

.About-text {
  width: 550px;
  h1 {
    font-size: 80px;
    text-transform: capitalize;
    letter-spacing: 2px;
  }

  h5 {
    font-size: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
  }

  p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
  }

  .btn-16 {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
    border: none;


    &:after {
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      direction: rtl;
      z-index: -1;
      box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
      transition: all 0.3s ease;
    }

    &:hover:after {
      left: auto;
      right: 0;
      width: 100%;
    }
    &:active {
      top: 2px;
    }
  }
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;

  * {
    color: inherit;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  .site-title{
    font-size: 2rem;
    text-decoration: none;
  }

  .link {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;
  }

  li {
    &.active {
      background-color: #555;
    }
    &:hover {
      background-color: #777;
    }
  }
}

.categoryTitle{
  font-size: 2rem;
  color: white;
  text-decoration: none;
  &:active{
    color: rgb(246, 246, 145);
  }
}

.productsTitleContainer{
  display: flex;
  gap: 1rem;
  justify-content: center;

}

.gridWrapper{
  display: flex;
  justify-content: center;
  width: 350px;
}