.reg-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50vh;
    position: absolute;
    background-color: rgb(168, 168, 168);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
    }
}

.input-container {

    margin: 13px 0;
    width: 250px;
    height: 40px;
    display: flex;
    flex-direction: column;

    &.existError{
        input {
            border-color: #c92432;
            color: #c92432;
            background: #fffafa;
        }
    }

    .data-error{
        content: attr(data-error);
        font-size: 0.85em;
        color: #c92432;
        display: block;
        margin: 10px 0;
    }

    input {
        height: 95%;
        width: 95%;
        display: block;
        padding: 12px;
        border: 1px solid #dddddd;
        border-radius: 4px;
    }
}
