//Lior part  start ----------------------------------------------------------------->

//navbar  start---------------------------------------------------------------------->
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .navbar
  {
      width: 150%;
      margin: 20px 50px;
      position: relative;
      top: 50px;

      &__car__CarPicture
      {
          position: relative;
          left: 485px;
          top: 70px;
          margin-right: 20px;
      }
  }

  //Responsive start--------------------------------->

//1400 start--------------------------------->
@media only screen and (max-width: 1400px){
    .navbar{

        &__car__CarPicture {

            position: relative;
          left: 285px;
          top: 70px;
          margin-right: 20px;
            }    
    }

    @media only screen and (max-width: 1400px){
        .CarName
        {
           text-align: center;
           padding-bottom: 1.25rem;
           size: 10px;
           left: -200px;
           outline: none;
           position: relative;
        }
        }
//1400 end--------------------------------->

//1145 start--------------------------------->
        @media only screen and (max-width: 1138px){
            .navbar{
        
                &__car__CarPicture {
        
                    position: relative;
                  left: -85px;
                  top: 70px;
                  margin-right: 20px;
                    }    
            }
        
            @media only screen and (max-width: 1138px){
                .navbar{
            
                    &__car__CarPicture {
            
                        position: relative;
                      left: -85px;
                      top: 70px;
                      margin-right: 20px;
                        }    
                }

//1400 end--------------------------------->

  //Responsive end--------------------------------->


    .CarName
    {
       text-align: center;
       padding-bottom: 1.25rem;
       size: 10px;
       left: -200px;
       outline: none;
       position: relative;
    }

}
  
  nav
  {
      position: absolute;
      
  }

  nav> ul
  {
    position: relative;
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: -o- flex;
    display: flex;
    justify-content: center;
    width: 180%;
    margin: 0 50px;
    padding: 0;
    
  }

  nav a 
  {
      display: block;
      text-decoration: none;
  }

  nav ul li
  {
    list-style: none; 
    transition: 0.5s;
  }

ul img
{
    width: 150%;
    height: 25vh;
    left: 80px;
    top: -70px;
    position: relative;
}

nav > ul > li > a
{
    padding: 5px 39px;
    color: black;
    font-size: 18px;
    transition: 0.7s;

    .CarName
    {
       text-align: center;
       padding-bottom: 1.25rem;
       size: 10px;
       outline: none;
       position: relative;

    //underline for each navbar picture
       &::after
    {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0px;
        width: 0;
        height: 3px;
        background-color: red;
        transition:  width 0.75s ease-out;
    }

         &:hover
         {
             color: red;

            &::after
            {
                width: 100%;
            }   
         
         }
        }
}

nav > ul > li > a:hover
{
    color: red; 
}
.nav ul> li.dropDown
{
    position: relative;
    margin-right: 40px;

 
}

nav ul> li.dropDown > a::after
{
    top: 100px;
    position: relative;
    z-index: 1;
    float:left;
    content: '';
    margin-top: 8px;
    margin-right: 0px;
    color: black;
}



nav>ul > li:hover
{
    background: white;
    color: red;
}

nav ul.menu-area
{
    padding: 40px 40px 0 40px;
    background: white;
    text-align: left;
    position: absolute;
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: -o- flex;
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
    width: 120%;
    top: -9999px;
    left: -100px;
    overflow: hidden;

}

nav ul li:hover ul.menu-area
{
    top: 100%;
    color: black;
}

nav ul.menu-area ul
{
    width: 25%;
    margin-bottom: 40px;
    margin-left: 0px;
    color: red;
    font-weight: 50px;
}

nav ul.menu-area h4
{
  margin-bottom: 15px;
  text-transform: capitalize;  
}

nav ul.menu-area ul li
{
    display: block;
}

nav ul.menu-area ul li a
{
    margin-top: 10px;
    color: black;
    text-transform: none;
    transition: 0.7s;
}

.third_column
{
    border: 1.8px solid rgb(189, 186, 186);
    align-content: center;
    height: 3.5vh;
    width: 60%;
    text-align: center;

    &:hover
    {
        background: black;
        color: white;
    }
}

nav ul.menu-area ul li a:hover
{
    color: red;
}

.second_column
{
    margin-top: 20px;
}



//navbar  end---------------------------------------------------------------------->


//General Carousel  start ---------------------------------------------------->

.Carousel_image
{
    width: 7vw;
    left: 50px;
    position: relative;
    border: 0.8px solid rgb(163, 158, 158);
    z-index: 2;
}

@media only screen and (max-width: 1100px)
{
    .Carousel__wrapper
    {

        overflow: hidden;
        justify-content: center;
        justify-items: center;
        z-index: 0;
        height: 80vh;
        position: relative;
        width: 100%;
        display: block;
        top: 200px;
        margin: 50px auto;
        border: 3px solid rgb(95, 93, 93);

    }    
 }

.Carousel__wrapper
{
    overflow: hidden;
    z-index: 0;
    height: 80vh;
    position: relative;
    width: 100%;
    display: block;
    top: 200px;
    margin: 50px auto;
    border: 3px solid rgb(95, 93, 93);

    &__item
    {
        position: absolute;
        top: 0px;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 25px 50px;
        opacity: 0;
        transition: all 0.5s ease-in-out;

    }

    &__text
    {
        font-size: 50px;
        position: relative;
        color: rgb(80, 78, 78);
        margin-top: 10px;
        left: 35vw;
        transition: 0.75s;

        &:hover
        {
            color: #e41818;
        }
    }
}

.arrow
{
    border: solid rgb(238, 234, 234);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
    width: 2ch;
    height: 3vh;

    &:hover
    {
        border: solid #e41818;
        border-width: 0 3px 3px 0;
        opacity: 1;
    }
}

.arrow_prev
{
    left: 70px;
    border: 2px solid black;
    border-width: 0 3px 3px 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(135deg);
}

.arrow_next
{
    right: 70px;
    border: 2px solid black;
    border-width: 0 3px 3px 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"]
{
    display: none;
}

.item-1
{
    z-index: 2;
    opacity: 1;
    background: url('https://files.porsche.com/filestore/image/multimedia/none/cayenne-models-e3chili-announcement/preview/1cc14607-c9ea-11eb-80d7-005056bbdc38;sZ;twebp/porsche-preview.webp');
    background-size: cover;
    color: chartreuse;

}

.item-2
{
    background: url('https://files.porsche.com/filestore/image/multimedia/none/model-series-992-turbo-360-exterior-fallback/normal/40af7550-6e81-11ea-80c9-005056bbdc38;sK;twebp;c1350;gc/porsche-normal.webp');
    background-size: cover;
}

.item-3
{
    background: url('https://files.porsche.com/filestore/vrhub360/multimedia/none/model-series-992-turbo-360-interior/preview/d1eabc71-8aee-11eb-80d4-005056bbdc38;sK;twebp;c1350;gc/porsche-preview.webp');
    background-size: cover;
}

.item-4
{
    background: url('https://pics.porsche.com/rtt/iris?COSY-EU-100-1713c6eK12UC31P3T5JOCU%25hjdmiTDDmvMXlHWguCuq6Q44RtRHo9ZAaDjJu5PcI7tGW3rNbZJNKXv9Z7KcQQ%25yFN5tFAsXrw4r3wo0qnqZr8MCnR4i84tV2YN2OmNyW1QGWgCWKMUuyO9I7KMIrlhQ5kWHgfNk8h0Dy13Q9%25tlzfIjMREDrs6eWR6kUjGlHbnwFRY40VHTUNsVPjdwk');
    background-size: cover;
}

*:target ~ .item-1
{
    opacity: 0;
}

#item-1:target ~ .item-1
{
    opacity: 1;
}

#item-2:target ~ .item-2 , #item-3:target ~ .item-3, #item-4:target ~ .item-4
{
    z-index: 3;
    opacity: 1;
}

//General Carousel  end ------------------------------------------------------>
//Lior part  end ----------------------------------------------------------------->

//Michael part  start ----------------------------------------------------------------->

.live__main {
    display: grid;
    grid-template-rows: repeat(5, 20vh);
    grid-template-columns: repeat(6, 15vw);
    justify-content: center;
    gap: 7px;
    margin: .5vh 60px 60px 60px;
    font-family: Arial Narrow, sans-serif;
    

    &__box {
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        background-size: cover;
        cursor: pointer;

        h3 {
            opacity: 0;
            padding-right: 110px;
            padding-top: 80px;
            font-size: 15px;
            color: rgb(41, 41, 41);
            line-height: 1.2;

            span {
                font-size: 20px;
            }

            &:hover {
                opacity: 100%;
                transition: all 1.5s;

            }
        }

        .fab {
            color: white;
            align-self: flex-end;
            position: relative;
            right: 10px;
            bottom: 10px;
        }

        &:hover {

            .fab {
                box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.52);
                border-radius: 0 0 10px 10px;
            }
        }

        &.box1 {
            transition: all 2s ease-out;
            background-image: url("https://images.unsplash.com/photo-1617427618363-05c520d7eb5a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1926&q=80");

            &:hover {
                background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://images.unsplash.com/photo-1617427618363-05c520d7eb5a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1926&q=80");
            }

        }

        &.box2 {
            background-image: url("https://images.unsplash.com/photo-1588258219511-64eb629cb833?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80");

            &:hover {
                background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://images.unsplash.com/photo-1588258219511-64eb629cb833?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80");
            }
        }

        &.box3 {
            background-image: url("https://images.unsplash.com/photo-1585844508832-81ed8bd5ca29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3118&q=80");

            &:hover {
                background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://images.unsplash.com/photo-1585844508832-81ed8bd5ca29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3118&q=80");
            }
        }

        &.box4 {
            background-image: url("https://images.unsplash.com/photo-1534093607318-f025413f49cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3870&q=80");

            &:hover {
                background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://images.unsplash.com/photo-1534093607318-f025413f49cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3870&q=80");
            }
        }

        &.box5 {
            background-image: url("https://images.unsplash.com/photo-1613921568536-555645be4032?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2622&q=80");

            &:hover {
                background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://images.unsplash.com/photo-1613921568536-555645be4032?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2622&q=80");
            }
        }

        &.box6 {
            background-image: url("https://images.unsplash.com/photo-1595360136370-89e59179a8b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80");

            &:hover {
                background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://images.unsplash.com/photo-1595360136370-89e59179a8b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3270&q=80");
            }
        }
    }

    &__box--boxBig {
        display: flex;
        justify-content: flex-end;
        align-content: flex-end;
        grid-column: span 2;
        grid-row: span 2;
        overflow: hidden;

        .box-hide {
            top: 100%;
            position: relative;
            transition: all 1s ease-out;
            background: #d5001c;
            height: 100%;
            width: 100%;
            z-index: 1;
            cursor: pointer;


            span {
                display: grid;
                justify-content: center;
                font-size: 25px;
                font-weight: bold;
            }
        }

        &:hover {
            .box-hide {
                top: 70%;
            }
        }

        &:hover {
            transition: all 3s;

            .fab {
                bottom: 50px;
                transition: all 1s;
                z-index: 1;
            }
        }

        .fab {
            color: white;
            position: relative;
            left: 440px;
            bottom: 60px;
            z-index: 1;
        }

        &.boxBig1 {
            background-image: url("https://images.unsplash.com/photo-1610379361814-e571eaca6159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
            background-size: cover;
            animation: slide 10s infinite alternate;

            @keyframes slide{

               
                50%{
                    background-image: url("https://images.unsplash.com/photo-1592853625601-bb9d23da12fc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80");
                    background-size: cover;
                    background-repeat: no-repeat; 
                }
                
               
                100%{
                    background-image: url("https://images.unsplash.com/photo-1597957266780-9c39b6972522?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3132&q=80");
                    background-size: cover;
                    background-repeat: no-repeat; 
                }
                
                }


            &:hover {
                background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://images.unsplash.com/photo-1610379361814-e571eaca6159?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80");
                animation-name: none;
            }
        }

        &.boxBig2 {
            background-image: url("https://images.unsplash.com/photo-1611651338412-8403fa6e3599?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3542&q=80");
            background-size: cover;

            &:hover {
                background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://images.unsplash.com/photo-1611651338412-8403fa6e3599?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3542&q=80");
            }
        }

        &.boxBig3 {
            background-image: url("https://images.unsplash.com/photo-1614162692292-7ac56d7f7f1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80");
            background-size: cover;

            &:hover {
                background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://images.unsplash.com/photo-1614162692292-7ac56d7f7f1e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80");
            }
        }
    }

    .header {
        grid-column: span 6;
        align-self: flex-end;
        font-weight: bolder;
        font-size: 2.9rem;
        padding-bottom: 24px;
        letter-spacing: .5px;
    }



    .footer {
        grid-column: span 6;
        align-self: flex-start;
        justify-self: flex-end;
        padding-top: 13px;
        font-size: 16px;
        width: 95px;
        height: 25px;
        background: #313639;
        color: white;
        font-weight: bolder;
        cursor: pointer;
        position: relative;
        padding: 13px 21px;

        span {
            padding-right: 3px;
        }

        &:hover {
            background-color: #d5001c;
            transition: all .5s;
        }

    }


}

@media only screen and (max-width: 1400px){
    .live__main{

        &__box {

            h3{
                display: none;
            }

            span{
                display: none;
            }

    }
}
}

@media only screen and (max-width: 700px) {
    .live__main {
        display: grid;
        grid-template-rows: repeat(5, 20vh);
        grid-template-columns: repeat(4, 15vw);
        gap: 4px;
        font-family: Arial Narrow, sans-serif;


        .header {
            grid-column: span 4;
        }

        .footer {
            grid-column: span 4;
        }

        &__box--boxBig {
            &.boxBig3 {
                display: none;
            }
        }

        &__box {

            h3{
                font-size: .5px;

            }


            &.box5,
            &.box6 {
                display: none;
            }

        }
    }
}

//Michael part  end ----------------------------------------------------------------->
