body{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    margin:0px;
    padding:0px;
    
}


//navigationBar
.navigation{
    outline:black solid 1px;
    height:80px;
    display:flex;
    flex-direction: column;
    padding:8px;
    
    ul{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        cursor: pointer;       
        
    }
    &--logo{
    
        img{
            position:relative;
            bottom:-10px;
            width:130px;
            height:40px;
        }
    
         
    }

    form{
        padding:2px;
        border:grey 0.5px solid;
        width:700px;
        height:50px;
        border-radius:50px;
        display:flex;
        justify-content: space-between;
        align-items:center;
        letter-spacing:0.5px;
        transition: ease 0.5s;
        &:hover{box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;}

      
       
        label{         
            font-size:12px;
            font-weight:bold;            
          

        }       


       .form{
       
        
        
        &--searchLocation{
            padding-left:20px;
            height:48px;
            border-radius:28px;
            // border-top-left-radius:28px;
            // border-bottom-left-radius:28px;
            // border-top-right-radius:18px;
            // border-bottom-right-radius:18px;
            border:solid 1px white;
            
            
                       
            &:hover{
                
                border:solid 1px rgb(226, 226, 226);
                background-color: rgb(226, 226, 226);
                
                
               
            }
            input{
                border:none;
                border-radius:28px;
                
                &:hover{
                    
                    background-color: rgb(226, 226, 226);
                    
    
                }    
                
                
            }
        }
           
        
        &--checkIn{
            height:50px;
            width:120px;
            padding-left:20px;
            border-radius:28px;
            

            &:hover{
                
                border:solid 1px rgb(226, 226, 226);
                background-color: rgb(226, 226, 226);
                
            }
            button{
                border-radius:10px;
                border:none;
                background-color:white;
                &:hover{
                    
                    background-color: rgb(226, 226, 226);
    
                }   
            }
          
          
        }
        &--checkOut{
            height:50px;
            width:120px;
            padding-left:20px;
            border-radius:28px;
            //margin-right:4px;
            &:hover{
                
                border:solid 1px rgb(226, 226, 226);
                background-color: rgb(226, 226, 226);
                
            }
            button{
                border-radius:10px;
                border:none;
                background-color:white;
                &:hover{
                    
                    background-color: rgb(226, 226, 226);
    
                }   
            }

        }
        &--guests{
            
            height:50px;
            width:150px;
            padding-left:20px;
            border-radius:28px;
            //margin-right:4px;
            &:hover{
                
                border:solid 1px rgb(226, 226, 226);
                background-color: rgb(226, 226, 226);
                
            }
            button{
                border-radius:10px;
                border:none;
                background-color:white;
                &:hover{
                    
                    background-color: rgb(226, 226, 226);
    
                }   
            }

        }
        &--searchIcon{
            background-color: #38ffe4;
            border:1px #38ffe4;
            border-radius:50px;
            width:34px;
            height:32px;
            text-align:center;
            margin-right:5px;
            
            transition: ease 2s;
            &:hover{
                background-color: #056155;

            }

            input[type="image"]{
                margin-right:3px;
                width:25px;
                height:25px;
                

            }
          
        }

       }
    }
    &--greeting{
        font-weight:bold;
        letter-spacing:0.5px;
    }
   &--user{
       text-align: right;
      // border:1px solid grey;
       width:60px;       
       padding-top:3px;
       height:auto;
       border-radius:28px;
       background-color: #38ffe4;
       transition: ease 0.5s;
        &:hover{box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;}
       
       
       img{
           margin:5px;
           width:25px;
           height:25px;
           transition: ease 1s;
        }
      
   }
}


//mainpage -index.html


.mainPage{
    &__imageCarousel{
        overflow:hidden;
        //display:block;  
        //width:fit-content; 
        //width:70%;
        margin-left:10%;
        margin-right:10%;      

        
        figure{
            position:relative;
            //position: absolute;
            width:500%;
            margin:0;
            animation:20s slider infinite;
            display:flex;
            img{
                padding-top:1%;
                padding-bottom:1%;
                width:20%;                
               // height:10%;          
                //height: calc(100vh - 10px);
                //justify-content: center;
                //align-items: center;
                //position: relative;
                //float:left;
                object-fit:cover;
    
               object-position: center;  
            }
    }   }
} 

@keyframes slider{
    0%{
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left:-100%;
    }
    45%{
        left:-100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left:-200%;
    }
    75%{
        left:-300%;
    }
    95%{
        left:-300%;
    }
    100%{
        left:-400%;
    }
    
}