body{
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    margin:0px;
    padding:0px;
}


//navigationBar
.navigation{
    outline:black solid 1px;
    height:80px;
    display:flex;
    flex-direction: column;
    padding:8px;
    
    ul{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        cursor: pointer;       
        
    }
    &--logo{
    
        img{
            position:relative;
            bottom:-10px;
            width:130px;
            height:40px;
        }
    
         
    }

    form{
        padding:1px;
        border:grey 1px solid;
        width:700px;
        height:50px;
        border-radius:50px;
        text-align:center;
        display:flex;
        justify-content: space-between;
        align-items:center;
        label{
            font-size:12px;
            font-weight:bold;
          

        }       


       .form{ 

        
        &--searchLocation{
                       
            &:hover{
                
                border:solid 1px rgb(226, 226, 226);
                background-color: rgb(226, 226, 226);
                border-radius:10px;
            }
            input{
                border:solid 1px white;
                border-radius:10px;
                &:hover{
                    border:none;
                    background-color: rgb(226, 226, 226);
    
                }    
                
                
            }
        }
           
        
        &--checkIn{

            &:hover{
                
                border:solid 1px rgb(226, 226, 226);
                background-color: rgb(226, 226, 226);
                border-radius:10px;
            }
            button{
                border-radius:10px;
                border:none;
                background-color:white;
                &:hover{
                    
                    background-color: rgb(226, 226, 226);
    
                }   
            }
          
          
        }
        &--checkOut{
            &:hover{
                
                border:solid 1px rgb(226, 226, 226);
                background-color: rgb(226, 226, 226);
                border-radius:10px;
            }
            button{
                border-radius:10px;
                border:none;
                background-color:white;
                &:hover{
                    
                    background-color: rgb(226, 226, 226);
    
                }   
            }

        }
        &--guests{
            &:hover{
                
                border:solid 1px rgb(226, 226, 226);
                background-color: rgb(226, 226, 226);
                border-radius:10px;
            }
            button{
                border-radius:10px;
                border:none;
                background-color:white;
                &:hover{
                    
                    background-color: rgb(226, 226, 226);
    
                }   
            }

        }
        &--searchIcon{
            background-color: #FF385C;
            border:1px #FF385C solid;
            border-radius:50px;
            width:36px;
            height:30px;
            padding-top:5px;
            transition: ease 1s;
            &:hover{
                background-color: #b31a36;

            }

            input[type="image"]{
                width:25px;
                height:25px;
                

            }
          
        }

       }
    }
   
}


//mainpage -index.html

