.add {
    background-color: black;
    color: white;
    border: 0.5px solid black;
    position: fixed;
    top: 80vh;
    left: 85vw;
    width: 150px;
    height: 60px;
    border-radius:10px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ;
    &:hover{
        background-color: white;
        color: black;
    }
}
