.add {
    background-color: white;
    border: 0.5px solid black;
    position: fixed;
    top: 80vh;
    left: 80vw;
    width: 100px;
    aspect-ratio: 1/1;
    border-radius: 40%;
    font-size: 2em;
    cursor: pointer;
}