.big-pic{
    background-color: rgba(0, 0, 0, 0.46);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s;
    &__pic{
        height: 97vh;
        width:  31vw;
        transition: all 0.5s;

    }
}