body,
html {
    margin: 0;
    padding: 0;
}

////////////////KATYA ADDED!!////////////////
// MIchael STARTs


// colors and font //

$iconscolor: rgb(72, 69, 69);
$fontcolor: rgb(133, 122, 150);
$primarycolor1: #66529af1;
$primarycolor2: #e052b5e3;
$mainFontFamily: 'Neue Haas Grotesk Display Pro',
sans-serif;
$shadow: 1px 1px 1px #a8a7a7,
1px 13px 26px rgba(99, 91, 105, 0.4);
$bgcolor: #f0f1f6;

// mixins and animations //

@mixin flexCenter($justify, $direction) {

    display: flex;
    justify-content: $justify;
    flex-direction: $direction;
    align-items: center;
}

@mixin whitecloud {
    position: absolute;
    left: -70%;
    animation-name: weather;
    animation-duration: 17s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

    img {
        height: 100%;
        width: 100%;
    }

    height: 150px;
    min-width: 200px;
}

@mixin border() {

    border: 1px solid black;
}

@keyframes wiggle {

    0% {
        transform: rotate(-10deg);
    }

    50% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(-10deg);
    }


}

@keyframes weather {
    from {
        left: -50vw;
    }

    to {
        left: 110vw;
    }
}

@keyframes colorslide {
    0% {
        background-image: left;
    }

    100% {
        background-position: right;
    }
}

@keyframes prog{
    from {
        width: 1%;
    }

    to {
        width: 67%;
    }
}



html {
    height: 100%;
}

.body_schedule {

    background-color: $bgcolor;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5em;

}

.cloud {
    @include whitecloud();
    animation-duration: 32s;
    animation-delay: 0s;
}

.cloud2 {
    @include whitecloud();
    top: 55px;
    animation-delay: 5s;
    animation-duration: 25s;
}

.cloud3 {
    @include whitecloud();
    top: 70px;
    animation-delay: 10s;
    animation-duration: 28s;
}

.cloud4 {
    @include whitecloud();
    top: 0px;
    animation-delay: 15s;
    animation-duration: 30s;
}

.bigwrapper {

    position: relative;
    overflow-x: hidden;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    border-radius: 20px;
    padding: 0.7em;
    font-family: $mainFontFamily;
    background-color: $bgcolor;
    box-shadow: $shadow;
    color: rgb(52, 51, 51);
}

.schetop {


    @include flexCenter(space-between, row);
    // @include border();

    height: 4vh;
    padding-inline: 0.5em;
    color: $iconscolor;

    &__back {
        font-size: 27px;
    }

    &__search {
        font-size: 30px;
    }

    div {
        &:hover {
            cursor: pointer
        }
    }

}

.schetitle {

    @include flexCenter(space-around, column);
    // @include border();

    height: 13vh;

    div {
        height: 20%;
        margin-bottom: 0.4em;
        @include flexCenter(center, row);
    }

    h1,
    h2,
    p {
        margin: 0px;
    }

    p {
        font-size: 20px;
        color: rgb(52, 51, 51);
    }

    h2,
    h1 {
        font-size: 30px;
    }

    z-index: 1;
}

.schedatebox {

    @include flexCenter(space-between, row);
    // @include border();
    height: 7vh;
    padding-inline: 0.5em;
    z-index: 1;

    div {
        height: 100%;
        @include flexCenter(center, row);
    }

    h3,
    p {
        font-size: 22px;
        margin: 0px;
        @include flexCenter(center, row);
    }

    p {
        font-size: 17px;
        color: $fontcolor;
    }

}

.schecards {

    @include flexCenter(flex-start, row);
    align-items: flex-start;
    // @include border();
    border-radius: 5px;
    height: 17vh;
    overflow-x: scroll;

    &__card {

        @include flexCenter(space-around, column);
        // @include border();
        border-radius: 10px;
        min-width: 3.5em;
        background: #D8CAE1;
        margin-inline: 0.5em;
        position: relative;
        transition: 0.4s;
        margin-top: 0.5em;
        height: 60%;

        div {
            // @include border();
            margin-top: 0.5em;
            height: 20%;
            @include flexCenter(center, row);
        }

        p {
            width: 80%;
            margin: 0px;
            padding: 0px;
            height: 100%;
        }

        .date {
            p {
                font-weight: 700;
                font-size: 20px;
            }
        }

        .day {
            p {
                font-weight: 200;
            }
        }

        .bell {

            color: rgb(255, 255, 255);
            display: none;

            &:active {
                color: rgb(254, 229, 146)
            }

            &:hover {
                transform-origin: center top;
                animation-name: wiggle;
                animation-duration: 800ms;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
            }
        }

        .circle {
            width: 18px;
            height: 18px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            background-color: rgb(201, 61, 61);
            border: 3px solid #ffffff;
            border-radius: 50%;
            position: absolute;
            top: -15px;
            right: -5px;
            display: none;
        }

        &:hover {

            cursor: pointer;
            height: 76%;
            background-image: linear-gradient(145deg,
                    $primarycolor1, $primarycolor2,
                    $primarycolor1);
            background-position: left;
            background-size: 500%;
            animation: colorslide 4s ease-in-out 0s infinite alternate;
            color: white;

            .bell {
                display: block;
            }

            .circle {
                display: block;
            }
        }
    }
}

.progress {

    // @include border();
    height: 12vh;
    padding-inline: 0.5em;
    margin: 0px;

    &__title {
        height: 30%;
        font-size: 22px;
        font-weight: 700;
        margin-bottom: 12px;
        padding: 0px;

        p {
            margin: 0px;
            padding: 0px;

        }
    }

    &__bar {

        display: flex;
        align-items: center;
        background: #D8D5E0;
        height: 20px;
        border-radius: 25px;

        &__btn {

            width: 30px;
            height: 30px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            background-color: white;
            border: 8px solid #464E85;
            border-radius: 50px;
            margin-left: -10px;

        }

        &__pbar {
            padding: 0px;
            margin: 0px;
            border-radius: 25px;
            height: 100%;
            width: 57%;
            background-image: linear-gradient(to right,
                    $primarycolor1, $primarycolor2,
                    $primarycolor1);
            background-position: left;
            background-size: 500%;
            animation-name: prog 4s ease-out 0s 1;
            animation-name: colorslide 4s ease-in-out infinite alternate;

        }
    }

    &__mins {

        font-size: 20px;
        font-weight: 700;
        margin: 0px;
        margin-top: 0.7vh;
        padding: 0px;

        span {
            font-size: 18px;
            font-weight: 300;
        }
    }
}

.image {

    @include flexCenter(center, row);
    align-items: flex-end;
    height: 35%;
    margin-bottom: -12px;


    img {
        width: auto;
        height: 100%;
    }

}


@media only screen and (max-width: 300px) {

    .schetitle {

        p {
            font-size: 18px;
        }

        h2,
        h1 {
            font-size: 25px;
        }
    }

}

@media only screen and (max-height: 600px) {
    .schetitle {

        p {
            font-size: 18px;
        }

        h2,
        h1 {
            font-size: 25px;
        }
    }

    .schecards {
        height: 18vh;
    }

}

@media only screen and (min-width: 900px) {

    @keyframes weather {
        from {
            left: -20vw;
        }
    
        to {
            left: 110vw;
        }
    }

    .body_schedule {
        align-items: center;
    }

    .schetitle {

        div {
            margin-block: 10px;
        }

        p {
            font-size: 25px;
        }

        h2,
        h1 {
            font-size: 35px;
        }
    }

    .bigwrapper {
        width: 850px;
    }

    .schetop {
        height: 40px;
    }

    .schetitle {

        justify-content: space-around;
        height: 100px;

        div {
            margin-block: 10px;
        }


        p {
            font-size: 25px;
            color: rgb(52, 51, 51);
        }

        h2,
        h1 {
            font-size: 35px;
        }
    }

    .schedatebox {
        height: 70px;

        h3,
        p {
            font-size: 30px;
        }

        p {
            font-size: 25px;
            color: $fontcolor;
        }
    }

    .progress {
        margin-top: 10px;
        height: 120px;
        margin-bottom: -40px
    }

    .schecards {

        @include flexCenter(center, row);
        flex-wrap: wrap;
        height: 300px;

        &__card {

            height: 30%;
            justify-content: space-around;

            div {
                margin-top: 0px;
            }

            &:hover {
                justify-content: space-around;
                height: 30%;
            }

            .circle {
                top: -7px;
            }

        }
    }

    @media only screen and (max-height: 601px) {

        .schedatebox {
            height: 20px;
        }

        .schetitle {

            height: 50px;

            p {
                font-size: 17px;
            }

            h2 {
                font-size: 22px;
            }

            h1 {
                font-size: 22px;
            }
        }

        .progress {
            margin-top: 0px;
            height: 11vh;

            &__title {
                font-size: 22px;
            }
        }

        .schecards {
            &__cards {
                height: 28%;

                &:hover {
                    height: 83%;
                }
            }
        }

        .image {
            img {
                height: 93%;
            }
        }
    }


}

// Michael ENDs





// Marina STARTs 

@import './var';
@import './mixin';
@import './activitiesGrid';
@import './userBar';

html {
    font-family: $mainFontFamily;
    color: $fontColor;
}

.bodyActivities {
    background: $bgcolor;
    background-size: cover;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: $shadow2;

    &__topIcons {
        width: 98%;
        @include flexSpaceBetween;
    }

    &__gridUserIcon {
        width: 98%;
        @include flexSpaceBetween;
    }

    &__search {
        width: 60%;
        margin-left: auto;
        margin-right: auto;

        input {
            border-radius: 30px;
            @include inputBar1024;
            width: 95%;
        }

        ion-icon {
            position: absolute;
            top: 18%;
            left: 33%;
        }
    }

    &__navBar {
        width: 100%;

        &__list {
            list-style: none;
            @include flexSpaceBetween;
            margin: 2.5% 3.5% 2% 0%;

            &--link {
                text-decoration: none;
                padding: 0.2em 0.7em;
                color: $fontColor;
                font-size: 1.1em;

                &:hover {
                    background: rgb(102, 51, 160);
                    color: white;
                    font-size: 1em;
                    cursor: pointer;
                    border-radius: 45px;
                }

            }
        }

    }

}


@media only screen and (max-width: 770px) {

    .bodyActivities {
        width: 100%;
        border-radius: 0px;
        box-shadow: none;
        border: none;
        margin: 0%;
        padding: 0%;

        &__search {
            width: 99%;
            margin-left: 2.5%;

            input {
                @include inputBar1024;
                width: 95%;
            }

            ion-icon {
                position: absolute;
                top: 16%;
                left: 6%;
            }
        }

        &__navBar {
            &__list {
                margin: 5% 3% 5% -3%;

                &--link {
                    font-size: 1.2em;
                }
            }

        }

        .ActivitiesGrid {
            grid-template-columns: 30% 30% 30%;
            grid-template-areas:
                "steps sleep goals"
                "steps sleep goals"
                "steps colories goals"
                "haert colories goals"
                "haert colories goals";

            weight {
                display: none;
            }

            .haert {
                &__chart {
                    @include flexCenter;

                    &--bmp {
                        position: absolute;
                        left: -5%;
                    }

                    .bar-graph-vertical .bar-container {
                        width: 1.3em;
                    }
                }

            }

            .goals {
                height: 46.5vh;

                &__goalsDiagram {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .userBar {
            @include flexCenter;
            flex-direction: column;
            gap: 1.5em;
            padding-top: 1.6em;
            padding-bottom: 0em;
        }

    }

}

@media only screen and (max-width: 540px) {

    .bodyActivities {
        width: 98%;
        border-radius: 0px;
        box-shadow: none;
        border: none;
        margin: none;
        padding: none;

        &__search {
            width: 98%;
            margin-left: 2.5%;

            input {
                @include inputBar;
                width: 95%;
            }

            ion-icon {
                position: absolute;
                top: 22.5%;
                left: 6%;
            }

        }

        &__navBar {
            &__list {

                margin-left: -9%;

                &--link {
                    font-size: 0.9em;
                }
            }

        }

        .ActivitiesGrid {
            grid-template-columns: 44% 44%;
            grid-template-areas:
                "steps sleep"
                "steps sleep"
                "steps colories"
                "haert colories"
                "haert colories";

            goals,
            weight {
                display: none;
            }

            .haert {
                &__chart {
                    @include flexCenter;

                    &--bmp {
                        display: none;
                    }

                    .bar-graph-vertical .bar-container {
                        width: 1em;
                    }
                }
            }

            .steps {
                &__stepsContainer {
                    padding-top: 0%;
                }
            }

            .calories {
                &__caloriesContainer {
                    padding-top: 0%;
                }
            }
        }

        .userBar {
            gap: 0.5em;
            padding-top: 0em;
            padding-bottom: 0em;

            &__DailyMeals,
            &__info {
                @include inputBar;
            }
        }
    }
}

// Marina ENDs








// Shimon STARTs

.shimon {
    background-color: rgba(128, 128, 128, 0.089);
    justify-items: center;
    height: fit-content;

    #main-wrapper {
        width: 600px;
        margin-right: auto;
        margin-left: auto;
    }


    .container {
        justify-self: center;
        font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
        display: flex;
        flex-direction: column;
        gap: 3px;



        .cloud {
            @keyframes magnificent_popup {
                from {
                    left: 20px;
                }

                to {
                    left: 1200px;
                }
            }

            position: absolute;
            top: 15vh;
            width: 300px;
            animation-name: magnificent_popup;
            animation-duration: 15s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            animation-fill-mode: forwards;
            border-radius: 20%;
            z-index: -1;

        }

        .cloud.active {
            display: block;
            margin-right: auto;
            margin-left: auto;
        }

        .bird {
            position: absolute;
            top: 30px;
            right: 3vw;
            display: block;
            margin-right: auto;
            margin-left: auto;

            img {
                width: 100px;
            }
        }


        h1 {
            display: block;
            margin-right: auto;
            margin-left: auto;
            color: black;
        }

        img {
            justify-self: center;
            max-width: 45%;
            border-radius: 15%;
            display: block;
            margin-right: auto;
            margin-left: auto;
            z-index: -2;
        }

        .login {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 2%;
            width: 290px;
            height: 280px;
            height: fit-content;
            background-color: rgba(128, 128, 128, 0.151);
            border-radius: 25px;
            display: block;
            margin-right: auto;
            margin-left: auto;
            color: black;


            .login_button {
                position: relative;
                left: 200px;
                top: 30px;
                align-items: center;
                text-align: center;
                color: white;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background: linear-gradient(to bottom right, #4d358b 50%, #ca36a5 100%);
                text-align: center;
                padding: 2px;

            }
        }


    }
}