img {
    width: 25vw;
    height: 25vh;
}
.bigbox{
    display: grid;
    grid-template-columns: 35vh 35vh 35vh;
    grid-template-rows: 25vh 10vh 5vh;
    gap:25vh;
    
    
}
.container1 {
    display: grid;
    grid-template-columns: 35vh;
    grid-template-rows: 25vh 10vh 5vh;
   
    
}
.container2 {
    display: grid;
    grid-template-columns: 35vh;
    grid-template-rows: 25vh 10vh 5vh;
    
}
.container3 {
    display: grid;
    grid-template-columns: 35vh;
    grid-template-rows: 25vh 10vh 5vh;
    
}
.container4 {
    display: grid;
    grid-template-columns: 35vh;
    grid-template-rows: 25vh 10vh 5vh;
    
}
.container5 {
    display: grid;
    grid-template-columns: 35vh;
    grid-template-rows: 25vh 10vh 5vh;
    
}
.container6 {
    display: grid;
    grid-template-columns: 35vh;
    grid-template-rows: 25vh 10vh 5vh;
    
}
.box{
    font-size: 3vh;
    font-family: fantasy;
    font-style: italic;
    text-shadow: 1px 1px green;
}
.container1>.box:nth-child(odd){
    background-color: aqua;
    border-radius: 30px;
    width: auto;
}
.container2>.box:nth-child(odd){
    background-color: aqua;
    border-radius: 30px;
    width: auto;
}
.container3>.box:nth-child(odd){
    background-color: aqua;
    border-radius: 30px;
    width: auto;
    
}
.container4>.box:nth-child(odd){
    background-color: rgb(255, 0, 0);
    border-radius: 30px;
    width: auto;
}
.container5>.box:nth-child(odd){
    background-color: rgb(255, 0, 0);
    border-radius: 30px;
    width: auto;
}
.container6>.box:nth-child(odd){
    background-color: rgb(255, 0, 0);
    border-radius: 30px;
    width: auto;
}