
@media only screen and (max-width: 2900px){
    body{
        background: rgb(6, 45, 243);
    }
}
@media only screen and (max-width: 1840px){
    body{
        background: rgb(72, 212, 67);
    }
}
@media only screen and (max-width: 1340px){
    body{
        background: rgb(243, 6, 6);
    }
}