body
{
    max-width: 1920px;
    max-height: 1080px;
    align-items: center;
    align-content: center;
    background-size: cover;
    background: rgb(29, 31, 41);
    align-items: center;
    height: 150vh;
    margin:50px;
    padding-right: 10em;
    
}

.logo
{
  position: relative;
  left: 170px;
  border-radius: 100px;
  border: 3px solid white;
  width: 4.3vw;
  height: 100px;
  bottom: 30px;;
  transition: 0.8s;

  &:hover
  {
    transform: scale(1.3);
    border: 3px solid white;

  }
}

.test
{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 650px;
  gap: 250px;
  align-items: center;
  align-content: center;
  position: relative;
}

.game_1
{
    grid-row-start: 1;
    grid-row-end: 2;
}
.container
{
    display: grid;

    border: 3px solid white;
    left: 250px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:  repeat(3,300px);
    height: 105vh;
    gap: 40px;
    margin-top: 40px;

    
    &__box
    {
        border: 3px solid white;
        border-radius: 50px;
        box-shadow:  0 0 20px rgba(0,0,0,.1);
        transition: 1.2s;
        font-family: sans-serif;
        color: salmon;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        overflow: hidden;

        &__content
        {
          display: flex;
          flex-direction: column;
          position: relative;
          top: 15px;
        }

        &:hover
        {
            transform: scale(1.3);
            z-index: 2;
        
        
            & .box__title
            {
                transform: scaleX(1);
            }
        }

        &__content
        {
            transform: translateY(135%);
            transition: 1.2s;   
        }

        &__button
        {
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
            color: rgb(5, 3, 0);
            background-color: rgb(157, 197, 78);
            padding: 0.5em 1.25em;
            border-radius: 10px;
            transition: 1.2s;
            opacity: 0.8;

            &:hover
            {
                transform: scale(1.3);
            }

            &:focus
            {
                background-color: rgb(225, 228, 222);
            }
        }

        &__title
        {
            position: relative;
            transition: 1.2s;

        }

        &__title::after
        {
            content: "";
            position: absolute;
            height: 5px;
            left: 0;
            bottom: 0;
            width: 100%;
            background: rgb(157, 197, 78);
        }
        
        } 
        }
        
    

    .price
    {
      font-size: 30px;
      color: greenyellow;
    }
    



.container__box:hover .container__box__content
{
    transform: translateY(0%);
    transition: transformY(0);

}


  .Action-Adventure
  {
    position: relative;
    bottom: -15vh;
  }
  
  .game
  {
 
    
    &_1
    {
        background: url(https://wallpapercave.com/dwp1x/AIVAsqC.jpg);
        grid-row-start: 1;
        grid-row-end: 2;

        :active
        {
          background: url(https://c.tenor.com/X_5vdWJEBYcAAAAC/assassins-creed-unity.gif);
          background-repeat: no-repeat;
          background-size: cover;        
        }

    }
  
    &_2
    {
        background: url(https://images3.alphacoders.com/843/thumbbig-843016.webp);
        
        :active
        {
          background: url(https://c.tenor.com/7xiGei5WC1AAAAAM/anger-rage.gif);
          background-repeat: no-repeat;
          background-size: cover;       
         }

    }
    &_3
    {
        background: url(https://c4.wallpaperflare.com/wallpaper/374/201/282/soldiers-call-of-duty-call-of-duty-modern-warfare-ghost-cod6-2560x1440-architecture-modern-hd-art-wallpaper-preview.jpg);
        background-repeat: no-repeat;
        background-size: cover;  
        
        :active
        {
          background: url(https://c.tenor.com/mSygXLnH7cUAAAAS/dogearmy-dogecoin.gif);
          background-repeat: no-repeat;
          background-size: cover;        
        }
    }
    &_4
    {
        background: url(https://images.unsplash.com/photo-1623476408624-721c9185d569?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHN0YXIlMjB3YXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);

        
        :active
        {
          background: url(https://c.tenor.com/6YFcZ8rEag0AAAAM/star-wars-jedi-fallen-order.gif);
          background-repeat: no-repeat;
          background-size: cover;        
        }
    }
    &_5
    {
        background: url(https://wallpapercave.com/dwp1x/wp1897912.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        
        :active
        {
          background: url(https://c.tenor.com/Ir65B6UgLvoAAAAM/aloy-horizon-zero-dawn.gif);
          background-repeat: no-repeat;
          background-size: cover;        }
    }

    &_6
    {
        background: url(https://wallpapercave.com/wp/wp7246634.jpg);
        background-repeat: no-repeat;
        background-size: cover;


        
        :active
        {
          background: url(https://media3.giphy.com/media/H7Ne5EbNqqdGeIIEWd/100.webp?cid=ecf05e47kkey2acipjj6km7klb3wria6xyjrtfauy0uzad4y&rid=100.webp&ct=g);
          background-repeat: no-repeat;
          background-size: cover;        }
    }

    &_7
    {
        background: url(https://wallpapercave.com/wp/wp4346842.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
        
        :active
        {
          background: url(https://media2.giphy.com/media/8AgHUG7c2OTmYp7Oyx/200w.webp?cid=ecf05e479tlu8fpfkzb04wi4nu78t4rmlxnw21cx04cd2o2e&rid=200w.webp&ct=g);
          background-repeat: no-repeat;
          background-size: cover;        }
    }

    &_8
    {
        background: url(https://wallpapercave.com/wp/wp3277470.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    
        
        :active
        {
          background: url(https://c.tenor.com/OBzcMBeR5xcAAAAd/scared-skydive.gif);
          background-repeat: no-repeat;
          background-size: cover;        }
    }
   
}

    
  
 

 // the navbar

.banner {
    width: 70%;
    height: 4vh;
    background-color: rgb(29, 31, 41);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-weight: 200;
    top: -150px;
    left: 19vw;
    position: relative;
  

    &__navbar {
      width: 85%;
      margin: auto;
      position: relative;
      align-items: center;
      justify-content: space-between;
  
      & ul li {
        list-style: none;
        font-size: 10px;
        display: inline-block;
        margin: 0 50px;
        position: relative;
  
        & a {
          text-decoration: none;
          color: greenyellow;
          font-weight: 200;
          font-size: 2vh;
          text-transform: uppercase;
        }
  
  
        & ::after {
          content: '';
          height: 5px;
          width: 0;
          background: greenyellow;
          position: absolute;
          left: 0;
          bottom: -10px;
          transition: 0.8s;
        }
  
  
        &:hover ::after {
          width: 100%;
        }
      }
  
      }
  
    
  }
