body {
  max-width: 1920px;
  max-height: 1080px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-size: cover;
  background: #1d1f29;
  align-items: center;
  height: 150vh;
  margin: 50px;
  padding-right: 10em;
}

.logo {
  position: relative;
  left: 170px;
  border-radius: 100px;
  border: 3px solid white;
  width: 4.3vw;
  height: 100px;
  bottom: 30px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.logo:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border: 3px solid white;
}

.test {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 650px;
  gap: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

.game_1 {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.container {
  display: -ms-grid;
  display: grid;
  border: 3px solid white;
  left: 250px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (300px)[3];
      grid-template-rows: repeat(3, 300px);
  height: 105vh;
  gap: 40px;
  margin-top: 40px;
}

.container__box {
  border: 3px solid white;
  border-radius: 50px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -webkit-transition: 1.2s;
  transition: 1.2s;
  font-family: sans-serif;
  color: salmon;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}

.container__box__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 15px;
}

.container__box:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  z-index: 2;
}

.container__box:hover .box__title {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.container__box__content {
  -webkit-transform: translateY(135%);
          transform: translateY(135%);
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.container__box__button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #050300;
  background-color: #9dc54e;
  padding: 0.5em 1.25em;
  border-radius: 10px;
  -webkit-transition: 1.2s;
  transition: 1.2s;
  opacity: 0.8;
}

.container__box__button:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.container__box__button:focus {
  background-color: #e1e4de;
}

.container__box__title {
  position: relative;
  -webkit-transition: 1.2s;
  transition: 1.2s;
}

.container__box__title::after {
  content: "";
  position: absolute;
  height: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #9dc54e;
}

.price {
  font-size: 30px;
  color: greenyellow;
}

.container__box:hover .container__box__content {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  -webkit-transition: transformY(0);
  transition: transformY(0);
}

.Action-Adventure {
  position: relative;
  bottom: -15vh;
}

.game_1 {
  background: url(https://wallpapercave.com/dwp1x/AIVAsqC.jpg);
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
}

.game_1 :active {
  background: url(https://c.tenor.com/X_5vdWJEBYcAAAAC/assassins-creed-unity.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.game_2 {
  background: url(https://images3.alphacoders.com/843/thumbbig-843016.webp);
}

.game_2 :active {
  background: url(https://c.tenor.com/7xiGei5WC1AAAAAM/anger-rage.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.game_3 {
  background: url(https://c4.wallpaperflare.com/wallpaper/374/201/282/soldiers-call-of-duty-call-of-duty-modern-warfare-ghost-cod6-2560x1440-architecture-modern-hd-art-wallpaper-preview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.game_3 :active {
  background: url(https://c.tenor.com/mSygXLnH7cUAAAAS/dogearmy-dogecoin.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.game_4 {
  background: url(https://images.unsplash.com/photo-1623476408624-721c9185d569?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fHN0YXIlMjB3YXJzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
}

.game_4 :active {
  background: url(https://c.tenor.com/6YFcZ8rEag0AAAAM/star-wars-jedi-fallen-order.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.game_5 {
  background: url(https://wallpapercave.com/dwp1x/wp1897912.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.game_5 :active {
  background: url(https://c.tenor.com/Ir65B6UgLvoAAAAM/aloy-horizon-zero-dawn.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.game_6 {
  background: url(https://wallpapercave.com/wp/wp7246634.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.game_6 :active {
  background: url(https://media3.giphy.com/media/H7Ne5EbNqqdGeIIEWd/100.webp?cid=ecf05e47kkey2acipjj6km7klb3wria6xyjrtfauy0uzad4y&rid=100.webp&ct=g);
  background-repeat: no-repeat;
  background-size: cover;
}

.game_7 {
  background: url(https://wallpapercave.com/wp/wp4346842.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.game_7 :active {
  background: url(https://media2.giphy.com/media/8AgHUG7c2OTmYp7Oyx/200w.webp?cid=ecf05e479tlu8fpfkzb04wi4nu78t4rmlxnw21cx04cd2o2e&rid=200w.webp&ct=g);
  background-repeat: no-repeat;
  background-size: cover;
}

.game_8 {
  background: url(https://wallpapercave.com/wp/wp3277470.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.game_8 :active {
  background: url(https://c.tenor.com/OBzcMBeR5xcAAAAd/scared-skydive.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner {
  width: 70%;
  height: 4vh;
  background-color: #1d1f29;
  background-size: cover;
  background-position: center;
  text-align: center;
  font-weight: 200;
  top: -150px;
  left: 19vw;
  position: relative;
}

.banner__navbar {
  width: 85%;
  margin: auto;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner__navbar ul li {
  list-style: none;
  font-size: 10px;
  display: inline-block;
  margin: 0 50px;
  position: relative;
}

.banner__navbar ul li a {
  text-decoration: none;
  color: greenyellow;
  font-weight: 200;
  font-size: 2vh;
  text-transform: uppercase;
}

.banner__navbar ul li ::after {
  content: '';
  height: 5px;
  width: 0;
  background: greenyellow;
  position: absolute;
  left: 0;
  bottom: -10px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.banner__navbar ul li:hover ::after {
  width: 100%;
}
/*# sourceMappingURL=Test_gaming.css.map */