






.shopCard{
    img{
        width:70%;
      }
    
    
    &__flex{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        h3{
            background: -webkit-linear-gradient(#ee7752, #e73c7e);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
           }
           p{
             font-size:smaller;
             color: #e73c7e;
           }
    }

    button{
       background-color: #cf90ee;
        border: 2px solid #aa00ff;
        margin:5px;
        color:white;
        border-radius:5px;
        font-family: 'Cedarville Cursive', cursive;
            
        
        
        &:hover{
            color:pink;
            background-color: #aa00ff;
            border:2px solid pink; 
            cursor:pointer         

        }
        &:active{
            background-color: #f632ec

        }
    }
}