.wrapper{
    width: 100%;
    height: fit-content;
    background-color: rgb(101, 159, 182);

    &--menu{
            display: flex;
            justify-content: center;
            background-color: #333;
            font-size: 20px;

            a{
                color: white;
                padding: 17.5px 20px;
                text-decoration: none;
                text-align: center;
                }

                :hover{
                    background-color: #ddd;
                    color: black;
                }
            }


&--fieldWrapper{
    width: 20%;
    height: 400px;
    background-color: gray;
    position: relative;
    left: 79.5%;
    top: 100px;

    border: 1px solid white;
    border-radius: 20px;

    &__filed{
        width: 90%;
        height: 20px;
        border: 1px solid black;
        padding: 5px;
        color: black;
        font-size: x-large;
        margin-top: 7px;
        margin-left: 8px;
    }

    &__btn{
        background-color: #4a41cc;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        font-size: 16px;
        border-radius: 7px;
        margin-left: 8px;
        margin-top: 17px;
        cursor: pointer;
    }
}

&--cards{
    width: 78%;
    display: grid;
    margin-left:3px ;
   grid-template-columns: repeat(4, 23.5%); 
   grid-auto-rows: auto;
   grid-gap: 15px;
   position: relative;
   bottom: 300px;
   

   &__card{
    border: 0.5px solid white;
    border-radius: 4px;
   }
   img{
    width: 100%;
    //margin-left:5% ;
    height: 250px;
   }

   p{
       font-size: x-large;
       position: relative;
       bottom: 20px;
       direction: rtl;
   }
}
}









.mainPage{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80% 10%;

    &__header{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:1fr;
        background-color: #19162b;

        &--icons{
            i{
                width: 10px;
                height: 20px;
            }
        }

        &--title{
            text-align: center;
            padding: .8rem;
            font-family: 'Courgette', cursive;
            color: #d114a9;
        }

        &--welcome{
            text-align: end;
            padding: 1.2rem;
            font-family: 'Barlow', sans-serif;
            color: #585568;
        }
    }

    &__middle{
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 1fr;

        &--products{
            display: grid;
            grid-template-columns:repeat(4, 1fr);
            grid-template-rows: auto;
            background-color: #251f41;
        }

        &--categories{
            display: block;
            text-align: center;
            padding: 3%;
            background-color: #19162b;

            h4{
                padding: 10%;
                font-family: 'Permanent Marker', cursive;
                color: #d0cedb;
                cursor: pointer;
            }
        }
    }

    &__footer{
        background-color: #19162b;
    }
}

     
     

    

     
    