.menu{
    display: flex;
    background-color: gold;
    font-size: 30px;
    font-family: 'Rowdies', cursive;
    border: 3px ridge blue;
    padding: 2px;
}
.menu a{
    text-decoration: none;
    padding:10px;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(4, 300px);
    gap: 20px;
}
img{
max-height: 200px;
max-width: 300px;
}