

$Softred: hsl(10, 79%, 65%);

$Cyan: hsl(186, 34%, 60%);



$Darkbrown: hsl(25, 47%, 15%);
$Mediumbrown: hsl(28, 10%, 53%);
$Cream: hsl(27, 66%, 92%);
$orange: hsl(33, 100%, 98%);



.App {
  text-align: center;
   background-color: $Cream;
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;

}
.balance{
  text-align:left;
  color:white;
  padding:10px;
width: clamp( 300px, 25vw, 600px);
height:50px;
border-radius:10px;
background-color: $Softred;

}
.data{
  margin-top:10px;
  border-radius:10px;
  background-color:$orange;
  padding:10px;
  text-align:left;
  &__flex{
    display:flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  }
  
  
}
.graph{

  background-color:$Softred ;
  //width:100px;
  

}





