body {
    background-color: white;
    font-family: sans-serif;
}
.container{
    width: 1440px;
    height: 100%;
    top: 0;
    background: #2a2438;
    h1 {
        align-items: center;
         font-size: 5vh;
         margin: auto;
         color: #dbd8e3;
     }
}
.wrapper {
    top: 0;
    display: grid;
    position: relative;
    width: 1440px;
    max-width: 1440px;
    
    grid-template-columns: repeat(5,1fr);

     /*media quary*/
     @media only screen and(max-width: 1300px){
        grid-template-columns: repeat(4,1fr);
        max-width: 1300px;
            width: 100%;
    }
     @media only screen and(max-width: 1200px){
        grid-template-columns: repeat(3,1fr);
        max-width: 1200px;
            width: 100%;
    }
    
    @media only screen and(max-width: 950px){
            grid-template-columns: repeat(2,1fr);
            max-width: 950px;
            width: 100%;
    }
    @media only screen and(max-width: 600px){
            grid-template-columns: repeat(1,1fr);
            max-width: 600px;
            width: 100%;
    }
    
    

    &__card {
        position: relative;
        background: #352f44;
        color: rgb(0, 0, 0);
        border: 1px solid gray;
        border-radius: 3vw;
        height: 200px;
        width: 200px;
        margin: 5px;
        z-index: 0;

        &:hover {
            cursor: pointer;
        }

        video {
            border-radius: 3vw;
            width: 100%;
        }

        img {
            position: absolute;
            border-radius: 3vw;
            align-items: center;
            width: 100%;
        }



        #cover {
            height: 100%;
            opacity: 1;
            background-color: rgb(44, 44, 44);
            z-index: 2;

            &:hover {
                display: none;
            }
        }

        #gif {
            z-index: 1;
        }


        h1 {
            position: absolute;
            color: #5c5470;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2vh;
            font-weight: 100;
            z-index: 1;
            bottom: 0;
            margin: 10%;
        }

        p {
            color: #dbd8e3;
            position: absolute;
            bottom: 0;
            right: 0;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2vh;
            z-index: 1;
            margin: 10%;
        }
    }
    
}
