body {
    background-color: white;
    font-family: sans-serif;
    margin: 0;
}

.wrapper {

    width: 1440px;
    height: 100%;
    background: #363434;
    margin: 0 auto;

    h1 {
        line-height: 3em;
        text-align: center;
        width: 100%;
        font-size: 2em;
        margin: auto;
        color: #dbd8e3;
    }

    /*media quary*/
    @media only screen and(max-width: 1300px) {

        max-width: 1300px;
        width: 100%;
    }

    @media only screen and(max-width: 1200px) {

        max-width: 1200px;
        width: 100%;
    }

    @media only screen and(max-width: 950px) {

        max-width: 950px;
        width: 100%;
    }

    @media only screen and(max-width: 600px) {

        max-width: 600px;
        width: 100%;
    }
}

.container {
    background-color: #363434;
    display: grid;
    grid-gap: 2em;
    width: 1440px;
    max-width: 1440px;
    grid-template-columns: repeat(5,1fr);

    /*media quary*/
    @media only screen and(max-width: 1300px) {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1300px;
        width: 100%;
    }

    @media only screen and(max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
        width: 100%;
    }

    @media only screen and(max-width: 950px) {
        grid-template-columns: repeat(2, 1fr);
        max-width: 950px;
        width: 100%;
    }

    @media only screen and(max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
        max-width: 600px;
        width: 100%;
    }



    &__card {
        position: relative;
        background: #5c5757;
        display: grid;
        color: rgb(0, 0, 0);
        border: 1px solid gray;
        border-radius: 3em;
        height: 200px;
        width: 200px;
        
        
            grid-template-columns:15% 70% 15%;
            grid-template-rows: 55% 20% 25%;
            grid-template-areas: "gif gif gif"
            "h1 h1 h1"
            ". p .";
        z-index: 0;

        &:hover {
            cursor: pointer;

            #cover {
                opacity: 0;
            }
        }

        

        img {
            position: absolute;
            border-radius: 3em;
            align-items: center;
            width: 100%;
            
            
        }



        #cover {
            height: 100%;
            opacity: 1;
            background-color: rgb(44, 44, 44);
            z-index: 2;
        }

        #gif {

            z-index: 1;
            grid-area: gif;
        }


        h1 {
            
            color: #62929a;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2vh;
            font-weight: 100;
            z-index: 1;
            
            line-height: 1rem;
            grid-area: h1;
        }

        p {
            color: #efecec;
            
            font-family: Arial, Helvetica, sans-serif;
            font-size: 2vh;
            z-index: 1;
        
            grid-area: p;
        }
    }

}