.comp {
    font-family: 'Roboto', sans-serif;

    &__login {

        .login {
            position: absolute;
            bottom: 500px;
            left: 90vw;
            display: flex;
            align-items: center;
            gap: 1em;
            color: rgb(32, 128, 201);
            border: 1px solid rgb(32, 128, 201);
            padding: 0 5px;
            cursor: pointer;
        }

        .form{

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: absolute;
                left: 85%;
                bottom: 320px;
                width: 200px;
                height: 120px;
                background: white;
                z-index: 6;
                
    
                input {
                    margin-bottom: 10px;
                    width: 170px;
    
                }

                .alert {
                    color: red;
                    font-size: 10px;
                    position: absolute;
                    top: 80px;
                }

        }


        }

        .blur {
            z-index: 4;
            position: absolute;
            width: 100vw;
            height: 100vh;
            background: rgba(255, 255, 255, 0.353);


            
        }



    }

    &__sideBar {
        position: absolute;
        right: 1310px;
        top: -90px;

        .tab {
            display: flex;
            align-items: center;
            margin-bottom: 9px;
            cursor: pointer;

            .tab-logo {
                margin-bottom: 170px;
            }

            .icon {
                margin-right: 24px;
            }

            img {
                width: 100px;
            }

            h1 {
                font-size: 14px;
                font-weight: 300;
            }

        }

        .tab-closed {
            .tab {
                margin-bottom: 50px;
            }
        }


    }

    &__videosGrid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 230px;
        margin-right: 20px;
        gap: 16px;
        row-gap: 110px;
        position: relative;

        .placeholderSideBar {
            position: absolute;
            left: 1200px;
            top: 0px;
            visibility: hidden;
            background: blue;
            width: 70px;
            aspect-ratio: .1;
        }


        .comp__videoCard {
            display: flex;
            flex-direction: column;
            transition: all .5s ease-in-out;
            width: 280px;
            height: 160px;
            cursor: pointer;

            .text {
                display: flex;
                flex-direction: column;
                background: white;

                h1,
                p {
                    align-self: flex-start;
                    margin-left: 10px;
                }

                h1 {
                    font-size: 14px;
                }

                p {
                    font-size: 10px;
                    color: grey;
                }

            }

            &:hover {
                transform: scale(1.3);
                opacity: 1;
                transition-delay:1s;


                &::after {
                    content: 'Watch Later';
                    background: white;
                    width: 100%;
                    margin-top: -1px;
                    padding-bottom: 10px;
                    transition-delay:1s;

                }
            }
        }

    }
}