
body{
    background-color: rgb(230, 230, 178);
}

@media only screen and (max-width: 1200px){
    body{
        background-color: rgb(21, 255, 0);
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 900px){
    body{
        background-color: rgb(255, 0, 13);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 600px){
    body{
        background-color: blue;
        grid-template-columns: repeat(1, 1fr);
    }
}

.main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2.1fr);
    border: 1px solid grey;
    grid-gap: 15px;
}

.box{
    background-size: cover;
    background-repeat: no-repeat;
    width: 300px;
    border: 1px solid grey;

    img{
      width: 100%;   
    }

    
}