@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

body {
    height: 1200px;
    background: url(https://images.unsplash.com/photo-1578662996442-48f60103fc96?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2340&q=80);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Syne Mono', monospace;
}

.title {
    height: 10vh;
    margin-bottom: 1.5em;

    h1 {
        font-size: 50px;
    }
}

.start {
    button {
        width: 300px;
        height: 100px;
        font-size: 50px;
        font-family: 'Syne Mono', monospace;
        border-radius: 25px;
        cursor: pointer;
    }
}

.root {
    height: fit-content;
    display: flex;
    justify-content: center;
    width: 90%;

    .cardsgrid {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 1.5em;
        column-gap: 140px;
        height: fit-content;

        .card {
            height: 170px;
            width: 120px;
            background-color: grey;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: 4px 4px 4px #000000;
            

            &--back {
                height: 100%;
                background: radial-gradient(circle, rgba(0,0,0,1) 16%, rgba(142,142,142,1) 100%);
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 60px;
                border-radius: 10px;
            }

            &--front {

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;



                .img {
                    background-position: center;
                    background-size: cover;
                    height: 150px;
                    width: 120px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                display: none;
            }
        }
    }

    display: none;
}