body{
    font-family: 'Roboto', sans-serif;
}

.header {
    // display: grid;
    // grid-template-columns: 1fr 2fr .5fr .5fr .5fr .5fr .5fr;
    // grid-template-rows: repeat(1, 72px);
    // justify-content: center;

    display: flex;
    width: 100%;
    height: 72px;

    .header__logo,
    .header__searchbar,
    .header__item {
        border: 1px black solid;
    }

    .header__logo {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 347px;

        .material-icons {
            color: rgb(42, 124, 218);
            font-size: 2.5rem;
            padding-left: 20px;
        }

        h2 {
            font-family: 'Poppins', sans-serif;
            color: rgb(3, 3, 95);
            font-size: 2.5rem;
        }
    }

    .header__searchbar {
        width: 765px;
        display: flex;
        align-items: center;

        form {
            display: flex;
            align-items: center;

            .material-icons {
                color: rgb(229, 232, 235);
                position: absolute;
            }

            input {
                border: 1px solid rgb(229, 232, 235);
                font-size: 25px;
                border-radius: 10px;
                width: 597px;
                height: 45px;
                padding-left: 25px;
                transition: all .4s;

                &:active{
                    border: 1px solid rgb(229, 232, 235);
                    box-shadow: 1px 1px 50px rgb(146, 146, 146);
                }
            }

            ::placeholder{
                color: rgb(138, 130, 130);
            }
        }
    }

    .header__item {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(92, 90, 90);
        width: 72px;
        padding: 0 10px;

        p{
            font-weight: bold;
            letter-spacing: .75px;
        }

        span{
            font-size: 2.5rem;
        }
    }

}














