.wrapper{
    min-height: 4vh;
    min-width: 4vw;
    border:1px solid green;
    color: white;
    text-align: center;
}



.box{
    width: 40px;
    height: 50px;
    background: red;
    border: solid;

}