.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 200px;
    height: fit-content;
    border: 1px solid black;
    color: black;
    

    img{
        width: 150px;
    }
}