body{
    background-image: url(https://static.vecteezy.com/ti/vecteur-libre/p1/834435-fond-bel-espace-vectoriel.jpg);
    background-position: left top;
}

img{
    width: 450px;
    height: 300px; 
    position: relative; 
    left: 25px;
    top: 10px;      
}
p{
    font-size: larger;
}

.box1 {
    width: 500px;
    height: 350px;
    background-color: rgb(51, 121, 153);
    position: relative;
    left:10px;
    top:10px;
    
}
.box2 {
    width: 500px;
    height: 400px;
    background-color: rgb(65, 24, 24);
    position: absolute;
    left: 700px;
    top: 100px;
    
}
.box3 {
    width: 500px;
    height: 400px;
    background-color: rgb(37, 83, 23);
    position: absolute;
    left: 200px;
    top: 800px;
    
}
.box4 {
    width:500px;
    height: 400px;
    background-color: rgb(70, 27, 60);
    position: absolute;
    left: 800px;
    top: 1000px;
    
}