.wrapper{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}



.btn{
   
    border-radius: 200px;
    border:2px solid rgb(61, 61, 61);
    padding: 20px 40px;
    width: fit-content;
    cursor: pointer;
    user-select: none;

    &:hover{
        background-color: beige;
    }
}

img{ 
    height: 200px;
    width: 150px;
position: absolute;
left: 50%;
top: 50%;
}