  
.header {background-color: cadetblue;
    position: sticky;
    width: 80vw;
    height: 10vw;
    top:10px;
      border: 3px solid blueviolet;
      }

h1 {float: left}

#shiri#pic {padding: 300px;}


.wrapper {background-color: cadetblue;
    position: relative;
    background-color:lightblue;
    width: 80vw;
    height: 90vh;
    top:150px;
    left:100px;
}

.wrapper_box1,.wrapper_box2,.wrapper_box3,.wrapper_box4,.wrapper_box5,.wrapper_box6{
    width: 150px;
    height:150px;
    border: 3px solid black;
}  

.wrapper_box1{ position: absolute;
    top: 1px;
    left: 500px;}

.wrapper_box2 {position: absolute;
    top: 180px;
    left: 100px;
}

.wrapper_box3 {position: absolute;
    top: 350px;
    left: 100px;
}
.wrapper_box4 {position: absolute;
    top: 1px;
    left: 100px;
}
.wrapper_box5 {position: absolute;
    top: 180px;
    left: 500px;
}
.wrapper_box6 {position: absolute;
    top: 350px;
    left: 500px;
}

.wrapper>p {
    color:darkorchid; 
    font-size: 20px; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;}



.wrapper_box1>p { color: chocolate; position:absolute; top:50%; left: 100px;}   
.wrapper_box2>p { color: chocolate; position:absolute; top:50%; left: 100px;}
.wrapper_box3>p { position:absolute; text-align: justify;}
            
.wrapper_box4>p { color: rgb(93, 30, 210); position:absolute;top: 10px;
    left:100px;}  

.wrapper_box5>p {color: rgb(240, 209, 33); position:absolute;top: 30px;
        left:100px;}  
    
.wrapper_box6>p { position:absolute;top: 40px;
            left: 130px;}  
        
