.App {
  text-align: center;
}

// div{
//   border: 1px solid red;
// }
.header {
  color: black;
  min-height: 100px;
  background-color: #eddccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 32px;
    font-weight: bold;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #bc6065;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 10px solid rgb(255, 255, 255);
    margin: 1% 0%;
  }

  h2 {
    margin: 0%;
    padding: 0%;
    margin-top: 2%;
  }
}

.App-body {
  background-color: #b6c0ae;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  color: white;
  flex-wrap: nowrap;

}

.form {
  background-color: #eddccc;
  border-radius: 4px;
}

ul {
  margin: 0%;
  padding: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  box-sizing: border-box;
  background-color: #f6d2ce;
  width: 60%;
  border: 2px solid white;
  margin-top: 2%;
  padding: 4%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  box-shadow: 2px 2px 4px rgb(105, 105, 105);

  img {
    max-width: 100%;
    object-fit: contain;
    cursor: pointer;
  }

  h2 {
    color: black;
    margin-right: 0.5em;
    padding: 0.8em;
    border-radius: 4px;
    background-color: #bc6065;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
  }
}

input {
  font-size: 0.8em;
  background-color: rgb(255, 255, 255);
  margin: 4px;
  border-radius: 4px;
}


.submit {
  background-color: #b6c0ae;
  padding: 14px;
  cursor: pointer;
  color: white;
}

.delete {
  button {
    font-size: 10px;
    background-color: #f6d2ce;
    border-radius: 4px;
    border: 1px solid rgb(100, 99, 99);
    padding: 8px;
    margin-top: 1em;
    cursor: pointer;
  }
}

.updateBox {
  border: 2px solid rgb(255, 255, 255);
  padding: 3px;
  margin-left: 10px;
}

.footer {
  margin-top: 100px;
  background-color: lightgray;
  position: relative;
  bottom: 0;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid white;
}

.item-exit-active {
  animation: shutdown 700ms linear;
}

@keyframes shutdown {
  0% {
    opacity: 1;
  }

  55%,
  100% {
    transform: scale(0, 0);
    opacity: 0.3;
  }
}