body {
    font-family: sans-serif;
    width: 90%;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: auto;
    background-image: url("../../images/1.jpg");
    // background-repeat: no-repeat;
    background-size: contain;

    h1 {
        font-size: 60px;
    }

    button {
        font-size: large;
        padding: 4px;
        margin-top: 4px;
        border: 2px solid #ff9100;
        border-radius: 2px;
        // border: none;
        cursor: pointer;
    }
}

a {
    text-decoration: none;
}

.header {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 7fr 1fr;

    img {
        width: 32%;
        object-fit: contain;
        margin-top: 60px;
        border: 3px dotted white;
        padding: 8px;

    }
}

.nav {
    margin-bottom: 20px;
    background-color: #ffffff9d;
    padding: 10px 10px;
    border-radius: 2px;
}

input {
    color: rgb(0, 0, 0);
    font-size: 22px;
}

.submit {
    cursor: pointer;
}

.product {
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    width: 300px;
    height: 400px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    border: 2px dotted #ff9100;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 6px white;

    img {
        width: 100%;
        max-height: 200px;
        object-fit: contain;
        // padding-left: 30px;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }

    img:hover {
        transform: scale(1.05);
    }

    .productName,
    .productprice {
        display: flex;
        justify-content: center;
        color: rgb(255, 255, 255);
        background-color: #ff9100a8;
        border-radius: 2px;
    }

    .productName {
        color: #000;
        font-size: larger;
    }
}

// div {
//     border: 1px solid red;
// }

#root {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

footer {
    width: 100%;
    height: 100PX;
    background-color: #ff9100;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 4px;
    margin-top: 20px;
}