img {
  width: 5rem;
  border: 0.5rem solid black;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.books {
  width: 15vw;
  background-color: rgb(255, 239, 167);
  position:relative;
  display:grid;
  grid-template-columns: 15vw 1px;
  
 


  h2 {
    background-color: yellow;
    width: 15vw;
    text-align: center;



  }


}

.movies {
  width: 15vw;
  background-color: rgba(70, 8, 8, 0.808);
  position:relative;
  display:grid;
  grid-template-columns: 15vw 1px; 
 


  h2 {
    background-color: red;
    width: 15vw;
    text-align: center;



  }


}

.expired {
  width: 15vw;
  background-color: rgba(102, 255, 14, 0.616);
  position:relative;
  display:grid;
  grid-template-columns: 15vw 1px; 
 


  h2 {
    background-color: rgb(72, 255, 0);
    width: 15vw;
    text-align: center;



  }


}

