.footer{
    width: 100vw;
    background-color: rgb(61, 96, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

  .f_button {
    background-color: rgb(61, 96, 148);
    border: none;
    color: white;
    padding: 15px 12px;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 11px;
    box-shadow: 0 5px 0 0 black;
  }

  .f_button:active {
    box-shadow: 0 3px black;
    transform: translateY(4px);
  }