.filed{
    padding: 12px;
    border: 1px solid rgb(2, 0, 0);
    border-radius: 4px;
    resize: vertical;
    font-size: large;
}

.button {
    background-color: rgb(61, 96, 148);
    border: none;
    color: white;
    padding: 15px 12px;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 11px;
  }