body{
    background: linear-gradient(110deg, rgb(129, 141, 179) 33%, rgba(241, 232, 232, 0) 33%), linear-gradient(110deg, #eb0707ad 66%, #ffc608 66%); 
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(129, 141, 179);
    border:1px double black;

    &__headline {
        font-family: 'Indie Flower', cursive;
        font-size: 25px;
        color: rgb(92, 32, 92);
        text-shadow: 1px 1px 3px;
        transition: 1s;

        &:hover {
            text-shadow: 2px 2px 6px;
            transition: 1.3s;
            cursor: pointer;
            color: rgb(196, 18, 18);
        }

        &:active {
            opacity: 1;
            color: yellow;
            transition: 1.1s;
            transform: rotate(1turn);
            text-shadow: 5px 5px 15px black;
        }
    }

    &__text {
        font-family: 'Amatic SC', cursive;
        color: gold;

        &:hover {
            border: 1px solid red;
            padding: 2px;
            transition: 1s;
            cursor: pointer;
            border-radius: 30%;


        }
    }

    button {
        background-color: rgb(159, 187, 122);
        border: 1px double rgb(24, 8, 8);
        border-radius: 30px;
        font-size: 7px;
        font-family: 'Oswald', sans-serif;

        &:hover {
            background-color: crimson;
            box-shadow: 2px 2px 6px;
            color: white;
            transition: 0.5s;
            cursor: pointer;
            
        }

    }

}

.flexy {
    display: flex;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: 50px repeat(4, 100px);
    gap: 5px;
    padding: 10px;
    

    &__head {
        background-color: rgb(63, 108, 205);
        grid-row: 1;
        grid-column: 1/5;
        h1{
            text-align: center;
            margin: -3px;
            font-family: 'Shadows Into Light', cursive;
            color: gold;
        }

    }

    &__box {

        background-repeat: no-repeat;
        background-size: 100%;

        p {
            display: none;
            background-color: rgba(102, 100, 100, 0.726);
            border-radius: 30px;

        }

        &:hover {
            transform: scale(1.1);
            cursor: pointer;
            box-shadow: 5px 5px 15px gold;
            transition: 2s;


            p {
                transition: 2s;
                color: rgb(255, 255, 255);
                display: block;
                font-size: 10px;
                text-align: center;
                padding: 5px;





            }
        }

    }

    .big1 {
        grid-row: 2/4;
        grid-column: 1/3;
    }

    .big2 {
        grid-row: 4/6;
        grid-column: 1/3;

    }

}