body {
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10vh 10vh 50vh 10vh;
    gap: 0px;
    border: 3px solid black;
}

.box {
    background-color: plum;
}
.container >container_in {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 33vh 33vh 33vh;
    gap: 0px;
    border: 3px solid black;
}
.box_in {
    background-color: gray;
}