body {
    margin: 0;
    padding: 0;
    position: relative;

    .bookmarks {
        text-align: center;
        margin-top: 50px;
        height: 100px;
        width: 1300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 10px 20px;
        transition: 0.8s;
        position: relative;
        overflow: hidden;
        padding: 10px;


        .bookmark {
            font-size: 30px;
            background: none;
            border: solid#3498db 1px;
            height: 50px;
            width: 180px;
            cursor: pointer;
            margin: 10px;
            color: #3498db;
            align-items: center;
            border-radius: 25px;
            text-align: center;
            padding: 5px;

            &.bookmark:hover {
                color: #fff;
                background-color: #3498db;
                transition: 0.8s;

            }


        }

    }


    .main_container {
        position: absolute;
        left: 60px;
        width: 90%;
        display: grid;
        grid-template-rows: 50% 50%;
        align-content: space-evenly;
        gap: 30px;
        text-align: center;

        .big_box1 {

            display: grid;
            height: max-content;
            width: 100%;
            grid-template-rows: repeat(2, 150px);
            grid-template-columns: repeat(8, 1fr);
            gap: 3px;

            .main_game {
                background-color: blueviolet;
                grid-column: span 2;
                grid-row: span 8;
                border-radius: 10px;
                height: fit-content;

                img {
                    background-size: cover;
                    vertical-align: bottom;
                    height: 60%;
                    width: 100%;
                    position: relative;
                    border-radius: 10px;

                }



            }

            .sub_game {
                background-color: chartreuse;
                border-radius: 10px;


                img {
                    background-size: cover;
                    vertical-align: bottom;
                    height: 80%;
                    width: 100%;
                    border-radius: 10px;

                }
            }



        }


        .big_box2 {
            display: grid;
            height: max-content;
            width: 100%;
            grid-template-rows: repeat(2, 150px);
            grid-template-columns: repeat(8, 1fr);
            gap: 3px;

            .main_game {
                background-color: blueviolet;
                grid-column: span 2;
                grid-row: span 8;
                border-radius: 10px;
                height: fit-content;

                img {
                    background-size: cover;
                    vertical-align: bottom;
                    height: 60%;
                    width: 100%;
                    position: relative;
                    border-radius: 10px;

                }



            }

            .sub_game {
                background-color: chartreuse;
                border-radius: 10px;


                img {
                    background-size: cover;
                    vertical-align: bottom;
                    height: 80%;
                    width: 100%;
                    border-radius: 10px;

                }
            }


        }

    }
}