
.head{
  height: 90px;
  width: 100%;
  position: absolute;
  top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


@font-face {
  font-family: Tomatoes;
  src: URL(Tomatoes.ttf) format('truetype');
}


.head>h2 {
  position: absolute;
  font-family: Tomatoes;
  font-size: 70px;
  color: rgb(139, 43, 47);
}


.container-0{
  position: absolute;
  top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 13px;
}


.social {
  width: 25px;
  height: 25px;
  animation: roll 10s infinite;
}


@keyframes roll {
  100% {
    transform: rotate(360deg);
  }
}


.social:hover{
  cursor: pointer;
}


.search{
  position: absolute;
  width: 50px;
  height: 30px;
  left: 90%;
  transition: all .2s ease-in-out; 
}


.search:hover{
  cursor: pointer;
  transform : scale(1.3);
}



.container-1{
  position: absolute;
  top: 18%;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 200px;
  justify-content: center;
  align-items: center;
}


.title {
  font-size: 20px;
}


.title li a {
  color: rgba(230, 224, 224, 0.795); 
}


.title li li a {
  color: black;
  font-size: 15px;
  transition: all 0.5s ease;
}


.title ul li {
  list-style: none;
  margin: 0 auto;
  display: inline-block;
  padding: 0 30px;
  position: relative;
  text-align: center;
  font-family: Raleway-Regular;
}


.title li a:hover {
  color: rgba(228, 10, 10, 0.781);
  transition: ease-out.5s;
  font-size: 20px;
}


.title ul li ul {
  visibility: hidden;
  Display:none;
  position: absolute;
  padding-left: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 1;
}


.title ul li:hover > ul,
.title ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 180px;
  text-align: left;
  padding-top: 15px;
  box-shadow: 0px 3px 5px -1px rgb(110, 109, 109);
}


.title ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}


.title ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}


a {
  text-decoration: none;
}




.container-2{
  position: absolute;
  top: 31%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 5px;
}


.container-2 img{
  width: 50vw;
  height: 70vh;
  box-shadow: 4px 4px 12px rgba(138, 136, 136, 0.973);
}


@font-face {
  font-family: Raleway-Regular;
  src: URL(Raleway-Regular.ttf) format('truetype');
}


h1 {
  position: absolute;
  top: 45%;
  left: 32%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-family: Raleway-Regular;
  font-size: 65px;
  color: rgba(56, 53, 53, 0.938);
}




.container-3{
  position: absolute;
  top: 128%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 150px;  
}



.container-4{
  position: absolute;
  top: 158%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 150px;
  padding-bottom: 150px;
}








.class {
  font-family: 'Raleway-Regular', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  text-align: left;
  box-shadow: 3px 3px 9px rgba(131, 130, 130, 0.973);
}


.class * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.class img {
  max-width: 100%;
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}


.class figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 30px 3em;
  width: 100%;
  height: 100%;
}


.class figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}


.class h2,
.class p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}


.class h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(30%, 0%, 0);
  transform: translate3d(30%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}


.class h2 span {
  font-weight: 800;
}


.class p {
  font-weight: 150;
  -webkit-transform: translate3d(0%, 30%, 0);
  transform: translate3d(0%, 30%, 0);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}


.class a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}


.class:hover img {
  opacity: 0.3;
}


.class:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}


.class:hover figcaption p {
  opacity: 0.9;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}


.class:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  left: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}


a{
  font-size: 20px;
}




.end{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 190%;
  bottom: 25%;
}


p a {
  color: rgba(218, 211, 211, 0.801);
  text-decoration: none;
  transition: color .3s;
  font-family: Raleway-Regular;
  font-size: 18px;
  transition: all .5s ease-in-out; 
}


p a:hover {
  color: rgba(219, 16, 16, 0.651);
  transform : scale(1.3);
  font-size: 20px;
}