.wrapper{ 
    display: grid;
    grid-template-rows: 1fr 2fr ;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px;
}
.box{
    height:100%;
    width: 100%;
    text-align:left;
}
.img{
   background-color: black;
    border-radius: 20%;
}
.box>p{
    width: 355px;
    height: 20px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
.box>h3{
    position: relative;
    text-decoration: underline;
    cursor: pointer;
    top: 10px;
    width: 50px;
    background-color: red
}
a{
    color: black;
    font-family: 'Courgette', cursive;
    text-decoration: none;
  }
  a:hover{
    color: rgb(202, 163, 238); 
    background-color: black;
    padding: 5px;
    border-radius: 5px;
  }
  .bar{
  display: flex;
  justify-content: start;
  min-width: 100%;
  padding: 10px;
  gap: 10px;
  }
  .nav{
    padding: 0 10px;
  }

  .nav:hover{
    transform: translateY(-3px);
   
  }
  
  .logo:hover{
    transform: translateY(-3px);
   
  }
  .logo>a:hover{
    background-color: transparent;
  }
