.wrapper {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100vw;
    height: 100vh;
}
.chat {
    position: absolute;
    width: 1222px;
    height: 715px;
    left: 120px;
    top: calc(206px - 73px);
    border: solid 1px gray;
    display: grid;
    grid-template-rows: 56px 1fr;
    grid-template-columns: 306px 1fr;
    // grid-template-rows: 56px, auto, auto;
    // grid-columns:916px,auto, auto;
    grid-template-areas:
    'b a a'
    'b c c'
    'b c c';
    /* transform: translate(-50%, -50%) */
    &__sideBar {
        width: 306px;
        height: 715px;
        grid-area: b;
        box-shadow: inset -2px 0px 0px 0px gray;
    }
    &__currentRecipient {
        display: flex;
        background-color: rgb(255, 255, 255);
box-shadow: inset 0px -2px 0px -1px gray;
        max-width: 916px;
        max-height: 56px;
        grid-area: a;
        place-content: space-between;
        padding: 8px 16px;
        & * {
            display: flex;
            // place-items:center;
        }
        [class^='text'] {
          #e1{line-height: 20px;}
          #e2{line-height: 14px;}
          gap:4px;
            & * {
                padding: 0;
                gap: 0;
                margin: 0;
              }
              display: flex;
              flex-direction: column;
            }
            &__info{
              gap: 16px;
            }
            &__Buttons {
          padding: 0;
          gap: 0;
          margin: 0;
*{padding: auto;}
        }
    }
    &__chatWindow {
        grid-area: c;
        background-color: #cdcdcd;
    }
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
