.wrapper {

    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 200px);

    .box {
        background-color: green;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 80px;
    
    }
    
    .header{
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end:2;
        background-color: yellow;
    }
    .menu{
        background-color: orange;
        // grid-row-start: 2;
        // grid-row-end:5 ;
        // grid-column-start: 1;
        // grid-column-end:2 ;
        grid-column-start: 1;
        grid-column-end: span 3;
        grid-row-start: 2;
        grid-row-end: span 2;
    }
}

