.wrapper{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 150px);
    gap: 5px;

    .box{
        background-color: palevioletred;
    }

    .header{
        grid-column: 2/5;
       
        background-color: yellow;
        // grid-row-start: 1;
        grid-row:span 2 ;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu{
        grid-row:2/5;
        background-color: orange;
    }
}