.wrapper{
    background-color: brown;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}


.box{
    background-color: white;
    color: black;
    text-align: center;
    border: 2px solid blue;
    min-width: 10vw;
    min-height: 10vh;
}