.box {
    background-color: purple;
    min-height: 4vh;
    min-height: 4vw;
    border: 1px solid yellowgreen;
    color: white;
    text-align: center;
}
.wrapper {
    background-color: red;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
}