
.navbar {
    width: 100%;
    background-color: rgb(90, 2, 90);
    overflow: auto;
  }
  
  
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: gold;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  
  .active {
    background-color: #a60ad6;
  }
  
   
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }



body{
    background-image:url("BackRoundPic.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
h2{
    font-size: 75px;
    text-align: center;
    font-family: 'Kaushan Script', cursive;
    text-shadow: 2px 2px gold;
    color: rgb(90, 2, 90);
    margin:0;
}
h3{
    font-size: 40px;
    text-shadow: 2px 2px gold;
    color: rgb(90, 2, 90);
    font-family: 'Luckiest Guy', cursive;
}
.bigflex{
    display: flex;
}
img{
    width: 25vw;
    height: 25vh;
  
}
.imgwrapper{
    min-width: 30vw;
    min-height: 30vh;
    
    
    
}
.imgtext{
    width: 55vh;
    height: 55wh;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    text-decoration: underline;
    font-size: 25px;
    
}
p{
    display: none;
}

.imgwrapper:hover {
    position:relative;
    width:500px;
    height:auto;
    display:block;
    cursor: pointer;
    animation: mymove 1.5s infinite;
}
@keyframes mymove {
    30% {border: 7px solid lightblue;}
  }
.imgwrapper:hover p{
    display: block;
}

.button {
    background-color: rgb(18, 175, 25);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
  .imgwrapper:hover button{
    display: block;
}
.numtxt{
    font-family: 'Praise', cursive;
    text-shadow: 1px 1px rgba(123, 255, 0, 0.555);
}
.etxt{
    font-family: 'DM Serif Display', serif;
    background-color: white;
    border-radius: 30px;
    
}

input[type=text], select, textarea {
    width: 10%; 
    padding: 2px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    box-sizing: border-box; 
    margin-top: 5px; 
    margin-bottom: 10px; 
    resize: vertical 
  }
  

  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  
  .container {
    border-radius: 30px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 70%;
  }
  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}
.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 600px;
}


.container {
    position: relative;
    width: 20%;
    display: flex;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .flex{
      display: flex;
      justify-content: space-evenly;
  }
  .atifa{
      text-align: center;

  }
  .finaltxt{
    font-family: 'Road Rage', cursive;
  }