.home {
    &--profiles{
        width: 100%;
        height: 40vh;
        background-color: #a907be;
        display: flex;
    }
 
    &--likedProfiles{
        background-color: yellow;
        

    }
  }