
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');


.logoBar{

    width:100%;
    height:auto;
   position: absolute;
   top:0px;
    text-align:center;
    
    background-color: #ffc8dd;
   &__logo{
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    font-family: 'Patua One', cursive;
    
    text-shadow:
    0 0 7px rgb(255, 57, 255),
    0 0 10px rgb(255, 57, 255),
    0 0 21px rgb(255, 57, 255),
    0 0 42px rgb(255, 57, 255),
    0 0 82px rgb(255, 57, 255),
    0 0 92px rgb(255, 57, 255),
    0 0 102px white,
    0 0 151px white;
   }
  
}