.body{
// height: 5000px;
background-color: #bde0fe;

}
.grid{
    display: grid;
    // width:200px;
    //height:auto;
    gap:5px;
   
    grid-template-columns: repeat(3,1fr);
     grid-template-rows: repeat(2,1fr);
     img{
         width:90%;
     }
    .big{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;


    }

}
.more{
    p{
        font-size: 20px;
        
    }
}
button{
    border: 1px solid blueviolet;
    border-radius: 5px;
    background-color: transparent;
    color: blueviolet;
}
form{
margin: auto;
    text-align: center;
    width: 50px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction:column;
    gap: 10px;
    justify-content: center;
  input{
    border: 1px solid blueviolet;
    border-radius: 5px;
    background-color: transparent;
    color: blueviolet;
  

  }      ::placeholder{
    color: blueviolet;
}
}
.closed{
    display: none;
}
.open{
    display: block;
}