body{
     .form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 200px;
   // position: fixed;
    right: 0px;
    top: 0px;
    background-color: rgb(241, 98, 98);
    border: 1px solid rgb(205, 73, 245);
}

   .rootGames{
       padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 80px;
    &--game{
        display:flex;
        justify-content: center;
        flex-direction: column;
        width: 500px;
        height: 300px;
        
        img{
            width: 500px;
            height: 100%;
            background-position: center;
        background-repeat: no-repeat;
        //background-size: center;
        }
    }
    &--add{
        form{
            right: 0px;
            top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        *{
            margin-block: 20px;
        }
    }
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(205, 73, 245);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: rgb(240, 81, 81);
    color: white;
    }
   } 
  
}