.wrapper{
    background-color: rgb(70, 190, 106);
    display: flex;
    padding:30px ;

}
.box{
    background-color: indigo;
    border:1px solid  maroon;
    min-width: 4vw;
    min-height: 4vh;
  
    
}
