.title{
    padding:30px;
    width: 100%;
    background-color: rgba(48, 50, 161, 0.726);
    border:1px solid  rgb(8, 7, 7);
    position: fixed;

}
.title>h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(19, 16, 16);
 
}
.wrap{
    display: flex;
    justify-content: space-around;
    
}
.season{
    background-color: transparent;
    border:1px solid  rgb(250, 249, 249);
    width: 10vw;
    height: 10vh;
    font-weight: bold;
    font-family:monospace ;
    text-align: center;
  
}
.season>img{
    width: 10vw;
    height: 8vh;
}
.season:hover{
    cursor: pointer;
    transition-duration: 1s;
    transform: scale(1.2);
}
.wrapper{
   
    display: flex;
    padding: 400px ;

}
.box{
    background-color: transparent;
    border:1px solid  rgb(250, 249, 249);
    width: 10vw;
    height: 10vh;
  
    
}
