.main_navbar_top{
    position: relative;
    top: 0;
    width: 100%;
    left: 0;
    height: 7vh;
    display: flex;
    background-color: rgb(247, 243, 243);
    
}
.main_navbar{
    background-color: blanchedalmond;
    display: flex;
    left: 0%;
    top: 0vh;
    position: relative;
    width: 100vw;
    height: 7vh;
    
}
._jordan{
    background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
    height: 7vh;
   
}
.nike{
    background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
    height: 7vh;
   
}
._box{ 
    width: 10vw;
    height: 7vh;
    font-family: monospace;
    font-size: 16px;
}

.main-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    
}
._mainpic{background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1/4;
    grid-row: 1/3;
}
