.wrapper {
  text-align: center;
  color: black;
  padding: 20px;
  background-color: crimson;
}
.box {
  height: 4vh;
  border: solid 2px blue;
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
}
