body
{
background-color: rgb(175, 240, 181);
height: 50vh;
width: 100%;
}

.warrper
{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card
{
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 30%;
    height: 15vh;
    align-content: center;
    border-color: 2px solid black;

    &__picture
    {
        height: 100%;
        align-content: center;
        background-size: contain;
    }
    

    &__description
    {
        font-size: 50px;
        text-align: center;
        font-style: italic;
    }

    &__price
    {
        font-size: 50px;
        text-align: center;
        font-style: italic;
    }
    
    
}