.wrapper{
    display: flex;
    flex-direction: row;
}
body{
    margin: auto;
}
.box{
    width: 100px;
    height: 100px;
    position: relative;
    top:8vw;
    animation-name: bullet;
    animation-duration: 2s;
    animation-direction:normal ;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    img{
        width: 100px;
        height: 100px;
    }
}
@keyframes bullet  {
    0% {
      left: 0;
    }
    50% {
      left: 70%;
    }
    100% {
      left: 70%;    
    }
  }