.App__header {
    font-family: arial;
    width: 100%;

    h2 {
        font-size: 5em;
        letter-spacing: 10px;
        color: #0e3742;
        -webkit-box-reflect :  linear-gradient(transparent , #0003);
        line-height: 0.90em;
        outline:none;
        animation: animate 3s linear infinite;
    }

    @keyframes animate {
        0% {
            color: #0e3742;
            text-shadow: none;
        }
        100%{
            color: #fff;
            text-shadow: 0 0 10px #03bcf4,
                        0 0 20px#03bcf4,
                        0 0 40px#03bcf4,
                        0 0 80px#03bcf4,
                        0 0 10px#03bcf4;
        }
    }
}

