h1 {
    color: chocolate;
    text-align: center;
}

button {
    position: relative;
    left: 45%
}

#root {
    justify-content: center;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 150px);
    gap: 10px;


    img {
        height: 150px;
        width: 150px;
        border-radius: 10px;
        border: 1px solid black;
    }
}