body{
    background: rgb(204, 204, 204);
}

.h1{

    h1{
        font-family: Verdana, Tahoma, sans-serif;
        color: #01BEDC;
        font-size: 3rem;
        font-weight: bolder;
        margin-left: 200px;  
        margin-top: 80px;     
    }
}



.wrapper{
    display: flex;
    gap: 5px;
    margin: 20px;
    margin-left: 200px;

    .submitInput{
        background: #834FE2;
        border-radius: 3%;
        border: transparent;
        padding: 10px 70px;
        font-family: Verdana, Tahoma, sans-serif;
        font-size: 1rem;
        font-weight: 300;
        color: white;
        box-shadow: 5px 5px 30px black;
        cursor: pointer;
    }

    .textNumberInput{
        border: #FBAC45 2px solid;
        padding: 10px 50px;
    }

    .filterInput{
        padding: 10px 85px ;
    }
}

#idItem{
    margin-top: 200px;
}

#sortItem{
    margin-top: 200px; 
}

#rootLaptops{
    width: 400px;
    height: 400px;
    position: relative;
    left: 1050px;
    bottom: 1000px;
}

#filterItem{
    margin-bottom: 700px;
}

.card{

    p{
        font-family: Verdana, Tahoma, sans-serif;
        color: #570677;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 1;
    }

}




