body {
  padding: 0;
  margin: 5px;
}

.wrapper {
  border-radius: 40px;
  background-color: rgb(218, 212, 212);


  img {
    width: 100%;
    height: 100%;
    border-radius: 40px;
  }

  &__h {
    padding-left: 15px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    :hover {
      cursor: pointer;
      border-bottom: 2px solid brown;
    }
  }

  &__subinfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    padding-left: 10px;

    :hover {
      cursor: pointer;
      border-bottom: 2px solid brown;
    }

    i {
      color: orange;

    }

  }

  &__h3 {
    padding-right: 20px;
  }

  &__h4 {
    padding-right: 15px;

  }
}

.container1 {
  background-color: rgb(218, 212, 212);
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  justify-content: space-between;
  margin: 0vh;
  border-radius: 30px;

  :hover {
    cursor: pointer;
  }

  .m {
    font-size: 3vh;
    text-align: right;
  }
}

.container2 {
  background-color: rgb(218, 212, 212);
  justify-content: space-between;
  margin: 0vh;
  border-radius: 30px;
  height: 150px;

  h5 {
    font-size: 3vh;
    padding-left:25px;
   
   
  }

  .mar {
    font-size: 3vh;
    padding-left: 20px;
    text-align: right;
    position: relative;
    bottom: 130px;
    right: 30px;
  }
}

.container3 {
  background-color: blue;
  width: 100%;
  height: 100px;
  border-radius: 30px;


  h5 {
    font-size: 5vh;
    padding: 15px;
    text-align: center;

  }

  :hover {

    text-decoration: underline;
    text-decoration-color: red;

  }
}

@media only screen and(min-width: 670px) {

  .wrapper {

    &__info {
      font-size: 3em;
    }

    &__h {
      font-size: 2em;
    }

    &__subinfo {
      font-size: 2em;
    }
  }

  .wrapper2 {
    .container1 {
      font-size: 3em;

      .m {
        font-size: 2em;
      }

    }
  }

  .container2 {
    h5 {
      font-size: 2em;
    }

    h6 {
      font-size: 2em;
    }
  }

  .container3 {
    h5 {
      font-size: 3em;
    }
  }
}