body{
  margin: auto;  
  max-width: 600px;
}
.navBar{
    height: 5vh;
    background-color: black;
    display: flex;
    color: white;
    
    
    &__menu{

    }
    &__logo{
        width: 30vw;
        text-align: center;
        
    }
    &__item{

    }
}
.banner{
    width: 400px;
    
}