body {
    font: 20px Helvetica, Arial;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    text-align: center;
}

h3 {
    color: #159;
}

.back {
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

form {
    width: 40%;
    text-align: left;
}

.container {
    width: 70%;
    grid-column: 2;
    margin-top: 3em;
    color: #000;
    text-align: center;
    grid-row: 1;
}

input {
    display: table;
    margin-bottom: 1em;
    width: 60%;
    font-size: 16px;
    border: 2px solid #159;
    border-radius: 5px;
    padding: 3px;
}

#file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;

}

.upload {
    color: #fff;
    background: #159;
    padding: 5px;
    border: 2px solid #159;
    border-radius: 5px;
    cursor: pointer;
    width: 71px;
    height: 32px;

}

input[type=submit] {
    margin-top: 15px;
}

#preview {
    font-size: 16px;
    grid-column: 2;
}

#result {
    position: relative;
    width: 70%;
    height: 90%;
    margin-left: 15%;
    border: 2px solid #ddd;
    border-radius: 12px;
    margin-bottom: 2em;
}

header {
    width: 100%;
    background: #159;
    height: 25%;
    border-radius: 12px 12px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

header::after {
    content: "";
    display: flex;
}

.job {

    text-align: left;
    color: #fff;
}

.job h4 {
    margin: 12px auto 0 7px;
}

#logo {
    margin-top: 5px;
    margin-left: 50px;
}

Now we get into the content part .content {
    width: 80%;
}

.content::after {
    content: "";
    display: flex;
}

.content img {
    text-align: left;
    width: 80px;
    height: 105px;
    margin-left: 7px;
    margin-top: 12px;

}

.content ul {
    width: 50%;
    text-align: left;
    padding-left: 15px;
}

ul li {
    list-style-type: none;
}

@media only screen and (max-width:768px) {

    .container,
    form {
        width: 90%;
        margin-left: 5%;
    }

    #result {
        margin-left: 0;
        margin-right: 5%;
    }

    #down {
        margin-right: 2em;
        margin-bottom: 2em;
    }

}

.card{
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 6px rgba(27, 27, 27, 0.486);
}