:root {
    --main-color-1: #89c2d9;
    --main-color-2: #468faf;
    --main-color-3: #2a6f97;
    --main-color-4: #01497c;
    --main-color-5: #012a4a;
    --main-color-text: #111;
    --load-time: 500ms;
    --load-item-time: 600ms;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-color-3);
}

.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 72px;
    border-bottom: 5px solid var(--main-color-5);
    background-color: var(--main-color-2);
    animation: header-load var(--load-time) ease-in;

    &__logo {
        display: flex;
        align-items: center;
        gap: 20px;
        width: 347px;

        .material-icons {
            color: rgb(42, 124, 218);
            font-size: 2.5rem;
            padding-left: 20px;
        }

        h2 {
            font-family: 'Poppins', sans-serif;
            color: rgb(3, 3, 95);
            font-size: 2.5rem;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__searchbar {
        width: 765px;
        display: flex;
        align-items: center;

        form {
            display: flex;
            align-items: center;

            .material-icons {
                color: rgb(229, 232, 235);
                position: absolute;
            }

            input {
                border: 1px solid rgb(229, 232, 235);
                font-size: 25px;
                border-radius: 10px;
                width: 597px;
                height: 45px;
                padding-left: 25px;
                transition: all .4s;

                &:active {
                    border: 1px solid rgb(229, 232, 235);
                    box-shadow: 1px 1px 50px rgb(146, 146, 146);
                }
            }

            ::placeholder {
                color: rgb(138, 130, 130);
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--main-color-text);
        width: auto;
        padding: 0 10px;
        transition: all .5s;
        animation: header-item-load var(--load-item-time) ease-in;
        animation-delay: var(--load-item-time);
        animation-fill-mode: forwards;
        transform: scale(0);

        p {
            font-weight: bold;
            letter-spacing: .75px;
        }

        span {
            font-size: 2.5rem;
        }

        &:hover {
            cursor: pointer;
            background-color: var(--main-color-1);
        }
    }

}

@keyframes header-item-load{
    0%{
        transform: scale(0);
    }

    90%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}

@keyframes header-load{
    0%{
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0);
    }
}

.side-bar {
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 77px;
    left: 0px;
    height: calc(100vh - 72px);
    width: 200px;
    background-color: var(--main-color-4);

    &__item {
        position: relative;
        height: 3em;
        line-height: 3em;
        text-align: center;
        // background-color: var(--main-color-1);
        border: 2px solid var(--main-color-5);

        &::before {
            content: "➤";
            position: absolute;
            left: 10px;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.main {
    background-color: var(--main-color-1);
    border-radius: 20px;
    height: calc(95vh - 100px);
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 250px;
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(2, 35vh);
    justify-content: center;
    align-content: center;
    gap: 20px;

    .main__card {
        display: flex;
        flex-direction: column;

        &:hover {
            box-shadow: 10px 10px 60px 10px rgba(121, 121, 121, 0.3);
        }

        .main__card__img {
            //Andrew - background-image just for placeholder for now
            background-image: url("https://lh3.googleusercontent.com/bs1sJSRwSjcmdkeSFtHsb25xIfA6YnQPnxE09Of2k47HKHRBFXxcsjpiamwKmHKAt20M5SdmK4irpJ50J_Nvf3vIHldgvKDJ39i3TQ=w353");
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 75%;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

        }

        .main__card__discription{
            border: rgb(153, 153, 153) 1px solid;
            border-top: none;
            height: 25%;
        }

    }
}













// .footer{

// }