body{

    background-color: #222; 
    margin: 0px;
}

.header{

    height: 140px;
    display: flex;
    justify-content: space-between;
    background: #171717;

    &__logo{

        width: 30%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding: 10px;

        img{
            height: 60%;
            width: 80%;
            margin-left: 1em;
        }

    }

    &__searchbar{

        width: 30%;

    }

    &__menu{

        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;

        &__box{

            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid rgb(87, 84, 84);
            height: 50%;
            width: 22%;
            margin: 1em;

            img{
                height: 100%;
            }

            p{
                color: white;
                font-size: 25px;
            }

            &--u{

                border: whitesmoke;
    
            }

        }

        



    }

}