.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(4, 1fr);
    height: 201px;
    width: 301px;
    border: solid black;
    border: 1px solid rgba(0, 0, 0, 0.5);
border-radius: 5px;
background-color:  #F0F0F0;

    &__photo {
        img{
            border-radius: 50% ;
                 height: 76px;
            width: 76px;
            padding-left: 5px;
            padding-top: 5px;
        

        }
       



    }
    &__center{
        display: grid;
            grid-template-rows: repeat(4, 0.5fr);
            height: 100%;



        img{
            height: 30px;
            width: 30px;
        }
       
            
        }
        &__flex{
            display: flex;
            justify-content: space-around;
           
            
        }
        &__star{
            grid-column-start: 4;
            grid-column-end: 4;

        }

       
    }




