.profile{
    background-color: rgb(243, 243, 243);
    // border: 1px solid black;
    // margin: 0 15px 0 15px;
    height: 100vh;
    width: 100%;
    // background-color: orange ;
    display: grid;
    grid-template-columns: repeat(10 ,10% );
    grid-template-rows: repeat(10 ,10% );

    &_profilePic{
        display: flex;
        flex-direction: row;
        margin: 0 0 0 2vw;
        grid-column: 1/3;
        grid-row: 2/5;
        height: 100%;
        width: 100%;
        background: no-repeat center;
        background-size:  100% 100%;
        border-radius: 10% ;
        border: 1px solid black; 
        
        &-changeImg{
            margin-left: 12px;
            border-radius: 50%;
            border: 1px solid black;
            // background-color: white;
            align-self: flex-end;
            width: 35px;
            height: 35px;
            z-index: 1;
            background:url("https://icon-library.com/images/black-camera-icon/black-camera-icon-3.jpg") 
            white no-repeat center;
            background-size: 85% 85%; 
        }
    }
    &_contactInfo{
        margin: 2vh 0 0 2vw;
        display: grid;
        border-radius: 20px;
        grid-template-columns: repeat(10 , 10%);
        grid-template-rows: repeat(10 , 10%);
        font-weight: 700;
        grid-column: 1/3;
        grid-row: 5/10;
        height: 100%;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        &-linkDinLink{
            // box-shadow: rgba(50, 50, 93, 0.25) 100px 30px 60px 100px inset,
            // rgba(0, 0, 0, 0.3) 100px 18px 36px 100px inset;
            
            background: gray;
        }

        &-edit{
            left: 100px;
        }

        &-address{
            margin-top: 1vh;
            display:grid;
            grid-template-rows: repeat(2 , 40%);
            grid-template-columns: repeat(5 , 15%);
            grid-column: 3/9;
            grid-row: 3/5;
            // padding-left: 3vw;
            text-align: center;
            // margin-top: 3px;
            width: 100%;
            height: 100%;
            // border: 2px solid black;
        }
          &-email{
            margin-top: 3vh;
            width: 100%;
            height: 100%;
            grid-column: 3/7;
            grid-row: 5/7;
            text-align: center;
            // border: 1px solid red;
          }
          &-phone{
            margin-top: 5vh;
            width: 100%;
            height: 100%;
            grid-column: 3/7;
            grid-row: 6/8;
            text-align: center;
            // border: 1px solid red;
          }    
    }
    
    &_nameProffession{
        grid-column: 4/10;
        grid-row: 2/3;
        height: 150%;
        // border: 2px solid red;
        display: grid;
        grid-template-rows: repeat(2 , 40%);
        
    }
    &_companyDetails{
        margin-top: 5vh;
        border-radius:10px;
        display: grid;
        grid-template-columns: repeat(10 , 10%);
        grid-template-rows: repeat(10 , 10%);
        font-weight: 700;
        grid-column: 4/10;
        grid-row: 3/10;
        height: 100%;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        &-sections{
            grid-column: 1/11;
            grid-row: 2/11;
            display: flex;
            flex-direction: column;
            flex-flow: column wrap;
            // border:1px solid orange;

            &-section{
                // border:1px soli  d black;
                padding-top: 15px;
                text-align: center;
                height:20%;
                width:50%;
            }
        }

        &_header{
            grid-column:1/11;
            grid-row:1/2;
            display: flex;
            flex-direction: column;
            
            &-title{
                align-self: flex-start;
                padding: 0 10px 0 50px;
                width: 50%;
            }

            &-edit{
                align-self: flex-end;
                margin: -50px 30px 0 0;
                
            }
        }
    }
    
}