.requestPage {
    display: grid;
    grid-template-rows: repeat(6,1fr);
    width: 98vw;
    height: 95vh;
    
    
    &__title {
        display: flex;
        width: 500px;
        height: 44px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        text-align: start;
        align-self: flex-start;
        grid-column: 2/4;
        grid-row: 2/3;

    }

   
    &__wrapper{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        border:solid black;
        grid-template-columns: repeat(3,1fr);
        background-color: #E6E4E4;
        width:1223px ;
        height:auto ;
        grid-column: 2/4;
        grid-row: 3/4;
        padding: 30px;
        justify-items: center;
    }

}