.selectedPage {
    display: grid;
    grid-template-rows: repeat(6,1fr);
    width: 98vw;
    height: 95vh;
    align-items: center;
    
    &__title {
        width: 357px;
        height: 44px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        grid-column: 2/4;
        grid-row: 2/3;
        
    }
    &__wrapper{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        border:solid black;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
        background-color: #E6E4E4;
        width:1223px ;
        height:542px ;
        grid-column: 2/4;
        grid-row: 3/4;
        gap: 20px;
        padding: 30px;
    }

}