.game {
    text-align: center;

    &__button {
        position: relative;
        margin-left: 40%;
        margin-right: 50%;
        width: 20%;
    }
}



#root {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    gap: 15px;
}

.card {
    position: relative;
    transform: scale(1);

}

.card:active {
    transform: scale(.97);
    transition: transform.2s;
}

.front__img {
    position: absolute;
    top: 0%;
    
}

.back__img {}