
.content * {
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
   // Spacing Variables
  $spacing-sm: 15px;
  $spacing-lg: 100px;
  
  
  // Color Variables
  $color-grey: #333;
  $color-green: green;
  
  // Margin Mixin for centering horizontally
  @mixin marginMiddle() {
    margin-right: auto;
    margin-left: auto;
  }
  
  @mixin padding(
    $top: null, 
    $right: null, 
    $bottom: null, 
    $left: null, 
    $padAll: null
  ) {
    @if ($padAll) {
      padding: $padAll
    } @else {
      padding-top: $top;
      padding-right: $right;
      padding-bottom: $bottom;
      padding-left: $left;
    }
  }
  
  @mixin font($size: 16px, $bold: false) {
    font-size: $size;
    @if ($bold) {
      font-weight: bold;
    }
  }
  
  html,body{
      display: grid;
      height: 100px;
      background-color: #030203;
      color: white;
  }
  
  h1>img{
    width: 24px;
    height: 24px;
  }
  #card1 {
    background-color: #9966cc;
  background-image: linear-gradient(to left, #9966cc, #cca1f0);
  //box-shadow: 0px 0px 1px 1px #cca1f0;
  border-radius: 15px;  }
  #card2 {
    background-color: lightblue;
    background-image: linear-gradient(to left, lightblue, rgb(213, 228, 233));
  //box-shadow: 0px 0px 1px 1px #afa1f0;
  border-radius: 15px;  }
  
  #card3{
    background-color: pink;
    background-image: linear-gradient(to left, rgb(255,192,203), rgb(248, 214, 220));
  box-shadow: 0px 0px 1px 1px #cca1f0;
  border-radius: 15px;  }
 
  #card4{
    background-color: orange;
    background-image: linear-gradient(to left, orange, rgb(231, 218, 193));
  box-shadow: 0px 0px 1px 1px #cca1f0;
  border-radius: 15px;  }
  
  
  /* CARD LIST */
  .card-list {
    @include marginMiddle;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 50px;
 
    // &__slider owl-carousel {
    &__slider{
     max-width: 1300px;
     display: flex ;    
     flex-wrap:wrap;
     justify-content: space-between; 
     width:100%;
     padding-bottom: $spacing-lg ;
     
      
        &__item {
            display: flex;
            flex-direction: row-reverse;
            text-align:center;
            flex-direction: row-reverse;
            @mixin margin {};
            cursor: pointer;
            overflow: hidden;
            list-style: none;
            width: 96.5%;
            height: auto;
            border-radius: 10px;
      
      &__fig {
        display: block;
        width: 100%;
        height: 200px;
        
        &__img {
          width: 101%;
          height: 101%;
          object-fit: cover;
        }
      }
    
      &__content{
        //   display: block;
           WIDTH:120%;
           
        &__title,   
        &__body {
            color: $color-grey;
        }
            &__title {
            @include font(20px, true);
            @include padding($padAll: $spacing-sm);
            
        }
            // &--important
        &_subtitle {
            @extend .card-list__slider__item__content__title;
            color: $color-green;
            }
      
  
      &__body {
        @include padding(0px, $spacing-sm, $spacing-sm, $spacing-sm);
     
      }
    
      &__container{

           display: flex;
           flex-wrap: wrap-reverse;
           justify-content: space-between; 

          
        //   justify-content:flex-start;
          width: auto;
          @include padding($padAll: $spacing-sm);
          &--left{
            //margin-left: 20%;
            background-color: rebeccapurple;
            color: rebeccapurple;
            font-size: 17px;
            border-radius: 5px;
            cursor: pointer;
        }
          &--right{
            background-color: rebeccapurple;
            color: rebeccapurple;
            font-size: 17px;
            border-radius: 5px;
            cursor: pointer;
      }
      
      }
      &__continer:hover{
          transform: scale(0.9);
      }
    }       
  }
    }
}


/*-------------------------------------------------------------------------------*/ 

.sports-list__slider{
  width: 1300px;
  height: 100%;
    
.sports_container{
  display:inline-block;
  align-items: center;

.outbox{
  position:relative;
  left:0;
  right: 0;
  height: 70px;
  width:70px;
  border-radius: 50%;
  background: #333;
  text-align: center;
  align-items: center;


  
  .avatar {
    display:inline-block;
    align-items: center;
    vertical-align: middle;
    margin-top: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;

  
  }
  
}
.sport_type{
  
  color:#333;  
  font-weight:800;
  position: relative;
  bottom:10px;
  align-items: center;
  text-align: center;

  
}
}
}
