//Andrew Start
:root {
    --color-dark-grey: #22282c;
    --color-mid-grey: #2E3137;
    --color-light-grey: #383C3F;
    --color-lighter-grey: #7E8082;
    --color-white: #DDDDDD;
    --color-orange: #EFAA79;
    --color-brown: #3D2f31;
    --color-dark-green: #303A37;
    --color-light-green: #89A290;
    --color-red: #BB615D;
    --color-rose: #F4C462;
    --color-avax: #E7A788;
    --color-link: #CDBDA5;
    --color-busd: #86D3D9;
    --color-doge: #FE8671;
    --color-btc: #BD96EE;
    --color-uni: #F7A1D5;
    --color-klay: #A5A99E;
    --color-axs: #9CAAE7;
    --color-xlm: #33CFFF;
    --width: 85vw;
    --animation-time: 3s;
    background-color: var(--color-dark-grey);
    color: var(--color-white);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 90vw;

    @media only screen and (min-width: 1200px) {
        width: 50vw;
    }
    

    &__icon {
        z-index: 1;
        perspective: 300px;
        perspective-origin: 300%;
        position: relative;
        border: 1px solid var(--color-light-grey);
        border-radius: 10px;
        width: 50px;
        aspect-ratio: 1;
        background-color: var(--color-dark-grey);

        svg {
            width: 30px;
            aspect-ratio: 1;
            fill: var(--color-orange);
        }

        &:hover {
            .header__icon__scanner {
                visibility: visible;
                transform: scale(1);
            }

        }

        &__scanner {
            visibility: hidden;
            perspective: 400px;
            perspective-origin: 50% -50%;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 300px;
            aspect-ratio: 1;
            background-color: #2E3137B0;
            border-radius: 10px;
            border: 1px solid var(--color-white);
            overflow: hidden;
            backdrop-filter: blur(3px);
            transform-origin: top left;
            transform: scale(calc(1/6));
            transition: ease 0.3s;

            &__scene {
                animation: rotate 20s infinite linear;

                &__line {
                    z-index: 200;
                    width: 2px;
                    height: 200px;
                    background-color: white;
                    box-shadow: 0px 0px 10px 5px red;
                    position: absolute;
                    top: 15px;
                    left: 150px;
                    animation: scan 2s infinite ease-in-out alternate;
                }

                svg {
                    margin: 25px;
                    fill: var(--color-white);
                    width: 180px;
                    aspect-ratio: 1;
                }
            }
        }

        &#bell {
            z-index: 7;
            box-shadow: 5px 5px 8px;

            &::after {
                content: '6';
                filter: drop-shadow(0px 0px 15px #c05711);
                font-size: 1rem;
                font-weight: 600;
                position: absolute;
                top: -9px;
                right: -9px;
                width: 20px;
                aspect-ratio: 1;
                line-height: 20px;
                background-color: #c05711;
                border-radius: 5px;
                color: var(--color-white);
            }
        }



        &:hover {
            .header__icon__notification {
                animation: flop calc(var(--animation-time)/6) forwards ease-in;

                &__message {
                    animation: extend 0.6s forwards ease-out;
                }
            }

            #note1 {
                animation-delay: 0s;

                .header__icon__notification__message {
                    animation-delay: calc(var(--animation-time)/6);
                }
            }

            #note2 {
                animation-delay: calc(var(--animation-time)/6);

                .header__icon__notification__message {
                    animation-delay: calc(var(--animation-time)*2/6);
                }
            }

            #note3 {
                animation-delay: calc(var(--animation-time)*2/6);

                .header__icon__notification__message {
                    animation-delay: calc(var(--animation-time)*3/6);
                }
            }

            #note4 {
                animation-delay: calc(var(--animation-time)*3/6);

                .header__icon__notification__message {
                    animation-delay: calc(var(--animation-time)*4/6);
                }
            }

            #note5 {
                animation-delay: calc(var(--animation-time)*4/6);

                .header__icon__notification__message {
                    animation-delay: calc(var(--animation-time)*5/6);
                }
            }

            #note6 {
                animation-delay: calc(var(--animation-time)*5/6);

                .header__icon__notification__message {
                    animation-delay: var(--animation-time);
                }
            }

            #shadow {
                animation:
                    flop-shadow var(--animation-time) forwards linear,
                    //flop-shadow-extend 1s var(--animation-time) forwards ease-out;
            }
        }

        #shadow {
            z-index: -1;
            position: absolute;
            width: 50px;
            background-color: rgba(0, 0, 0, 0.9);
            border-radius: 10px;
            top: 55px;
            left: 5px;
            filter: blur(8px);


        }

        &__notification {
            transform-origin: bottom;
            position: absolute;
            left: 0px;
            border-radius: 10px;
            box-shadow: 0px 0px 0px 1px var(--color-light-grey);
            background-color: var(--color-dark-grey);
            width: 50px;
            height: 50px;
            visibility: hidden;

            svg {
                fill: var(--color-white);
                left: 5px;
                top: 5px;
                position: absolute;
                width: 40px;
                height: 40px;
            }

            &__message {
                visibility: hidden;
                height: 50px;
                width: 230px;
                background-color: #383C3FD0;
                backdrop-filter: blur(20px);
                border-radius: 10px;
                box-shadow: 0px 0px 0px 1px var(--color-dark-grey);
                position: absolute;
                right: 50px;
                transform-origin: right;
                color: var(--color-white);
                text-align: left;
                font-size: 0.8rem;
                line-height: 50px;
                padding-left: 10px;

                @media only screen and (min-width: 600px) {
                    width: 300px;
                    font-size: 1rem;
                }
            }

            &#note1 {
                top: 0px;
                filter: brightness(1.05);
            }

            &#note2 {
                top: 50px;
                filter: brightness(1.1);
            }

            &#note3 {
                top: 100px;
                filter: brightness(1.15);
            }

            &#note4 {
                top: 150px;
                filter: brightness(1.2);
            }

            &#note5 {
                top: 200px;
                filter: brightness(1.25);
            }

            &#note6 {
                top: 250px;
                filter: brightness(1.3);
            }
        }
    }

    &__item {
        color: var(--color-white);
        border: 0px;
        margin-inline: -30px;
        padding-inline: 2ch;
        border-radius: 10px;
        font-size: 1rem;
        background-color: var(--color-dark-grey);

        &:hover {
            background-color: var(--color-light-grey);
            box-shadow: 0px 0px 0px 1px var(--color-white);
            cursor: pointer;
        }
    }
}

@keyframes scan {
    0% {
        transform: translateX(-110px);
    }

    100% {
        transform: translateX(110px);
    }
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg) rotateX(90deg);
    }

    100% {
        transform: rotateY(360deg) rotateX(90deg);
    }
}

@keyframes flop-shadow {
    0% {
        height: 0px;
    }

    10% {
        height: 50px;
    }

    17% {
        height: 52px;
    }

    26% {
        height: 100px;
    }

    33% {
        height: 102px;
    }

    43% {
        height: 150px;
    }

    50% {
        height: 152px;
    }

    60% {
        height: 200px;
    }

    67% {
        height: 202px;
    }

    77% {
        height: 250px;
    }

    83% {
        height: 252px;
    }

    93% {
        height: 300px;
    }

    100% {
        height: 302px;
    }
}

@keyframes flop {
    0% {
        visibility: visible;
    }

    70% {
        visibility: visible;
        transform-origin: bottom;
        transform: rotateX(-190deg);
    }

    80% {
        visibility: visible;
        transform-origin: bottom;
        transform: rotateX(-170deg);
    }

    100% {
        visibility: visible;
        transform-origin: bottom;
        transform: rotateX(-180deg);
    }
}

@keyframes extend {
    0% {
        visibility: visible;
        transform: scaleX(0) rotateX(180deg);
    }

    100% {
        visibility: visible;
        transform: scaleX(1) rotateX(180deg);
    }
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes spinY {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

@keyframes coin2 {
    to {
        transform: translateX(8px);
        filter: drop-shadow(-2px 0px 0px #7E8082);
    }
}

@keyframes coin1 {
    to {
        transform: translateX(-8px);
    }
}

.footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    height: 70px;
    width: 90vw;
    background-color: var(--color-light-grey);
    border-radius: 20px;
    margin: 2vw;

    @media only screen and (min-width: 1200px) {
        width: 50vw;
    }

    &-container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        color: var(--color-lighter-grey);
        font-size: 0.9rem;
        perspective: 300px;

        * {
            padding: 10px;
        }

        &__market {
            position: relative;
            background-color: var(--color-light-grey);
            border-radius: 10px;
            transition: ease 500ms;

            svg {
                margin-top: -10px;
                height: 30px;
                fill: var(--color-lighter-grey);
            }

            &::after {
                content: 'Market';
                position: absolute;
                bottom: 10px;
                left: 15px;
            }

            &:hover {
                transform: scale(1.05) translateY(-30px);
                box-shadow:
                    0px -5px 5px 0px black, 0px 5px 0px 0px var(--color-light-grey);

                &.footer-container__market>svg {
                    animation: spinY 5s infinite linear;
                }
            }
        }

        &__exchange {
            position: relative;
            width: 90px;
            background-color: var(--color-light-grey);
            border-radius: 10px;
            transition: ease 500ms;
            perspective: 100px;
            perspective-origin: 50% -10%;

            svg {
                position: absolute;
                top: -45px;
                right: 15px;
                width: 60px;
                fill: var(--color-lighter-grey);

                .st1 {
                    fill: #bababa;
                }

                .st2 {
                    fill: var(--color-white);
                    filter: drop-shadow(2px 0px 0px #7E8082);
                }
            }

            &::after {
                content: 'Exchange';
                position: absolute;
                bottom: 10px;
                left: 24px;

            }

            &:hover {
                transform: scale(1.05) translateY(-30px);
                box-shadow: 0px 18px 0px 0px var(--color-light-grey),
                    0px -5px 5px 0px black, 0px 5px 0px 0px var(--color-light-grey);

                .st1 {
                    animation: coin1 1s infinite cubic-bezier(.8, 0, .2, 1) alternate;
                }

                .st2 {
                    animation: coin2 1s infinite cubic-bezier(.9, 0, .1, 1) alternate;

                }
            }
        }

        &__wallet {
            position: relative;
            background-color: var(--color-light-grey);
            border-radius: 10px;
            transition: ease 500ms;
            perspective: 100px;
            perspective-origin: 50% -10%;

            svg {
                margin-top: -10px;
                height: 30px;
                fill: var(--color-lighter-grey);
            }

            &::after {
                content: 'Wallet';
                position: absolute;
                bottom: 10px;
                left: 20px;
            }

            &:hover {
                transform: scale(1.05) rotateX(-5deg) translateY(-30px);
                box-shadow: 0px 18px 0px 0px var(--color-light-grey),
                    0px -5px 5px 0px black, 0px 5px 0px 0px var(--color-light-grey);

                &.footer-container__wallet>svg {
                    animation: spinY 5s infinite linear;

                }
            }
        }
    }
}

@keyframes scroll-right {
    from {
        transform: translateX(100vw);
    }

    to {
        transform: translateX(-1250px);
    }
}

.wallet {
    width: var(--width);
    margin: 15px;

    &-banner {
        display: flex;
        height: 45px;
        width: var(--width);
        overflow: hidden;
        white-space: nowrap;
        @media only screen and (min-width: 1600px) {
            width: 50vw;
            position: absolute;
            left: 25vw;
        }
        &:hover>.wallet-banner__item {
            animation-play-state: paused;
        }

        &__item {
            z-index: -1;
            position: relative;
            display: flex;
            align-items: center;
            gap: 5px;
            padding-inline: 10px;
            border-radius: 10px;
            background-color: var(--color-light-grey);
            margin: 5px;
            width: 90ch;
            animation: scroll-right 15s cubic-bezier(0, .4, 1, .6) infinite;

            svg {
                width: 20px;
            }

            &::before {
                content: '';
                left: 0px;
                width: 100%;
                height: 100%;
                position: absolute;
                filter: opacity(0.1);
                border-radius: 10px;
            }

            &#rose {
                fill: var(--color-rose);

                &::before {
                    background-color: var(--color-rose);
                }
            }

            &#avax {
                fill: var(--color-avax);

                &::before {
                    background-color: var(--color-avax);
                }
            }

            &#link {
                fill: var(--color-link);

                &::before {
                    background-color: var(--color-link);
                }
            }

            &#busd {
                fill: var(--color-busd);

                &::before {
                    background-color: var(--color-busd);
                }
            }

            &#doge {
                fill: var(--color-doge);

                &::before {
                    background-color: var(--color-doge);
                }
            }

            &#btc {
                fill: var(--color-btc);

                &::before {
                    background-color: var(--color-doge);
                }
            }

            &#uni {
                fill: var(--color-uni);

                &::before {
                    background-color: var(--color-uni);
                }
            }

            &#klay {
                fill: var(--color-klay);

                &::before {
                    background-color: var(--color-klay);
                }
            }

            &#axs {
                fill: var(--color-axs);

                &::before {
                    background-color: var(--color-axs);
                }
            }

            &#xlm {
                fill: var(--color-xlm);

                &::before {
                    background-color: var(--color-xlm);
                }
            }
        }
    }

    &-value {
        width: var(--width);
        aspect-ratio: 1;
        position: relative;

        @media only screen and (min-width: 1200px) {
            width: 50vw;
            position: absolute;
            top: 130px;
            right: 50vw;
        }

        @media only screen and (min-width: 1600px) {
            left: 25vw;
        }

        &__grid {
            perspective: 1000px;
            position: absolute;
            display: grid;
            width: var(--width);
            aspect-ratio: 1;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);

            @media only screen and (min-width: 1200px) {
                width: 50vw;
            }

            @media only screen and (min-width: 1600px) {
                width: 25vw;
            }

            &__cell {
                width: calc(var(--width)/5);
                aspect-ratio: 1;

                @media only screen and (min-width: 1200px) {
                    width: 10vw;
                }

                @media only screen and (min-width: 1600px) {
                    width: 5vw;
                }
            }

            #cell1:hover~.wallet-value__scene {
                transform: rotateX(20deg) rotateY(-20deg);
            }

            #cell2:hover~.wallet-value__scene {
                transform: rotateX(20deg) rotateY(-10deg);
            }

            #cell3:hover~.wallet-value__scene {
                transform: rotateX(20deg) rotateY(0deg);
            }

            #cell4:hover~.wallet-value__scene {
                transform: rotateX(20deg) rotateY(10deg);
            }

            #cell5:hover~.wallet-value__scene {
                transform: rotateX(20deg) rotateY(20deg);
            }

            #cell6:hover~.wallet-value__scene {
                transform: rotateX(10deg) rotateY(-20deg);
            }

            #cell7:hover~.wallet-value__scene {
                transform: rotateX(10deg) rotateY(-10deg);
            }

            #cell8:hover~.wallet-value__scene {
                transform: rotateX(10deg) rotateY(0deg);
            }

            #cell9:hover~.wallet-value__scene {
                transform: rotateX(10deg) rotateY(10deg);
            }

            #cell10:hover~.wallet-value__scene {
                transform: rotateX(10deg) rotateY(20deg);
            }

            #cell11:hover~.wallet-value__scene {
                transform: rotateX(0deg) rotateY(-20deg);
            }

            #cell12:hover~.wallet-value__scene {
                transform: rotateX(0deg) rotateY(-10deg);
            }

            #cell13:hover~.wallet-value__scene {
                transform: rotateX(0deg) rotateY(0deg);
            }

            #cell14:hover~.wallet-value__scene {
                transform: rotateX(0deg) rotateY(10deg);
            }

            #cell15:hover~.wallet-value__scene {
                transform: rotateX(0deg) rotateY(20deg);
            }

            #cell16:hover~.wallet-value__scene {
                transform: rotateX(-10deg) rotateY(-20deg);
            }

            #cell17:hover~.wallet-value__scene {
                transform: rotateX(-10deg) rotateY(-10deg);
            }

            #cell18:hover~.wallet-value__scene {
                transform: rotateX(-10deg) rotateY(0deg);
            }

            #cell19:hover~.wallet-value__scene {
                transform: rotateX(-10deg) rotateY(10deg);
            }

            #cell20:hover~.wallet-value__scene {
                transform: rotateX(-10deg) rotateY(20deg);
            }

            #cell21:hover~.wallet-value__scene {
                transform: rotateX(-20deg) rotateY(-20deg);
            }

            #cell22:hover~.wallet-value__scene {
                transform: rotateX(-20deg) rotateY(-10deg);
            }

            #cell23:hover~.wallet-value__scene {
                transform: rotateX(-20deg) rotateY(0deg);
            }

            #cell24:hover~.wallet-value__scene {
                transform: rotateX(-20deg) rotateY(10deg);
            }

            #cell25:hover~.wallet-value__scene {
                transform: rotateX(-20deg) rotateY(20deg);
            }
        }


        &__avrage {
            font-size: 0.8rem;
            position: absolute;
            top: 0px;
            left: 0px;
            word-spacing: 0.7em;

            span {
                color: var(--color-lighter-grey);
            }
        }

        &__max {
            font-size: 0.8rem;
            z-index: 99;
            position: absolute;
            top: 0px;
            right: 0px;
            font-weight: 900;

            &::after {
                position: absolute;
                content: 'MAX 24H';
                top: 1.7em;
                right: 0px;
                font-weight: 100;
                color: var(--color-lighter-grey);
            }
        }

        &__scene {
            z-index: -1;
            position: absolute;
            left: 0%;
            right: 0%;
            transition: ease 500ms;

            &__graph {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: var(--width);
                overflow: hidden;

                @media only screen and (min-width: 1200px) {
                    height: 50vw;
                }

                @media only screen and (min-width: 1600px) {
                    height: 25vw;
                }

                svg {
                    position: absolute;
                    width: calc(var(--width)*0.9);
                    aspect-ratio: 1;
                    animation: spin 30s linear infinite;

                    @media only screen and (min-width: 1200px) {
                        width: 40vw;
                    }

                    @media only screen and (min-width: 1600px) {
                        width: 20vw;
                    }

                    //border: 1px solid red;
                    //border-radius: 50%;
                }

                h1 {
                    font-size: 1.8rem;
                    position: relative;

                    &::before {
                        content: 'WALLET VALUE';

                        position: absolute;
                        font-size: 0.5em;
                        color: var(--color-lighter-grey);
                        bottom: 3em;
                        left: 4ch;
                        text-align: center;
                    }

                    &::after {
                        content: '▲ € 31.800,52 (21,1%)';
                        position: absolute;
                        font-size: 0.5em;
                        color: var(--color-light-green);
                        top: 3em;
                        left: 1.5ch;
                    }
                }
            }
        }
    }

    &-portfolio {
        margin-bottom: 90px;

        @media only screen and (min-width: 1200px) {
            width: 45vw;
            position: absolute;
            top: 130px;
            left: 51vw;
            padding-bottom: 150px;
        }

        @media only screen and (min-width: 1600px) {
            width: 23vw;
        }

        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                font-weight: 100;
            }

            &__indicators {
                color: var(--color-lighter-grey);
                font-size: 0.7rem;
                word-spacing: 1ch;
            }
        }

        &__list {
            position: relative;

            &__item {
                display: flex;
                height: 60px;
                justify-content: space-between;
                padding-block: 10px;
                box-shadow: 0px -2px 0px 0px var(--color-light-grey);
                transition: ease 300ms;
                border-radius: 10px;
                perspective: 200px;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0px 0px 5px 2px;

                    .wallet-portfolio__list__item__graph>img {
                        animation: graph 10s ease-out infinite alternate;
                    }
                }

                &__icon {
                    background-color: var(--color-mid-grey);
                    border-radius: 25%;
                    width: 50px;
                    aspect-ratio: 1;
                    margin: 5px;

                    svg {
                        margin: 10px;
                        width: 30px;
                        fill: var(--color-white);
                    }
                }

                &__name {
                    position: absolute;
                    left: 55px;
                    margin: 5px;
                    font-size: 1.1rem;
                    line-height: 0rem;

                    :last-child {
                        font-size: 0.6em;
                        color: var(--color-lighter-grey);
                    }
                }

                &__graph {
                    position: absolute;
                    left: 135px;
                    width: calc(100% - 220px);
                    height: 70px;
                    overflow: hidden;
                    img {
                        position: absolute;
                        top: 10px;
                        height: 40px;
                        width: 800px;
                    }
                }

                &__price {
                    margin: 5px;
                    text-align: end;
                    line-height: 0.2em;
                    font-weight: 600;
                    :first-child {
                        font-size: 1em;
                    }

                    p {
                        font-size: 0.8em;
                    }

                    .--red {
                        color: var(--color-red);
                    }

                    .--green {
                        color: var(--color-light-green);
                    }
                }
            }
        }
    }

    @keyframes graph {

        to {
            transform: translateX(-180px);
        }
    }
}