//Andrew Start
:root {
    --color-dark-grey: #22282c;
    --color-mid-grey: #2E3137;
    --color-light-grey: #383C3F;
    --color-lighter-grey: #7E8082;
    --color-white: #DDDDDD;
    --color-orange: #EFAA79;
    --color-brown: #3D2f31;
    --color-dark-green: #303A37;
    --color-light-green: #89A290;
    --color-red: #BB615D;

    --color-rose: #F4C462;
    --color-avax: #E7A788;
    --color-link: #CDBDA5;
    --color-busd: #86D3D9;
    --color-doge: #FE8671;
    --color-btc: #BD96EE;
    --color-uni: #F7A1D5;
    --color-klay: #A5A99E;
    --color-axs: #9CAAE7;
    --color-xlm: #33CFFF;

    background-color: var(--color-dark-grey);
    color: var(--color-white);
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {

    display: flex;
    justify-content: space-between;
    width: 95%;

    &__icon {
        z-index: 999;
        perspective: 300px;
        perspective-origin: 300%;
        position: relative;
        border: 1px solid var(--color-light-grey);
        border-radius: 10px;
        width: 50px;
        height: 50px;
        background-color: var(--color-dark-grey);

        svg {
            width: 30px;
            height: 30px;
            fill: var(--color-orange);
        }

        &:hover {
            .header__icon__scanner {
                visibility: visible;
                transform: scale(1);
            }

        }

        &__scanner {
            visibility: hidden;
            perspective: 400px;
            perspective-origin: 50% -50%;
            position: absolute;
            top: 0px;
            left: 0px;
            width: 300px;
            height: 300px;
            background-color: #2E3137B0;
            border-radius: 10px;
            border: 1px solid var(--color-white);
            overflow: hidden;
            backdrop-filter: blur(3px);
            transform-origin: top left;
            transform: scale(calc(1/6));
            transition: ease 0.3s;

            &__scene {
                animation: rotate 20s infinite linear;

                &__line {
                    z-index: 200;
                    width: 2px;
                    height: 200px;
                    background-color: white;
                    box-shadow: 0px 0px 10px 5px red;
                    position: absolute;
                    top: 15px;
                    left: 150px;
                    animation: scan 2s infinite ease-in-out alternate;
                }

                svg {
                    margin: 25px;
                    fill: var(--color-white);
                    width: 180px;
                    height: 180px;
                }
            }
        }

        &#bell {
            z-index: 7;
            box-shadow: 5px 5px 8px;

            &::after {
                content: '6';
                filter: drop-shadow(0px 0px 15px #c05711);
                font-size: 1rem;
                font-weight: 600;
                position: absolute;
                top: -9px;
                right: -9px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                background-color: #c05711;
                border-radius: 5px;
                color: var(--color-white);
            }
        }

        --animation-time: 3s;

        &:hover {
            .header__icon__notification {
                animation: flop calc(var(--animation-time)/6) forwards ease-in;

                &__message {
                    animation: extend 0.6s forwards ease-out;
                }
            }

            #note1 {
                animation-delay: 0s;

                .header__icon__notification__message {
                    animation-delay: calc(var(--animation-time)/6);
                }
            }

            #note2 {
                animation-delay: calc(var(--animation-time)/6);

                .header__icon__notification__message {
                    animation-delay: calc(var(--animation-time)*2/6);
                }
            }

            #note3 {
                animation-delay: calc(var(--animation-time)*2/6);

                .header__icon__notification__message {
                    animation-delay: calc(var(--animation-time)*3/6);
                }
            }

            #note4 {
                animation-delay: calc(var(--animation-time)*3/6);

                .header__icon__notification__message {
                    animation-delay: calc(var(--animation-time)*4/6);
                }
            }

            #note5 {
                animation-delay: calc(var(--animation-time)*4/6);

                .header__icon__notification__message {
                    animation-delay: calc(var(--animation-time)*5/6);
                }
            }

            #note6 {
                animation-delay: calc(var(--animation-time)*5/6);

                .header__icon__notification__message {
                    animation-delay: var(--animation-time);
                }
            }

            #shadow {
                animation:
                    flop-shadow var(--animation-time) forwards linear,
                    //flop-shadow-extend 1s var(--animation-time) forwards ease-out;
            }
        }

        #shadow {
            z-index: -1;
            position: absolute;
            width: 50px;
            background-color: rgba(0, 0, 0, 0.9);
            border-radius: 10px;
            top: 55px;
            left: 5px;
            filter: blur(8px);


        }

        &__notification {
            transform-origin: bottom;
            position: absolute;
            left: 0px;
            border-radius: 10px;
            box-shadow: 0px 0px 0px 1px var(--color-light-grey);
            background-color: var(--color-dark-grey);
            width: 50px;
            height: 50px;
            visibility: hidden;

            svg {
                fill: var(--color-white);
                left: 5px;
                top: 5px;
                position: absolute;
                width: 40px;
                height: 40px;
            }

            &__message {
                visibility: hidden;
                height: 50px;
                width: 300px;
                background-color: #383C3FD0;
                backdrop-filter: blur(20px);
                border-radius: 10px;
                box-shadow: 0px 0px 0px 1px var(--color-dark-grey);
                position: absolute;
                right: 50px;
                transform-origin: right;
                color: var(--color-white);
                text-align: left;
                font-size: 1rem;
                line-height: 50px;
                padding-left: 10px;
            }

            &#note1 {
                top: 0px;
                filter: brightness(1.05);
            }

            &#note2 {
                top: 50px;
                filter: brightness(1.1);
            }

            &#note3 {
                top: 100px;
                filter: brightness(1.15);
            }

            &#note4 {
                top: 150px;
                filter: brightness(1.2);
            }

            &#note5 {
                top: 200px;
                filter: brightness(1.25);
            }

            &#note6 {
                top: 250px;
                filter: brightness(1.3);
            }
        }
    }

    &__item {
        color: var(--color-white);
        border: 0px;
        margin-inline: -130px;
        padding-inline: 2ch;
        border-radius: 5px;
        font-size: 1.3rem;
        background-color: var(--color-dark-grey);

        &:hover {
            background-color: var(--color-light-grey);
            box-shadow: 0px 0px 0px 1px var(--color-white);
        }
    }
}

@keyframes scan {
    0% {
        transform: translateX(-110px);
    }

    100% {
        transform: translateX(110px);
    }
}

@keyframes rotate {
    0% {
        transform: rotateY(0deg) rotateX(90deg);
    }

    100% {
        transform: rotateY(360deg) rotateX(90deg);
    }
}

@keyframes flop-shadow {
    0% {
        height: 0px;
    }

    10% {
        height: 50px;
    }

    17% {
        height: 52px;
    }

    26% {
        height: 100px;
    }

    33% {
        height: 102px;
    }

    43% {
        height: 150px;
    }

    50% {
        height: 152px;
    }

    60% {
        height: 200px;
    }

    67% {
        height: 202px;
    }

    77% {
        height: 250px;
    }

    83% {
        height: 252px;
    }

    93% {
        height: 300px;
    }

    100% {
        height: 302px;
    }
}

@keyframes flop-shadow-extend {
    0% {
        height: 302px;
    }

    100% {
        height: 302px;
        width: 350px;
        transform: translateX(-300px);
    }
}

@keyframes flop {
    0% {
        visibility: visible;
    }

    70% {
        visibility: visible;
        transform-origin: bottom;
        transform: rotateX(-190deg);
    }

    80% {
        visibility: visible;
        transform-origin: bottom;
        transform: rotateX(-170deg);
    }

    100% {
        visibility: visible;
        transform-origin: bottom;
        transform: rotateX(-180deg);
    }
}

@keyframes extend {
    0% {
        visibility: visible;
        transform: scaleX(0) rotateX(180deg);
    }

    100% {
        visibility: visible;
        transform: scaleX(1) rotateX(180deg);
    }
}

.footer {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 20px;
    height: 120px;
    width: 90vw;
    background-color: var(--color-light-grey);
    border-radius: 20px;
    margin: 4vw;

    &-container {
        width: 640px;
        display: flex;
        justify-content: space-evenly;
        color: var(--color-lighter-grey);
        font-size: 1.2rem;

        * {
            padding: 10px;
        }

        &__market {
            position: relative;

            svg {
                height: 50px;
                fill: var(--color-lighter-grey);
            }

            &::after {
                content: 'Market';
                position: absolute;
                bottom: 15px;
                left: 16px;
            }
        }

        &__exchange {
            position: relative;
            width: 90px;

            svg {
                position: absolute;
                top: -45px;
                right: 0px;
                width: 90px;
                fill: var(--color-lighter-grey);

                .st1 {
                    fill: #bababa;
                }

                .st2 {
                    fill: var(--color-white);
                    filter: drop-shadow(2px 0px #7E8082);
                }
            }

            &::after {
                content: 'Exchange';
                position: absolute;
                bottom: 15px;
                left: 12px;
            }
        }

        &__wallet {
            position: relative;

            svg {
                height: 50px;
                fill: var(--color-lighter-grey);
            }

            &::after {
                content: 'Wallet';
                position: absolute;
                bottom: 15px;
                left: 23px;
            }
        }
    }
}

@keyframes scroll-right {
    from {
        transform: translateX(640px);
    }

    to {
        transform: translateX(-1250px);
    }
}

.wallet {
    width: 600px;
    margin: 15px;

    &-banner {
        display: flex;
        height: 45px;
        width: 600px;
        overflow: hidden;
        white-space: nowrap;

        &:hover {
            >.wallet-banner__item {
                animation-play-state: paused;
            }
        }

        &__item {
            z-index: -1;
            position: relative;
            display: flex;
            align-items: center;
            gap: 5px;
            padding-inline: 10px;
            border-radius: 10px;
            background-color: var(--color-light-grey);
            margin: 5px;
            width: 90ch;
            animation: scroll-right 15s cubic-bezier(0, .4, 1, .6) infinite;

            svg {
                width: 20px;
            }

            &::before {
                content: '';
                left: 0px;
                width: 100%;
                height: 100%;
                position: absolute;
                filter: opacity(0.1);
                border-radius: 10px;
            }

            &#rose {
                fill: var(--color-rose);

                &::before {
                    background-color: var(--color-rose);
                }
            }

            &#avax {
                fill: var(--color-avax);

                &::before {
                    background-color: var(--color-avax);
                }
            }

            &#link {
                fill: var(--color-link);

                &::before {
                    background-color: var(--color-link);
                }
            }

            &#busd {
                fill: var(--color-busd);

                &::before {
                    background-color: var(--color-busd);
                }
            }

            &#doge {
                fill: var(--color-doge);

                &::before {
                    background-color: var(--color-doge);
                }
            }

            &#btc {
                fill: var(--color-btc);

                &::before {
                    background-color: var(--color-doge);
                }
            }

            &#uni {
                fill: var(--color-uni);

                &::before {
                    background-color: var(--color-uni);
                }
            }

            &#klay {
                fill: var(--color-klay);

                &::before {
                    background-color: var(--color-klay);
                }
            }

            &#axs {
                fill: var(--color-axs);

                &::before {
                    background-color: var(--color-axs);
                }
            }

            &#xlm {
                fill: var(--color-xlm);

                &::before {
                    background-color: var(--color-xlm);
                }
            }
        }
    }

    &-value {
        width: 600px;
        height: 600px;
        position: relative;

        &__grid {
            position: absolute;
            display: grid;
            width: 600px;
            height: 600px;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(5, 1fr);

            &__cell {
                box-shadow: 0px 0px 0px 1px red;
            }
             #cell1{
                 &hover{
                     .wallet-value__scene{
                         
                     }
                 }
             }
             #cell2{
                 &hover{
                     .wallet-value__scene{
                         
                     }
                 }
             }
             #cell3{
                 &hover{
                     .wallet-value__scene{
                         
                     }
                 }
             }
             #cell4{
                 &hover{
                     .wallet-value__scene{
                         
                     }
                 }
             }
             #cell5{
                 &hover{
                     .wallet-value__scene{
                         
                     }
                 }
             }
             #cell6{
                 &hover{
                     .wallet-value__scene{
                         
                     }
                 }
             }
             #cell7{
                 &hover{
                     .wallet-value__scene{
                         
                     }
                 }
             }
             #cell8{
                 &hover{
                     .wallet-value__scene{
                         
                     }
                 }
             }
             #cell9{
                 &hover{
                     .wallet-value__scene{
                         
                     }
                 }
             }
            #cell10{
                &hover{
                    .wallet-value__scene{
                        
                    }
                }
            }
            #cell11{
                &hover{
                    .wallet-value__scene{
                        
                    }
                }
            }
            #cell12{
                &hover{
                    .wallet-value__scene{
                        
                    }
                }
            }
            #cell13{
                &hover{
                    .wallet-value__scene{
                        
                    }
                }
            }
            #cell14{
                &hover{
                    .wallet-value__scene{
                        
                    }
                }
            }
            #cell15{
                &hover{
                    .wallet-value__scene{
                        
                    }
                }
            }
            #cell16{
                &hover{
                    .wallet-value__scene{
                        
                    }
                }
            }
            #cell17{
                &hover{
                    .wallet-value__scene{
                        
                    }
                }
            }
            #cell18{
                &hover{
                    .wallet-value__scene{
                        
                    }
                }
            }
            #cell19{
                &hover{
                    .wallet-value__scene{
                        
                    }
                }
            }
            #cell20{
                &hover{
                    .wallet-value__scene{
                        
                    }
                }
            }
            #cell21{
                &hover{
                    .wallet-value__scene{
                        
                    }
                }
            }
            #cell22{
                &hover{
                    .wallet-value__scene{
                        
                    }
                }
            }
            #cell23{
                &hover{
                    .wallet-value__scene{
                        
                    }
                }
            }
            #cell24{
                &hover{
                    .wallet-value__scene{
                        
                    }
                }
            }
            #cell25{
                &hover{
                    .wallet-value__scene{
                        
                    }
                }
            }
        }

        &__scene {
            &__avrage {
                position: absolute;
                top: 0px;
                left: 0px;
                word-spacing: 0.7em;

                span {
                    color: var(--color-lighter-grey);
                }
            }

            &__max {
                z-index: -1;
                position: absolute;
                top: 0px;
                right: 0px;
                font-weight: 900;

                &::after {
                    position: absolute;
                    content: 'MAX 24H';
                    top: 1.7em;
                    right: 0px;
                    font-weight: 100;
                    color: var(--color-lighter-grey);
                }
            }

            &__graph {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 600px;

                svg {
                    position: absolute;
                    width: 550px;
                    height: 550px;
                }

                h1 {
                    font-size: 3rem;
                    position: relative;

                    &::before {
                        content: 'WALLET VALUE';
                        width: 26ch;
                        position: absolute;
                        font-size: 0.4em;
                        color: var(--color-lighter-grey);
                        bottom: 5rem;
                        text-align: center;
                    }

                    &::after {
                        content: '▲ € 31.800,52 (21,1%)';
                        width: 20ch;
                        position: absolute;
                        font-size: 0.4em;
                        color: var(--color-light-green);
                        top: 5rem;
                        left: 4ch;
                    }
                }
            }
        }
    }

    &-portfolio {
        margin-bottom: 200px;

        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                font-weight: 100;
            }

            &__indicators {
                color: var(--color-lighter-grey);
                font-size: 0.8rem;
                word-spacing: 1em;
            }
        }

        &__list {
            position: relative;

            &__item {
                display: flex;
                justify-content: space-between;
                padding-block: 10px;
                box-shadow: 0px -2px 0px 0px var(--color-light-grey);

                &__icon {
                    background-color: var(--color-mid-grey);
                    border-radius: 25%;
                    width: 75px;
                    height: 75px;
                    margin: 10px;

                    svg {
                        margin: 12.5px;
                        width: 50px;
                        fill: var(--color-white);
                    }
                }

                &__name {
                    position: absolute;
                    left: 85px;
                    margin: 1rem;
                    font-size: 1.5rem;
                    line-height: 0rem;

                    :last-child {
                        font-size: 0.7em;
                        color: var(--color-lighter-grey);
                    }
                }

                &__graph {
                    position: absolute;
                    left: 250px;
                    width: 230px;
                    //border: 1px solid var(--color-light-grey);
                    overflow: hidden;

                    img {
                        width: 220px;
                    }
                }

                &__price {
                    margin: 1rem;
                    text-align: end;
                    line-height: 0em;
                    font-weight: 600;

                    :first-child {
                        font-size: 1.5em;
                    }

                    .--red {
                        color: var(--color-red);
                    }

                    .--green {
                        color: var(--color-light-green);
                    }
                }
            }
        }
    }
}

//andrew end
//yahya alhawjra-->page exchange
//yahya start
.menu {

    il {
        text-decoration: inline;

        text-align: center;
        justify-content: center;
        color: var(--color-lighter-grey);
        border-radius: 10px;
        font-size: xx-large;
        margin: 10px;
    }


}

il:hover {
    background-color: var(--color-light-green);
    color: white;

}

.title {
    margin: 50px;

    h1 {
        color: var(--color-white);
    }

    p {
        color: var(--color-lighter-grey);
        font-size: 18px;
    }
}

.wrapper {
    display: flex;
    flex-wrap: row;

    .box {
        background-color: var(--color-mid-grey);
        border-radius: 10px;
        margin: 70px;
    }

    button {
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        margin-top: -50px;
        outline: none;
        margin-top: 0%;
        margin: 10px;




    }

    h4 {
        margin: 0 35px;

        color: rgb(158, 10, 10);
    }

}

.button-change {
    margin-top: 50px;
    margin-left: 8%;
    justify-content: center;
    align-items: center;
}

@media only screen and(max-width:600px) {
    .button-change {
        margin: 0;
        margin-top: 50px;
        margin-left: 50%;
        justify-content: center;
        align-items: center;
    }
}

.wrapper2 {
    margin-left: -100px;
    margin-top: 0px;
    display: flex;
    flex-wrap: row;
}

/*yahya END*/