* {
    padding: 0;
    margin: 0;
    border: 0;
    
}

body {
    font-family: 'Poppins', sans-serif;
}


.homeopacity {
    background-color: rgba(0, 0, 0, 0.308);
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.home {

    position: relative;
    min-height: 100vh;

    background:
        url(http://www.fusushi.co.il/warehouse/dynamic/50913.jpg),
        url(http://www.fusushi.co.il/warehouse/dynamic/50916.jpg),
        url(http://en.fusushi.co.il/warehouse/dynamic/55244.jpg;);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;

    &__title {
        position: absolute;
        top: 40%;
        color: #EBEBEB;
        font-size: 65px;
    }


}

.lobby {
    min-height: 100vh;
    background-color: rgb(12, 11, 11);
}

.navbar {
    position: fixed;
    top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 60px;
    background-color: #EBEBEB;
    z-index: 2;
    font-size: 18px;


    ul {
        
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 1em;

        li{
            padding: 5px;
            &:hover {
                cursor: pointer;
                box-shadow: 0 0 0 1px rgb(0, 0, 0);
            }
        
        }

        img {
            height: 130px;
        }

        .smedia{
            font-size: 24px;
            i{
                margin-inline: 0.2em;
            }
        }
    }

}


.footer {
    position: absolute;
    top: 80%;
    display: flex;
    width: 95%;
    justify-content: space-between;
    color: white;

    .footer__whatsapp {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 150px;
        width: 100px;
        text-align: center;
        font-size: 18px;
        line-height: 1;

        img {
            margin-top: 0.2em;
            height: 90px;
            width: 90px;
            &:hover {
                cursor: pointer;
            }
        }

    }

    .footer__arrowpics {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;


        &__arrow {
            font-size: 5rem;
            font-weight: 200;
        }

        &__pics {
            i {
                margin-inline: 0.2em;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }

    .footer__gift {
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        img {
            height: 96px;
            width: 96px;
        }
    }
}