$fonts: 2.5rem;

$desktop:1200px;
$tablet:600px;
$phone:414px;

body {
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(234, 234, 234, 0.5));
    padding: 0;
    margin: 0;
}

.plantCard {
    position: relative;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(auto-fit, minmax(5, 120px));
    grid-template-rows: repeat(8, 120px);

    &__details {
        display: grid;
        grid-template-columns: repeat(4, 120px);
        grid-template-rows: repeat(6, 120px);
        grid-row: 2 / 6;
        grid-column: 1/5;
        // border: 1px solid black;


        &__header {
            grid-column: 1 / 5;

            padding: 45px;

            h1 {
                grid-column: 1;
                color: rgb(55, 55, 55);
                font-size: $fonts;
                grid-row: 1/2;
            }

            h2 {
                color: grey;
                line-height: 1em;
                font-size: $fonts;

            }
        }

        &--picture {
            grid-column: 2 / 4;
            grid-row: 3 / 5;
            z-index: 9;

            & img {
                margin: auto;
                max-width: 160%;
                filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
            }
        }

        &__type {
            display: flex;
            flex-direction: column;
            grid-column: 1/2;
            grid-row: 3/5;
            font-size:calc(#{$fonts} - 1em);
            color: rgb(55, 55, 55);
            padding: 45px;

            h3 {
                color: gray;
            }

            &__02 {
                grid-row: 3;
            }

            &__03 {
                grid-row: 4;
            }
        }
    }

}

@media only screen and (min-width:$tablet) {
    .plantCard__details {
        padding: auto;
        margin: auto;
    }
}