
body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(101, 153, 202);
}
form{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:rgb(241,241,241);
    height: 80vh;
    width: 30vw;
    padding: 1.5vw;
   
    fieldset{
        display:flex;
        justify-content: space-between;
        gap: 1.5ch;
        width: 100%;
        border:0 ;
        padding:.4vw 0;
    }
    input{
        flex-grow: 1;
        width: 100%;
        line-height:1.5;
        &::placeholder{
            padding: .4vw;
        }

        &#userName{
            &::placeholder{
                text-align: right;
            }
        }
    }
}