body{
    background-color:rgba(231, 209, 245, 0.507);
}
.wrapper{
    position: relative;
}
.box{
    width: 500px;
    height:100%;
    margin: 10px;
}
.box img{
    width: 80%;
    height: 80%;
    border: 2px inset whitesmoke;
}
.box h1{
    text-align: center ;
}
.box:nth-child(1){
    width: 100vw;
    height: 80px;
    position: fixed;
    border: 1px solid black;
background-color: blanchedalmond;
}
.box:nth-child(2){
    position: relative;
    right: 70%;
}
.box:nth-child(3){
    position: sticky;
    top: 0%;
    right: 50%;
}
.box:nth-child(4){
    position: sticky; 
    top: 0%;
    right: 30%;
}
.box:nth-child(5){
    position: relative;
    right: 10%;
}
.box:nth-child(6){
    position:relative ;
    right: 0%;
}
.box> p:nth-child(2){
    font-size: 20px;
    text-shadow: 2px -2.5px 2px white;
position: absolute;
top: 10%;
right: 25%;
}
