.login-form {
  min-width: 396px;

  &_buffer {
    display: flex;
    place-content: center;
    place-items: center;
    // align-items: center;
    // text-align: center;
    margin: 20px 16px;
    // width:364px;
    height: 0;
    border-bottom: 1px solid #dadde1;
    align-self: center;
  }
  a {
    color: #1877f2;
    font-weight: 700;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.register-form{
  // display: flex;
  // flex-direction: column;
  // min-width: 100%;
  // margin: 32px;
  max-height: 496.469px;
  display:flex;
  flex-direction: column;
  place-items: center;
  gap: 10px;
}