body {
	background-color: black;
	margin: 0;
}
.header {
	background-color: rgb(88, 88, 145);
	width: 100vw;
	height: 10vh;
	text-align: center;
	font-family: fantasy;
}
.title1 {
	background-color: rgb(88, 88, 145);
	width: 100vw;
	height: 10vh;
	text-align: center;
	font-family: fantasy;
}
.title2 {
	background-color: rgb(88, 88, 145);
	width: 100vw;
	height: 10vh;
	text-align: center;
	font-family: fantasy;
}
.actualgames {
	display: flex;
	justify-content: space-around;
}
.gamesbox {
	background-color: rgb(88, 88, 145);
	border: 5px solid rgb(88, 88, 145);
	width: 10vw;
	height: 10vh;
	font-weight: bold;
	font-family: monospace;
	text-align: center;
	color: blueviolet;
	>img {
		width: 15vw;
		height: 20vh;
	}
	&:hover {
		cursor: pointer;
		transition-duration: 1s;
		transform: scale(1.2);
	}
}
.classicgames {
	display: flex;
	justify-content: space-around;
}
