
:root{
    background-image: url(https://gcdn.pbrd.co/images/DO5PACgHDmdd.jpg?o=1);
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
    font-size: 2.5rem;
}
.header{
    width: 100vw;
    height: 100px;
    background: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);    color: honeydew;
    font-size: 4rem;
    text-align: center;
    line-height: 100px;
    margin: -10px;
}
@keyframes first-pic{
    0%{transform: translateY(150px); opacity: 0;}
    100%{transform: translateY(0px); opacity: 1;}
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 70vw;
    max-width: 1200px;
    height: calc(100%+200px);
    background: rgba(0, 0, 0, 0.8);
    .visable{
        opacity: 0;
        transform: translateX(-150px);
        
    }
    #pic1{
        background-image: url(https://gcdn.pbrd.co/images/SSNZc9I7ArCd.jpg?o=1);
        width: 600px;
        height: 1080px;
        background-size: contain;
        animation: first-pic 2s forwards ease;
    }
    &__galley{
        display: flex;
        justify-content: space-between;
        width: 70vw;
        max-width: 1200px;
        &__photo{
            width: 20vw;
            max-width: 400px;
            margin-top: 100px;
            background-size: cover;
            position: relative;
            transition: ease 2s;
        }
     
    }
    &__discription{
        width: 70vw;
        max-width: 1200px;
        height: 70px;
        background-color: rgba(85, 85, 85, 0.637);
        margin-top: 20px;
        text-align: center;
        line-height: 70px;
        color: white;
        transition: ease 2s;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }
    .bigPic{
        width: 70vw;
        max-width: 1200px;
        margin-top: 30px;
        transition: ease 2s;
    }
    
}
