::root{
    --navbar-background-color: #181a21;
    --form-background-right: #0f206d;
    --form-background-left: #3a6490;
    --form-search-background-color:#5f849b;
    --form-text-color: #d8d9d9;
    --table-background-color-gradient-start: #29475d;
    --table-background-color-gradient-end: #1b2838;
    --table-header-background-color: #1b2838;
    --table-header-text-color:#2f526b;
    --table-header-focused-background-color: #29475d;
    --table-header-focused-text-color:#fbfbfc;
    --game-title-color: #c7d5e0;
    --game-price-color: #acdbf5;
}

*{
    font-size: clamp(15px, 2.5vw, 18px);
margin:0;
    padding: 0;
    
}
[name="src"]{
display:none;
}
html{
    width: 448px;



}
body{

    position: relative;
    // display: flex;
    // flex-direction: row;
    // overflow-x:hidden ;
}

.wrapper{

padding:  5vw 2vh;
background-color: var(--navbar-background-color);
&_nav{
    display: flex;
    flex-direction: column;

    &-logo{
        display: flex;
        flex-direction: row;
        width: 100vw;

        align-items: center;
        img{
            height: 36px;
        }
        &-bars{

        }
    }
    &-form{
        display: flex;
        flex-direction: column;
    .game_title-create{

    }
    .game_price-create{

    }
    .game_ref-create{

    }
    .game_src{
        &-create{
        &-button{

        }}
        &-preview{

        }
    }
    }
}
&_table{
    &-top{

    }
    &-bottom{
        display: flex;
        flex-direction: column;
        .game{
            width: 90vw;
            overflow-wrap: break-word;
            &_image{
                img{
                    width: 33%;
                }
            }
            &_ref-wrapper{

            }
            &_title-update{

            }
            &_price-update{

            }
            &_game-id{

            }

        }
    }

}
}

