body{
    background: #202e38;
    font-family: "Poppins", sans-serif;
    margin: 100px;

    // a {
    //     text-decoration: none;
    // }

    .periodic-table{
        display: grid;
        grid-template-columns: repeat(18, 100px);
        grid-template-rows: repeat(9, 100px);
        gap: 10px;
        margin: auto;
        max-width: 1200px;
        justify-content: center;

        // .empty-space-1{
        //     grid-column: 2/17;
        //     grid-row: 1/2;
        // }


        

        // .title .H {
        //     grid-column-start: 1;
        //     grid-column-end: 2;
        //     grid-row-start: 1;
        //     grid-row-end: 2;
        // }

        .empty-space-1{
            grid-column-start: 2;
            grid-column-end: 18;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        .empty-space-2{
            grid-column: 3/13;
            grid-row: 2/4;
        }

        .empty-space-3{
            grid-column: 1/4;
            grid-row: 8/10;
        }

        // .title .He{
        //     grid-column-start: 18;
        //     grid-column-end: 19;
        //     grid-row-start: 1;
        //     grid-row-end: 2;
        // }
        

        .periodic-element{
            padding: 4px; 
            position: relative;
            z-index: 1;
            transition: all .3s ease-in-out;
            cursor: pointer;

            

            &__periodic-element:hover{
                transform: scale(1.5);
                z-index: 10;
            }

            .periodic-element-inner{
                background: #202e38;
                padding: 10px 15px;
                width: calc(100% - 30px);
                height: calc(100% - 20px);
                transition: inherit;
               
            }

         

            .title{
                font: 800 27px "Poppins", sans-serief;
                margin: 0.3em 0 0;
                transition: 0.8s ease 600ms;  
                
                .decribtion{
                    margin-top: -0.2em;
                }
            }
        }

        .periodic-element:hover .periodic-element-inner{
            background: transparent;
        }
        
  
        
         
        .periodic-element:hover .title,
        .periodic-element:hover .decribtion{
             -webkit-text-fill-color: rgb(10, 10, 10);
         } 
         
         .periodic-element:hover::after{
            top: 105%;
            opacity: 1;
            transform: scale(1.5s);
        }
         
         
        
         
         .one{
            background: linear-gradient(to bottom right, #f1e044 0%, #806802 100%);

            .title,  .decribtion{
                background: -webkit-linear-gradient(#5e571a, #57490b );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }


        .two{
            background: linear-gradient(to bottom right, #6B8E23 0%, #365002 100%);

            .title,  .decribtion{
                background: -webkit-linear-gradient(#6B8E23, #365002  );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
         
         
        .three{
            background: linear-gradient(to bottom right, #2dcaa8  0%, #07614d 100%);

            .title,  .decribtion{
                background: -webkit-linear-gradient(#2dcaa8, #07614d   );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
                
         
         .four{
            background: linear-gradient(to bottom right, #268cc7 0%, #044972 100%);

            .title, .decribtion{
                background: -webkit-linear-gradient(#268cc7, #ffc171  );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
             
        } 
         
         
        
        .five{
            background: linear-gradient(to bottom right, #0eb10e  0%, #046604 100%);

            .title, .decribtion{
                background: -webkit-linear-gradient(#095a09, #096109   );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
    
        }
                

        .six{
            background: linear-gradient(to bottom right, #7616c5  0%, #3d0669 100%);

            .title, .decribtion{
                background: -webkit-linear-gradient(#281338, #1e102b   );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
         

        .seven{
            background: linear-gradient(to bottom right, #FF6600  0%, #813808 100%);

            .title, .decribtion{
                background: -webkit-linear-gradient(#9b5421, #994b16   );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
               


        .eight{
            background: linear-gradient(to bottom right, #2442ec  0%, #0921ac 100%);

            .title,  .decribtion{
                background: -webkit-linear-gradient(#0b154d, #030822   );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
         

        .nine{
            background: linear-gradient(to bottom right, #382612  0%, #2c1d0b 100%);

            .title,  .decribtion{
                background: -webkit-linear-gradient(#1d1409, #1b1206   );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
          

        .ten{
            background: linear-gradient(to bottom right, #694b28  0%, #4b351c 100%);

            .title,  .decribtion{
                background: -webkit-linear-gradient(#1a130b, #1d140b   );
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        
          
    }
   
}