body {
    background-color: darkgoldenrod;
    margin: 0;
}

.manage {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: repeat(3, 1fr);
    width: 90vw;
    height: 50vh;
    margin: auto;
    margin-top: 1rem;
    border: 2px solid blue;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;

    &__header {
        grid-row: span 3;
        border-right: 2px solid blue;

        h2 {
            text-align: center;
<<<<<<< HEAD
<<<<<<< HEAD
=======
            margin-top: 50%;
>>>>>>> parent of 98e351d9 (Merge branch 'main' of https://github.com/talyaron/fullstack2021)
=======
            margin-top: 50%;
            font-weight: 300;
>>>>>>> parent of d2fdcf04 (Merge branch 'main' of https://github.com/talyaron/fullstack2021)
        }
    }

    &__byId {
        justify-self: center;
        margin-top: .8rem;
    }

    &__addGame {
        justify-self: center;
    }

    &__updateGame {
        justify-self: center;
    }
}

<<<<<<< HEAD
<<<<<<< HEAD
.rootGames{
=======
.store {
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid blue;
>>>>>>> parent of d2fdcf04 (Merge branch 'main' of https://github.com/talyaron/fullstack2021)

    &__header {
        border-bottom: 2px solid blue;
        text-align: center;
        width: 90vw;
    }

    &__gamesList {
      
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr;
        // border-bottom: 1px solid blue;
        // border-right: 1px solid blue;

        img {
            width: 300px;
        }

<<<<<<< HEAD
            &--title{
                text-align: center ;
            }
=======


.store {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: auto;
    width: 90vw;
    margin: auto;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid blue;

    &__header {
        border-bottom: 2px solid blue;
        text-align: center;
    }


    &__gamesList {
        display: flex;
        width: 90vw;
        justify-content: space-between;
        gap: 50px;

        &--img {
            width: 50px;
            height: 40px;
        }

        &--title {
            text-align: center;
>>>>>>> parent of 98e351d9 (Merge branch 'main' of https://github.com/talyaron/fullstack2021)
=======
        p {
            text-align: left;
>>>>>>> parent of d2fdcf04 (Merge branch 'main' of https://github.com/talyaron/fullstack2021)
        }
    }
}