form{
    margin:  auto;
    background-color: rgb(70, 60, 60);
    color: burlywood;
    max-width: 200px;
    border-radius: 10px;
    border: rgb(8, 7, 6) solid 5px;
    
    
    
}
.form{

    margin: auto;
    max-width: 220px;
    padding-top: 80px;
}
