.wrapper{
    border: 2px solid black;
position: relative;
height: 20vh;
width: 90vw;
display: flex;
flex-direction: row;
}
.box{
    border: 1px solid black;
    height: 20vh;
    width: 20vw;
}
.box>img{
    height:100%;
  width: 100%
}