body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Container {
  display:grid;
  margin:0;
  height: 100vh;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr auto 0.1fr;
  grid-template-areas:
  "header header header"
  "Wil Roi Yael"
  "Navbar Navbar Navbar";
  grid-gap:0.2rem;

  &__header {
    border:1px solid red;
    background-color: black;
    grid-area: header;
    display:grid;
    grid-template-columns: 0.1fr auto 0.1fr;
    align-items: center;

    &__Avatar {
      display: grid;
      padding-left: 10px;
      justify-content: center;
      
      img {
      width: 35px;
      height: 35px;
      }
    }

    &__Welcome {
      display:grid;
      color:white;
      padding-left: 5px;
    }   

    &__MenuBtn {
      display:grid;
      justify-content: center;
      padding-right: 10px;

      img {
      width: 30px;
      height: 30px;
      }
    }
  }
    &__Wil {
      background-color: black;
      grid-area: Wil;

      &__statBox {
        display: grid;
        margin: auto;
        width:95%;
        height: 100%;
        grid-template-rows: 1fr 2fr 1fr 1fr ;
        border: 1px solid red;

        &__heading {
          display: grid;
          justify-content: center;
          align-items: center;
          border: 1px solid red;
          color:white;
          font-size: 30px;
        }
        &__gaugeBox {
          display: grid;
          align-items: center;
          border: 1px solid red;
        }
        &__statBtn {
          display: grid;
          border: 1px solid red;

        }
        &__viewDetails {
          display: grid;
          border: 1px solid red;
        }
      }
 
  }

  &__Roi {
    border:1px solid red;
    grid-area: Roi;

  }
  &__Yael {
    border:1px solid red;
    grid-area: Yael;
  }
  &__Navbar {
    height: 5vh;
    border:1px solid red;
    background-color: black;
    grid-area: Navbar;
    display:flex;
    flex-direction:row;

    &--Btn {
      display:flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      border: 1px solid red;

      img {
         width: 25px;
        height: 25px;
      }
    }
  }
}

.gauge {
  
  max-width: 350px;

  &__body {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius:50%;
    overflow: hidden;

   &__fill {
     position:absolute;
     top:100%;
     left:0;
     width:inherit;
     height: 100%;
     background: rgb(141, 53, 223);
     transform-origin: center top;
     transform: rotate(0.5turn);
     transition: transform 3s ease-out;
   }

   &__cover1 {
     width:75%;
     height:75%;
     background: black;
     border-radius: 50%;
     position:absolute;
     top:12.5%;
     left:12.5%;
     display:flex;
     align-items: center;
     justify-content: center;


     &__circle {
      width:70%;
      height: 70%;
      border-radius: 50%;
      background-color: rgb(31, 28, 28);
      color:white;
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  
     &--a {
        font-size: 20px;
      }
     &--b {
        font-size: 30px;
      }
     &--c {
        font-size: 15px;
      }
     }
   }

   &__cover2 {
     width:100%;
     height:40%;
     position:absolute;
     top:70%;
     background: black;
   }
  }
}

@media only screen and (max-width:1200px){ 
  .Container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr auto 0.1fr;
    grid-template-areas:
    "header"
    "Wil"
    "Navbar";

    &__Roi {
      display: none;
    }
    &__Yael {
      display: none;
    }
  }
}

@media only screen and (min-width:1200px){ 
  
  .Container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.9fr;
    grid-template-areas:
    "header"
    "Wil Roi Yael";

    &__header {
      &__Avatar {
        img {
          width: 70px;
          height: 70px;
        }
    }
    &__Welcome {
      font-size: 20px;
    }
      &__MenuBtn {
        img {
          width: 70px;
          height: 70px;
          }
      }
  }
    &__Navbar {
      display: none;
    }
  }
}
