/*main page-leon*/
body {
    margin: 0;
    padding: 0;
}


.header_categories {
    position: relative;
    top: 0;
    width: 100%;
    height: 18vh;
    text-align: center;
    background-color: #dfe6e9;



    .icon {
        position: absolute;
        left: 6%;
        top: 5vh;

        &:hover {
            cursor: pointer;
        }
    }

    &_text {
        position: relative;
        top: 6vh;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
    }
}

.Nav_top {
    position: relative;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: #dfe6e9;


    &_box {
        position: relative;
        left: 2%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 14px;
        width: 19%;
        text-align: center;

        &:hover {
            cursor: pointer;
            background-color: #ffeaa7;
            transform: scale(1.2);
        }
    }
}

.plantsGrid {
    position: relative;
    left: 4%;
    width: 85%;
    height: 150vh;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);


    &_boxitem {
        position: relative;
        border: 1px solid silver;
        background-size: cover;

        &:hover {
            cursor: pointer;
            opacity: 0.5;
        }

        h1 {
            position: relative;
            left: 15px;
            font-size: 25px;
            color: rgb(21, 33, 56);
            font-family: 'Comforter Brush', cursive;
            font-family: 'Inconsolata', monospace;
            font-family: 'M PLUS Code Latin', sans-serif;
            font-family: 'Montserrat', sans-serif;
            font-family: 'Source Code Pro', monospace;
        }

        h2 {
            position: relative;
            left: 15px;
            color: rgb(216, 205, 105);
            font-family: 'Comforter Brush', cursive;
            font-family: 'Inconsolata', monospace;
            font-family: 'M PLUS Code Latin', sans-serif;
            font-family: 'Montserrat', sans-serif;
            font-family: 'Source Code Pro', monospace;

        }

    }
}

.Nav_bottom {
    position: relative;
    top: 0px;
    left: -5%;
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 20vh;

    &_box1 {
        position: relative;
        top: 70px;
        left: 62px;
        align-items: center;
        width: 20%;
        height: 20%;

        i {
            position: relative;
            left: 40%;
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.5);
            transition: 0.7s;
        }
    }

    &_box2 {
        position: relative;
        top: 70px;
        left: 62px;
        align-items: center;
        width: 20%;
        height: 20%;

        i {
            position: relative;
            left: 40%;
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.5);
            transition: 0.7s;
        }
    }

    &_box3 {
        position: relative;
        top: 70px;
        left: 62px;
        align-items: center;
        width: 20%;
        height: 20%;

        i {
            position: relative;
            left: 40%;
            transform: scale(1.5);
            transition: 0.7s;
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.5);
            transition: 0.7s;
        }
    }

    &_box4 {
        position: relative;
        top: 70px;
        left: 62px;
        align-items: center;
        width: 20%;
        height: 20%;

        i {
            position: relative;
            left: 40%;
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.5);
            transition: 0.7s;
        }
    }
}

section {
    min-height: 5vh;
}

.container {
    padding-top: 5%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 80px;
    height: 90px;
    z-index: 10;
    box-shadow: 0 10px 0px rgba(0, 0, 0, 0.19);
    animation: 2s scale linear;
}

#box1 {
    transform-origin: bottom right;
    border-radius: 0px 100px 10px 110px;
    background-color: #0f5735;
}

#box2 {
    transform-origin: bottom left;
    border-radius: 100px 0px 100px 0px;
    background-color: #0f5735;
}

#box3 {
    transform-origin: top right;
    border-radius: 100px 0px 100px 0px;
    background-color: #0f5735;
}

#box4 {
    transform-origin: top left;
    border-radius: 0px 100px 0px 100px;
    background-color: #0f5735;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #ffef00;
    z-index: 100;
    margin-top: -190px;
}

.line {
    background: #0f9b0f;
    margin-top: -130px;
    width: 15px;
    height: 190px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.pot {
    background: #968c8c;
    border-radius: 0px 0px 40px 40px;
    width: 150px;
    height: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@keyframes scale {
    0% {
        scale: 0.5;
    }

    100% {
        scale: 1;
    }
}

@media screen and (min-width: 700px) {

    .plantsGrid {
        grid-template-rows: repeat(4, 20%);


        &_plantsGrid_boxitem {
            font-size: calc(70% + 0.5rem);
            position: relative;
            left: 32%;
            width: 40%;
            gap: 20px;


        }
    }
}


// --- PlantCard Alex ---- //
body {
    padding: 0;
    margin: 0;



}

.plantCard {
    // border-radius: 45px;
    // margin-top: 50%;
    display: grid;
    margin: auto;
    // padding: 20px;
    grid-template-columns: 1fr;
    // grid-template-rows: repeat(8, 120px);
    grid-template-rows: repeat(auto-fit, minmax(8, 120px));
    background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(234, 234, 234, 0.5));




    @media only screen and (min-width:800px) {
        margin: 20px;
    }

    @media only screen and (min-width:1200px) {
        margin: 200px;





        p {
            font-size: calc(1rem + 0.5rem);
        }
    }



    &__header {
        grid-row: 1/2;
        height: 80px;
        // border: 1px solid black;
        display: flex;
        padding: 0;
        margin: 0;
        flex-direction: row-reverse;
        // flex-wrap: wrap;



        &--box {



            background-color: rgb(255, 255, 255);
            box-shadow: 1px 1px 10px grey;
            margin-top: 15px;
            height: 50%;
            width: 70px;
            justify-content: space-between;
            border-radius: 50% 10% 10% 50%;



            .material-icons {
                margin-left: 30%;
                margin-top: 10%;
                font-family: 'Material Icons';
                font-size: 30px;
                color: rgb(180, 180, 180);
            }


        }

        &--arrow {
            margin: 50px;
            background-color: rgb(0, 0, 0);
            width: 85px;
            height: 5px;



        }


    }



    &__details {
        margin: 10px;
        padding: 15px;
        grid-row: 2 / 6;
        display: grid;
        grid-template-columns: repeat(3, 120px);
        grid-template-rows: repeat(4, 120px);

        // @media only screen and (max-width:75ch) {
        //     grid-template-columns: 1fr, 1fr;
        // }

        // @media only screen and (max-width:150ch) {
        //     grid-template-columns: 3fr;
        // }

        @media only screen and (max-width:335ch) {
            padding: calc(1.5rem+0.5);
            margin: auto;
            margin: 200px;

        }

        @media only screen and (max-width:635ch) {
            padding: calc(1.5rem+0.5);
            margin: auto;
            // grid-template-columns: repeat(3, 300px);


        }

        &__header {
            grid-column: 1 /4;
            grid-row: 1 / 2;

            h1 {

                color: rgb(55, 55, 55);
                ;
            }

            h2 {
                color: grey;
                font-size: 18px;
            }

        }

        &--picture {
            // border: 1px solid black;
            grid-column: 2 / 4;
            grid-row: 2 / 5;
            z-index: 9;

            & img {
                // border: 1px solid black;
                margin: auto;
                max-width: 110%;
                // box-shadow: 0 7px 40px -0.2px grey;
                filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
            }
        }

        &__type {
            grid-column: 1 / 2;

            grid-row: 2 / 3;


            &__01 {

                color: rgb(55, 55, 55);

                h3 {
                    color: gray;
                }
            }

            &__02 {
                grid-row: 3;

                color: rgb(55, 55, 55);

                h3 {
                    color: gray;
                }
            }

            &__03 {
                grid-row: 4;

                color: rgb(55, 55, 55);

                h3 {
                    color: gray;
                }
            }
        }
    }

    &__about {
        background-color: white;
        padding: 15px;
        color: rgb(154, 154, 154);
        grid-row: 6 / 8;
        height: 250px;

        // h2 {
        //     p {
        //         @media only screen and (max-width:335ch) {
        //             padding: calc(1.5rem+0.5);
        //             margin: auto;
        //             text-align: center;

        //         }
        //     }

        //     p {
        //         @media only screen and (max-width:635ch) {
        //             padding: calc(1.5rem+0.5);
        //             margin: auto;

        //         }
        //     }
        // }

        &--icons {
            gap: 30px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            &--01 {
                display: flex;
                flex-direction: row-reverse;
                align-items: center;

                span {
                    margin: 15px;
                    border-radius: 50px;
                    width: 35px;
                    height: 35px;
                    background-color: rgb(222, 247, 249);
                }
            }

            // grid-template-columns: repeat(3, 120px);
            // grid-template-rows: repeat(4, 120px);
        }

        // &--description {
        //     padding: 90px;
        // }
    }

    &__cartPrice {
        grid-row: 8;
        background-color: white;
        padding-top: 20px;
        justify-content: space-evenly;
        display: flex;
        justify-content: space-evenly;
        margin-top: 30px;


        &--button {
            color: rgb(255, 255, 255);
            border-radius: 15px;
            border-style: none;
            width: 150px;
            height: 45px;
            font-size: 20px;
            text-align: center;

            &.__02 {
                background-color: rgb(91, 192, 192);
                color: rgb(254, 244, 45);

            }

        }
    }
}




/*Cart page- Shani*/

.cartPage {

    background-color: rgba(160, 156, 152, 0.192);


}


.myCart__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 20%);
    position: relative;
    left: 5%;
    width: 90%;
    height: 100vh;
    gap: 10px;
    background-color: rgba(241, 235, 229, 0.192);


    &__title {
        padding-top: 1rem;
        color: rgba(0, 0, 0, 0.774);

    }


    &__box {
        background-color: rgb(255, 255, 255);
        border-radius: 1rem;
        box-shadow: 2px 2px 10px rgb(75, 71, 71);
        font-family: sans-serif;
        color: rgba(0, 0, 0, 0.774);

        &:hover {
            background-color: rgba(235, 222, 222, 0.76);
            cursor: pointer;
        }

    }

    img {

        position: absolute;
        padding: 1rem;


    }



}


.leftside {

    position: absolute;
    left: 7rem;


    h3 {
        opacity: 0.9;
        margin-bottom: 0px;

    }

    p {
        font-weight: bold;
        margin-top: 2%;

        color: rgba(0, 0, 0, 0.774);
        opacity: 0.6;

    }

    input {
        width: 3rem;
        margin-left: 15%;
        font-weight: bolder;

    }

}

.rightside {


    i {
        position: absolute;
        left: 18rem;
        margin-top: 1rem;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }


    }

    h3 {
        color: rgb(10, 156, 156);
        position: absolute;
        left: 15rem;
        margin-top: 90px;

    }
}




.checkout {
    background-color: rgb(255, 255, 255);
    height: 50vh;

    padding: 2rem;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.774);

    .h3 {
        display: flex;
        justify-content: space-between;

    }




    .p {
        font-weight: bold;
        margin-top: 2%;
        color: rgba(0, 0, 0, 0.774);
        opacity: 0.6;
        display: flex;
        justify-content: space-between;


    }

    .h2 {
        display: flex;
        justify-content: space-between;

    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 2rem;
        border-radius: 3%;


    }

    .button__add {
        background-color: white;
        color: rgb(10, 156, 156);
        font-weight: bold;
        border: 2px solid rgb(10, 156, 156);
        border-radius: 1rem;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 1%;
        padding-bottom: 1%;

        &:hover {
            background-color: rgba(235, 222, 222, 0.76);
            cursor: pointer;

        }

    }

    .button__checkout {
        background-color: rgb(10, 156, 156);
        color: white;
        font-weight: bold;
        border: 2px solid rgb(10, 156, 156);
        border-radius: 1rem;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 1%;
        padding-bottom: 1%;

        &:hover {
            background-color: rgba(10, 156, 156, 0.637);
            cursor: pointer;

        }

    }


}

.cartgarden {
    .maintree {
        position: absolute;
        background-color: green;
        width: 0.5rem;
        height: 10%;
        bottom: -80%;
        left: 80%;
        animation-name: treeGrows;
        animation-duration: 4s;
        animation-timing-function: linear;
        transform-origin: bottom;
        animation-fill-mode: both;
        animation-delay: 1s;



    }

    @keyframes treeGrows {
        0% {
            transform: scale(0)
        }

        ;

        15% {
            transform: scale(0.5)
        }

        ;

        25% {
            transform: scale(1)
        }

        ;

        40% {
            transform: scale(1.5)
        }

        ;

        50% {
            transform: scale(1.5)
        }

        ;

        65% {
            transform: scale(2)
        }

        ;

        75% {
            transform: scale(2)
        }

        ;

        90% {
            transform: scale(2)
        }

        ;

        100% {
            transform: scale(2)
        }

        ;

    }

    .tree__leaf {
        position: absolute;
        width: 40%;
        height: 40%;
        background-color: green;
        border: 0;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;

    }

    .tree__leaf--left {
        bottom: 80%;
        left: -97%;
        width: 100%;
        height: 10%;
        animation-name: leftLeaf;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;

    }

    @keyframes leftLeaf {
        0% {
            transform: scale(0)
        }

        ;

        20% {
            transform: scale(0.5)
        }

        ;

        100% {
            transform: scale(1)
        }

        ;

    }


    .tree__leaf--right {
        bottom: 60%;
        right: -91%;
        width: 100%;
        height: 6%;
        transform: rotate(90deg);
        animation-name: rightLeaf;
        animation-duration: 8s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;

    }

    @keyframes rightLeaf {
        0% {
            transform: scale(0)
        }

        ;

        20% {
            transform: scale(1)
        }

        ;

        40% {
            transform: scale(2)
        }

        ;

        65% {
            transform: scale(2)
        }

        ;

        100% {
            transform: scale(2.5)
        }

        ;

    }

    .flowerCircle {
        background-color: yellow;
        width: 300%;
        height: 45%;
        border-radius: 50%;
        position: absolute;
        border: 3px orange solid;
        bottom: 95%;
        right: -110%;
        animation-name: flowerCircle;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        font-weight: bold;

        p {
            position: absolute;
            left: 5%;
            top: 20%;
            font-size: 1%;
            text-align: center;
            color: rgba(0, 0, 0, 0.774);

        }

        &:hover {
            cursor: pointer;
            background-color: rgb(255, 255, 121);

            p {
                color: rgb(255, 115, 0);
            }


        }



    }

    @keyframes flowerCircle {
        0% {
            transform: scale(0)
        }

        ;

        20% {
            transform: scale(0)
        }

        ;

        40% {
            transform: scale(1)
        }

        ;

        65% {
            transform: scale(1)
        }

        ;

        100% {
            transform: scale(1)
        }

        ;

    }




    img {

        position: absolute;
        bottom: -90%;
        width: 100%;
        height: 25%;
    }


    .tree2 {
        position: absolute;
        background-color: green;
        width: 0.5rem;
        height: 10%;
        bottom: -80%;
        left: 20%;
        animation-name: tree2Grows;
        animation-duration: 4s;
        animation-timing-function: linear;
        transform-origin: bottom;
        animation-fill-mode: both;


    }

    @keyframes tree2Grows {
        0% {
            transform: scale(0)
        }

        ;

        15% {
            transform: scale(0.5)
        }

        ;

        25% {
            transform: scale(1)
        }

        ;

        40% {
            transform: scale(1.5)
        }

        ;

        50% {
            transform: scale(1.5)
        }

        ;

        65% {
            transform: scale(2)
        }

        ;

        75% {
            transform: scale(2)
        }

        ;

        90% {
            transform: scale(2)
        }

        ;

        100% {
            transform: scale(2)
        }

        ;

    }

    .flowerCircle2 {
        background-color: rgb(255, 145, 0);
        width: 500%;
        height: 35%;
        border-radius: 60%;
        position: absolute;
        border: 4px yellow solid;
        bottom: 95%;
        right: -205%;
        animation-name: flowerCircle;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        font-weight: bold;


        p {
            position: absolute;
            left: 5%;
            top: 20%;
            font-size: 1%;
            text-align: center;
            color: rgba(0, 0, 0, 0.774);

        }

        &:hover {
            cursor: pointer;
            background-color: rgb(230, 172, 48);

            p {
                color: rgb(255, 255, 21);
            }


        }



    }



}


@media screen and (min-width: 700px) {

    .myCart__grid {
        grid-template-rows: repeat(4, 20%);



        &__title {
            text-align: center;
            font-size: calc(1rem + 0.5rem);

        }

        &__box {
            font-size: calc(70% + 0.5rem);
            position: relative;
            left: 32%;
            width: 40%;
            gap: 20px;


        }
    }

    .leftside {

        text-align: center;

        h3 {
            padding-left: 10%;
        }

        p {
            padding-left: 10%;
        }


        input {
            margin-left: 80%;
            width: 4rem;
            height: 2rem;


        }
    }

    .rightside {

        position: relative;
        left: 35%;


    }

    .checkout {
        font-size: calc(70% + 0.5rem);
        padding-left: 10%;
        padding-right: 10%;
    }

    .button__checkout {
        font-size: calc(60% + 0.5rem);

    }

    .button__add {
        font-size: calc(60% + 0.5rem);

    }

    .cartgarden {


        .maintree {
            left: 70%;


        }


        @keyframes treeGrows {
            0% {
                transform: scale(0)
            }

            ;

            15% {
                transform: scale(1)
            }

            ;

            25% {
                transform: scale(1.5)
            }

            ;

            40% {
                transform: scale(2)
            }

            ;

            50% {
                transform: scale(2.5)
            }

            ;

            65% {
                transform: scale(2.5)
            }

            ;

            75% {
                transform: scale(3)
            }

            ;

            90% {
                transform: scale(3.5)
            }

            ;

            100% {
                transform: scale(4)
            }

            ;

        }

        .tree2 {
            left: 30%;

        }


        @keyframes tree2Grows {
            0% {
                transform: scale(0)
            }

            ;

            15% {
                transform: scale(0.5)
            }

            ;

            25% {
                transform: scale(1)
            }

            ;

            40% {
                transform: scale(1.5)
            }

            ;

            50% {
                transform: scale(2)
            }

            ;

            65% {
                transform: scale(2)
            }

            ;

            75% {
                transform: scale(2.5)
            }

            ;

            90% {
                transform: scale(3)
            }

            ;

            100% {
                transform: scale(3)
            }

            ;

        }
    }






}