.profile{
    background-color: rgb(243, 243, 243);
    // border: 1px solid black;
    height: 90vh;
    width: 100vw;
    // background-color: orange;
    display: grid;
    grid-template-columns: repeat(10 ,10% );
    grid-template-rows: repeat(10 ,10% );

    &_profilePic{
        display: inline-block;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        position: relative;
        margin: 0 0 0 2vw;
        grid-column: 1/3;
        grid-row: 2/5;
        height: 100%;
        width: 100%;
        border-radius: 10%;
        border: 1px solid black;

        &-img{
            position: absolute;
            width: 100%;
            height: 100%;
            // z-index: -1;
        }

        &-changeImg{ 
            border-radius: 50%;
            border: 1px solid black;
            margin: 0 0 5px 15px;
            position: absolute;
            width: 35px;
            height: 35px;
            z-index: 10;
            align-self: flex-end;
            background:url("https://icon-library.com/images/black-camera-icon/black-camera-icon-3.jpg") 
            white no-repeat center;
            background-size: 85% 85%;
            z-index: 10;

            &:hover{
                cursor: pointer;
            }

            & input{
                display:none;
            }
        }
    }
    &_contactInfo{
        margin: 2vh 0 0 2vw;
        display: grid;
        border-radius: 20px;
        grid-template-columns: repeat(10 , 10%);
        grid-template-rows: repeat(10 , 10%);
        font-weight: 700;
        grid-column: 1/3;
        grid-row: 5/10;
        height: 100%;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        &-linkDinLink{
            // box-shadow: rgba(50, 50, 93, 0.25) 100px 30px 60px 100px inset,
            // rgba(0, 0, 0, 0.3) 100px 18px 36px 100px inset;
            
            background: gray;
        }

        &-edit{
            margin: 25px 10px 0 0;
            grid-column: 10;
            grid-row: 1;

            &:hover{
                cursor: pointer;
            }
        }

        &-address{
            margin-top: 1vh;
            display:grid;
            grid-template-rows: repeat(2 , 40%);
            grid-template-columns: repeat(10 , 10%);
            grid-column: 2/9;
            grid-row: 3/5;
            // padding-left: 3vw;
            text-align: center;
            // margin-top: 3px;
            width: 100%;
            height: 100%;
            
        }
          &-email{
            margin-top: 3vh;
            width: 100%;
            height: 100%;
            grid-column: 1/8;
            grid-row: 5/7;
            text-align: center;
            // border: 1px solid red;
          }
          &-phone{
            margin-top: 5vh;
            width: 100%;
            height: 100%;
            grid-column: 3/7;
            grid-row: 6/8;
            text-align: center;
            // border: 1px solid red;
          }
          .formAdress{
            grid-row: 4/10;
            grid-column: 1/10;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }
        }
    
    &_nameProffession{
        grid-column: 4/10;
        grid-row: 2/3;
        height: 150%;
        // border: 2px solid red;
        display: grid;
        grid-template-rows: repeat(2 , 40%);
        
    }
    &_companyDetails{
        margin-top: 5vh;
        border-radius:10px;
        display: grid;
        grid-template-columns: repeat(10 , 10%);
        grid-template-rows: repeat(10 , 10%);
        font-weight: 700;
        grid-column: 4/10;
        grid-row: 3/10;
        height: 100%;
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        &-sections{
            grid-column: 1/11;
            grid-row: 3/10;
            display: flex;
            flex-direction: column;
            flex-flow: column wrap;
            // border:1px solid orange;

            &-section{
                // border:1px soli  d black;
                padding: 0 0 0 100px;
                font-size: 17px;
                font-weight: 600;
                text-align: start;
                height:20%;
                width:100%;
            }
        }

        &_header{
            grid-column:1/11;
            grid-row:1/2;
            // border: 2px solid red;
            display: flex;
            flex-direction: column;
            
            &-title{
                align-items: flex-start;
                text-align: center;
                grid-column: 1/3;
                grid-row: 1;
                width: 50%;
                // border: 1px solid black;
                position: absolute;


            }

            &-edit{
                padding:5px 5px 0 0 ;
                position: absolute;
                align-self: flex-end;
                // border: 1px solid black;

                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    
}
.formProffesion{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-y: auto;


    &-input{
        height: 40px;
    }
    &-submit{
        align-self: center;
        width: 150px;
        height: 35px;
    }
}
.showProfile{
    display: block;
}
.dontShowProfile{
    display: none;
}