.main{
    width: 80vw;
    height: 50vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(2, 3fr 2fr 2fr 1fr);
    column-gap: 5rem;
}
img{
    width: 25vw;
}
h2{
    word-break: break-all;
    font-size: 3rem;
}
h3{
    word-break: break-all;
    font-size: 2.5rem;
}
p{
    font-size: 2rem;
}