body {
    font-family:Arial, Helvetica, sans-serif;
}
.MainGrid {
display: grid;
grid-template-columns:200px auto;
grid-template-rows: 100vh;

&__CG {
    background-color:black;
    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 100vw;
    &__SearchBar {
        background-color: rgb(44, 39, 39);
        padding: 20px;
        color:rgb(117, 110, 110);
    }
    &__MainContentArea {
        display:grid;
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 2000px;
        justify-content: center;
        gap:100px;
        &__Music {
            border:1px solid gold;
            display:grid;
            grid-template-columns: 400px 400px 400px 400px 400px;
            grid-template-rows: 100%;
            gap:20px;
            .MusicBox1 {
                border: 1px solid green;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                &__IMG {
                   border: 1px solid red
                }
            }
        }
    }      
}

    &__SG {
        background-color: rgb(44, 39, 39);
        &__Menu {
            height: 250px;
            display: flex;
            flex-direction: column;
            //border: 1px solid white;
            &__SubMenu {
                position: absolute;
                top:260px;
                height: 200px;
                width: 200px;
                padding-top: 20px;
                padding-left: 50px;
                font-size: 15px;
                //border: 1px solid white;
                color:rgb(117, 110, 110);
            }
            &__item {
                height: 50px;
                font-size: 20px;
                color: white;
                display: flex;
                justify-content: left;
                padding-left: 20px;
                align-items: center;
                img {
                    width: 150px;
                    height: 60px;
                    }   
                }
            }
        }
    }