body {
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
}
.SideWrapper {
width: 10vw;
height: 100vh;
background-color:rgb(49, 47, 47);
&__MainLogo {
    width: 50px;
    height: 25px;

}

}

