Body {
  font-family: 'Roboto', sans-serif;
}

.Navbar {
  height: 15vh;
  width: 100vw;
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  border: solid black;
  gap: 3vw;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;




  &-Order {

    width: 8vw;
    height: 6vh;


  }

  &-StayConnect {
    width: 8vw;
    height: 6vh;






  }

  &-Manu {
    width: 8vw;
    height: 6vh;





  }

  &-Main {
    width: 8vw;
    height: 6vh;




  }

  &-Silmbol {
    width: 6vw;
    height: 8vh;
    color: rgb(57, 39, 39);
    display: flex;
    background-image: url(./Photos/hamburger-svgrepo-com.svg);
    background-size: cover;
    background-position: center;
    margin-left: 30vw;


  }


}

.Main {
  margin-bottom: 15vh;
  background-image: url("./Photos/mike-PxJ9zkM2wdA-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  &-Flex {
    width: 30vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    opacity: 0.95;
    gap: 5vh;

    &-Svgf {
      width: 8vw;
      height: 6vh;
      background-image: url(./Photos/branch-svgrepo-com.svg);
      color: whitesmoke;


    }

    & &-Title {
      font-size: 5rem;
      font-family: 'Fugaz One', cursive;
      font-weight: 1000;


    }

    &-SmallTitle {

      font-size: 4rem;
      font-weight: 1000;


    }

    &-BtnOrders {}

    &-Adress {
      color: rgb(212, 191, 75);
      font-size: 2rem;

    }


  }

}

.BigManuThree {
  display: flex;
  flex-direction: column;
  background-image: url(./Photos/melissa-walker-horn-wcDru6t-aCg-unsplash.jpg);
  height: 100vh;
  width: 100vw;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  gap: 3vh;

  &-Top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-Title {
      font-size: 5rem;
    }
    &-Text{
      font-size: 3rem;
      font-weight: 1000;
    }

  }
  &-Grid{
    display: grid;
    grid-template-columns: 100px 100px 100px;
  grid-template-rows: 80px 80px 80px; 
  column-gap: 10px;
  row-gap: 10px;
  
  &-card1{
background-image: url(./Photos/mae-mu-I7A_pHLcQK8-unsplash.jpg);
background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
  &-card2{
    background-image: url(./Photos/melissa-walker-horn-wcDru6t-aCg-unsplash.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

    
  }
  &-card3{
    background-image: url(./Photos/pablo-merchan-montes-hyIE90CN6b0-unsplash.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

    
  }
  &-card4{
    background-image: url(./Photos/mike-PxJ9zkM2wdA-unsplash.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

    
  }
  &-card5{
    background-image: url(./Photos/mae-mu-I7A_pHLcQK8-unsplash.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

    
  }
  &-card6{
    background-image: url(./Photos/mae-mu-I7A_pHLcQK8-unsplash.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

    
  }
  &-card7{
    background-image: url(./Photos/mae-mu-I7A_pHLcQK8-unsplash.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  }
  &-card8{
    background-image: url(./Photos/mae-mu-I7A_pHLcQK8-unsplash.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

    
  }
  &-card9{
    background-image: url(./Photos/mae-mu-I7A_pHLcQK8-unsplash.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

    
  }
  }

}



.MapPage {
  height: 40vh;
  background-color: aquamarine;

}