.wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.box{
    background-color: rgba(255, 255, 255, 0.8);
    width: 33vw;
    border: 2px solid black;
}

.box>img{
    width: 100%;
    height: 50%;
}
.box>h2{
    font-style: italic;
    font-weight: bold;
    text-align: center;
    background-color: coral;
}