* {
    box-sizing: border-box;
}

body {
    background-color: rgb(26, 24, 24);

}

.profile {
    position: relative;
    left: 13vw;
    i{
        color: rgb(245, 105, 12);
        size: 5px;
    }


    &__header {
        display: grid;
        grid-template-columns: repeat(3, 25vw);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        padding: 5px;


    }

    &__imgBorder {
        border-radius: 60%;
        box-shadow: 0px 0px 0px 1px rgb(245, 105, 12);
        grid-area: 1 / 1 / 4 / 2;
        width: 15vw;
        height: 40vh;

        img {
            border-radius: inherit;
            width: inherit;
            height: inherit;

        }
    }


    &__job {
        grid-area: 2 / 2 / 3 / 3;
        font-size: 12px;
        font-family: 'Asar', serif;
        color: gray;
        place-self: center stretch;

    }


    &__name {
        color: white;
        font-size: 30px;
        font-family: 'Cabin Condensed', sans-serif;
        grid-area: 1 / 2 / 2 / 3;
        place-self: center stretch;

    }

    &__addButton {

        color: rgb(211, 210, 210);
        background-color: rgb(245, 105, 12);
        width: fit-content;
        height: 60%;
        border-radius: 10px;
        border: none;
        transition: 0.2s ease-in-out;
        grid-area: 3 / 2 / 4 / 3;
        place-self: center stretch;

        &:hover {
            color: rgba(255, 255, 255, 1);
            box-shadow: 0 5px 15px rgb(245, 105, 12);
            cursor: pointer;
        }

    }

    &__user__category {
        color: aliceblue;
        position: relative;
        left: 5vw;
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(47, 44, 44);
        width: 40%;
        padding-inline-start: 0px;
        padding: 3px;
        border-radius: 15px;


        &__text {
            font-size: 15px;
            padding: 3px;
            cursor: pointer;

            &--active {
                background-color: black;
                border-radius: 15px;
                padding: 3px;
                cursor: pointer;
            }
        }


    }

    &__user__pics {
        display: grid;
        grid-template-columns: repeat(2, 25vw);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;

        .pic1 {
            grid-area: 1 / 1 / 3 / 2;

        }

        .pic2 {
            grid-area: 1 / 2 / 2 / 3;
        }

        .pic3 {
            grid-area: 3 / 1 / 4 / 2;
        }

        .pic4 {
            grid-area: 2 / 2 / 4 / 3;
        }


        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
            &:hover{
                cursor: pointer;
            }
            &:active {
                transform: scale(1.5);
                transition: 0.8s ease-in-out;
            }


        }


    }
    &__navBar--down{
        position: fixed;
        bottom: 0px;
        left: 10vw;
        display: flex;
        justify-content: space-around;
        width: 60%;
        background-color: gray;
        padding: 10px;
        border-radius: 3%;
        .userIcon{}
    }

}