* {
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: rgb(26, 24, 24);
    width: 350px;
    height: 620px;
    margin: auto;
}

.profile {
    width: 350px;
    height: 130px;
    .settings{
        position: absolute;
        // right: 365px;
        transform: translateX(-100%);
        font-size: 10px;
       .delete{
           color: red;
       }
        li{
            opacity: 0;
        }
    }
    .setting-active{
        transform: translateX(0%);
        color: rgb(245, 105, 12);
        li{
            padding: 2px;
            opacity: 1;
            cursor: pointer;
            &:active{
                color: gray;
            }
        }
    }
    i{
        color: rgb(245, 105, 12);
        size: 5px;
    }


    &__header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
        padding: 5px;


    }

    &__imgBorder {
        border-radius: 60%;
        background-size:150%;
        background-repeat: no-repeat;
        background-position: center;
        background: fill;
        
        box-shadow: 0px 0px 0px 1px rgb(245, 105, 12);
        grid-area: 1 / 1 / 4 / 2;
        width: 60px;
        height: 60px;

        
    }


    &__birthday {
        grid-area: 3 / 1 / 3 / 2;
        font-size: 12px;
        font-family: 'Asar', serif;
        color: gray;
        place-self: center stretch;

    }
    &__gender{
        grid-area: 2 / 3 / 3 / 4;
        font-size: 12px;
        font-family: 'Asar', serif;
        color: gray;
        place-self: center stretch;

    }
    &__country{
        grid-area: 2 / 2 / 3 / 3;
        font-size: 12px;
        font-family: 'Asar', serif;
        color: gray;
        place-self: center stretch;

    }
    


    &__name {
        grid-area: 1 / 2 / 2 / 4;
        color: white;
        font-size: 30px;
        font-family: 'Cabin Condensed', sans-serif;
        grid-area: 1 / 2 / 2 / 3;
        place-self: center stretch;

    }

    &__addButton {

        color: rgb(211, 210, 210);
        background-color: rgb(245, 105, 12);
        width: fit-content;
        height: 60%;
        border-radius: 10px;
        border: none;
        transition: 0.2s ease-in-out;
        grid-area: 3 / 2 / 4 / 3;
        place-self: center stretch;

        &:hover {
            color: rgba(255, 255, 255, 1);
            box-shadow: 0 5px 15px rgb(245, 105, 12);
            cursor: pointer;
        }

    }

    &__user__category {
        color: aliceblue;
        position: relative;
        // left: 5vw;
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(47, 44, 44);
        // width: 40%;
        padding-inline-start: 0px;
        padding: 3px;
        border-radius: 15px;


        &__text {
            font-size: 15px;
            padding: 3px;
            cursor: pointer;

            &--active {
                background-color: black;
                border-radius: 15px;
                padding: 3px;
                cursor: pointer;
            }
        }


    }

    &__user__pics {
        display: grid;
        width: 100%;
        overflow: auto;
        grid-template-columns: repeat(2, 45%);
        gap: 10px;

        &-userPics{
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        // .pic1 {
        //     grid-area: 1 / 1 / 3 / 2;

        // }

        // .pic2 {
        //     grid-area: 1 / 2 / 2 / 3;
        // }

        // .pic3 {
        //     grid-area: 3 / 1 / 4 / 2;
        // }

        // .pic4 {
        //     grid-area: 2 / 2 / 4 / 3;
        // }


        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
            &:hover{
                cursor: pointer;
            }
            &:active {
                transform: scale(1.5);
                transition: 0.8s ease-in-out;
            }
        }
    }
    &__navBar--top{
        display: flex;
        justify-content: space-between;
        
        i{
            cursor: pointer;
           &:active{
               color: gray;
           }
          
        }
    }
    &__navBar--down{
        position: fixed;
        bottom: 0px;
        // left: 10vw;
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: gray;
        padding: 10px;
        border-radius: 3%;
        // .userIcon{}
    }

}
.main {
    margin-top: 1vh;
    background-color: black;
    width: 350px;
    height: 650px;
    // margin: auto;
    box-shadow: rgba(72, 72, 180, 0.15) 0px 30px 60px 25px inset, rgba(35, 58, 187, 0.18) 120px 200px 270px 100px inset;
    display: grid;
    border-radius: 15px;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    // border: 2px solid red;

    &_header {
        grid-row: 1/3;
        grid-column: 1/11;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(5, 1fr);
        column-gap: 1.3rem;
        // border: 2px solid red;
        border-bottom: 1px solid #a87f42;

        &-btn {
            // margin:12vh 0 0 6vw;
            height: 4vh;
            font-size: 13px;
            width: 7vw;
            cursor: pointer;
            outline: none;
            color: rgb(2, 2, 2);
            grid-row: 5/6;
            background-color: #ee9024;
            border: none;
            font-style: normal;
            border-radius: 5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px 12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

            &:hover {
                color: aliceblue;
            }

            &:active {
                // background-color: #a8a619;
                color: aliceblue;
                box-shadow: rgba(50, 50, 93, 0.45) 50px 30px 60px 12px inset, rgba(0, 0, 0, 0.4) 30px 18px 36px 10px inset;
                transform: transformY(4px);
            }
        }

        .signUp {
            grid-column: 3/4;
            font-size: 13px;
        }

        .signIn {
            grid-column: 4/5;
            font-size: 13px;
        }
    }

    &_display {
        grid-column: 1/10;
        grid-row: 3/11;
        padding: 14px 16px;
        border-radius: 15px;
        display: grid;
        width: 100%;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        max-height: fit-content;
        // border-bottom: 2px solid rgb(156, 155, 160);
        // border: 2px solid red;

        &-signUpForm {
            width: 20vw;
            display: flex;
            flex-direction: column;
            row-gap: 2vh;
            // position: relative;
            font-family: Arial;
            // border: 2px solid red;
            margin-left: -50px;
            opacity: 0;
            // border: 2px solid red;

            


            &-input {
                box-shadow: rgba(54, 53, 52, 0.35) 0px 30px 60px 30px inset, rgba(139, 139, 148, 0.3) 0px 18px 36px 18px inset;
                width: 100%;
                border-radius: 5px;
                padding-top: 3px;

                &::placeholder {
                    color: black;
                    font-size: 17px;
                    font-weight: 500;
                }
            }

            &-header {
                font-style: italic;
                font-size: 18px;
                width: 100%;
                color: #ee9024;
            }

            & select {
                font-style: italic;
                font-size: 17px;
                box-shadow: rgba(54, 53, 52, 0.35) 0px 30px 60px 30px inset, rgba(139, 139, 148, 0.3) 0px 18px 36px 18px inset;
                width: 100%;
                border-radius: 5px;

                & option {
                    font-style: italic;
                    font-size: 17px;
                    background-color: rgb(170, 170, 175);
                    border-bottom: 1px solid black;

                    &::after {
                        background-color: #615f6d;
                    }

                }
            }

            &-submit {
                margin-top: 4vh;
                height: 6vh;
                width: 18vw;
                border-radius: 5px;
                font-style: italic;
                background-color: #625e75;
                color: aliceblue;
                cursor: pointer;

                &:active {
                    background-color: #424246;
                }
            }
        }

        &-signInForm {
            margin-top: 2vh;
            width: 18vw;
            grid-row: 1/6;
            grid-column: 2/10;
            display: flex;
            flex-direction: column;
            row-gap: 0.8rem;
            opacity: 0;
            // border: 2px solid red;

            &-label {
                margin-top: 1vh;
                color: #d39f65;
                font-size: 17px;
                margin-bottom: 1vh;
                width: 12vw;
            }

            &-input {
                background-color: #174870;
            }

            &-submit {
                width: 10vw;
                margin-top: 2vh;
                font-size: 17px;
                font-weight: 500;
                background-color: #000000;
                color: #b18409;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 30px 60px 30px inset, rgba(115, 116, 116, 0.3) 0px 18px 36px 18px inset;
                cursor: pointer;

                &:active {
                    background-color: #174870;
                }
            }

        }

    }
}
@keyframes signUpAnimation {
    from {
        transform: translateX(-150px);
        opacity: 0;
    }

    to {
        transform: translateX(50px);
        opacity: 1;
        box-shadow: rgba(126, 123, 123, 0.25) 0px 54px 55px,
            rgba(167, 157, 157, 0.12) 0px -12px 30px, rgba(175, 172, 172, 0.12) 0px 4px 6px,
            rgba(170, 165, 165, 0.77) 0px 12px rgba(192, 185, 185, 0.9), 0px -3px 5px;
    }
}

@keyframes signUpContinue {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(350px);
        opacity: 0;
        display: hidden;
        // z-index: -1;
    }
}

@keyframes signInAnimation {
    from {
        transform: translateX(200px);
    }

    to {
        transform: translateX(50px);
        opacity: 1;
    }
}