*{
    padding: 0;
    margin: 0;
    ::-webkit-scrollbar {
        width: 0px;
      }
}

.mainPage{
    width: 100%;
    //height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 80vh 10vh;
    background-color: #19162b;

    &__header{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:auto;

        &--icons{
            i{
                width: 10px;
                height: 20px;
            }
        }

        &--title{
            text-align: center;
            padding: .8rem;
            font-family: 'Courgette', cursive;
            color: #d114a9;
        }

        &--welcome{
            text-align: end;
            padding: 1.2rem;
            font-family: 'Barlow', sans-serif;
            color: #585568;
        }
    }

    &__middle{
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 1fr;

        &--products{
            display: grid;
            grid-template-columns:repeat(4, 1fr);
            grid-template-rows: auto;
            background-color: #251f41;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            overflow: auto;
            

            &--item{
                padding: .5rem;
                border-radius: 2px;
                img{
                    width: 100%;
                }
            }
        }

        &--categories{
            display: block;
            text-align: center;
            padding: 3%;

            h4{
                padding: 10%;
                font-family: 'Permanent Marker', cursive;
                color: #d0cedb;
                cursor: pointer;
            }
        }
    }

    &__footer{
     
    }
}

//https://imagecolorpicker.com/
//https://dribbble.com/shots/16899377-Parts-NFT-Marketplace-Dashboard
