*{
    padding: 0;
    margin: 0;
}

.mainPage{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 80% 10%;

    &__header{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows:1fr;
        background-color: #19162b;

        &--icons{
            i{
                width: 10px;
                height: 20px;
            }
        }

        &--title{
            text-align: center;
            padding: .8rem;
            font-family: 'Courgette', cursive;
            color: #d114a9;
        }

        &--welcome{
            text-align: end;
            padding: 1.2rem;
            font-family: 'Barlow', sans-serif;
            color: #585568;
        }
    }

    &__middle{
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 1fr;

        &--products{
            display: grid;
            grid-template-columns:repeat(4, 1fr);
            grid-template-rows: auto;
            background-color: #251f41;
        }

        &--categories{
            display: block;
            text-align: center;
            padding: 3%;
            background-color: #19162b;

            h4{
                padding: 10%;
                font-family: 'Permanent Marker', cursive;
                color: #d0cedb;
                cursor: pointer;
            }
        }
    }

    &__footer{
        background-color: #19162b;
    }
}

//https://imagecolorpicker.com/
//https://dribbble.com/shots/16899377-Parts-NFT-Marketplace-Dashboard
