
.sailing{
    position: relative;
    animation-name: move;
    animation-duration: 8s;
    animation-iteration-count:infinite;
    animation-direction:alternate-reverse ;
    animation-timing-function:linear;
    animation-fill-mode: both;
  
}

@keyframes move {
    from{
        left:0vw;
    }
    to{
        left:120vw;
    }
}
