.App {
  text-align: center;
  width:100%;
  height:100%;
  background-color: aqua;
  min-height: 100vh;
  transition: 1s;
  &#dark{
    background:#71a5de;
    color:white;
 

   }
   &#light{
    background:#d7e3fc;
    color:black;
    
   }
}


// .App-header {
 
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
  
// }




