.contactMe {
   
    padding: 15px;
    border: solid black 1px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 250px;
    transition: 1s;
    padding-bottom: 20px;
    width: 800px;
    height: 220px;
  
    &.showInfo{
        display:block;
    }
    &.hideInfo{
        display: none;
       }

 

    &#light {
        background-color: rgb(255, 190, 255);
        border: dashed 3px rgb(95, 32, 95);
    }

    &#dark {
        background-color: rgb(95, 32, 95);
        border: dashed 3px rgb(255, 190, 255);
    }
    &__info{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 50px;
        row-gap:2px;
        column-gap:2px;
        align-items: center;
       
      
     span{
         text-decoration: underline;
      }
      a{
       
       &:visted{
           color: #00FF00; 
       }
       &:hover{
           color: #FF00FF;
       }
       &:active{
           color: #0000FF;
       }
      }

    }
}
