.posts {
    &__navbar {
        width: 100%;
        height: 50px;
        transition:1s;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        
       
        input[type='button']{
            background-color: transparent;
            border:transparent;
            width:200px;
            font-family: 'Poppins', sans-serif;
            font-weight: bolder;
            cursor:pointer;
           &:hover{
            border-left:solid #841c89d3 1px; 
            border-right:solid #841c89d3 1px; 
            font-style: oblique;
           }
           &:active{
            background-color:#831c89;
            color:#C996CC;
           }
        }
        &#light{
            background-color: #C996CC;
        }
        &#dark{
           background-color: #841c89d3;
           :hover{
            border-left:solid #C996CC 1px; 
            border-right:solid #C996CC 1px; 
            font-style: oblique;
           }
           :active{
            background-color:#C996CC;
            color:#831c89;
           }
           
        }
    }

    &--postsGrid {
        margin-left: 60px;
        margin-right: 60px;
        display: grid;
        align-items: center;
        place-items: center;
       
    }

    &__post {

        padding: 15px;
        margin-top: 10px;
        border: solid black 1px;
        border-radius: 5px;
        width: 800px;
        height: 500px;     
        

        &__top {           
           display:flex;
           justify-content: space-between;
            &--date {
                font-weight: lighter;
            }
            &--topic {
                font-weight: lighter;
            }
        }

        &__middle {
            display:flex;
           justify-content: space-around;
           margin-top: 10px;
            
            &--pic {
                border:transparent;
                width:330px;
                height:310px;
            }

            &--description {
                align-self:center;
                //height:200px;
                width:350px;
                white-space: wrap;
                text-align:center;
            }


        }

        &__bottom {
            display:flex;
            justify-content: center;
            
            
             margin-top: 100px;
            
           

            &--link {
                &:link{
                     /* unvisited link */
                    color:black;
                }
                &:visted{
                    color: #00FF00; 
                }
                &:hover{
                    color: #FF00FF;
                }
                &:active{
                    color: #0000FF;
                }

                
               


  

            }
        }





    }
}
[data-new]{
    animation: scale-up-ver-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@keyframes scale-up-ver-center {
    0% {
      transform: scaleY(0);
    }
    100% {
      transform: scaleY(1);
    }
  }