body{
    background: radial-gradient(rgb(61, 61, 173),black);
}
html{
    min-height: 100vh;
}
.game{
    &__title{
        color: blueviolet;
        text-align: center;
        font-size: 4em;
    }
     &__info{
            display: flex;
            justify-content: space-between;
            color: blueviolet;
            font-size: 2em;
            
      }
      &__cards{
          display: grid;
          grid-template-columns: repeat(4,auto);
          grid-gap:15px;
          margin: 50px;
          justify-content: center;
          &__card{
              background-color: black;
              height: 170px;
              width:130px;
             img{
                 height: 170px;
                 width:130px;
             }
          }
      }
    
}