.wrapper {
    align-items: center;
    margin: 10%;

    .google-img {
        position: relative;
        right: 30%;
    }


    .search {
        position: relative;
        right: 21%;
        display: flex;
        width: 500px;
        height: 40px;
        border-radius: 20px;
        box-shadow: 0.5px 0.5px 4px rgba(121, 118, 118, 0.664);


        img {
            width: fit-content;
            margin: 10px;
            margin-right: 20px;
            margin-left: 20px;
        }

        input {
            outline: none;
            border: none;
            border-radius: 30%;
            width: 400px;
        }
    }

    .card {
        width: 80%;
        height: 70px;
        font-family: Arial, sans-serif;
        font-weight: normal;
        word-wrap: break-word;


        h2 {
            color: #1a0dab;
            font-weight: 0px;
            margin-top: 45px;
            margin-bottom: 10px;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        p{
            margin: 0;
        }

    }
}