body{
    background-color: aliceblue;
}

input{
    
    font-family:cursive;
    font-size: 17px;
}
.card{
    width: 350px;
    font-family:sans-serif;
    color: rgb(37, 37, 172);
    border: 2px solid black;
}