.NavBar {
  max-height: 56px;
  justify-content: center;
  &_left {
    display: flex;
    gap: 12px;
    &-search {
      display: flex;
      border-radius: 56px;
      width: 280px;
      &-menu{
        position: absolute;
        left: 0;
        top: 55px;
        &-content{
          min-width: 304px;
          padding: 8px;
        }
        &-searchTerm{
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 1em;
        }
      }
    }
  }
  &_right {
    display: flex;
    gap: 6px;
    flex-direction: row-reverse;
    place-items: center;
  }
}

@media screen and (max-width: 1265px) {
  .NavBar {
    max-height: 56px;
    justify-content: center;
    &_left {
      display: flex;
      gap: 6px;
      &-search {
        display: flex;
        place-items: center;
        border-radius: 56px;
        width: fit-content;

        &-input {
        }
      }
    }
    &_right {
    }
  }
}
