.box {
background: gray;
min-height:4vh;
min-width: 4vw;
border:1px solid yellow;
color:white;
text-align: center;
display:flex;
justify-content: center;
align-items: center;

}

.wrapper{
    background: gray;
    padding:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}