.App {
    .footerCon {
        width: 100%;
        display: flex;
        justify-content: space-around;
background-color: rgb(162, 207, 224);
        div {
            flex-direction: row;
            display: flex;
           gap: 15px;
            padding-top: 20px;
            align-items: baseline;

            a {
                text-decoration: none;

                img {
                    width: 30px;
                    height: 30px;

                }
            }

            text {
                color: rgb(2, 1, 15);
                font-size: 11px;
            }

        }
    }
}