.box {
    background-color: gray;
<<<<<<< Updated upstream
    min-height: 10vh;
    width: 25%;
=======
    min-height: 30vh;
    width: 300px;
>>>>>>> Stashed changes
    border: 1px solid gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.maneatenalive{
<<<<<<< Updated upstream
    
=======
    min-width: 20vw;
    min-height: 10vh;
    margin-top: 2px;
>>>>>>> Stashed changes
}