.box {
    background-color: gray;
    min-height: 10vh;
    width: 25%;
    border: 1px solid gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}