

// colors and font //

$iconscolor: rgb(62, 60, 60);
$fontColor: rgb(133, 122, 150);
$primarycolor1: rgb(82, 6, 97);
$primarycolor2: rgb(169, 38, 164);
$primarycolor3: rgb(243, 130, 239);
$primarycolor4: rgba(112, 19, 131, 0.747);
// &primerycolor5: linear-gradient(to bottom right, rgb(77,53,139) 40%, rgb(202,54,165) 100%);
$mainFontFamily: 'Neue Haas Grotesk Display Pro', sans-serif; 
$shadow: 1px 1px 1px #a8a7a7, 
1px 10px 24px rgba(102, 95, 107, 0.4);
$bgcolor: rgb(238,243,247);

$shadow2: 1px 1px 1px #888092,
1px 18px 10px rgba(16, 16, 16, 0.2),
1px 30px 60px rgba(16, 16, 16, 0.4);

