.title{
    display: flex;
    justify-content: center;
}

h4{
    color: red;
}

.formId{
    display: flex;
    justify-content: center;
}

// .container {
//     display: grid;
//     grid-template-columns: repeat(3, 100px);
//     grid-template-rows: repeat(4, 50px);
//     justify-content: center;
//     margin-top: 30vh;

//     .box{
//         border: 1px solid rgb(55, 123, 226);
//     }

//     .box1 {
//         grid-column: span 3;
//         display: flex;
//         justify-content: center;
//     }
// }
