body{
    background-color:lightsteelblue;
}
.box>img{
    width: 200px;
    height: 100%;
    position: relative;
    right: 200px;
}

.box1>img{
  width: 400px;
  height: 300px;
  position: relative;
  top: 200px;
}  

.box2>img{
    width: 300px;
    height: 200px;
    position: relative;
  bottom: 100vh;   
    left: 100px;
    
}

.box3>img{
    width: 400px;
    height: 300px;
    position: relative;
    top: 100px;   
    left: 70%;
}

h1{
    position: relative;
    left: 120px;
    color:white;
    bottom: 370px;

}
h4{
    position: relative;
    left: 220px;
    color:white;
    bottom: 420px;
}
h3{
    position: relative;
    left: 120px;
    color:white;
    bottom: 380px;
}


p{
    position: relative;
    left: 200px;
    color:white;
    font-size: 3vh;
    bottom: 320px;   
}