.article {
    background-color: aqua;
    position: absolute;
    // width: 100%; // no se pq se borra la "username"


    &__username {
        background-color: bisque;
        text-align: center;
        font-size: 2rem;
        position: relative;
    }

    &__title {
        background-color: blanchedalmond;
        text-align: center;
        font-size: 1.2rem;
        position: relative;

    }

    &__text {
        background-color: burlywood;
        font-size: 0.75rem;
        position: relative;
    }
}