.zap {
  display: grid;
  background-color: blueviolet;
  margin: 150px;
  padding: 100px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
input {
  flex-wrap: wrap;
  color: rgb(217, 67, 255);
  background-color: rgb(255, 201, 241);
}

.item {
  border-radius: 10px;
}

.title {
    
  text-align: center;
  font-weight: 800;
  font-size: x-large;
  color: rgb(255, 231, 213);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.items {
  display: flex;
  flex-direction: column;
  color: rgb(233, 233, 255);
}
