.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ff97e2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}



h1{

  color: #97ffd2;
  
}
.your-component .react-colorful {
  height: 240px;
  
}
.your-component .react-colorful__saturation {
  border-radius: 73px 73px 0 0;
}
.your-component .react-colorful__hue {
  height: 40px;
  border-radius: 0 0 50px 50px;
}
.your-component .react-colorful__hue-pointer {
  width: 12px;
  height: inherit;
  border-radius: 0;
}
.button{
  padding-top: 20px;
}
.buttonBefor{
  border: 1px solid #d662b5;
color: #97ffd2;
background-color: transparent;
border-radius: 10px;
font-size: 20px;
}
.buttonAfter{
  background-color: #3cbe86;
  color: #d662b5;
}