.grid1{display:grid ;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
width: 80vw;
height: 80vh;
gap: 45px;}

.news{background-color: blueviolet;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 2fr 1fr;
gap: 2px;}

.box2{border: solid;
background-color: chocolate;
gap: 2px;}
