@import "chat", "homePage", "register", "userSelection", "login", "matching",
  "navBar", "requestNavbar", "adminPage", "welcomePage";
// 'main', 'matching', 'mentee', 'mentor';
#root {
  margin-inline: 2em;
}
