.showLogin{
  background: #FFFFFF;
  border: 1px solid rgb(0, 0, 0);
    width:500px;
    height:500px;
    display:block;
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
    margin: auto;
    top: 50%;
    bottom:50%; 

 
}
.dontShowLogin{
    display:none;
}
.closeButton{
    border:none;
    background-color: transparent;
    
}
button{
  cursor:pointer;

}

.login{
  &__greeting{
    text-align:center;
  }
  &__with{
    display:flex;      
    justify-content: center;
    align-items: center;
    &--googleLoginButtonImg{
      width:15px;
      height:15px;
      
    } 
    

    button{
      width:300px;
      height:30px;
      border: 1px solid #AFAFAF;
      border-radius: 15px;
      display:flex;
      flex-direction: row;
      align-items: center;
      column-gap: 70px;

    }
  }

  &__divider{
    
    display: flex;
    flex-direction: row;

  &:before, &:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  &:before {
    margin-right: 10px
  }
 &:after {
    margin-left: 10px
  }

}
&__form{
  
  width:100%;
  height:200px;
  display:flex;
  justify-content: center;
form{
 
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  width:250px;
  
  input{
    align-items: center;
    width: clamp(200px, 14vw, 600px);
  }

}

 
 
 
  
}
&__submit{
  border-radius: 24px;
}.password{
  display:flex;
  flex-direction: row;
  img{
    width:20px;
  }

}


}

