.matching {
    margin-top: 50px;
    padding: 20px;
    display: grid;
    // height: 450px;
    grid-template-columns: repeat(3, minmax(auto-fit, 80fr));
    grid-template-rows: repeat(3, 1fr);
    //     border: 1px solid black;
    height: 5px;
    position: relative;

    &__title {
        font-family: 'inter', 'sans-serif';
        height: 30px;
        width: 576px;
        font-size: 25px;
        line-height: 30.26px;
        position: absolute;
        right: 690px;
        top: 12px;
        text-decoration: underline;

    }

    // grid-template-rows: 1fr 1fr 1fr;
    &__wrapper {
        margin-top: 50px;
        // background-color: rgb(173, 173, 173);
        //   grid-column: 1/2;
        //   grid-row-start:1/1;
        display: flex;
        // border: 1px solid black;
        gap: 20px;
        grid-column: 2/3;
        grid-row: 2/3;
        justify-items: center;
        grid-auto-flow: row;
        flex-wrap: wrap;
        position: relative;

        &::before {
            content: "";
            width: 1px;
            height: 500px;
            background: #757575;
            position: absolute;
            right: 1270px;
            top: 10px;
        }

        &_card {
            //width: 348px;
            height: 393px;
            border-radius: 8% 8% 0 0;
            background-color: #E1E1E1;
            position: relative;
            // grid-column: 2/2;
            // grid-row: 2/3;

            &_select {
                position: absolute;
                top: 3%;
                left: 88%;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 0.5;
                border-radius: 50%;
                background-color: #D9D9D9;
                // border: 1px solid black;
                width: 2rem;
                aspect-ratio: 1/1;
                cursor: pointer;
            }

            &_pic {
                width: 348px;
                height: 250px;
                object-fit: cover;
                border-radius: 8%;
                cursor: pointer;

            }

            &_seen {
                position: absolute;
                background-color: #D9D9D9;
                right: 0;
                bottom: 32%;
                padding: 5px;
            }

            &_description {
                padding: 1rem;
                width: 307px;
            }

            &_footer {
                display: flex;
                justify-content: space-between;

                &_linkedin {
                    width: 30px;
                    aspect-ratio: 1/1;
                    cursor: pointer;
                }

                &_request {
                    border: none;
                    background-color: #ADADAD;
                    border-radius: 15px;
                }
            }
        }



    }

    &__search {
        grid-column: 2/2;
        grid-row: 1/2;
        position: relative;
        bottom: 50px;


        input {
            box-sizing: border-box;
            width: 307px;
            height: 54px;
            border: 1px solid #000000;
            border-radius: 15px;
            position: absolute;
            padding-left: 50px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            right: 940px;


            &::placeholder {
                position: absolute;
                top: 13px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;

            }

        }

        .material-symbols-outlined {
            position: absolute;
            right: 1200px;
            top: 13px;
            font-size: 30px;
        }


    }

    &__filter-menu {
        margin-top: 150px;
        margin-right: 50px;
        height: 50px;
        height: 100px;
        position: sticky;
        grid-column: 1/2;
        grid-row: 2/2;
        width: 200px;


        .buttonBox {
            display: flex;
            flex-direction: column;
        }


        &_section {
            &_title {}

            &_option {
                &_checkbox {}
            }

            &_more {}
        }
    }

    &--wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 19vh;
        right: 34vw;



        border: 1px solid black;
        padding: 24px;
        padding-top: 0px;
        // padding-bottom: px;

        h1 {
            border-bottom: 1px black solid;
        }

        // &__btn {
        //     font-size: 1.5em;
        //     border-radius: 30px;
        //     cursor: pointer;
        // }
        select,
        button {
            font-size: 1.5em;
            border-radius: 30px;
            cursor: pointer;
        }
    }
}

.opacityZero {
    opacity: 0.5;
    background-color: #CACACA;
    ;



}