.matching {
  margin-top: 50px;
  padding-left: 100px;
  display: grid;
  // height: 450px;
  grid-template-columns: repeat(4, minmax(auto-fit, 80fr));
  grid-template-rows: repeat(4, 1fr);
  //     border: 1px solid black;
  height: 5px;
  position: relative;

  &__search {
    position: relative;
    grid-column: 1/3;
    grid-row: 1/2;
    // bottom: 50px;
    display: flex;
    justify-content: space-around;
    font-family: "inter", "sans-serif";
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-decoration: underline;
    // width:min-max(70em,120em);

    &_input {
      box-sizing: border-box;
      width: 307px;
      height: 54px;
      border: 1px solid #000000;
      border-radius: 15px;
      padding-left: 50px;
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      right: 940px;
      background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
      background-repeat: no-repeat;
      background-position: right;

      &::placeholder {
        position: absolute;
        top: 13px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
      }
    }

    &_link {
      font-family: "inter", "sans-serif";
      font-size: 18px;
      font-weight: 500;
      color: black;
      width: min(20em);
    }
  }

  &__title {
    top: 140px;
    left: 310px;
    font-family: "inter", "sans-serif";
    font-size: 25px;
    font-weight: 500;
    position: absolute;
    width: min(20em);
  }
  &__linkSelected {
    text-decoration: none;
    color: black;
    font-family: Inter;

    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: underline;
  }

  // grid-template-rows: 1fr 1fr 1fr;

  &__filter-menu {
    margin-top: 150px;
    margin-right: 50px;
    height: 50px;
    height: 100px;
    position: sticky;
    grid-column: 1/2;
    grid-row: 2/2;
    width: 200px;

    &::before {
      content: "";
      position: absolute;
      width: 5px;
      height: 630px;
      background: #d5d5d5;
      border-radius: 3px;
      left: 120%;
      // position: absolute;
      // right: 590px;
      // top: 60px;
    }

    .buttonBox {
      display: flex;
      flex-direction: column;
    }

    & button {
      background: none;
      border: none;
    }

    &_clear {
      padding: 10%;
      font-family: "inter", "sans-serif";
      font-size: 15px;
    }
  }

  &__wrapper {
    margin-top: 50px;
    // background-color: rgb(173, 173, 173);
    //   grid-column: 1/2;
    //   grid-row-start:1/1;
    display: flex;
    // border: 1px solid black;
    gap: 20px;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-items: center;
    grid-auto-flow: row;
    flex-wrap: wrap;
    position: relative;

    &_card {
      //width: 348px;
      height: 393px;
      border-radius: 8% 8% 0 0;
      background-color: #e1e1e1;
      position: relative;
      margin: 5%;
      // grid-column: 2/2;
      // grid-row: 2/3;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px;

      &_select {
        position: absolute;
        top: 3%;
        left: 88%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0.5;
        border-radius: 50%;
        background-color: #d9d9d9;
        // border: 1px solid black;
        width: 2rem;
        aspect-ratio: 1/1;
        cursor: pointer;
      }
      &_deselect {
        position: absolute;
        top: 3%;
        left: 88%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 0.5;
        border-radius: 50%;
        background-color: #db9840;
        // border: 1px solid black;
        width: 2rem;
        aspect-ratio: 1/1;
        cursor: pointer;
      }

      &_pic {
        width: 348px;
        height: 250px;
        object-fit: cover;
        border-radius: 8%;
        cursor: pointer;
      }

      &_seen {
        position: absolute;
        background-color: #d9d9d9;
        right: 0;
        bottom: 32%;
        padding: 5px;
      }

      &_description {
        padding: 1rem;
        width: 307px;
      }

      &_footer {
        display: flex;
        justify-content: space-between;

        &_linkedin {
          width: 30px;
          aspect-ratio: 1/1;
          cursor: pointer;
        }

        &_request {
          border: none;
          background-color: #adadad;
          border-radius: 15px;
        }
      }
    }
  }

  &--wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 19vh;
    right: 34vw;

    border: 1px solid black;
    padding: 24px;
    padding-top: 0px;
    // padding-bottom: px;

    h1 {
      border-bottom: 1px black solid;
    }

    // &__btn {
    //     font-size: 1.5em;
    //     border-radius: 30px;
    //     cursor: pointer;
    // }
    select,
    button {
      font-size: 1.5em;
      border-radius: 30px;
      cursor: pointer;
    }
  }
}

// .opacityZero {
//   opacity: 1;
//   backdrop-filter: blur(8px);
//   backdropfilter: blur(8px);
// }
