body {
    display: flex;
    justify-content: center;

}

.background-overlay {
    width: 100vw;
    max-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #0000008a;
}

.form__wrapper {

    box-sizing: border-box;
    width: 500px;
    height: 500px;
    padding: 4px;
    background-color: rgb(255, 255, 255);
 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    z-index: 2;
    right: 0;
    left: 0;
    margin: auto;
    top: 50%;
    bottom: 80%;
}

.back {
    display: none;
}

.progressBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
    font-size: 12px;

    .stage-icon {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 4px;
    }

    .stage-text {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}

.form__text {
    margin-bottom: 4px;
}

* input,
select {
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid rgb(149, 149, 149);
}

.firstSection {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding: 1em;

    .inputBox {
        padding: 10px;

        .file-input {
            box-sizing: border-box;
            padding: 4px;
            border: none;
        }
    }

    input {
        width: 100%;
        height: 30px;
        box-sizing: border-box;
    }

    select {
        width: 100%;
        height: 30px;
    }
}

.btn-back-next {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;

    button {
        font-size: 12px;
        border-radius: 6px;
        border: none;
        padding: 4px 12px;
        background-color: #d5d5d5;
    }

    input {
        border: none;
        padding: 4px 12px;
        background-color: #d5d5d5;
        cursor: pointer;
        font-size: 12px;
    }

    .back-btn {

        padding-top: 4px;

        button {
            font-size: 12px;
            background-color: rgb(255, 255, 255);
            border-bottom: 1px solid rgb(0, 0, 0);
            border-radius: 0px;
            padding: 0%;
            margin: 0%;
        }
    }
}

.secondSection {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    padding: 1em;
    align-items: end;

    .inputBox {
        padding: 10px;

        .file-input {
            box-sizing: border-box;
            padding: 4px;
            border: none;
        }
    }

    input {
        width: 100%;
        height: 30px;
        box-sizing: border-box;
    }

    select {
        width: 100%;
        height: 30px;
    }
}

.inputBox-description {
    width: 90%;
    margin: auto;
    height: 70px;
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;

    input {
        width: 100%;
        height: 100%;
        margin: auto;
        padding: 0%;
        box-sizing: border-box;
    }
}

.inputBox-SectorMentor {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
}

.showSecondSection-none {
    display: none;
}

.showFirstSectionSection-none {
    display: none;
}

.showThirdSection-none {
    display: none;
}

.showProgressBar-none {
    display: none;
}

.showThirdSection-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .welcomeNote__text {
        background-color: #d5d5d5;
        padding: 5px;
        border-radius: 5px;
        tab-size: 15px;

    }

    .pic {
        margin: 1rem;
        width: 70px;
        height: 70px;
        background-image: url('http://s3.amazonaws.com/pix.iemoji.com/images/emoji/apple/ios-12/256/confetti-ball.png');
        background-size: contain;

    }

}

