.card_req {
    display: grid;
    grid-template-columns: repeat(5,0.5fr);
    grid-template-rows: repeat(5, 0.5fr);
    column-gap: 20px;
    padding: 5px;
    margin-bottom: 10%;

    // grid-template-rows: 1.5fr 1.5fr 1.5fr 1.5fr;
    // column-gap: 1vw;

    // grid-template-rows: repeat(4, 1fr);
    height: 190px;
    width: 301px;
    border: solid black;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #F0F0F0;
    padding: 5%;
    font-family: 'Inter';
    font-weight: 520;
    font-style: normal;

    &__photo {
        grid-column-start: 1;
        grid-column-end: 2;

        img {
            border-radius: 50%;
            height: 76px;
            width: 76px;


        }

    }

    &__center {
        display: grid;
        grid-template-rows: repeat(4, 0.5fr);

        width: 100%;

        img {
            height: 30px;
            width: 30px;
        }

        
        grid-column-start: 2;
        grid-column-end: 5;
        row-gap: 4px;



    }

    &__flex {
        display: flex;

        a {
            text-decoration: none;
            color: black;
            padding-left: 5%;
            height: 31px;
        }

        img {
            width: 40px;
        }
    }


    &__button {
        height: 39px;
        width: 159px;
        // left: 153px;
        // top: 170px;
        border-radius: 15px;
        background-color: #ADADAD;
        border: none;
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 5;
        grid-row-end: 5;

    }

}

#envelope{
    height: 30px;
    width: 30px;
}