.selectedPage {
    // display: grid;
    // grid-template-rows: repeat(6,1fr);
    // width: 50vw;
    // height: 95vh;
    // background-color: #D9D9D9;
    // justify-content: center;
    // align-self: center;
    
    
    &__title {
        display: flex;
        width: 500px;
        height: 44px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        text-align: start;
        align-self: flex-start;
        grid-column: 3/4;
        grid-row: 2/3;
        margin-left:30px ;

        #star{
            margin-left: 3%;
            margin-top: 2%;
            background-color: #D9D9D9;
            border-radius: 50%;
            padding: 2.5%;
        }
    }

   
    &__wrapper{
        // display: grid;
        // grid-template-columns: auto;
        // grid-template-rows: auto;
        // grid-template-columns: repeat(3,1fr);
        background-color: #E6E4E4;
        height:auto ;
        padding: 30px;
        justify-items: center;
        flex-wrap: wrap;

    }

}