.showRegister {
    width: 800px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    display: block;
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
    margin: auto;
    top: 50%;
    bottom: 90%;
}

.backgroungd-overlay {
    width: 100vw;
    max-height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #0000008a;
}

.dontShowRegister {
    display: none;
}

.register {
    
    &__text {

        width:100%;
        display:flex;
        justify-content: center;
      h1{
        text-align: center;
        width:300px;
        font-weight:300;
        span{
            font-weight:500;
          }
      }
    }
    

    &__options {
        margin-top:40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;

        input[type='button'] {
            cursor:pointer;
            border-radius: 10px;
            width: 150px;
            height: 50px;
            border: none;
            background-color: rgb(185, 184, 184);
            font-size: 20px;
        }
    }
}

.closeButton{
    font-size: 14px;
    margin-left: 4px;
    margin-top: 4px;
}