
.lastActWrapper{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 300px;
    background: #cdcdcd;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    margin: 1rem;
    border-radius: 5%;

    .notification{
        text-decoration: none;
        color: black;
        font-size: 20px;

    }

    p{
        margin-block: 1em;
    }

}