.container{
display:inline-flex;
gap: 170px;

}
img{
    height: 200px;
    width: 200px;
    border: 3px solid black;
    border-radius: 5px;

}
#text{
    background-color: red;
    font-size:  80px;
    text-align: center;
}