#landing, nav,ul, li,a{
    padding: 0;
    margin: 0;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    min-width: 100%;
}

nav ul {
    background: rgb(0, 0, 0);
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;

    li a {
        color: #f9f9f9;
        display: block;
        padding: .8rem 1rem;
        text-decoration: none;
        
    }
}

nav ul li a:hover {
    background: rgba(68, 68, 68,);
    text-underline-position: below;
    border-radius: 3rem;
}

@media only screen and (min-width: 900px) {
    nav {
        top: 0;
        

        ul {
            top: 0;

            li {
                flex: 1 2 auto;
                text-align: center;
                
            }
            
        }
    }
    #monthly-tasks{
        &:hover {
        .material-icons {
           
                animation: pulse .5s infinite alternate;
        
                // animation-name: fade, shrink;
                // animation-duration: 0.5s, 0.53s;
                // animation-iteration-count: infinite, infinite;
                // animation-direction: alternate, alternate;
                // animation-timing-function: ease-in-out;
            }
        }
    }
    
}

// KEYFRAMES 
@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.25;
    }
}

@keyframes shrink {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0.75);
    }
}
@keyframes moveRight {
    from {
        left: 0vw;
    }

    to {
        left: 50vw;
    }
}
@keyframes moveUp {
    from {
        top: 50vw;
    }

    to {
        top: 0vw;
    }
}

@keyframes pulse {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(0.75);
        opacity: 0.25;
    }
}


//icon styles
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-30 { font-size: 30px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-40 { font-size: 40px; }