body {
  display: flex;
  background: #eee;
  height: auto;
  width: 100vw;
}
.dark-mode {
  background: invert(1);
  color: invert(1);
}
#landing {
  padding-top: 1.5rem;
  width: 100vw;
  height: 100%;
  margin: auto;
  background-color: #f0f0f2;

  &__dailytaskslist {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;

    .list {
      display: flex;
      justify-content: space-around;
      border-bottom: 0.5px solid rgba(96, 94, 94, 0.68);

      &__line {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .box-logo {
          width: 40px;
          height: 40px;
          border-radius: 50%;

          &:nth-child(odd) {
            background-color: rgb(245, 196, 106);
          }

          &:nth-child(even) {
            background-color: rgb(167, 219, 236);
          }

          i {
            margin-left: 12px;
            margin-top: 12px;
          }

          h {
            margin-top: 12px;
            margin-left: 12px;
          }
        }

        .logo {
          font-weight: 700;
        }

        p {
          padding: 1.5rem;
        }
      }
    }
  }

  &__dailytasksdone {
    padding-top: 6vh;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 80px);
    grid-template-rows: 100px, 200px, 100px;
    gap: 10px;

    .box1 {
      grid-column: 1/4;
      font-weight: 700;
      font-family: "Poppins", sans-serif;
      font-size: 1.5rem;
      text-transform: capitalize;
    }

    .box2 {
      grid-column: 4/6;
      font-weight: 550;
      text-align: right;
    }

    .box3 {
      grid-column: 1/6;

      img {
        width: 100%;
      }
    }

    .box {
      border: 2px solid black;
      border-radius: 15px;
      padding: 20px;
      text-align: center;

      &:hover {
        background-color: rgba(0, 0, 0, 0.837);
        cursor: pointer;
      }

      p {
        margin: 0;
        font-weight: 500;

        &:hover {
          color: white;
        }
      }
    }
  }

  &-home {
    height: 100vh;
    background: white;
    padding: 30px;

    &__logo {
      display: flex;

      img {
        height: 60px;
        width: 60px;
        border-radius: 10px;
        margin-left: 50px;
        margin-top: 20px;
      }

      h1 {
        font-weight: 700;
      }

      span {
        font-size: 1rem;
        font-weight: normal;
      }
    }

    &__search {
      text-align: center;

      input {
        margin-left: auto;
        margin-right: auto;
        font-size: 25px;
        border-radius: 10px;
        height: 50px;
      }
    }

    &__task {
      display: flex;
      flex-direction: column;

      .task {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .icon {
        margin-top: 15px;
        height: 50px;
        width: 50px;
        border-radius: 5px;

        &__1 {
          background-color: #ffc898;
        }

        &__2 {
          background-color: #aaeffa;
        }

        &__3 {
          background-color: #f4ff7f;
        }

        i {
          margin-left: 13px;
          margin-top: 13px;
        }
      }
    }

    &__recent__title {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  //------------Etan
  //----- already created description boxes
  &__task {
    overflow-y: hidden;

    &-count {
      display: flex;
      flex-direction: row;
      max-width: 100vw;
      background: #f0f0f2;
      height: fit-content;
      overflow-y: scroll;
      list-style: none;

      &:nth-child(1) {
        margin-left: 1.5rem;
      }

      @media only screen and (min-width: 600px) {
        max-width: 100%;
        padding-top: 3rem;
      }

      .box {
        box-sizing: content-box;
        font-family: "Poppins", sans-serif;
        text-transform: capitalize;
        background: white;
        border-radius: 0.5rem;
        padding: 0rem 0rem 1rem 1.5rem;
        min-width: 18ch;
        height: auto;
        margin: 0.8rem;
        height: auto;
        align-items: center;
        justify-content: center;

        &__flex {
          align-content: space-around;
          display: flex;
          flex-direction: column;
          margin: 0;
          padding: 0;
          line-height: 0.1ch;
        }

        &__header {
          display: flex;
          flex-direction: row;
        }

        &__title {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          line-height: 1.5rem;

          &-text {
            margin-top: 1.5rem;
            margin-bottom: 0;
            font-weight: 600;
            font-size: 1rem;
          }

          &-urg {
            opacity: 50%;
            margin-bottom: 0;
            margin-top: 0.5ch;
            font-size: 0.8rem;
            font-weight: 200;
          }
        }

        &__logo {
          font-weight: 700;
          font-size: 1.5rem;
          margin: 0;

          &-square {
            width: 3ch;
            height: 3ch;
            border-radius: 0.5rem;
            overflow: hidden;
            text-align: center;
            margin-top: 1.5rem;
            margin-right: 1.5rem;
            padding: 0.7rem;
            align-self: center;
          }
        }

        &__expln {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          line-height: 1.5rem;

          h4 {
            margin-top: 1.5rem;
            margin-bottom: 0;
            font-weight: 600 bold;
            font-size: 1.1rem;
          }

          &-transp {
            opacity: 30%;
            margin-bottom: 0;
            margin-top: 0.5ch;
          }
        }
      }
    }

    // ------ adding description box

    &__descr {
      border: 2px solid rgba(128, 128, 128, 0.4);
      border-radius: 5px;
      max-width: 100vw;
      box-sizing: content-box;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 1.5rem;
      margin: 2rem;
      background-color: #f0f0f2;

      &:hover {
        cursor: pointer;
      }

      @media only screen and (min-width: 600px) {
        max-width: 100%;
      }

      &__text {
        text-shadow: 0.1rem 0.18rem rgba(0, 0, 0, 0.2);
        padding-inline: 0;
        display: flex;
        flex-direction: column;
        align-content: center;

        & > h3,
        p {
          margin: 0.1rem;
          padding: 0;
        }
      }
    }

    //--------- Calendar
    &__cal {
      padding: 0;
      box-sizing: border-box;
      font-size: 62.5%;
      max-width: 100vw;
      height: fit-content;
      color: #141414;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-transform: capitalize;
      margin: 1.5rem;

      &__flex {
        display: grid;
        align-content: flex-start;
        width: 90vw;
        height: fit-content;
        background-color: white;
        border-radius: 2rem;
        padding: 2vw 0rem 5vw 0rem;
        box-shadow: 0.5 rem 3rem rgba($color: #000000, $alpha: 0.4);
      }

      &__title {
        height: 6rem;
        width: 100vw;
        margin: 0 1vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        text-shadow: 0.15rem 0.25rem rgba(0, 0, 0, 0.2);

        i {
          font-size: 1.25rem;
          cursor: pointer;
          margin-left: auto;
          margin-right: 1.5rem;
        }

        h1 {
          font-size: 1.5rem;
          font-weight: 400;
          text-transform: capitalize;
          letter-spacing: 0.1rem;
          padding: 0;
        }

        svg {
          margin: 1.5rem;
        }
      }

      &__weekdays {
        width: 90vw;
        height: 2.5rem;
        display: flex;
        margin-bottom: 5vw;
        border-bottom: 0.1px dotted #f0f0f2;

        div {
          font-size: 0.75rem;
          font-weight: 600;
          letter-spacing: 0.5vw;
          width: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
          margin: auto;
        }
      }

      &__days {
        width: 90vw;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(5, 3vw);
        justify-items: center;
        align-items: center;
        grid-gap: 5vw;
        padding-left: auto;
        margin: auto;
        font-size: 0.75rem;
        text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
        transition: background-color 0.2s;

        @media only screen and (min-width: 600px) {
          padding: 0 2vw;
          grid-template-columns: repeat(7, 8vw);
        }

        div {
          height: fit-content;
          line-height: 3vh;
          width: fit-content;
          padding: 1vw 1vw 0.5vw 1vw;
          border-radius: 0.25rem;

          &:hover {
            cursor: pointer;

            &:not(.today) {
              background-color: #918d8d;
              font-weight: bolder;
            }
          }

          & p {
            margin: 0;
          }
        }

        .prev-date,
        .next-date {
          opacity: 0.5;
        }

        .assigned {
          display: flex;
          flex-direction: column;

          column-gap: 0;
          text-align: center;
          justify-content: space-around;

          p {
            line-height: 1.5vh;
          }
        }

        .today {
          font-weight: bolder;
          color: white;
          background-color: #141414;
          text-align: center;
          display: flex;
          flex-direction: column;
          padding: 0.1vw 1vw 0.1vw 1vw;
        }
      }
    }
  }
}

.iconify {
  padding: 0;
}

main {
  display: flex;
  max-width: 100vw;
  height: 100%;
  flex-direction: column;
  align-self: center;

  background-color: #f0f0f2;
}

// colors to change box background
.transparent{
  background-color: none;
}
.blue {
  background-color: #a7ebf2;
}

.orange {
  background-color: #f2b694;
}

.green {
  background-color: rgb(121, 209, 158);
}
.white{
  background-color: white;
}
.black {
  background-color: black;
  & > p {
    color: rgb(255, 255, 255);
  }
}

//icon styles, use as
.md-18 {
  font-size: 18px;
}

.md-24 {
  font-size: 24px;
}

.md-30 {
  font-size: 30px;
}

.md-36 {
  font-size: 36px;
}

.md-40 {
  font-size: 40px;
}
