.wrraper{
    background-color: aqua;
    display: flex;
    padding: 20px;
    flex-direction: row;
    
    flex-wrap: wrap;  

}
.box{
    background-color: aquamarine;
    min-height: 40vh;
    min-width: 40vw;
    border: 1px solid yellowgreen;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}