body{
    background-color: rgb(230, 115, 7);
} .wrapper{
        display: grid;
        
        grid-template-columns: repeat(4,1fr);
        
        gap: 40px ;

   
@media only screen and(max-width:225ch) {
    grid-template-columns: repeat(3,1fr);
}
@media only screen and(max-width:150ch) {
    grid-template-columns:repeat(2,1fr);
}
@media only screen and(max-width:75ch) {
    grid-template-columns:repeat(1,1fr);
}
}
.box{
    margin-bottom: 30px;
    border: solid black;
    border-radius: 15px;
img{
    width: 100%;
}
}
