body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.form {
    background-color: rgb(98, 255, 247);
    width: 30rem;
    height: 36rem;
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    margin: auto;

    .userInput {
        padding-top: 1rem;
        padding-left: 4rem;




    }

    h1 {
        text-align: center;
        text-decoration: underline;
        margin-top: 2rem;
        padding-top: 2rem;


    }

    input {
        margin: 2%;



        &:not(#firstname, #lastname, #submit, #month, #day, #year) {
            width: 21rem;
        }

        &#submit {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            margin-top: 1rem;

        }
    }

    #gender {
        width: 22rem;
        margin-left: 4px;
    }


    .lable {
        font-weight: bold;

    }


}

//the employ card after the details have been put

.employCard {
    background-color: rgb(160, 174, 214);
    box-shadow: -1px -1px 6px 6px rgb(168, 158, 158);
    width: 40rem;
    height: 28rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    border-radius: 2rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 10rem;
    padding-top: 1rem;

    .box {
        background-image: url("https://t3.ftcdn.net/jpg/03/51/51/28/360_F_351512882_2kFH8IaSe4lyA7SXBLzEXyGKNEgbO1iH.jpg");
        width: 33rem;
        height: 6rem;
        margin-left: 3.5rem;

    }

    .personPic {
        width: 7rem;
        z-index: 1;
        position: absolute;
        left: 34rem;
        bottom: -5rem;
        box-shadow: -2px -2px 0 10px rgb(160, 174, 214);

    }

    .logo{
        width: 10rem;
        position: absolute;
        left: 52rem;
        bottom: -1rem;
    }

    h1,
    h2 {

        background-color: white;

    }

    h1 {
        width: 8rem;
        height: 2rem;

    }

    h2 {
        width: 10rem;
        height: 2rem;

    }

    .personName {
        margin-left: 15rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;


    }

    .login {
        margin-left: 13rem;
        display: flex;
        flex-direction: row;
        gap: 1rem;

    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 15vw);
        grid-template-rows: 3;
        margin-left: 3.5rem;
        margin-top: 1rem;
        gap: 1px;
        // grid-auto-rows: minmax(10px, auto);

        .phoneCard {
            width: 20rem;
            margin-top:2rem;
        }

    }

    .rightCorner {
        gap: 1rem;
        margin-left:28rem;
        margin-top:-4rem;
        


        .barcode {
            width: 10rem;
            height:4rem;


        }
    }
}