.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .box{
        background-color: rgba(233, 166, 158, 0.445);
        padding: 10px;
        border-radius: 10px;
        
    }
   
    img {
        width: 100%;
    }
    

}

@media screen and (max-width: 1400px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (max-width: 500px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(8, 1fr);
    }
}



