body{
    background-color: rgba(255, 217, 0, 0.548);
}
.menu{
    width: 80vw;
    height: 8vh;
    margin-left: 10vw;
    margin-top: 10vh;
    background: cornsilk;
    display: flex;
    flex-direction: row;
}

.options{
    width: 25%;
    height: 60px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: darkblue;
}

.options p{
    cursor: pointer;
}

.options:nth-child(5){
    width: 6%;
    cursor: pointer;
}

.options:nth-child(5)>img{
    width: 60%;
    margin-top: 10px;
}

.options:nth-child(1){
    display: flex;
    flex-direction: row;
}


.options:nth-child(1)>p{
    font-family: 'Righteous', cursive;
    color: black;
    font-size: 23px;
    position: relative;
    bottom: 10px;
    right: 40px;
}

.options:nth-child(1)>img{
    width: 17%;
    position: relative;
    left: 52%;
}

.Text{
    width: 80vw;
    height: 30vh;
    margin-left: 10vw;
    background: cornsilk;
    display: flex;
    flex-direction: row;
    font-family: 'Fredoka One', cursive;
    font-size: 100px;
}

.Text>p{
    position: relative;
    bottom: 10%;
}

.Text>i{
    position: relative;
    top: 40%;
    left: 15px;
}

.Arrow{
    width: 80vw;
    height: 50px;
    margin-left: 10vw;
    background: cornsilk;
    display: flex;
    flex-direction: row;
}

.chevron{
    width:50%;
    position: relative;
    transition: 1s;
}

.chevron>i{
    position: relative;
    top:50%;
    left: 5px;
    font-size: 55px;
    cursor: pointer;
}
.chevron:nth-child(2){
    left: 548px;
}

.chevron>i:hover{
    transform: scale(0.9);
}



.wrapper{
    
    width: 80vw;
    height: 40vh;
    margin-left: 10vw;
    background: cornsilk;
    display: flex;
    flex-direction: row; 
    justify-content: center;
}

.category{
    width: 50vw;
    height: 250px;
    border-radius: 6px;
    position: relative;
    top: 15%;
    margin: 10px;
    background: rgba(207, 147, 127, 0.425);
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    color: rgba(47, 98, 122, 0.712);
    box-shadow: 0 0 20px 2px rgba(202, 132, 62, 0.1);
    cursor: pointer;
    transition: 1s;
}

.category:hover{
    transform: scale(1.3);
}

.category>img{
    width: 100%;
    display: flex;
}


.category:nth-child(3)>img:nth-child(1){
    width: 50%;
    position: relative;
    top:5%;
    left: 15%;
}


.category:nth-child(3)>img:nth-child(2){
    width: 60%;
    position: relative;
    bottom: 12%;
    left: 30%;
}

.category:nth-child(3)>p{
   position: relative;
   bottom: 7%;
}


.socialMedia{
    width: 80vw;
    height: 90px;
    margin-left: 10vw;
    background: cornsilk;
    display: flex;
    flex-direction: row;
}

.icon{
    width: 5%;
    height: 60px;
}

.icon>img{
    width: 50%;
    position: relative;
    top: 50px;
    left: 10px;
    cursor: pointer;
}

.icon:nth-child(6){
    width: 20%;
    position: relative;
    top: 35%;
    font-family: 'Praise', cursive;
    font-size: 22px;
    color: rgb(27, 87, 107);
}


