.drop {
    display: flex;
    // margin-top: 50%;
    justify-content: center;
    // transform: scale(15%);
    clip-path: inset(1px 1px 1px 1px round 300px);
    background-color: rgb(222, 247, 249);
    width: 150px;
    height: 150px;

    &__water {
        box-shadow: whitesmoke;
        background-color: aqua;
        box-shadow: 5px 10px 20px rgb(169, 161, 248);

        width: 55px;
        height: 55px;
        position: relative;
        transform: rotate(-45deg);
        border-radius: 150% 0 150% 150%;
        animation-name: tear;
        animation-duration: 3s;
        animation-timing-function: linear;
        // animation-delay: 1s;
        animation-iteration-count: infinite;
        animation-direction: running;
        animation-fill-mode: slidein;




    }



    @keyframes tear {
        0% {
            left: 0px;
            top: 0px;
            transform: rotate(-45deg);


        }



        75% {
            left: 0px;
            top: 200px;
            transform: rotate(-45deg);

        }

        100% {
            left: 0px;
            top: 300px;
            transform: rotate(-45deg);


        }


    }




}