.sun {
    display: flex;
    margin-top: 50%;
    justify-content: center;
    align-items: center;
    // transform: scale(25%);
    clip-path: inset(1px 1px 1px 1px round 300px);
    background-color: rgb(222, 247, 249);

    &Beam {
        align-content: center;
        justify-content: center;

        margin-top: 200px;
        margin-left: -55px;

        &__ray {

            background-color: rgb(255, 162, 0);
            border-top: 50px solid rgb(255, 115, 0);
            border-bottom: 50px solid rgb(255, 115, 0);
            margin-left: 50%;
            width: 15px;
            height: 100px;
            margin: auto;
            box-shadow: 5px 10px 20px rgb(248, 241, 161);


            &.__01 {
                animation-name: sun;
                animation-duration: 1s;
                animation-timing-function: linear;
                // animation-delay: 1s;
                animation-iteration-count: infinite;
                animation-direction: running;
                animation-fill-mode: slidein;
                margin-top: -200px;
                margin-left: 50px;
                transform: rotate(10deg);
            }

            &.__02 {
                animation-name: sun;
                animation-duration: 20s;
                margin-top: -200px;
                margin-left: 50px;
                transform: rotate(0deg);

            }

            &.__03 {
                animation-name: sun;
                animation-duration: 30s;
                margin-top: -200px;
                margin-left: 50px;
                transform: rotate(0deg);

            }

            &.__04 {
                animation-name: sun;
                animation-duration: 40s;
                margin-top: -200px;
                margin-left: 50px;
                transform: rotate(0deg);

            }

            &.__05 {
                animation-name: sun;
                animation-duration: 50s;
                margin-top: -200px;
                margin-left: 50px;
                transform: rotate(0deg);

            }

            &.__06 {
                animation-name: sun;
                animation-duration: 60s;
                margin-top: -200px;
                margin-left: 50px;
                transform: rotate(0deg);

            }
        }
    }


    @keyframes sun {
        0% {
            transform: rotate(-0deg);

        }

        100% {
            transform: rotate(360deg);

        }
    }


}