body {
    background-color: #ffffff;
    color: #525252;
    font-family: system-ui, "Roboto", "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0px;
    margin-top: 20px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;

}

a {
    text-decoration: none;
    color: #525252;
}

img {
    width: 100%;
}

h1 {
    font-weight: bold;
    font-size: 28px;
    color: #272727;
}

h2 {
    font-weight: bold;
    font-size: 20px;
    color: #686868;
}

h3 {
    font-size: 14px;
    color: #383737;
    font-weight: 400;
    span{
        
        text-decoration: red line-through;
    }
}

h4 {
    font-size: 12px;
    color: #808080;
    font-weight: 100;
}

button {
    border: none;
    color: #555353;
    font-family: system-ui, "Roboto", "Open Sans", sans-serif;
    cursor: pointer;
}


input {
    border: 1px solid #fdd799;
    border-radius: 5px;
    background-color: #fffcfa;
    min-height: 26px;
    width: 16em;
}




// bod

//////// Header


.header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-height: 100px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;



    &__top {
        display: grid;
        grid-template-columns: 10% 1fr 1fr 1fr 10%;
        border-bottom: 1px solid #e2e2e2;


        &__logo-pic {
            box-sizing: border-box;
            object-fit: contain;
            width: 30%;
            height: 100%;
            cursor: pointer;
        }

        &__search-box {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__log-sign {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            padding-left: 8em;


            &__sign-up {
                border: 1px solid #e4e4e4;
                padding: 0em 1em 0.1em 1em;
            }
        }

    }


    &__nav {
        display: grid;
        grid-template-columns:   10% 1fr 1fr 1fr 10% ;
        padding-bottom: 20px;
        padding-top: 30px;
        .share{
            color: #ff9d02;
            &:hover{
                cursor: pointer;
            }
        }



        &__city {
            color: #ff9d02;
            display: grid;
            grid-template-columns: 2em 3em 2em;
            align-items: center;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
        }

        &__middle {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            gap: 1em;
            font-size: 16px;

            button {
                font-weight: 500;
                border-radius: 15px;
                padding: 0.2em;
                word-spacing: 2px;
                height: 2.6em;
            }



            &__button-on {
                background-color: #ff9d02;
                color: white;
                border: none;
            }

            &__button-off {
                background-color: #ffffff;
                color: #8b8b8b;
                display: flex;
                justify-content: center;
                align-items: center;


                a:hover {
                    box-shadow: 0px 2px 2px #d3d2d2;
                    border-radius: 15px;
                    padding: 0.5em 0.7em;
                    transition: 0.2s;

                }
            }
        }
    }

}

// LANGUAGE POP UP:

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup */

.popuptext {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup .popuptext {
    visibility: hidden;
    width: 8em;
    background-color: #ffffff;
    color: rgb(156, 156, 156);
    border: 1px solid lightgray;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 3em;
    margin-left: -80px;
}

// Popup arrow:
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(182, 182, 182) transparent transparent transparent;
}

// Popup hide and show:
.popup .show {
    visibility: visible;
    animation: fadeIn 0.2s;
}

// Popup animation:
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// categories
.container-categories-cart {
    width: 80%;
    margin: auto;
    padding: 10px;

    @media only screen and (max-width: 768px) {
        width: 80%;
    }

    &__box {
        cursor: pointer;
        display: flex;
        justify-content: space-evenly;
        padding-top: 50px;
        text-align: center;
        
        


        div {
            overflow: hidden;
            border-radius: 20px;
            width: 30%;
            height: 30%;
            
        }

        &__pic {
            border-radius: 20px;
            padding: 5%;
            box-sizing: border-box;
            object-fit: contain;
            width: 100%;
            height: 100%;

            div {
                border-radius: 20px;

            }

        }

        &__text {
            line-height: 0.6em;
        
        }

        img {
            transition: all 0.4s ease-out;
            width: 75%;
            height: 75%;
            background-size: cover;

        }

        img:hover {
            transform: scale(1.1);

        }
        &__button{
            font-size: 10vw;
            
              
              
          }

    }

}
.plus{
    background-color: green;
    color: white;
}
.minus{
    background-color: #ff9d02;
    color: white;
}
.add{
    background-color: #ff9d02;
    color: white;
    border-radius: 3px;
    &:hover{
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.397);
        transition: 0.3s;
        
    }
    &:active{
        animation-name: spin;
        animation-duration: 0.5s;

    }
}
@keyframes spin{
    from{
        transform: scale(1);
        background-color: green;

    } 
    25%{
       transform: scale(1.1);
       background-color: green; 
    }
    50%{
        transform: scale(1.2);
        background-color: green;
    }
    100%{
        transform: scale(1);
    }
}
.container-checkout{
margin:auto;
background-color: #ff9e0250;
width: 40%;
height: 40%;
display: flex;
flex-direction: column;
border-radius: 30px;
text-align: center;
 span{
     border:1px dotted rgba(128, 128, 128, 0.377);
 }
&__box{
    display: flex;
    justify-content: space-between;
    &__price{
        text-align:center;
        font-weight: bold;
        &-total{
            font-weight: bold;
            color:#ff9e02d2 ;
        }
    }
}






}
.pay{
    background-color: #ff9d02;
    color: white;
    &:active{
        animation-name: spin;
        animation-duration: 0.5s;
    }
}