.home{
   margin-top:50px;
    &__options{
        display: grid;
        row-gap:100px;
        column-gap: 100px;;
       grid-template-columns: repeat(3, 1fr); 

    }
    img{
        width:110px;
        height:100px;
    }
}
.flavor{
    &:hover{
        border:solid rgb(149, 35, 35) 3px;
        border-radius: 50%;
    }
}