@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&display=swap');
.layout {
background-image: url('https://www.seekpng.com/png/full/815-8151971_bg-red-png.png');
background-repeat: no-repeat;
//background-size: cover;
background-size: 100%;

    text-align: center;
    font-family: 'Arvo', serif;
    margin-bottom:20px;

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        

        img{
            width: 150px;
            height: 150px;
        }

        a {
            text-decoration: none;
            color:black;
            cursor:pointer;
            &:active{
                color:rgb(124, 16, 16);
            }

            
        }
        &__nav{
            align-self: center;
        }
    }
}