.header{
    background-color: black;
    width: 100%;
    position: absolute;

    &--logo{
    color: #ffffff;
    width: 66vw;
    position: relative;
    font-family: 'Bangers', cursive;
    font-size: 10vw;
    align-items: center;
    padding-left: 30vw;
    }
}
    .navbar{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &--item{
        margin-right: 2vw;
        height: 1vh;
        display: flex;
        color: white;
    
    }
    &--item:hover{
        cursor: pointer;
    }
    }
body{
    background-color: rgb(88, 42, 42);
}


.socialmedia{
        position: absolute;
        right: 20px;
        top: 300px;
    &__item{
        height: 5px;
        width: 5px;
    }
    }
