.erp {
  background-color: bisque;
}

body {

  font-family: "Montserrat", sans-serif;
  margin: 0;
  width: 100%;
  


}

.cart {
  position: sticky;
  z-index: 1;
  height: 1px;
  top: 30vh;
  width: 55px;
  align-self: center;
 
  
  

  ion-icon {
    height: 10vh;
    width: 50px;
    border-radius: 10px;
    border: solid 1px rgba(128, 128, 128, 0.699);
    text-align: center;
    background-color: rgb(245, 234, 234);
  }

  .showCart {
    
    margin-left:100px;
    width: 80vw;
    height:50vh;
    z-index: 1;
    display:none;
    border-radius:5px;
    background-color:#ccc5c5ce;

    
    .cartItems{
      margin:10px;
      padding: 2px;
      position: relative;
    display: inline-block;

     img {
      height: 90px;
      width: 80px;
      border:solid 1px grey;

     }
     p {
      letter-spacing: 1px;
      font-size: 11px;
      padding-left:7px;
    }
    
    }
  
  
   
    
  
  }  

  




}




.container {
  width: 100%;

  &__navBar {
    top: 0px;
    left: 0px;
    padding-bottom: 1em;
    transition: all 0.5s;
     

    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;

      &__help {
        display: flex;
        // gap: 1px;
        font-size: smaller;
      }

    &--gucci {
      font-size: 1em;
      letter-spacing: 12px;
      font-family: Granjon;
      font-weight: lighter;
      justify-content: center;

    }
  }
  }






  &__navBar2 {
    transition: all 0.5s;
    text-align: center;













    ul {
      display: inline-flex;
      list-style: none;
      flex-wrap: wrap;
      justify-content: center;









      li {
        // width: 50vh;
        // margin: 15px;
        padding: 15px;
        // width: 50%;



        a {
          text-decoration: none;
          color: #ffffff;
          font-family: "Montserrat", sans-serif;
          font-weight: 900;




        }
      }
    }

    &__dropdown {
      display: none;
      // width: 100%;
      padding: 20px;
      opacity: 0.7;









      ul {


        margin-left: -450px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #141010;








        li {

          :hover {
            text-decoration: underline;
            cursor: pointer;



          }

          a {
            color: #ffffff;
            font-size: large;
            font-weight: bolder;
            font-family: "Montserrat", sans-serif;

          }
        }

      }


    }

  }


&__main {
  text-align: center;
  background-color: rgb(231, 231, 231);

  .gucci {
    color: black;

    &--Aria {
      font-size: smaller;

    }

    &--Title {
      font-size: 3em;

    }

    &--imgBeforeStories {
      width: 100%;
      margin-bottom: 10em;

    }

    &--mainPageImg {
      width: 100vh;

    }

  }



  img {
    background-size: cover;
    background-repeat: no-repeat;
  }

  button {
    background-color: black;
    color: blanchedalmond;
    padding: 0.5em 2em;
    margin-bottom: 1.5em;
  }
}

&__stories {
  margin-top: 20px;
  justify-content: center;
  gap: 2em;
  display: flex;
  color: rgb(5, 5, 5);
  text-align: center;
  font-weight: 300;
  font-size: larger;

  &__left {
    .stories__left__bag {
      margin-bottom: 5.5em;

    }
  }

  .stories__middle {
    // margin-right: 1em;
    margin-top: -9.7em;

    &__title {

      font-size: 3em;
      color: black;

    }
  }

  &__right {
    .stories__right__gucci {
      margin-bottom: 4.2em;

    }

  }


}

&__bottom {
  background-color: rgb(26, 25, 25);
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;



  &__title {
    font-size: large;
  }


}

.gucciRights {
  background: rgb(26, 25, 25);
  font-size: small;
  padding: 2em;
  margin-top: 0;
  // width: fit-content;
  color: white;
  margin-top: 0.1em;

}
}





.active,
.container__navBar2 ul li a:hover {
  border-radius: 3px;
  color: #ffffff;

}

.container__navBar2 ul li:hover .container__navBar2__dropdown {
  display: block;
  margin-top: 15px;
  margin-left: 15px;
  position: absolute;
  // border:solid black 2px;

  transform: translateY(-20px);
  ;

}

.sub-container {

  background-image: url("https://onemillionluxury.com/wp-content/uploads/IllustriousNewHermitcrab-size_restricted.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  margin: 0;


}

//BUTTONS FOR EACH CATERGORY and template for each catergory's page

$background-color:#ffffff;

.catergory__buttons {

  display: flex;
  background-color: $background-color;
  justify-content: flex-end;
  gap: 2px;
  width: 100%;
  height: 12vh;




  .catergory__name {
    background-color: $background-color;
    font-weight: 800;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.384);
    width: 40vw;
    padding-top: 2em;
    text-align: left;
    justify-content: flex-start;



    padding-left: 0.5em;

    span:hover {
      color: rgb(0, 0, 0);
    }
  }
  


  &--selector {
    background-color: $background-color;
    cursor: pointer;
    width: 100px;
    border: none;
    font-size: 12px;
    letter-spacing: 1px;

    &:hover {
      background-color: rgba(207, 207, 194, 0.425);
      border-right: 0.5px solid rgb(196, 195, 195);
      border-left: 0.5px solid rgb(196, 195, 195);

    }


  }

  &--sortPrice {


    display: inline-flex;
    gap: 1px;
    width: 15em;


    button {
      background-color: $background-color;
      cursor: pointer;
      border: none;
      font-size: 12px;
      letter-spacing: 1px;



      &:hover {
        background-color: rgba(207, 207, 194, 0.425);
        border-right: 0.5px solid rgb(196, 195, 195);
        border-left: 0.5px solid rgb(196, 195, 195);

      }
    }

  }

  &--lowerThanPrice {

    color: black;
    // margin-left: 1px;
    padding-right: 20px;
    padding-top: 2em;
    text-align: center;
    letter-spacing: 1px;
    font-size: 12px;
    




    .inputLowerThan {
      cursor: pointer;
      margin-top: 0.5em;
      background-color: $background-color;
      border: 1px solid rgb(196, 195, 195);


    }
  }
  
  &--searchItem{
    color: black;
    padding-right: 20px;
    padding-top: 2em;
    text-align: center;
    letter-spacing: 1px;
    font-size: 12px;
    

    .inputSearch{
      cursor: pointer;
      margin-top: 0.5em;
      background-color: $background-color;
      border: 1px solid rgb(196, 195, 195);

    
      
    
      
    }
  }
  

  




}

.catergory__items {
  background-color: white;
  height: 80em;
  text-align: center;
  //display: flex;
 // flex-wrap: wrap;




  .items {
    color: black;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 2px;
    border: none;




    img {
      height: 380px;
      width: 20em;

    }



    .imgBottom {
      display: none;
      position: absolute;
      // top: 65px;
      left: 2px;
      z-index: 1;







    }

    &:hover .imgBottom {
      height: 380px;
      display: inline;

    }

    #addToCart[type=button]{
      font-size:12px;
      letter-spacing: 2px;
      border-radius: 3px;
      border: 0.5px solid rgb(196, 195, 195);
      background-color: $background-color;
      color:#141010cc;
      &:hover {
        background-color: rgba(207, 207, 194, 0.425);
        border: 0.5px solid rgb(156, 153, 153);
        

      }

    }





    p {
      letter-spacing: 2px;
    }
  }
}




@media only screen and (max-width: 1024px) {
  body {

    .container__navBar2__dropdown{
      ul{
        margin-left:-150px;
        
      }
      
    }
    .catergory__items {
      height: 120em;

      .items {

        .imgTop {
          height: 350px;
          width: 18em;

        }

        .imgBottom {
          width: 18em;
          height: 10px;
        }

        &:hover .imgBottom {
          height: 350px;
          //display: inline;

        }
      }
    }
  }

  .sub-container {
    height: 70vh;
    margin: 0;


  }

  .container {

    &__main {

      img {
        width: 50%;
      }

      .gucci {
        color: black;

        &--Aria {
          font-size: smaller;

        }

        &--Title {
          font-size: 3em;
        }

        &--mainPageImg {
          width: 60vh;

        }
      }


    }

    &__stories {
      gap: 0px;

      &__left {
        img {
          width: 160px;
        }

        .stories__left__bag {
          margin-bottom: 5.2em;

        }
      }

      .stories__middle {
        margin-right: 0em;


      }

      &__right {
        img {
          width: 160px;
        }

        .stories__right__gucci {
          margin-bottom: 4em;

        }

      }

    }
  }


}


@media only screen and (max-width:600px) {
  body {

    .container__navBar2__dropdown{
      ul{
        margin-left:-100px;
        
      }
      
    }

    .catergory__buttons {
      height: 15vh;

      .catergory__name {
        display: none;
      }

      &--selector {
        font-size: 11px;
      }

      &--sortPrice {
        button {
          font-size: 10px;
        }
      }

      &--lowerThanPrice {
        font-size: 10px;

        .inputLowerThan {

          width: 100px;

        }
      }
      &--searchItem {
        font-size: 10px;

        .inputSearch {

          width: 100px;

        }
      }

    }





    .catergory__items {
      height: 200em;

      .items {

        .imgTop {
          height: 350px;
          width: 18em;

        }

        .imgBottom {
          width: 18em;
          height: 10px;
        }

        &:hover .imgBottom {
          height: 350px;
          //display: inline;

        }
      }
    }
  }

  .sub-container {
    height: 70vh;
    margin: 0;


  }

  .container {

    &__navBar {
      font-size: smaller;

    }

    &__main {

      img {
        width: 50%;
      }

      .gucci {
        color: black;

        &--Aria {
          font-size: smaller;

        }

        &--Title {
          font-size: 2em;
        }

        &--mainPageImg {
          margin-top: 5px;
          width: 40vh;

        }
      }


    }

    &__stories {
      gap: 0px;

      &__left {
        // img{
        //   width:210px;
        // }
        // .stories__left__bag{
        //   margin-bottom: 5.2em;

        // }
        display: none;
      }

      .stories__middle {
        margin-right: 0em;

        img {
          width: 100%;
        }


      }

      &__right {
        display: none;
      }

    }

    &__bottom {

      font-size: 10px;

      &__title {
        font-size: small;
      }

      input {
        width: 100px;
      }


    }
  }



}