.erp {
  background-color: bisque;
}

body {
  font-family: "Montserrat", sans-serif;
  color: 'whiblackte';
  margin: 0;
  width: 100%;

}

.container {
  &__navBar {

    top: 0px;
    left: 0px;
    padding-bottom: 1em;
    transition: all 0.5s;


    &__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;

      &__help {
        display: flex;
        gap: 0.4em;
        font-size: smaller;
      }

      &--gucci {
        font-size: 1em;
        letter-spacing: 12px;
        font-family: Granjon;
        font-weight: lighter;

      }
    }


  }



  &__navBar2 {
    text-align: center;
    transition: all 0.5s;









    ul {
      display: inline-flex;
      list-style: none;









      li {
        width: 120px;
        margin: 15px;
        padding: 15px;



        a {
          text-decoration: none;
          color: #ffffff;
          font-family: "Montserrat", sans-serif;
          font-weight: 900;




        }
      }
    }

    &__dropdown {
      display: none;
      width: 130vh;
      padding: 20px;
      opacity: 0.7;









      ul {


        width: 180vh;
        height: auto;
        margin-left: -200px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #141010;








        li {

          :hover {
            text-decoration: underline;
            cursor: pointer;



          }

          a {
            color: #ffffff;
            font-size: large;
            font-weight: bolder;
            font-family: "Montserrat", sans-serif;

          }
        }

      }


    }

  }

  &__main {
    text-align: center;
    background-color: rgb(231, 231, 231);

    img {
      background-size: cover;
      background-repeat: no-repeat;
    }

    button {
      background-color: black;
      color: blanchedalmond;
      padding: 0.5em 2em;
      margin-bottom: 1.5em;
    }
  }

  &__stories {
    justify-content: center;
    gap: 2em;
    display: flex;
    color: rgb(5, 5, 5);
    text-align: center;
    font-weight: 300;
    font-size: larger;

  }

  &__bottom {
    background-color: rgb(26, 25, 25);
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
  }
}


.active,
.container__navBar2 ul li a:hover {
  border-radius: 3px;
  color: #ffffff;

}

.container__navBar2 ul li:hover .container__navBar2__dropdown {
  display: block;
  margin-top: 15px;
  //margin-left: -15px;
  //position: absolute;
  // border:solid black 2px;

  transform: translateY(-20px);
  ;

}

.sub-container {
  background-image: url("https://media.gucci.com/content/HeroBigStandard_3200x1520/1643384764/HeroBigStandard_VDAY-2022-043-new_001_Default.jpg");
  height: 100vh;
  margin: 0;


}

//BUTTONS FOR EACH CATERGORY and template for each catergory's page

$background-color:#ffffff;

.catergory__buttons {

  display: flex;
  background-color: $background-color;
  justify-content: flex-end;
  gap: 2px;
  width: 100%;
  height: 12vh;




  .catergory__name {
    background-color: $background-color;
    font-weight: 800;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.384);
    width: 60vw;
    padding-top: 2em;
    text-align: left;


    padding-left: 0.5em;

    span:hover {
      color: rgb(0, 0, 0);
    }
  }




  &--selector {
    background-color: $background-color;
    cursor: pointer;
    width: 15;
    border: none;
    font-size: 12px;
    letter-spacing: 1px;

    &:hover {
      background-color: rgba(207, 207, 194, 0.425);
      border-right: 0.5px solid rgb(196, 195, 195);
      border-left: 0.5px solid rgb(196, 195, 195);

    }


  }

  &--sortPrice {


    display: inline-flex;
    gap: 1px;
    width: 15em;


    button {
      background-color: $background-color;
      cursor: pointer;
      border: none;
      font-size: 12px;
      letter-spacing: 1px;



      &:hover {
        background-color: rgba(207, 207, 194, 0.425);
        border-right: 0.5px solid rgb(196, 195, 195);
        border-left: 0.5px solid rgb(196, 195, 195);

      }
    }

  }

  &--lowerThanPrice {

    color: black;
    margin-left: 0;
    padding-top: 2em;
    text-align: center;
    letter-spacing: 1px;
    font-size: 12px;




    .inputLowerThan {
      cursor: pointer;
      margin-top: 0.5em;
      background-color: $background-color;
      border: 1px solid rgb(196, 195, 195);


    }
  }

}

.catergory__items {
  background-color: white;
  height: 80em;
  text-align: center;



  .items {
    color: black;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 2px;
    border: none;



    img {
      height: 380px;
      width: 20em;

    }



    .imgBottom {
      display: none;
      position: absolute;
      // top: 65px;
      left: 2px;
      z-index: 1;






    }

    &:hover .imgBottom {
      height: 380px;
      display: inline;

      //   width: 20em;
      //  height: 380px;
    }





    p {
      letter-spacing: 2px;
    }
  }
}



@media only screen and (max-width: 1024px) {
  body {


    background-color: red;

    .catergory__items {
      background-color: white;
      height: 90em;
      text-align: center;

      .items {

        .imgTop {
          height: 350px;
          width: 18em;


        }

        .imgBottom {
          width: 18em;
          height: 10px;

        }

        &:hover .imgBottom {
          height: 350px;
          //display: inline;
          

        }
      }

    }

  }
}