.erp{
    background-color: bisque;
}
// .store{
//     background-color: rgb(105, 122, 218);
// }
.container_title{
    width:100vw;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    text-align: center;

}