.erp {
  background-color: bisque;
}

// .store{
//     background-color: rgb(105, 122, 218);
// }
body {
  //   border: 1px solid grey;
  width: 100%;
  background-image: url("https://media.gucci.com/content/HeroBigStandard_3200x1520/1643384764/HeroBigStandard_VDAY-2022-043-new_001_Default.jpg");
  background-size: contain;
  background-repeat: no-repeat;

  font-family: "Montserrat", sans-serif;
   color: 'whiblackte';
  margin:0px;
  //   height: 200vh;
}

.container {
  &__navBar {
    top: 0px;
    left: 0px;
    padding-bottom: 1em;
    transition: all 0.5s;

    &:hover {
      background-color: rgb(31, 30, 30);
    }

    &__title {
      // border: 1px solid grey;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;

      &__help {
        display: flex;
        gap: 0.4em;
        font-size: smaller;
      }
    }

    ul {
      display: flex;
      justify-content: center;

      a {
        color: white;
        text-decoration: none;
        margin-inline: 20px;
        font-size: smaller;
      }
    }
  }

  &__dropdawn {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: beige;
    color: rgb(5, 5, 5);
    font-weight: 300;
    font-size: larger;
    cursor: pointer;
    
    transition: ease 3ms;
    // transform: translateY(0px);
    // visibility: hidden;

    
  }

  &__main {
    //   display: block;
    text-align: center;
    background-color: rgb(231, 231, 231);

    img {
      background-size: cover;
      background-repeat: no-repeat;
    }

    button {
      background-color: black;
      color: blanchedalmond;
      padding: 0.5em 2em;
      margin-bottom: 1.5em;
    }
  }

  &__stories {
    justify-content: center;
    gap: 2em;
    display: flex;
    color: rgb(5, 5, 5);
    text-align: center;
    font-weight: 300;
    font-size: larger;
  }

  &__bottom {
    background-color: rgb(26, 25, 25);
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
  }
}

//BUTTONS FOR EACH CATERGORY

$background-color:#ffffff;

.catergory__buttons {

  display: flex;
  background-color: $background-color;
  justify-content: flex-end;
  gap: 2px;
  width: 100%;
  height: 12vh;
  //padding-top: 3em;
  
  
  

  .catergory__name {
    //display: inline-flex;
    background-color: $background-color;
    //background-color: aqua;
    //justify-content: flex-start;
    font-weight: 800;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.384);
    width: 60vw;
    //height: 10vh;
    padding-top: 2em;
    text-align: left;
    

    padding-left: 0.5em;

    span:hover {
      color: rgb(0, 0, 0);
    }
  }




  &--selector {
    background-color: $background-color;
    cursor: pointer;
    width: 15;
    //height: 3em;  
    border: none;
    font-size:12px;
    letter-spacing: 1px;

    &:hover {
      background-color:  rgba(207, 207, 194, 0.425);
      border-right: 0.5px solid rgb(196, 195, 195);
      border-left: 0.5px solid rgb(196, 195, 195);

    }


  }

  &--sortPrice {


    display: inline-flex;
    gap: 1px;
    width: 15em;
    //height: 3em;


    button {
      background-color: $background-color;
      cursor: pointer;
      border: none;
      font-size:12px;
      letter-spacing: 1px;
      


      &:hover {
        background-color: rgba(207, 207, 194, 0.425);
        border-right: 0.5px solid rgb(196, 195, 195);
        border-left: 0.5px solid rgb(196, 195, 195);

      }
    }

  }

  &--lowerThanPrice {

    color: black;
    margin-left: 0;
    // padding-top: 5px;
    padding-top: 2em;
    text-align:center;
    letter-spacing: 1px;
    font-size:12px;
    



    .inputLowerThan {
      cursor: pointer;
      margin-top:0.5em;
      background-color: $background-color;
      border: 1px solid rgb(196, 195, 195);


    }
  }

}

.catergory__items {
  //margin-top: 1em;
  background-color: white;
  height: 110em;
  text-align: center;

  //gap: 4em;
  // display: inline-grid;
  // grid-template-columns: repeat(3, 30em);
  // grid-template-rows: repeat(4, 25em);


  .items {
    color: black;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 3em;

    img {
      height: 380px;
      width: 20em;

    }
    p{
      letter-spacing:2px;
    }

    // .img-back {
    //   height: 380px;
    //   width: 20em;
    // }

    // p {
    //   text-align: center;
    // }

    // .img-top {
    //   display: none;
    //   position: absolute;
    //   top: 0;
    //   left: 5em;
    //   z-index: 1;
    //   border: solid 2px black;
    //   transition: 10s ease;
    // }

    // &:hover .img-top {
    //   display: inline;
    //   width: 20em;
    //   height: 380px;
    // }
  }
}

.hide{
  display: none;
}

.show{
  display: block;
}