.App {
  height: 100vh;
  width: 100%;
  background-image: url('https://img.freepik.com/free-photo/white-cloud-sky-background_74190-4646.jpg?w=2000');
  display: flex;
  flex-direction: column;
}

body {
  margin: 0%;
}

/* div {
  border: 1px solid red;
} */

img {
  width: 100%;
  object-fit: contain;
}

.falafel {
  position: absolute;
  height: 150px;
  width: 150px;
  top: -20%;
  animation: fall 5s linear 0s forwards;
}

.falafel2{
  animation: fall 4s linear 0s forwards;
}
.falafel3{
  animation: fall 3s linear 0s forwards;
}

.counter {
  height: 100px;
  width: 20%;
  margin: 0 auto;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-size: 35px;
}

@keyframes fall {

  0% {
    top: -20%;
  }

  100% {
    top: 120%;
  }

}
