.App {
  height: 700px;
  width: 100%;
  background-image: url('https://img.freepik.com/free-photo/white-cloud-sky-background_74190-4646.jpg?w=2000');
  display: flex;
  flex-direction: column;
}

body {
  margin: 0%;
}

div {
  border: 1px solid red;
}

img {
  width: 100%;
  object-fit: contain;
}

.falafel {
  position: absolute;
  height: 150px;
  width: 150px;
  top: -10%;
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  animation: fall 5s linear 0s forwards;
}

.counter {
  height: 100px;
  width: 20%;
  margin: 0 auto;
  background-color: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-size: 35px;
}

@keyframes fall {

  0% {
    top: 0%;
  }

  100% {
    top: 70%;
  }

}