:root {
    --main-color-purple1: #C21E86;
    --main-color-purple2: #8E1562;
    --main-color-purple3: #580E3D;
    --main-color-gray2: #161811;
    --main-color-gray1: #25291C;
    --main-color-gray3: #424833;
    --main-color-light-gray1: #989C94;
    --main-color-light-gray2: #666A62;
    --main-color-light-gray3: #333531;
    --card-color: #EBEBEB;
}

body {
    background-color: var(--main-color-light-gray3);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 200vh;
}

// div{
//     border: 1px solid red;
// }
.header {
    position: fixed;
    z-index: 20;
    top: 0px;
    left: 0px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // border: 1px solid red;
    width: 99vw;
    background-color: var(--main-color-light-gray2);

    svg {
        fill: var(--card-color);
    }

    &__wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;

        // width: 200px;
        &__item {
            width: fit-content;
            margin-inline: 20px;
            font-size: 1rem;

            &:hover {
                cursor: pointer;
                color: var(--main-color-purple1)
            }
        }

        .pulse {
            animation: pulse 1000ms ease;
        }
    }

    &__cart-notification {
        // border: 1px solid var(--main-color-purple1);
        background-color: var(--main-color-gray2);
        border-radius: 5px;
        text-align: center;
        width: 20px;
        height: 20px;
        position: fixed;
        top: 15px;
        right: 4px;
    }
}

@keyframes pulse {
    0% {}

    70% {
        box-shadow: 0px 0px 20px 10px var(--main-color-purple1), inset 0px 0px 20px 10px var(--main-color-purple1);
    }

    100% {
        box-shadow: 0px;
    }
}

.currency-selector {
    // border: 1px solid red;
    z-index: 10;
    position: sticky;
    top: 90px;
    left: 240px;
    padding: 5px;
    width: 300px;
    height: 200px;
    margin-bottom: -200px;
    background-color: var(--main-color-light-gray3);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 5px black;

    transition: ease 500ms;
    opacity: 0;
    transform: translateY(-30px);
    position: sticky;
    pointer-events: none;

    &.visible {
        opacity: 1;
        transform: translateY(0px);
        pointer-events: all;
    }

    p {
        text-align: center;
    }

    .currency {
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            cursor: pointer;
        }

        img {
            width: 50px;
            height: 30px;
            margin-left: 15px;
        }

        * {
            pointer-events: none;
        }
    }
}

.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 10px;
    padding-top: 80px;

    &__item {
        margin-inline: 15px;
    }
}

.filter-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 10px;
    padding-block: 20px;
    background-color: var(--main-color-light-gray2);

    &__item {
        margin-inline: 20px;
        font-size: 1.2rem;
        // border: 1px solid red;
        width: 100px;
        text-align: center;

        &:hover {
            cursor: pointer;
            color: var(--main-color-purple1)
        }
    }
}

.filter-dropbar {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-block: 10px;
    padding-block: 20px;
    background-color: var(--main-color-light-gray2);
    z-index: -1;

    transition: ease 500ms;
    transform: translateY(-30px);
    opacity: 0;

    &.visible {
        opacity: 1;
        transform: translateY(0px);
        position: static;
    }

    &__group {
        width: 100px;
        // border: 1px solid red;
        margin-inline: 20px;

        p {
            font-size: 0.8rem;

            &:hover {
                cursor: pointer;
                color: var(--main-color-purple1)
            }
        }
    }
}



#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 4rem;

    &__title {
        position: absolute;
        color: var(--card-color);
        left: calc(50% - 250px);
        text-align: center;
        width: 500px;
        margin: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 3rem;
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--card-color);
        width: 250px;
        border-radius: 20px;
        margin: 20px;
        padding-block: 10px;

        img {
            width: 200px;
        }

        &__name {
            color: black;
        }

        &__price {
            color: black;
        }

        .USD {
            &::after {
                content: ' $';
            }
        }

        .EUR {
            &::after {
                content: ' €';
            }
        }

        .GBP {
            &::after {
                content: ' £';
            }
        }
    }
}



#cart {

    .cart {
        background-color: rgb(210, 210, 211);
        border-radius: 10px;
        position: relative;
        left: 7%;
        margin-bottom: 5%;
    }

    gap: 5px;
    width: 280px;
    display: grid;
    grid-template-columns: repeat(3, 50%);
    margin-top: 10px;
    text-align: center;

    .h2 {
        color: brown;
    }

    img {
        width: 100px;
    }

    .add1 {
        display: none;
    }
}

.wow {
    margin-top: 10px;
    width: 450px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: black 20px 20px 20px;
    background: var(--main-color-gray3);

    &__title {
        text-align: center;
        color: rgb(238, 238, 238);

    }

    img {
        border-radius: 40px;
    }

    position: fixed;
    top: 80px;
    right: 0px;
    pointer-events: none;

    opacity: 0;
    transform: translateY(-30px);
    transition: ease 500ms;

    &.visible {
        opacity: 1;
        transform: translateY(0px);
        pointer-events: all;
    }
}

////OWNER
#root {

    .card {
        display: grid;
        grid-template-columns: repeat(13, 1fr);
        align-items: right;

        border: 1px solid black;

        p {

            margin-inline: 20px;
        }

        img {
            width: 70px;
            height: auto;
        }

        >*{
            margin: 10px;
            height: 40px;
        }
    }
}

.updateForm {
    position: fixed;
    bottom: 10px;
    z-index: 1;
    background-color: var(--main-color-purple1);
    transition: ease 0.5s;
    transform: translateY(60px);

}

.visableForm {
    transform: translateY(0px);
}

#footer {
    width: 100vw;
    height: 100px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: var(--main-color-purple3);

}