.nav {
    align-items: center;
    cursor: pointer;
    width: 20%;

    &__user {
        img {
            width: 40px;
        }
    }

    &__pic {
        font-size: 0.8em;
    }

    &__gmail {
        font-size: 0.8em;
    }
}

.google {
    img {
        position: relative;
        padding-left: 38%;
        width: 350px;
        height: 200px;
    }
}

.serch {
    position: relative;
    left: 32%;
    display: flex;
    border: 1px solid rgb(104, 102, 102);
    height: 40px;
    border-radius: 20px;
    width: 37%;
    gap: 30px;
    align-items: center;
    justify-content: center;


    &__mic {
        img {
            width: 13px;
            padding-left: 10px;
            cursor: pointer;
        }
    }

    &__key {
        img {
            width: 25px;
            cursor: pointer;
        }
    }

    &__text {
        width: 78%;
        border: none;
        cursor: text;
        outline: none;
    }

    &__icon {
        padding-right: 7px;

        img {
            width: 17px;

        }

        cursor: pointer;
    }
}

.opt {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 50px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

    :hover {
        background-color: rgba(128, 128, 128, 0.205);
        border: 1px solid rgba(104, 102, 102, 0.363);
    }
}

.len {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;

    &__len {
        text-decoration: none;
    }
}
.text{
    border: 1px solid rgb(104, 102, 102);
    width: 20%;
    border-radius: 40px;
    width: 37%;
    position: relative;
    left: 32%;
   padding-bottom: 3px;
    
    
}