body{
  margin: 0;
  text-align: center;
  max-width: fit-content;
}
.App {
  display: grid;
  grid-template-columns: repeat(10 , 10%);
  grid-template-rows: repeat(10 , 10%);
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(41, 40, 40);
  text-align: center;
  width:99.5vw;
  margin:  auto;
  height: 99vh;
  background: url(tvFrame.png) no-repeat center fixed;     
  background-size: 100% 100%;

&_form{
  // border:solid 2px white;
  width:99.5vw;
  height:30px;
  margin: auto;  
  grid-column: 1/6;
  grid-row: 1/2;
  text-align: center;

  input[type="text"]{
    margin:5px;
  }
}

&_imageCards {
  border: 2px solid white;
  display:grid;
  grid-template-columns: repeat(4,20%);
  grid-template-rows:repeat(2,40%);
  column-gap:5px;
  grid-column: 2/5;
  width: 80vw;
  grid-row: 2/10;
  // padding:40px 0 7px 30px;
  // outline:solid blue 2px;
  // margin: 10vh auto; 
  
  
  &__card {
    border:solid black 1px;
    
    img {

      width: 100%;
      height: 40%;
    }
    &-name{
      color: aliceblue;

    }
  }
}
}