body {
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: fit-content;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 2px;
}

.App {
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows: repeat(10, 10%);
  //border: 1px solid rgb(0, 0, 0);
  background-color: rgb(41, 40, 40);
  text-align: center;
  width: 99.5vw;
  //margin: auto;
  height: 99vh;
  background: url(tvFrame.png) no-repeat center fixed;
  background-size: 100% 100%;

  &_form {
    // border:solid 2px white;
    width: 99.5vw;
    height: 30px;
    margin: auto;
    grid-column: 1/6;
    grid-row: 1/2;
    text-align: center;

    input[type="text"] {
      margin: 5px;
      border: #00E6F6 solid 3px;
      border-radius: 4px;

    }
    button[type="submit"]{
      width: 80px;
      height: 40px;
     

    }
  }

<<<<<<< Updated upstream
&_imageCards {
  border: 2px solid white;
  display:grid;
  grid-template-columns: repeat(4,20%);
  grid-template-rows:repeat(2, 45%);
  column-gap: 5px;
  row-gap: 2vh;
  grid-column: 2/5;
  width: 80vw;
  grid-row: 2/10;
  // padding:40px 0 7px 30px;
  // outline:solid blue 2px;
  // margin: 10vh auto; 
  
  &__card {
    border:solid rgb(255, 255, 255) 3px;
    display: grid;
    grid-template-rows: repeat(5 , 20%);
    grid-template-columns: repeat(4 , 25%);
    
    img {
      grid-column: 1/5;
      grid-row: 1/4;
      width: 100%;
      height: 100%;
    }
    &-name{
      color: aliceblue;
      grid-row: 4;
      grid-column: 1/5;
      padding-bottom: 30px;
    }
    &-delete{
      grid-row: 5;
      grid-column: 1/2;
    }
    &-input{
      grid-row: 5;
      grid-column: 2/6;
=======
  &_imageCards {

    //outline: 2px solid white;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 48%);
    column-gap: 10px;
    row-gap:15px;
    grid-column: 2/5;
    width: 80vw;
    grid-row: 2/10;

    //align-self: center;
    // padding:40px 0 7px 30px;
    // outline:solid blue 2px;
    // margin: 10vh auto; 


    &__card {

      width: 100%;
      border: #747071 solid 2px;
      border-radius: 4px;

      &:hover {
        box-shadow: 0 0 11px rgb(251, 228, 228);
      }

      img {

        width: 100%;
        height: 80%;

      }

      &-name {
        color: aliceblue;
        position: relative;
        bottom: 100px;
        text-shadow: 0 0 10px black;


      }


     &--deleteButton{
      position: relative;
      bottom: 70px;

     }


      input[name="updateName"] {
        margin-top: 0;
        border: #FF013C solid 3px;
        border-radius: 4px;
        position: relative;
        bottom: 70px;

      }




>>>>>>> Stashed changes
    }
  }
}

button,
button::after {
  width: 70px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 5px;
  font-family: 'Bebas Neue', cursive;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  //line-height: 88px;
  box-shadow: 6px 0px 0px #00E6F6;
  outline: transparent;
  position: relative;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: 'AVAILABLE NOW';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}