body{
    background-color: rgb(179, 178, 178);
}
.wrapper {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: 60vh 60vh 60vh;
    gap: 1vw;
}
.box {
    background-color: white;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 55% 30% 10% 5%
}
.box:hover{
    cursor: pointer;
}
.box-img img {
max-width: 18vw;
height: fit-content;
padding: 10px;
}
.box-info {
   font-size: 2vw; 
   width: 18vw;
   padding: 10px;
}
.box-category {
color: gray;
font-size: 15px;
padding: 5px;
}