body{
  margin: 0px;
}



.wrapper{
    background-color: rgb(169, 169, 182);
    display:flex;
    gap: 10px 20px;
    justify-content: space-between;
    align-items: center; 
    padding: 29px;
    margin:25px;
    width: 100%;
    
}

.box{
    
    border: solid black;
    min-height: 20vh;
    min-width: 20vh;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.342);
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    padding: 100px;
    margin: 20px;
    flex-wrap: wrap;
}
.zoom {
    padding: 50px;
    background-color: rgb(253, 253, 253);
    transition: transform .2s;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1.2); 
  }
 .wrapper2{
    background-color: rgb(169, 169, 182);
    display: flex;
    gap: 10px 20px;
    text-align: center;
    align-items: baseline; 
    margin: 216px;
    color: black;
    overflow: hidden;
    background-color: #333;
    position: absolute;
    width: 50%;
    top: 2%;

 } 
.box2{
  top: -200px;
  background-color: rgb(136, 99, 99);
  min-height: 5vh;
  min-width: 10vh;
  align-items: left;
  transform: translate(-50% -50%);
  padding: 15px;
  top:0px;
  font-size: x-large;
  

}

img{
  width: 100px;
  height: 100px;
}
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}


.title{
  
  font-size: xx-large;
  border: solid;
  margin: 16px;
}
.title>img{
  width: 400px;
  height: 400px;
  margin: 15px;
  float: right;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: black;
  color: aliceblue;
}
.text{
  position: absolute;
  top:0px;
  left: 0%;
  transform: translate(-50% -50%);
  font-size: large;
  
  padding: 30px;
  font-size: x-large;


}
.title>p{
  width: 15px;
  height: 15px;
}