.App__main {
    border-bottom: 2px solid;

    h1 {
        text-align: center;
    }

    &__flaveors {
        display: flex;

        h3 {
            margin-left: 2%;

            #link{
                color: rgb(102, 17, 136);
                text-decoration: none;
            }
        }
    }
}