.gradientBP{
  background-image: linear-gradient(to right, rgb(71, 71, 255) , rgb(233, 83, 213));
  height: 85vh;
}
.gradientP{
  background-image: linear-gradient(to right, rgb(140, 140, 248) , rgb(231, 175, 253));
  height: 30px;
}

h1{
  text-align: center;
  color: rgb(30, 0, 65);
  /* color:; */
}
h2{
  text-align: center;
  color: rgb(3, 15, 70);
  /* color:; */
}
.nav{
  text-align: center;
  text-decoration: none;
  color: aquamarine;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}
.bg{
  background-color:  rgb(255, 127, 127);
  width: 100vw;
  height: 100%;
  top: 0;

}
footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color:  rgb(255, 127, 127);
  width: 100vw;
  height: 30px;
}
.cone{
 
  margin-top: -20px;
  height: 0px;
  width: 0px;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  border-top: 395px solid tan;
  z-index: 1;
  position: relative;
 
  /* background-image:
  repeating-linear-gradient(
    -45deg,
    transparent 0,
    transparent 25%,
    rgb(190, 141, 77) 50%,
    rgb(190, 141, 77) 50%
),
repeating-linear-gradient(
  -45deg,
  transparent 0,
  transparent 25%,
  rgb(190, 141, 77) 0,
  rgb(190, 141, 77) 50%
);
background-blend-mode: multiply;
background-size: 100px 100px;
color: rgb(190, 141, 77); */
}
.center{
  display: flex;
  justify-content: center;
 padding-top: 10%;
 
}
.chocolate{
 
  background-color: rgb(116, 60, 20);

}
.ball{
    border-radius: 100%;
  height: 200px;
  width: 200px;
   margin-top: -134px;
  margin-left: -200px;
  top: 0;
}
.moca{
  background-color: chocolate;
}
.pinutbutter{
  background-color: rgb(250, 178, 126);
}
.vanilla{
  background-color: #f9e5bc;
}
.blue{
  background-color: rgb(148, 148, 241);
}
.lemon{
  background-color: rgb(217, 247, 217);
}
.flex{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}
button{
 border: none;
  color: aquamarine;
  background-color: transparent;
}