@import './var';
@import './mixin';

.userBar {
  @include flexCenter;
  flex-direction: column;
  gap: 1em;
  padding-top: 1em;
  padding-bottom: 1.2em;

  &__DailyMeals {
    @include flexSpaceBetween;
    align-items: center;
    @include activitiesBoard-2;
    @include inputBar1024;
    width: 93%;
    border-radius: 10px;

    &--mealIcon {
      margin-right: 2%;
    }
  }

  &__info {
    @include flexSpaceBetween;
    align-items: center;
    @include activitiesBoard-2;
    @include inputBar1024;
    width: 93%;
    border-radius: 10px;

    &--alertIcon {

      background-color: $primarycolor1;
      color: white;
      border-radius: 50%;
      margin-right: 2%;
    }
  }
}