.card{
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.239);
    padding: 20px;
    height: 200px;
    

    img{
        height: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        display: block;
        margin:auto;
    }

    p{
        color: blue;

       
    }
    .price{
        color:red;
        font-weight: 800;
    }


}