body{
    margin:0;
    padding:0;
}

.music{
  display:flex;
  flex-direction: row;  
  justify-content:center;

  img{
      width:20%;
      height:20%;
  }

  
}

.text{
    width:100rem;
    height:5rem;
    background-color: blue;
}
