// body {
//     background-image: url(https://t3.ftcdn.net/jpg/00/84/41/42/360_F_84414235_SqeWnlDR7qpjJ83Z4wUuIcoz5RrVXvoq.jpg);
//     background-repeat: no-repeat;
//     background-size: 100% ;
//     width: 1200px;;
//     margin:0 auto;
// }

html { 
    background: url(http://cdn.shopify.com/s/files/1/0267/0909/8540/products/4230_145fd6ea-0d1d-4179-8d08-c91b8939466c_1200x1200.jpg?v=1616667468) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#root {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;

    img {
        width: 100%;
        height: auto;
        padding: .9rem;
        gap: 1.5rem;
    }
}