body{
    margin:5px ;
}
.wrapper{
    position: relative;
    top: 110px;
    left: 0px;
    width: 1440px;
    height:    100%;
    background-color: rgb(255, 255, 255);
}
.title-box{
    height: 100px;
    width: 99vw;
    text-align: center;
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgba(0, 0, 255, 0.726);
}
.fixed{
    background-color: rgba(128, 206, 231, 0.733);
    position: fixed;
    top: 0px;
}
.bottom-right{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.mid-right {
    position: absolute;
    right: 0px;
    bottom: 50%;
}
.mid-screen {
    position: absolute;
    left: 25%;
    bottom: 33%;
}
.fabbox {
    position: sticky;
    bottom: 5px;
    top: 5px;
    left: 50%;
    height: 350px;
    width: 350px;
    background-color: lightgreen;
    border: 1px solid gray;
}

.boxes {
    top: 25px;
    left: 25px;
    height: 350px;
    width: 350px;
    background-color: lightcoral;
    border: 1px solid gray;
    position: relative;
    color: white;
    text-align: center;
    margin: 5px;
}

.boxes:nth-child(odd){
    background-color: crimson;
}
.vertical {
    padding-top: 5px;
    margin-left: 200px;
}
.horizontal {
    padding-left: 15px;
    padding-top: 15px;
}
.vertical> img {
border: 1px chartreuse;
    width: fit-content;
    height: 350px;
}
.horizontal> img {
    border: 1px chartreuse;
    width: 350px;
    height: fit-content;
}

/*Inside the box texts*/

.box-text-in-right {
    position: absolute;
    top: 8px;
    right: 16px;
    direction: rtl;
    color: white;
    mix-blend-mode: difference;
}
.box-text-in-left {
    position: absolute;
    bottom: 40px;
    left: 0px;
    direction: rtl;
}
.box-text-in-center {
    position: absolute;
    bottom: 50%;
    left: 50%;
    direction: rtl;
}
.box-text-in-top{
    position: absolute;
    top: 10%;
    right: 10%;
    left: 10%;
    direction: rtl;
}
.box-text-in-top-right {
    position: relative;
    bottom: 100%;
    direction: rtl;
}

/*Outside the box texts*/
.box-text-under {
    position: absolute;
    bottom: 50px;
    right: 10%;
    left: 10%;
    direction: rtl;
}
.box-text-on-right{
    position: absolute;
    color: rgb(255, 255, 255);
    top: 0;
    right: -100%;
    direction: rtl;
    mix-blend-mode: difference;
}
