.button {
  border-radius: 40px;
  height: fit-content;
  border: 2px solid black;
  width: fit-content;
  min-width: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.button--danger {
  border: 2px solid red;
  color: red;
}
.button h1 {
  background-color: aliceblue;
}
.button img {
  width: 200px;
}