.ball {

  height: 100px;
  width: 100px;
  cursor: pointer;
  animation: ball-fall 3s forwards;


}

@keyframes ball-fall {
  0% {
    transform: translateY(-100px);
  }

  100%{
    transform: translateY(460px)
  }
}