.box1{
    position: relative; 
    top: 450px;
    height:26vh;
    width: 11vw;
    left: 47%;
}
.wrapper1{ 
    height: 10vh;
    width: 49vw;
    display: flex;
    justify-content:space-evenly;   
}
.box1>img{
    height: 200px;
    width:200px;
    
    left: 50%;
    cursor: pointer;
}
.box1:hover{
    z-index: 1;
    cursor: pointer;
    transition-duration: 1s;
    transform: scale(1.2);
}
.box1>p{
    position:absolute;
    top: 0px;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(245, 7, 7);
    background-color: black;   
}
.wrapper{
    width: 40vw;
    height: 20vh;
    position: absolute;
    display: flex;
    top: 0%;
    left: 53%;
    color: black; 
}
.box{
    text-align:center;
    position:relative;
    left: -60%;
    height: 20%;
    width:100%;
    color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
} 
.box:hover{
    cursor: pointer;
    transition-duration: 1s;
    transform: scale(1.2);
}
body{
    background-image: url(work\ img/8.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;     
    background-size: 61%;
    padding: 10px;
}
.rmg:hover{
    cursor: pointer;
}
.rmg>img{
    height:10%;
    width: 5%;
    border-radius: 50px;
    position:absolute;
    top:40%;
    left:81%;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.575)
}
.lmg>img{
    height:10%;
    width: 5%;
    border-radius: 50px;
    position: absolute;
    top:40%;
    left:14%;
    cursor: pointer;  
    box-shadow: -10px 10px 30px rgba(0, 0, 0, 0.575) 
}
.search{
    position: absolute;
    top: 0px;
    left: 95%;
    cursor: pointer;
}
.search>img{
    height: 10vh;
    width: 5vw;
}