@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background-image: url("img/clocks.jpeg");
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center;
}

.title {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    
}

.wrapper {
    padding: 2em;
    display: flex;
    justify-content: center;


    .search_box {
        background: rgb(246, 246, 246);
        position: relative;
        padding: 15px;
        border-radius: 50px;
        display: flex;
        width: 700px;
    }

    .search_box .search_btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgb(224, 224, 224);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        cursor: pointer;
    }

    input {
        width: 85%;
        outline: none;
        background: rgb(246, 246, 246);
        border: 0px;
        font-size: 24px;

    }
}