.box{
    
    background: purple;
    min-height: 10vh;
    width: 300px;
    border:1px solid yellow;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

  
    
}
.wrapper{

    background: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;

}