
body{

        font-family: 'outfit', sans-serif;

 }

.navbar{

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 8vh;
    width: 100%;

}
    
.pages{

    display: flex;
    justify-content: center;

    a{

        text-decoration: none;
        color: white;
        font-size: 30px;
        font-weight: 300px;
        margin-inline: 6px;

    }

    .navbox{
        
        border-left: 2px solid white;
        display: flex;
        justify-content: center;

    }

    .signin:hover{

        cursor: pointer;
        
    }
    .home:hover{

        border-bottom: 4px solid rgb(208, 45, 45);

    }

    .news:hover{

        border-bottom: 4px solid rgb(67, 67, 232);
    }

    .sport:hover{

        border-bottom: 4px solid rgb(168, 191, 51);
    }


    

        
}

.bbclogo{

        align-self: flex-start;
        height: 7vh;
        width: 100%;

}



    
