.header{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    justify-items: center;
    border: 1px solid gray;
    &--button {
        display: flex;
        justify-content: left;
        justify-items: left;
        

    }
}