<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="dist/style.css">
    <title>Document</title>
</head>
<body onload="handleLoadPlace()">
    <!-- <nav class="navigation">
        <ul>
            <a href="index.html"><li class="navigation--logo"><img src="images/logoTitle.png" alt="airbnb"></li></a>
            <li class="navigation--search">
                <form class="form" onsubmit="handleFindAirbnb(event)">
                    <div class="form--searchLocation">
                        <label for="searchLocation">Location  </label>
                            <input  id="searchLocation" type="text" name="searchLocation" placeholder="Where are you going?">
                       
                   
                    </div>
    
                    <div class="form--checkIn">
                        <label for="checkIn">Check in </label>
                            <input type="date" id="checkIn" name="checkIn"
                            value="2022-03-31"
                            min="2022-03-28" max="2022-12-30">
                        
                     
                    </div>
    
                    <div class="form--checkOut">
                        <label for="checkOut">Check out </label>
                            <input type="date" id="checkOut" name="checkOut"
                            value="2022-03-31"
                            min="2022-03-28" max="2022-12-30">
                       
                       
                    </div>
    
                    <div class="form--guests">
                        <label for="guests">Guests </label>
                            <button id="guests">Add guests</button>
                       
                        <div class="dropdown">
                            <label for="adults">Adults:
                               <span>Ages 13 or above</span> </label>
                            <input type="number" id="adults" name="adults" min="0" max="10" placeholder="0">
                             
                            <label for="children">Children:
                               <span>Ages 2–12</span> </label> 
                            <input type="number" id="children" name="children" min="0" max="10" placeholder="0">
                           
                            <label for="infants">Infants:
                                <span>Under 2</span></label>
                            <input type="number" id="infants" name="infants" min="0" max="10" placeholder="0">
                            
                            <label for="pets">Pets:</label>
                            <input type="number" id="pets" name="pets" min="0" max="5" placeholder="0">
                            
    
                        </div>
                    </div>
    
    
                   <button type="submit" value="submit" class="form--searchIcon" onclick="location.href='places.html'"><img src="images/searchIcon.png"></button>
    
    
                </form>
            </li>
            <li class="navigation--greeting">Welcome!</li>
    
            <li class="navigation--user"><img src="images/visitorProfile.png">
            </li>
        </ul>
    </nav> -->

    <nav>
        <%- include('./components/navigationBar') %>
      </nav>
<div id="rootPlace"> </div>

<!-- 
<div class="bottomBar">
    <div class="bottomBar__support">
        <p class="bottomBar__title">Support</p>
        <p>Help Center</p>
        <p>Our COVID-19 Response</p>
        <p>Safety information</p>
        <p> Supporting people with disabilities</p>
        <p>Cancellation options</p>
        <p>Report a neighborhood concern</p>
    </div>

    <div class="bottomBar__community">
        <p class="bottomBar__title">Community</p>
        <p>Airbnb.org: disaster relief housing</p>
        <p>Combating discrimination</p>
        <p>Support Afghan refugees</p>
       
    </div>

    <div class="bottomBar__hosting">
        <p class="bottomBar__title">Hosting</p>
        <p>Try hosting</p>
        <p>Visit our community forum</p>
        <p>AirCover: protection for Hosts</p>
        <p>How to host responsibly</p>
        <p>Explore hosting resources</p>
        
    </div>

    <div class="bottomBar__about">
        <p class="bottomBar__title">About</p>
        <p>Careers</p>
        <p>Learn about new features</p>
        <p>Investors</p>
        <p>Letter from our founders</p>
        <p class="bottomBar__about--twitter"><img src="images/twitterIcon.png"></p>
        <p class="bottomBar__about--facebook"><img src="images/facebookIcon.png"></p>
        <p class="bottomBar__about--instagram"><img src="images/instagramIcon.png"></p>
        
       
    </div>



</div> -->
<div class="bottomBar">
    <%- include('./components/bottomBar') %>
  </div>
<p class="airbnbRights" >© 2022 Airbnb, Inc.Privacy·Terms·Sitemap</p> 


<div id="map"></div>
<script src="dist/index.js"></script>
<script
src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&v=weekly"
async
></script>
</body>

</html>