@use './Styles/registrationForm.scss';
@use './Styles/userListContainer.scss';
@use './Styles/loginContainer.scss';
@use './Styles/navBar.scss';

*{
    box-sizing: border-box;
}

// div{
//     border: 1px solid red;
// }

.App{
    min-height: 100vh;
    height: fit-content;
    background-color:rgb(198, 198, 229);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: sans-serif;
    box-shadow: rgba(100, 100, 111, 0.2) 5px 9px 10px 0px;
    border-radius: 2%;
}