.box{
    width: 100px;
    height: 100px;
    background-color: purple;
    position: relative;
    top:50vw;
    animation-name: moveUp;
    animation-duration: 3s;
    animation-delay:1s;
    animation-iteration-count:1;
    animation-direction:normal ;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
  
}

@keyframes moveRight {
    from{
        left:0vw;
    }
    to{
        left:50vw;
    }
}

@keyframes moveUp {
    from{
        top:50vw;
    }
    to{
        top:0vw;
    }
}