img {
    width: 5rem;
    border: 0.5rem solid black;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}

.card{
    img{
        width: 5rem;
    border: 0.5rem solid black;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

    }
}