body{
    background-color: rgb(255, 177, 66);
}
.logo{
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;
    color: rgb(26, 25, 34);
    position: absolute;
    left: 50vw;
}
.rootItem{
    border: 2px solid black;
    background-color: #ffffff;
    width: 70vw;
    height: 90vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 23vw;
    top: 20vh;
    font-size: 23px;
}

.menu{
    position: absolute;
    top: 120px;
    left: 0;
    width: 20vw;
    height: 30vh;
    border: 2px solid black;
}
.products{
    border: 1px solid black;
    margin-top: 10px;
    background-color: blanchedalmond;
    
}

