body{
    background-color: rgb(233, 233, 214);
}
.logo{
    font-size: 60px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(4, 2, 107);
    position: absolute;
    left: 50vw;
}
.rootItem{
    border: 2px solid black;
    background-color: rgb(177, 156, 22);
    width: 70vw;
    height: 90vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    left: 23vw;
    top: 20vh;
}

.menu{
    position: absolute;
    top: 120px;
    left: 0;
    width: 20vw;
    height: 30vh;
    border: 2px solid black;
}
.products{
    border: 1px solid black;
    margin-top: 10px;
    background-color: blanchedalmond;
    
}

