body{
    align-items: center;
    font-family: 'Outfit', sans-serif;
}

.container
{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr repeat(3,2fr) ;
    grid-template-rows: repeat(3,1fr);
    grid-gap: 1em;

}

.box
{
    padding: 5px;
    grid-auto-rows: minmax(10px, auto);
}

.box1
{
    grid-column: 1/4;
}

.internal_box1
{
    display: grid;
    width: 100%;
    margin: 0;
    height: 30vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.Header1
{
    grid-column: 1/2;
    grid-row: 1/3;
    align-items: start;
    font-size: 30px;
    height: 10vh;
}

.Header1:hover
{
     cursor: pointer;
     color: blue;
    text-decoration: underline;
}

.image1
{
    grid-column: 2/6;
    grid-row: 1/4;
    width: 90%;
    height: 40vh;
    align-items: left;
}

.text1
{
    grid-column: 1/2;
    position: relative;
    top: -150px;
    grid-row: 3/4;
    height: 7vh;
    font-style: italic;
    text-align: left;
    padding-top: 100px;

}

.text19

{
    position: relative;
    top: -200px; 

}



.down_picture
{
    width: 100%;
    height: 15vh;
}


.down_title
{
    width: 100%;
    height: 7vh;
    text-align: left;
}

.down_text
{
    width: 60%;
    height: 5vh;
    align-items: center;
    position: relative;
    left: 0vw;
    bottom: 5vh;
    align-content: center;
    text-align: left;
    padding-top: 35px;
}

.down_title:hover
{
     cursor: pointer;
     color: blue;
    text-decoration: underline;
}

.down_title
{
    font-size: 20px;
    font-style: italic;
}

.down_text
{
    font-size: 15px;
    font-style: italic;
}

.BBC_logo
{
    left: -400px;
    top: 10px;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: flex-start;
    width: 1vw;
    margin-left: 0px;
    height: 2vh;
    background-color: rgb(247, 244, 244);
    border: 3px solid black;
    font-family: 'Outfit', sans-serif;
}
.firstletter
{
    position: relative;
    left: -10vw;
}

.secondletter
{
    position: relative;
    left: -19vw;
}

.thridletter
{
    position: relative;
    left: -21vw;   
}
.BBC_LOG_2
{
    position: relative;
    left: -490px;
    top: 5px;
}
.banner
{
    width: 100%;
    height: 4vh;
    background-color: rgb(10, 10, 10);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-weight: 200;
    top: 0px;
}

.navbar
{
   width: 85%;
   margin: auto;
   position: relative;
   align-items: center; 
   justify-content: space-between;
}


.navbar ul li
{
    list-style: none;
    font-size: 10px;
    display: inline-block;
    margin: 0 50px;
    position: relative;
}

.navbar ul li a
{
    text-decoration: none;
    color:rgb(247, 245, 240);
    font-weight: 200;
    font-size: 2vh;
    text-transform: uppercase;
}

.navbar ul li ::after
{
    content: '';
    height: 5px;
    width: 0;
    background: rgb(255, 255, 255);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.8s;
}

.navbar ul li:hover ::after
{
    width: 100%;
}

.search_box
{
    position: relative;
    left: 80vw;
    top: -1.02vh;
    transform: translate(-50%,-50%);
    transition: 10s;
    background: rgb(10, 10, 10);
    height: 30px;
    width: 15vw;
}

.Search-btn
{
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgb(250, 242, 242);
    height: 40px;
    width: 40px;
    top: -0px;
}

.search_box:hover >.search_text
{
    width: 240px;
    padding: 0 -5px;
}

.box10
{
    align-items: center;
    flex-direction: column;
    display: flex;
}

.inner_box_box10
{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    width: 80%;
    height: 45vh;
}

.text11
{
    position: relative;
    top: -10px;
}

.title1
{
    font-size: 20px;
}

.title1 :hover
{
    cursor: pointer;
    color: blue;
   text-decoration: underline;
}