#root{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#root img {
    width: 250px;
    aspect-ratio: 1.2;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

#root img:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px black;
}