body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;

    .header {
        display: flex;
        justify-content: space-around;
        background: #20558a;
        width: 100%;

        .nih {
            display: flex;
            flex-direction: row;

            img{
                padding: 50px 10px 50px 40px;
            }

            .nihTitles{
                display: flex;
                flex-direction: column;
                margin: 40px 0 0 0;
            }

            h1,p {
                color: white;
            }

            h1{
                margin-bottom: 0;
            }

            p{
                margin-bottom: 50px;
                margin-top: 5px;
            }
        }

        .log {

            margin-top: 50px;

            h1{
                border: white 1px solid;
                color: white;
                padding: 10px;
                font-size: 1.5rem;
                font-weight: 400;
    
                &:hover {
                    background: rgb(8, 127, 224);
                }
            }

        }
    }
}

.input{
    background: #f1f1f1ff;
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
    padding: 30px 0 40px 0; 
    border-bottom: 1px solid rgb(173, 172, 172);

    input {
        margin-top: 25px;
        width: 35%;
        height: 5vh;
        box-shadow: 1px 1px 10px black;
    }

    img{
        width: 220px;
    }

}

.container{

    display: flex;
    flex-direction: row;
    gap: 35px;

    .index{
        display: flex;
        flex-direction: column;
        gap: 20px;
        position: relative;
        top: 20px;

        input {
            width: 15px;
            height: 15px;
        }

        span{
            padding-left: 2px;
        }

    }

    .card {
        display: flex;
        flex-direction: column;
    
        h2{
            color: #20558a;
            margin-bottom: 0;

            &:hover{
                color: #163b5f;
                cursor: pointer;
            }
        }

        p{
            margin: 7px auto;

            &:nth-child(3){
                color: green;
                font-weight: 300;
            }
        }
    
    }
}

#root {
    margin: 20px 200px 20px 500px
}

#index {
    margin-right: 450px;
    margin-top: 30px;
}












