body {
    margin: 0;
    background-color: #ffffff;
    min-width: 1900px;
    font-family: sans-serif;
}


// NAV SECTION
.Nav {
    position:sticky;
    top:0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    font-size: 18px;

    .logo {
        cursor: pointer;
    }

    &__BTN {
        padding: 15px 40px;
        text-align: center;

        &--home:hover {
            border-bottom: 5px solid #ffffff;
        }

        &--news:hover {
            border-bottom: 5px solid #e40505;
        }

        &--sport:hover {
            border-bottom: 5px solid #e4c205;
        }

        &--reel:hover {
            border-bottom: 5px solid #0bac96;
        }

        &--worklife:hover {
            border-bottom: 5px solid #f89007;
        }

        &--travel:hover {
            border-bottom: 5px solid #f807f8;
        }

        &--future:hover {
            border-bottom: 5px solid #05af0d;
        }

        &--culture:hover {
            border-bottom: 5px solid #6f69ce;
        }

        &--more:hover {
            border-bottom: 5px solid #646464;
        }
    }
}


a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.stripe {
    position:sticky;
    top:50px;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    &--home {
        padding-left: 11%;
        background-color: rgb(54, 54, 54);
    }

    &--news {
        padding-left: 11%;
        background-color: #e40505;
    }

    &--sport {
        padding-left: 11%;
        background-color: #e4c205;
    }

}

.stripe-middle {
    display: flex;
    align-items: center;
    height: 25px;
    width: 89%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    &--home {
        background-color: rgb(54, 54, 54);
    }

    &--news {
        background-color: #e40505;
    }

    &--sport {
        background-color: #e4c205;
    }

}


// CONTENT

.main-content {
    display: grid;
    grid-template-columns: 10% 40% 20% 20% 10%;
    min-width: 850px;
}

.sub-content {
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    min-width: 850px;
}

.content {

    .main-content,
    .sub-content {

        &__img {
            width: 100%;
            height: auto;
        }

        &__main-text {
            font-size: 30px;
            font-weight: bold;
            color: black;
        }

        &__sub-text {
            font-size: 22px;
        }

        &__link {
            text-decoration: none;
            color: #000;

        }

        &__link :hover {
            color: #962828;
            text-decoration: underline;
        }

        &__box {
            padding: 10px;

        }
    }

}



// div {
//     border: 1px solid red;
// }