.maincontent {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr  1fr;
  height: 50vh;
  border: solid black;
  
}
.mainpic{
  grid-column-start:1;
  grid-column-end:2;
  grid-row-start:1;
  grid-row-end:3;
  
}
.tam{
  height:100%;
  width: 90%;
}

.subtext{
  grid-row-start:2 ;
}

