body {
    margin: 0;
    background-color: #ffffff;
    min-width: 1900px;
    font-family: sans-serif;
}


// NAV SECTION
.Nav {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    font-size: 18px;
    

    &__BTN {
        padding: 15px 40px;
        text-align: center;
        &--home:hover{
            border-bottom: 4px solid rgb(255, 255, 255);
        }
        &--news:hover{
            border-bottom: 4px solid rgb(175, 48, 54);
        }
        &--sport:hover{
            border-bottom: 4px solid rgb(248, 244, 7);
        }
        &--reel:hover{
            border-bottom: 4px solid rgb(7, 248, 216);
        }
        &--worklife:hover{
            border-bottom: 4px solid rgb(248, 144, 7);
        }
        &--travel:hover{
            border-bottom: 4px solid rgb(248, 7, 248);
        }
        &--future:hover{
            border-bottom: 4px solid rgb(7, 248, 19);
        }
        &--culture:hover{
            border-bottom: 4px solid rgb(248, 7, 7);
        }
        &--more:hover{
            border-bottom: 4px solid rgb(66, 66, 63);
        }
    }
}

// .Nav__BTN:hover {
//     background-color: gray;
//     border-bottom: 4px solid rgb(175, 48, 48);

//     // &--home{
//     //     border-bottom: 4px solid rgb(50, 48, 175);
//     // }
// }

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.stripe {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

    &--home {
        padding-left: 11%;
        background-color: rgb(54, 54, 54);
    }

    &--sport {
        padding-left: 11%;
        background-color: #e4c205;
    }
}

// NAV SECTION

// SUB-CONTENT SECTION
.sub-content {
    display: grid;
    grid-template-columns: 10% 20% 20% 20% 20% 10%;
    min-width: 850px;

    &__img {
        width: 100%;
        height: auto;
    }

    &__main-text {
        font-size: 30px;
        font-weight: bold;
        color: black;
    }

    &__sub-text {
        font-size: 22px;
    }

    &__link {
        text-decoration: none;
        color: #000;

    }

    &__link :hover {
        color: #962828;
        text-decoration: underline;
    }

    &__box {
        padding: 10px;

    }

}

// SUB-CONTENT SECTION