body {
  margin: 0;
  background-color: #ffffff;
  min-width: 1900px;
  font-family: sans-serif;
}

.Nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
  font-size: 18px;
}

.Nav .logo {
  cursor: pointer;
}

.Nav__BTN {
  padding: 15px 40px;
  text-align: center;
}

.Nav__BTN--home:hover {
  border-bottom: 5px solid #ffffff;
}

.Nav__BTN--news:hover {
  border-bottom: 5px solid #e40505;
}

.Nav__BTN--sport:hover {
  border-bottom: 5px solid #e4c205;
}

.Nav__BTN--reel:hover {
  border-bottom: 5px solid #0bac96;
}

.Nav__BTN--worklife:hover {
  border-bottom: 5px solid #f89007;
}

.Nav__BTN--travel:hover {
  border-bottom: 5px solid #f807f8;
}

.Nav__BTN--future:hover {
  border-bottom: 5px solid #05af0d;
}

.Nav__BTN--culture:hover {
  border-bottom: 5px solid #6f69ce;
}

.Nav__BTN--more:hover {
  border-bottom: 5px solid #646464;
}

a {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.stripe {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100%;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.stripe--home {
  padding-left: 11%;
  background-color: #363636;
}

.stripe--news {
  padding-left: 11%;
  background-color: #e40505;
}

.stripe--sport {
  padding-left: 11%;
  background-color: #e4c205;
}

.stripe-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 89%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.stripe-middle--home {
  background-color: #363636;
}

.stripe-middle--news {
  background-color: #e40505;
}

.stripe-middle--sport {
  background-color: #e4c205;
}

.main-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 40% 20% 20% 10%;
      grid-template-columns: 10% 40% 20% 20% 10%;
  min-width: 850px;
}

.sub-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 20% 20% 20% 20% 10%;
      grid-template-columns: 10% 20% 20% 20% 20% 10%;
  min-width: 850px;
}

.content .main-content__img,
.content .sub-content__img {
  width: 100%;
  height: auto;
}

.content .main-content__main-text,
.content .sub-content__main-text {
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.content .main-content__sub-text,
.content .sub-content__sub-text {
  font-size: 22px;
}

.content .main-content__link,
.content .sub-content__link {
  text-decoration: none;
  color: #000;
}

.content .main-content__link :hover,
.content .sub-content__link :hover {
  color: #962828;
  text-decoration: underline;
}

.content .main-content__box,
.content .sub-content__box {
  padding: 10px;
}
/*# sourceMappingURL=style-bbc.css.map */