body{
    background-image: url('https://64.media.tumblr.com/ad76bfbd8a4c65eb15ce2215a3778f74/tumblr_p5dldn2qo11x6oel3o1_500.gifv');
    background-size: cover;    
    //height: 100vh;
    padding:0;
    margin:0;
    text-align:center;
    
    font-family: 'Architects Daughter', cursive;
  
    
}

.pictureViews{
    margin-top:30px; 
    color:white;
    letter-spacing:4px;
    select{
        border:none;
        border-radius:5px;
    }

   
}
.chosenPainting{
    h1{
        font-size:50px;
        letter-spacing:10px;

    }
    img{
        height:300px;
        width:400px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        transition: 1s;
        background-repeat: no-repeat;
           &:hover{
            height:350px;
            width:450px;
            color:rgb(34, 34, 100);
             box-shadow: rgba(0, 0, 0, 0.918) 0px 22px 70px 4px;      
            }
    }
   
}

.rangeSlider{
    margin-top:20px;
    h1{
        color:rgb(9, 9, 61);
    }
    label{
        font-weight:bolder;
    }
}
