
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    height: 50vh;
    width: 100%;
}

h1
{
position: sticky;
top: 0;
width: 100%;
height: 11vh;
background: rgb(36, 156, 255);
opacity: 0.8;
text-align: center;
font-size: 10vh;
color: rgb(240, 168, 86);
}

.General
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200vh;
    justify-content: center;
    align-items: center;
}
video
{
    position: absolute;
    display: flex;
    left: 75vw;
    width:20vw;
    height: 20vh;
    top: 40vh;
}

.General_box
{
    position: relative;
    top: 10vh;
    left: 0vw;
    width: 10vw;
    height: 50vh;
    align-content: center;

}
.Big_box
{
    width: 95vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    border-radius: 100px;
    margin: 10px;
    align-content: center;
}

.small_box
{
height: 30vh;
width: 60vw;
display: flex;
flex-wrap: wrap;
background-color: rgb(103, 185, 253);
margin: 2vw;
border-radius: 100px;
align-content: center;
opacity: 0.8;
}

.box_for_form
{     
    position: relative;
    top: 5vh;
    width: 25vw;
    height: 42vh;
}

img
{
    width: 15vw;
    height: 15vh;
    margin: 50px;
    position: relative;
    border-radius: 100px;
    align-items: center;
    align-content: center;
    top: 0px;
    left: 10px;
    display: block;
    cursor: pointer;
    overflow: hidden;
}


.picture1 #zoom-in img
{
    transform: scale(0.8);
    transition: 0.3 ease-in-out;
}

.picture1 #zoom-in:hover img
{
    transform: scale(1.1);
}    

.picture2 #zoom-in img
{
    transform: scale(0.8);
    transition: 0.3 ease-in-out;
}

.picture2 #zoom-in:hover img
{
    transform: scale(1.1);
}    
.picture3 #zoom-in img
{
    transform: scale(0.8);
    transition: 0.3 ease-in-out;
}

.picture3 #zoom-in:hover img
{
    transform: scale(1.1);
}    
.picture4 #zoom-in img
{
    transform: scale(0.8);
    transition: 0.3 ease-in-out;
}

.picture4 #zoom-in:hover img
{
    transform: scale(1.1);
}    


.description
{
    position: relative;
    text-align: center;
    align-items: center;
    width: 18vw;
    height: 8vh;
    top: 5vh;
    left: 1vw;
    font-size: 20px;
    color: rgb(243, 197, 79);
}

.form_for_more_information
{
    position: sticky;
    text-align: center;
    width: 25vw;
    height: 40vh;
    left: 0vw;
    top: 10vh;
    background-color: rgb(36, 156, 255);
    opacity: 0.8;
    border-radius: 100px;
}


input
{
    position: relative;
    width: 15vw;
    height: 4vh;
    left: 0.5vh;
    top: -4vh;
    font-size: 2vh;
}

button
{
    position: relative;
    width: 15vw;
    height: 4vh;
    left: 0.5vh;
    top: -2vh;
    font-size: 4vh;
    color: goldenrod;
}

h2
{
    position: relative;
    width: 20vw;
    height: 220px;
    left: 35px;
    top: 30px;  
    font-size: 3vh; 
    text-align: center; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-orientation: sideways;
    color: rgb(240, 168, 86);
}

input:nth-child(2)
{
    position: relative;
    width: 15vw;
    height: 4vh;
    left: 0.5vh;
    top: -8vh;
    font-size: 2vh;   
}

input:nth-child(3)
{
    position: relative;
    width: 15vw;
    height:  4vh;
    left: 0.5vh;
    top: -6vh;
    font-size: 2vh;   
}


.Rotation
{
    position: relative;
    width: 7vw;
    height: 6vh;
    top: 8.5vh;
    margin: 20px;
    transform-style: preserve-3d;
    animation: animate 8s linear infinite;
    left: 45vw;
    -webkit-text-size-adjust:none;
    text-size-adjust: none;
}

.Rotation span
{
   position: absolute; 
   top: 0;
   left: 0;
   width: 100%;
   height: 300%;
   transform-origin: center;
   transform-style: preserve-3d;
   transform: rotateY(calc(var(--i)* 45deg)) translateZ(20vh);
   -webkit-box-reflect: below 0px linear-gradient(transparent,transparent,#004);
   -webkit-text-size-adjust:none;
   text-size-adjust: none;
}

.Rotation span img
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    -webkit-text-size-adjust:none;
    text-size-adjust: none;
}

@keyframes animate
{
    0%
    {
        transform: perspective(1000px) rotateY(0deg);
    }
    100%
    {
        transform: perspective(1000px) rotateY(360deg);
    }
}

.banner
{
    width: 100%;
    height: 15vh;
    bottom: 10vh;
    background-color: rgb(36, 156, 255);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-weight: 700;
}

.navbar
{
   width: 85%;
   margin: auto;
   padding: 35px 0;
   position: relative;
   align-items: center; 
   justify-content: space-between;
}


.navbar ul li
{
    list-style: none;
    font-size: 50px;
    display: inline-block;
    margin: 0 50px;
    position: relative;
}

.navbar ul li a
{
    text-decoration: none;
    color:rgb(240, 176, 14);
    font-weight: 400;
    font-size: 3vh;
    text-transform: uppercase;
}

.navbar ul li ::after
{
    content: '';
    height: 20px;
    width: 0;
    background: goldenrod;
    position: absolute;
    left: 0;
    bottom: -30px;
    transition: 0.5s;
}

.navbar ul li:hover ::after
{
    width: 100%;
}


.content p
{
    margin: 20px ;
    font-weight: 100;
    line-height: 100px;
}

.below_button
{
    width: 250px;
    height: 150px;
    font-size: 20px;
    border-radius: 80px;
    padding: 15px 0;
    background:transparent;
    text-align: center;
    color: honeydew;
    opacity: 0.8;
    border: 8px solid goldenrod;
    cursor: pointer;
    position: relative;
    top: 3vh;
    left: 40vw;
    overflow: hidden;
}
.button_of_the_page
{
    background: goldenrod;
    height: 100%;
    width: 0;
    border-radius: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.7s;
}

.below_button:hover span
{
width: 100%;
}

.below_button:hover
{
    border: none;
}
label
{
    position: relative;
    width: 160px;
    height: 80px;
}

.Advertising
{
    font-size: 30px;
    width: 60vw;
    height: 5vh;
    top: -10vh;
    position: relative;
    left: 15vw;
    color: rgb(243, 197, 79);
}

.icon-camera-retro
{
    position: relative;
    top: 23vh;
}