.small_box
{
    min-height: 6vh;
    min-width: 4vw;
    background-color: chartreuse;
    align-content: center;
    text-align: center;
    border: 2px  solid   white;
}

.BIG_BOX
{
    display: flex;
    background-color: crimson;
    padding: 20px;
    width: 30vw;
    flex-direction: column-reverse;

}