body, option {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;


}

.header {
    border: 1px solid black;
    background-color: rgb(58, 63, 64);
    width: 100%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input {
        width: 50em;
        height: 2.5em;
        border-radius: 10px;
        font-size: 1em;
    }
}

.SubMenuItem {
    background-color: rgb(58, 63, 64);
    color: white;
    padding: 0.2em;
    display: flex;
    justify-content: center;
    gap: 0.7em;
    margin-bottom: 2em;

    &__selection {
        select, option {
            background-color: rgb(58, 63, 64);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 0.9em;
            color: white;
        }
       
    }

}

.searchResut,
.resultCategory {
    // border: 1px solid rgb(190, 186, 186);
    display: block;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 1px 4px 8px rgba(102, 95, 107, 0.4);
    padding: 1em;

}

.resultCategory {
    font-size: 0.9em;
    color: rgb(56, 108, 187);

    .category {
        cursor: pointer;
    }

}

.popupTextOver {
    display: flex;
    gap: 1.5em;
}

.popup_wrapper {
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
}

.popup {
    text-align: center;
    width: 100%;
    max-width: 300px;
    margin: 10% 42.5%;
    padding: 20px;
    position: absolute;
    background: rgb(136, 169, 231);
    border: thick double #b7b9b9;
    box-shadow: 1px 4px 8px rgba(102, 95, 107, 0.4);
}

.popup_close {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
}

.computers, .item {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 0em 3em 0em 3em;
    margin-top: 1em;
    box-shadow: 1px 2px 6px rgba(74, 59, 87, 0.4);

    &_comp1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}

.lookig_for,
.delete {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    padding-bottom: 1em;

    input,
    button {
        border-radius: 10px;
        width: 100%;
        height: 3em;
        border-color: transparent;
        font-size: 1em;
        box-shadow: 1px 2px 6px rgba(102, 95, 107, 0.4);

    }


}

.sortPrice {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 100%;
    height: 3em;
    border-color: transparent;
    font-size: 1em;
    box-shadow: 1px 2px 6px rgba(102, 95, 107, 0.4);

}

.sort {
    display: flex;
    justify-content: center;
    gap: 1em;
    button {
         margin-top: 1em;
        border-radius: 10px;
        font-size: 1em;
        border-color: transparent;
        box-shadow: 1px 2px 6px rgba(102, 95, 107, 0.4);
    }
}