:root {
  font-size: 1.2rem;
  --bottom-logo-size: 4rem;
  --bottom-logo-size-noContainer: 5rem;
  --bottom-logo-color: #545353;
  --bottom-logo-color-hover: #ffffff;
  --big-icon: 1.3em;
  --small-icon: 1em;
  --genergal-text-color: #e5dfd9;
  --footer-color: rgb(147, 147, 147);
  --footer-background-color:#1b1b1b;
}
// makes everything have 0 margin for style start:
html,
body {
  margin: 0;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  width: 100vw;
}
.navBar {
  &__menu {
    margin: 0.5rem 0.5rem;
    &-icon {
      width: 1.5rem;
      height: 1.5rem;
    }
    &-selection {
      display: flex;
    }
  }
}

[data-add-to-bag] {
  //for js and animation
}

.backToTop {
  width: 100vw;
  font-size: .6em;
  position: relative;
  text-align: center;
  background: black;
  color: var(--genergal-text-color);
  border: none;
  padding: 0.5rem 0;

  cursor: pointer;
  outline: inherit;
  &::before {
    width: 0.5rem;
    display: inline-block;
    transform: rotate(90deg);
    content: url("data:image/svg+xml,%3Csvg id='ot-back-arw' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 444.531 444.531' xml:space='preserve'%3E%3Ctitle%3EBack Button%3C/title%3E%3Cg%3E%3Cpath fill='%23999' d='M213.13,222.409L351.88,83.653c7.05-7.043,10.567-15.657,10.567-25.841c0-10.183-3.518-18.793-10.567-25.835&%2310; l-21.409-21.416C323.432,3.521,314.817,0,304.637,0s-18.791,3.521-25.841,10.561L92.649,196.425&%2310; c-7.044,7.043-10.566,15.656-10.566,25.841s3.521,18.791,10.566,25.837l186.146,185.864c7.05,7.043,15.66,10.564,25.841,10.564&%2310; s18.795-3.521,25.834-10.564l21.409-21.412c7.05-7.039,10.567-15.604,10.567-25.697c0-10.085-3.518-18.746-10.567-25.978&%2310; L213.13,222.409z'/%3E%3C/g%3E%3C/svg%3E");
  }
}
footer {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 0.8em;
  color: var(--footer-color);
  width: 100vw;
  display: grid;
  grid-template-areas:
  "1"
  "3"
  "2"
  "4"
  "5"
  "6"
  "7"
  "8"
  "9"
;
  // grid-template-columns: 1fr;
  // grid-template-rows: 3fr 4fr 5rem 5rem;

  background-color: var(--footer-background-color);
  // @media only screen and (min-width: 768px) {
  //   grid-template-areas: 
  //   "2 31 32 33"
  //   "2 31 32 33"
  //   "2 31 32 33"
  //   "4 1 .  ."
  //   "4 1 .  ."
  //   "4 5 .  ."
  //   "4 5 .  ."
  //   "6 . .  ."
  //   ;
  // }
  
  svg {
    padding-right: 0.2rem;
    width: var(--small-icon);
    height: auto;
  }

  [class^="secondaryNav__"] {
    padding: 1rem .5rem 1rem .5rem ;
    border-bottom: 0.1em solid rgba(238, 238, 238, 0.119);
    :last-child {
      border: none;
    }
    i {
      position: absolute;
      right: 0.4rem;
    }
  }
  .secondaryNav {
    :last-child {
      border: none;
    }
    &__withIcons {
      width:index;
      color: rgb(127, 125, 121);
      background-color: var(--footer-background-color);
    }
    &__locator {
      color: var(--footer-color);
      span {
        @media only screen and (min-width: 768px) {
          display: none;
        }
        svg {
          height: var(--small-icon);
margin-right: .2rem;
        }
      }
    }
    &__services {
      fill: var(--footer-color);
      &::after {
        margin-right: .4rem;
        position: absolute;
        right: 0;
        width: var(--small-icon);
        display: inline-block;
        transform: rotate(180deg);
        content: url("data:image/svg+xml,%3Csvg id='ot-back-arw' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 444.531 444.531' xml:space='preserve'%3E%3Ctitle%3EBack Button%3C/title%3E%3Cg%3E%3Cpath fill='%23999' d='M213.13,222.409L351.88,83.653c7.05-7.043,10.567-15.657,10.567-25.841c0-10.183-3.518-18.793-10.567-25.835&%2310; l-21.409-21.416C323.432,3.521,314.817,0,304.637,0s-18.791,3.521-25.841,10.561L92.649,196.425&%2310; c-7.044,7.043-10.566,15.656-10.566,25.841s3.521,18.791,10.566,25.837l186.146,185.864c7.05,7.043,15.66,10.564,25.841,10.564&%2310; s18.795-3.521,25.834-10.564l21.409-21.412c7.05-7.039,10.567-15.604,10.567-25.697c0-10.085-3.518-18.746-10.567-25.978&%2310; L213.13,222.409z'/%3E%3C/g%3E%3C/svg%3E");
      }
    }
    &__ostria {
      fill: var(--footer-color);
      &::after {
        margin-right: .4rem;
        position: absolute;
        right: 0;
        width: var(--small-icon);
        display: inline-block;
        transform: rotate(180deg);
        content: url("data:image/svg+xml,%3Csvg id='ot-back-arw' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 444.531 444.531' xml:space='preserve'%3E%3Ctitle%3EBack Button%3C/title%3E%3Cg%3E%3Cpath fill='%23999' d='M213.13,222.409L351.88,83.653c7.05-7.043,10.567-15.657,10.567-25.841c0-10.183-3.518-18.793-10.567-25.835&%2310; l-21.409-21.416C323.432,3.521,314.817,0,304.637,0s-18.791,3.521-25.841,10.561L92.649,196.425&%2310; c-7.044,7.043-10.566,15.656-10.566,25.841s3.521,18.791,10.566,25.837l186.146,185.864c7.05,7.043,15.66,10.564,25.841,10.564&%2310; s18.795-3.521,25.834-10.564l21.409-21.412c7.05-7.039,10.567-15.604,10.567-25.697c0-10.085-3.518-18.746-10.567-25.978&%2310; L213.13,222.409z'/%3E%3C/g%3E%3C/svg%3E");
      }
    }
    &__appointment {
      fill: var(--footer-color);
      &::after {
        margin-right: .4rem;
        position: absolute;
        right: 0;
        width: var(--small-icon);
        display: inline-block;
        transform: rotate(180deg);
        content: url("data:image/svg+xml,%3Csvg id='ot-back-arw' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 444.531 444.531' xml:space='preserve'%3E%3Ctitle%3EBack Button%3C/title%3E%3Cg%3E%3Cpath fill='%23999' d='M213.13,222.409L351.88,83.653c7.05-7.043,10.567-15.657,10.567-25.841c0-10.183-3.518-18.793-10.567-25.835&%2310; l-21.409-21.416C323.432,3.521,314.817,0,304.637,0s-18.791,3.521-25.841,10.561L92.649,196.425&%2310; c-7.044,7.043-10.566,15.656-10.566,25.841s3.521,18.791,10.566,25.837l186.146,185.864c7.05,7.043,15.66,10.564,25.841,10.564&%2310; s18.795-3.521,25.834-10.564l21.409-21.412c7.05-7.039,10.567-15.604,10.567-25.697c0-10.085-3.518-18.746-10.567-25.978&%2310; L213.13,222.409z'/%3E%3C/g%3E%3C/svg%3E");
      }
    }
    &__withoutIcons {
      color: rgb(127, 125, 121);
      background-color: rgb(27, 27, 27);
    }
  }
  .footer__{
  &svgs {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

    span > svg {
      padding:0 .5rem 0 .5rem;
      fill: var(--bottom-logo-color);
      color: var(--bottom-logo-color);
      width: var(--bottom-logo-size);
      height: var(--bottom-logo-size);
      &:hover{
        fill: var(--bottom-logo-color-hover);
        color: var(--bottom-logo-color-hover);
      }
    }
  }
  &credit {
    opacity: .7;
    text-align: center;
    padding: .5rem 0  .5rem 0;
    margin: 0;
    font-size: .8em;
  }
}
}

#osteria, #garden{
 svg{
  height: var(--bottom-logo-size-noContainer);
  width: var(--bottom-logo-size-noContainer);
  }
}


// arias:

[data-1]{
  grid-area:1 ;
}
[data-3]{
  grid-area: 3;
}
[data-4]{
  grid-area: 4;
}
[data-5]{
  grid-area: 5;
}
[data-6]{
  grid-area: 6;
}
[data-7]{
  grid-area: 7;
}
[data-8]{
  grid-area: 8;

}
[data-9]{
  grid-area: 9;
}
[data-div]{
  background-color: black;
  height: 1rem;
  width: 100vw;
  grid-area: 2;
}