* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.farDiv{
    cursor: pointer;

    .far{
        color: white;
        position: absolute;
        left: 1450px;
        bottom: 630px;
    }

    &.switch{
        visibility: hidden;
    }

    img {
        position: absolute;
        left: 1450px;
        bottom: 600px;
        border-radius: 40%; 
        width: 50px;
        border: #fff 2px solid;

    }
}



body {
    background: #9b59b6;
    font-family: 'open-sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;

    .main-width {
        width: 1000px;
        max-width: 95%;
        margin: 0 auto;

        .content {
            padding-top: 140px;

            .main-text {
                position: relative;
                z-index: 2;
                margin-bottom: 50px;

                h6 {
                    font-size: 14px;
                    font-weight: 400;
                    color: white;
                    margin-bottom: 40px;
                }

                h1 {
                    font-family: 'Shadows Into Light', cursive;
                    font-size: 100px;
                    line-height: 1;
                    color: white;
                    margin: 0 0 45px;

                }

                h3 {
                    font-size: 18px;
                    font-weight: 600;
                    color: white;
                }

                p {
                    max-width: 100%;
                    width: 480px;
                    color: white;
                    line-height: 1.8;
                    font-size: 15px;
                    margin-bottom: 50px;
                }

                a {
                    display: inline-block;
                    text-decoration: none;
                    color: black;
                    background: white;
                    border: 1px solid white;
                    padding: 9px 25px;
                    line-height: 1.4;
                    border-radius: 30px;
                    font-size: 14px;
                    font-weight: 500;

                    &:hover {
                        transform: scale(1.2);
                        border: 1px solid #f5dca8;
                        background: transparent;
                        color: white;
                        transition: .4s;
                    }

                    &.cta {
                        transform: scale(1.2);
                        border: 1px solid #f5dca8;
                        background: transparent;
                        margin-left: 20px;

                        i {
                            margin-right: 12px;
                        }

                        &:hover {
                            color: black;
                            background: white;
                            border: 1px solid white;
                            transition: .4s;
                        }
                    }
                }
            }

            .social {
                position: relative;
                z-index: 2;
                margin-top: 200px;
                padding-bottom: 40px;

                a {
                    display: inline-block;
                    color: white;
                    margin-right: 25px;
                    font-size: 24px;

                    &:hover {
                        transform: scale(1.2);
                        transition: .4s;
                        color: white;
                    }

                }
            }

            .root {
                position: absolute;
                width: 100%;
                height: 40%;
                top: 1000px;
                right: 50px;
                text-align: right;

            }
        }
    }

    .hero {
        height: 100%;
        width: 100%;
        min-height: 100vh;
        position: relative;


        header {
            display: flex;
            align-items: center;
            justify-content: space-between;


            nav {
                ul {
                    li {
                        list-style: none;
                        display: inline-block;
                        margin-top: 50px;

                        &:not(:last-child) a:hover,
                        &:not(:last-child) a:focus {
                            border-bottom: 2px solid white;
                        }

                        &.active a {
                            border-bottom: 2px solid white;
                        }

                        &.btn a {
                            background: transparent;
                            color: white;
                            padding: 9px 20px;
                            border: 1px solid #f5dca8;
                            border-radius: 30px;
                            line-height: 1.4;
                            font-size: 14px;
                            font-weight: 500;
                            margin-left: 150px;

                        }

                        &.btn {
                            &:hover a {
                                border: 1px solid white;
                                color: black;
                                background: white;
                                transition: .4s;
                            }
                        }

                        a {
                            text-decoration: none;
                            color: white;
                            margin-left: 60px;
                            font-size: 15px;
                            font-weight: 600;
                            border-bottom: 2px solid transparent;
                            transition: .4s;
                        }
                    }
                }
            }

            .logo {
                h2 {
                    a {
                        display: block;
                        font-size: 32px;
                        font-weight: 600;
                        text-decoration: none;
                        color: #fff;
                        margin-top: 50px;

                    }
                }
            }
        }
    }

    .container {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
        overflow: hidden;
        width: 400px;
        max-width: 100%;
        position: absolute;
        bottom: 50px;
        z-index: 4;

        .header {
            background: #f7f7f7;
            border-bottom: 1px solid #f0f0f0;

            h2 {
                margin: 20px;
            }
        }

        form {
            padding: 30px 40px;

            .form-control {
                margin-bottom: 10px;
                padding-bottom: 20px;
                position: relative;

                &.success {
                    input {
                        border-color: #2ecc71;
                    }

                    i.fa-check-circle {
                        visibility: visible;
                        color: #2ecc71;
                    }
                }

                &.error {
                    input {
                        border-color: #e74c3c;
                    }

                    i.fa-exclamation-circle {
                        visibility: visible;
                        color: #e74c3c;
                    }
                }

                &.error {
                    small {
                        visibility: visible;
                        color: #e74c3c;
                    }
                }

                label {
                    display: inline-block;
                    margin-bottom: 5px;
                }

                input {
                    border: 2px solid #f0f0f0;
                    border-radius: 4px;
                    display: block;
                    font-family: inherit;
                    font-size: 14px;
                    padding: 10px;
                    width: 100%;
                }

                i {
                    position: absolute;
                    top: 40px;
                    right: 10px;
                    visibility: hidden;

                }

                small {
                    visibility: hidden;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }

            }

            button {
                background: #8e44ad;
                border: 2px solid #8e44ad;
                border-radius: 4px;
                color: #fff;
                display: block;
                width: 100%;
                padding: 10px;
                font-size: 16px;
                font-family: inherit;
            }
        }

        .alreadyRegistered {
            display: flex;
            justify-content: center;
            font-family: 'open-sans', sans-serif;

            h4 {
                color: #8e44ad;

                span {
                    text-decoration: underline;
                    color: #133c96;
                    cursor: pointer;
                }
            }
        }
    }
}

.sucssesToRegister {
    display: flex;
    justify-content: center;

    &.success {
        background: #8e44ad;
        min-width: 100px;
        min-height: 100px;
        box-sizing: content-box;
        font-family: 'open-sans', sans-serif;
        z-index: 4;
        border-radius: 4px;
        border: 3px solid white;
        position: absolute;
        bottom: 270px;


        p {
            margin: auto;
            padding: 35px;
            color: white;
        }
    }
}

.container2 {
    visibility: hidden;
    position: absolute;
    bottom: 250px;
    z-index: 4;


    .loginForm {
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
        width: 500px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding: 30px 100px;
        gap: 10px;


        input {
            border: 2px solid #f0f0f0;
            border-radius: 4px;
            display: block;
            font-family: inherit;
            font-size: 14px;
            padding: 10px;
            width: 100%;
        }


        button {
            background: #8e44ad;
            color: #fff;
            font-family: 'open-sans', sans-serif;
            border-radius: 4px;
            cursor: pointer;
            border: 2px solid #8e44ad;
            width: 100%;
            padding: 7px;
            font-size: 16px;
        }
    }

}


    .card{
        display: grid;
        grid-template-columns: repeat(2, 400px);
        justify-content: end; 
    
    
        div{
            justify-self: end;
            padding-right: 35px;
            padding-top: 20px;

            button{
                cursor: pointer;
            }
        }
    
            img{
                height: 300px;
                margin-bottom: 20px;
    
            }
        
    }




.fab{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color:#f5b09f;
    color:white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.52);
    transition: all .3s;
    position: fixed;
    left: 1400px;
}

.fab:hover{
    background-color:#f5b09f;
    cursor: pointer;
}

.fab:active{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.52);
}

.fab>span{
    position: relative;
    top: 24%;
    left: 36%;
    transform: translate(38%, -50%);
    font-size: 30px;
    font-weight: 900;
}