.main{
    // border: 3px solid red;
    height: 50vh;

    &-form{
        // border: 3px solid red;
        display: flex;
        justify-content: center;
        justify-content: space-around;
        height: 7vh;

        &-input{
            box-shadow: rgba(207, 116, 30, 0.4) 0px 5px, rgba(62, 10, 105, 0.3) 0px 10px, rgba(46, 156, 151, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
            background-color: wheat;
            color: rgb(70, 72, 226);
            font-size: 15px;
 
        }

        &-submit{
            box-shadow: rgba(44, 228, 19, 0.25) 0px 30px 60px -12px inset, rgba(124, 63, 143, 0.3) 0px 18px 36px -18px inset;           
             width: 15vw;
            height: 8vh;
            text-align: center;
            margin-left: -15px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: rgb(110, 208, 211);
            color: rgb(23, 10, 70);  
        }

        & label{
            align-self: center;
            font-size: 25px;
        }

        &-select{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(62, 3, 80, 0.3) 0px 18px 36px -18px inset;            width: 15vw;
            height: 7vh;
            text-align: center;
            margin-left: -15px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background-color: lightcoral;
            color: aqua;
            font-size: 25px;      
        }
    }
    &-show{
        width: 90%;
        // border: 5px solid red;
        margin-top: 50px;
        margin-left: 50px;
        height: 70vh;
        display: flex;
        flex-direction: row;

        &-box{
            border: 3px solid black;
            height: 100%;
            width: 33%;
            display: flex;
            flex-direction: column;

            &-displayList{
                display: flex;
                height: 53vh;
                flex-direction: column;
                color: rgb(33, 22, 133);
                font-size: 27px;
                font-weight: bold;
                width: 100%;
                font-family: cursive;
                // border: 3px solid red;
                
            }
            &-head{
                font-size: 30px;
                text-align: center;
                color:rgb(0, 0, 0) ;
                width: 100%;
                text-decoration-line: underline;
            }
        }
    }
}