// div {
//   border: 1px solid red;
// }

body {
  margin: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.column-left,
.column-center,
.column-right {
  display: grid;
  // grid-template-rows: 0.2fr 0.2fr 0.2fr;
}

.column-left {
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    img {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      width: 20%;
      object-fit: contain;
    }
  }

  &__middle {
    height: 300px;
    width: 200px;
    background-color: #ffffff;
    border-radius: 20px;
    margin: auto;
    border: 2px dashed darkgray;
    display: flex;
    flex-direction: column;

    button {
      margin-top: 10px;
      border: none;
      cursor: pointer;
    }

    .fundlenation {
      background-color: #349915;
      margin: 20px;
      border-radius: 20px;
      color: #ffffff;
    }
  }

  &__bottom {
    height: 400px;
    background-color: #313131;
    border-radius: 20px;
    margin: 40px;
    margin-top: 0%;
    display: grid;
    grid-template-rows: 1fr 0.4fr;
    font-family: 'Roboto', sans-serif;


    .youtube {
      width: 80%;
      height: 80%;
      margin: auto;
      background-color: #ffffff;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;


      .random-sequence {
        color: #dfbc48;
        text-align: center;

        h2 {
          font-weight: lighter;
          align-items: center;

        }
      }

      .youtube-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        cursor: pointer;

        img {
          width: 40%;
          object-fit: contain;

        }

      }
    }

    .thoughts {
      width: 80%;
      height: 70%;
      margin: auto;
      background-color: #ffffff;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      color: #dfbc48;

      h2 {
        font-weight: lighter;
        text-align: center;
      }
    }
  }

  .help-me {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #349915;
    font-size: 14px;

    h2 {
      margin: 0%;

    }
  }
}

.column-center {
  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    h1 {
      font-size: 40px;
      font-weight: bold;
    }
  }

  &__middle {
    &__game-area {
      height: 600px;
      background-color: #313131;
      border-radius: 20px;
      margin: 10px;
      display: grid;
      grid-template-rows: 1fr 1fr;
      &__cubes{
        display: grid;
        grid-template-columns: repeat(5,1fr) ;
        grid-template-rows: repeat(6,1fr) ;
        // margin: 6%;
        padding:8%;
        margin: auto;
        div{
          width: 50px;
          height: 50px;
          background-color: #000000;
          border: 2px solid #686868;
          border-radius: 4px;
        }
      }
      &__keyboard{
        display: grid;
        grid-template-columns: repeat(10,1fr) ;
        grid-template-rows: repeat(3,1fr) ;
        // margin: 6%;
        padding:4%;
        margin: auto;
        div{
          width: 25px;
          height: 30px;
          background-color: #686868;
          border: 2px solid black;
          color: #ffffff;
          border-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          cursor: pointer;

        }
      }
      
    }
  }

}

.column-right {

  &__top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;

    button {
      font-size: 20px;
      padding: 6px;
      background-color: #349915;
      text-decoration: none;
      border: none;
      border-radius: 4px;
      color: #ffffff;
      cursor: pointer;

    }
  }

  &__middle {
    height: 300px;
    background-color: #313131;
    border-radius: 20px;
    margin: 40px;
    margin-top: 0%;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;

    .line-1,
    .line-2,
    .line-3,
    .line-4 {
      display: flex;
      justify-content: center;
      letter-spacing: 2px;
    }

    .line-3 {
      font-size: 28px;
      font-weight: bold;
      padding-bottom: 10px;

      h5 {
        display: flex;
        justify-content: center;
        // align-items: baseline;
        font-size: 8px;
        margin-top: 18px;
        padding: 0%;
      }
    }

    .green-line {
      background-color: #349915;
      margin-right: 20px;
    }

    li {
      background-color: #818181;
      margin-right: 240px;
      list-style: none;
      font-size: 16px;
    }

    .line-6 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;

      .next-fundle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        border-right: 1px solid lightgray;

      }

      button {
        display: flex;
        margin: auto;
        font-size: 14px;
        padding: 6px;
        background-color: #349915;
        text-decoration: none;
        border: none;
        border-radius: 2px;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }

  &__bottom {
    height: 300px;
    background-color: #313131;
    border-radius: 20px;
    margin: 40px;
    margin-top: 0%;
  }

  .your-stats {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #349915;
    font-size: 14px;

    h2 {
      margin: 0%;
    }
  }

  .all-stats {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #349915;
    font-size: 18px;

    h2 {
      margin: 0%;
    }
  }
}