body{
    background: rgb(182, 179, 179);
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: 50vh 50vh ;
    gap: 3px;
}

.box{
    background: rgba(197, 197, 58, 0.836);
}

