.App {
    text-align: center;
    font-size: 70px;
    color:wheat ;
    display: flex;
    justify-content: space-between;

    img{
        width: 150px;
        height: 150px;
    }
    h1{
        font-size: 90px;
    }
    p{
        font-size: 80px;
    }
  }
  
  
  