img{
    height: 50px;
    width: 75px;   
}
.box {
    font-size: 2vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    text-shadow: rgb(255, 255, 255) 1px 1px;
    
}
.wrapper {
    background-color: rgba(132, 143, 138, 0.575);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
   
}

.box1 {
    font-size: 5vh;
    border: 1px solid rgba(0, 0, 0, 0.61);
    display: flex;
    flex-direction:
    align-items: center;
    text-shadow: rgb(255, 255, 255) 1px 1px;
    
}
.wrapper1 {
    background-color: rgba(148, 158, 154, 0.425);
    padding: 10px;
    display: flex;

}

